Repository bazelbuild/bazel, pull requests merged in 2021-12, with the labels that each got.

#14351 Build xcode-locator as a universal binary
  tools/osx/BUILD
Labels: cla: yes

#14359 5.x: Exit collect_coverage.sh early if LCOV_MERGER is not set.
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_coverage_starlark_test.sh
  tools/test/collect_coverage.sh
Labels: cla: yes

#14358 [5.x] Automated rollback of commit d84f7998ef8f15e27376a0c8f25b320145c4ba9e.
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
Labels: cla: yes, release blocker

#14389 5.x: Remote: Ignore blobs referenced in BEP if the generating action cannot be cached remotely.
  src/main/java/com/google/devtools/build/lib/actions/ExecutionRequirements.java
  src/main/java/com/google/devtools/build/lib/actions/Spawns.java
  src/main/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploader.java
  src/main/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploaderFactory.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskAndRemoteCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/main/java/com/google/devtools/build/lib/remote/util/Utils.java
  src/test/shell/bazel/remote/remote_execution_test.sh
  src/test/shell/bazel/remote/remote_utils.sh
Labels: team-Remote-Exec
