Repository bazelbuild/bazel, pull requests merged in 2021-11, with the labels that each got.

#14212 Remote: Merge target-level exec_properties with --remote_default_exec_properties
  src/main/java/com/google/devtools/build/lib/analysis/platform/PlatformUtils.java
  src/test/java/com/google/devtools/build/lib/analysis/platform/PlatformUtilsTest.java
Labels: cla: yes

#14191 [5.x] Add -no_uuid for hermetic macOS toolchain setup
  tools/cpp/osx_cc_configure.bzl
Labels: cla: yes, team-Rules-CPP

#14241 [5.x] Remote: Fixes an issue when --experimental_remote_cache_async encounter flaky tests.
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
  src/test/shell/bazel/remote/remote_execution_test.sh
Labels: cla: yes

#14242 [5.x] Remove DigestUtils.getDigestInExclusiveMode() now that SsdModule has …
  src/main/java/com/google/devtools/build/lib/vfs/DigestUtils.java
  src/test/java/com/google/devtools/build/lib/vfs/DigestUtilsTest.java
Labels: cla: yes

#14277 [5.x] Remote: Add support for compression on gRPC cache
  BUILD
  WORKSPACE
  distdir_deps.bzl
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/ByteStreamUploader.java
  src/main/java/com/google/devtools/build/lib/remote/Chunker.java
  src/main/java/com/google/devtools/build/lib/remote/GrpcCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteServerCapabilities.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/main/java/com/google/devtools/build/lib/remote/zstd/BUILD
  src/main/java/com/google/devtools/build/lib/remote/zstd/ZstdCompressingInputStream.java
  src/main/java/com/google/devtools/build/lib/remote/zstd/ZstdDecompressingOutputStream.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamUploaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/ChunkerTest.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTestExtra.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerWithGrpcRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/remote/zstd/BUILD
  src/test/java/com/google/devtools/build/lib/remote/zstd/ZstdCompressingInputStreamTest.java
  src/test/java/com/google/devtools/build/lib/remote/zstd/ZstdDecompressingOutputStreamTest.java
  src/test/java/com/google/devtools/build/lib/remote/zstd/ZstdDecompressingOutputStreamTestExtra.java
  src/test/shell/integration/minimal_jdk_test.sh
  third_party/zstd-jni/Native.java.patch
  third_party/zstd-jni/zstd-jni.BUILD
Labels: cla: yes

#14281 [5.x] Silence a zstd-jni GCC warning.
  third_party/zstd-jni/zstd-jni.BUILD
Labels: cla: yes

#14290 Fix _is_shared_library_extension_valid
  src/main/starlark/builtins_bzl/common/cc/cc_import.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcImportBaseConfiguredTargetTest.java
Labels: cla: yes

#14301 Cherrypick Bzlmod documentation
  site/_includes/getting-started-sidebar/master/sidebar.html
  site/docs/bzlmod.md
  site/docs/external.md
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
Labels: cla: yes

#14314 [5.x] Format work requests according to ndjson spec
  src/main/java/com/google/devtools/build/lib/worker/JsonWorkerProtocol.java
  src/test/java/com/google/devtools/build/lib/worker/WorkerTest.java
Labels: cla: yes

#14313 Enable user_link_flags_feature for macosx cc_toolchain_config
  tools/cpp/unix_cc_toolchain_config.bzl
Labels: cla: yes, team-XProduct

#14319 Enable user_link_flags_feature for macosx cc_toolchain_config
  tools/cpp/unix_cc_toolchain_config.bzl
Labels: cla: yes

#14318 Remote: Limit max number of gRPC connections by --remote_max_connecti… (cherry pick for 4.2.2)
  src/main/java/com/google/devtools/build/lib/remote/ReferenceCountedChannel.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/grpc/DynamicConnectionPool.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
Labels: cla: yes

#14320 [5.x] Remote: Use Action's salt field to differentiate cache across workspaces.
  src/main/java/com/google/devtools/build/lib/analysis/platform/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/platform/PlatformUtils.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/util/Utils.java
  src/test/java/com/google/devtools/build/lib/analysis/platform/PlatformUtilsTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
Labels: cla: yes

#14321 [5.x] Remote: Fix "file not found" error when remote cache is changed from enabled to disabled.
  src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java
  src/main/java/com/google/devtools/build/lib/actions/Action.java
  src/main/java/com/google/devtools/build/lib/actions/ActionCacheChecker.java
  src/main/java/com/google/devtools/build/lib/actions/Artifact.java
  src/main/java/com/google/devtools/build/lib/bazel/BazelWorkspaceStatusModule.java
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CreateIncSymlinkAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/RunCommand.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionExecutionValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandler.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/test/java/com/google/devtools/build/lib/actions/ActionCacheCheckerTest.java
  src/test/java/com/google/devtools/build/lib/actions/ArtifactTest.java
  src/test/java/com/google/devtools/build/lib/actions/cache/CompactPersistentActionCacheTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CreateIncSymlinkActionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionExecutionValueTransformSharedTreeArtifactsTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/FilesystemValueCheckerParameterizedTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TimestampBuilderTestCase.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactValueTest.java
  src/test/shell/bazel/remote/remote_execution_test.sh
Labels: cla: yes

#14323 Delete marker file before fetching an external repository
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
Labels: cla: yes

#14325 Fix [Prepa] actions stuck in active state
  src/main/java/com/google/devtools/build/lib/runtime/UiStateTracker.java
  src/test/java/com/google/devtools/build/lib/runtime/UiStateTrackerTest.java
Labels: cla: yes

#14324 Delete marker file before fetching an external repository
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
Labels: cla: yes

#14331 [5.x] Remote: Fix file counting in merkletree.DirectoryTreeBuilder
  src/main/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTree.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTreeBuilder.java
  src/test/java/com/google/devtools/build/lib/remote/merkletree/ActionInputDirectoryTreeTest.java
Labels: cla: yes

#14334 [5.x] Fix remote spawn tests for remote_merkle_tree_cache=true
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
Labels: cla: yes

#14345 5.x: Show skipped tests as a warning
  src/main/java/com/google/devtools/build/lib/runtime/TerminalTestResultNotifier.java
Labels: cla: yes
