Repository bazelbuild/bazel, pull requests merged in 2022-05, with the labels that each got.

#15372 remote: Proactively close the ZstdInputStream in ZstdDecompressingOut…
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/GrpcCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/zstd/BUILD
  src/main/java/com/google/devtools/build/lib/remote/zstd/ZstdDecompressingOutputStream.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTestExtra.java
  src/test/java/com/google/devtools/build/lib/remote/zstd/ZstdDecompressingOutputStreamTestExtra.java
Labels: team-Remote-Exec, awaiting-review

#15395 Choco docsurl (against release 5.2.0)
  scripts/packages/chocolatey/bazel.nuspec.template
Labels: team-OSS, awaiting-review

#15298 Collect coverage from cc_binary data deps of py_test
  src/main/java/com/google/devtools/build/lib/bazel/rules/python/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPyTestRule.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_coverage_py_test.sh
Labels: team-Rules-Python, awaiting-review

#15217 Let Starlark tests inherit env variables
  src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java
  src/main/java/com/google/devtools/build/lib/actions/ActionEnvironment.java
  src/main/java/com/google/devtools/build/lib/analysis/RuleConfiguredTargetBuilder.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/SpawnAction.java
  src/main/java/com/google/devtools/build/lib/analysis/config/BuildConfiguration.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestActionBuilder.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestEnvironmentInfo.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestRunnerAction.java
  src/main/java/com/google/devtools/build/lib/query2/aquery/ActionGraphTextOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/test/StarlarkTestingModule.java
  src/main/java/com/google/devtools/build/lib/skyframe/actiongraph/v2/ActionGraphDump.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/test/TestEnvironmentInfoApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/test/TestingModuleApi.java
  src/test/java/com/google/devtools/build/lib/actions/ActionEnvironmentTest.java
  src/test/java/com/google/devtools/build/lib/bazel/rules/BazelRuleClassProviderTest.java
  src/test/java/com/google/devtools/build/lib/rules/test/StarlarkTestingModuleTest.java
  src/test/shell/bazel/bazel_rules_test.sh
Labels: team-Build-Language, awaiting-review

#15471 Make `coverage --combined_report=lcov` skip incompatible tests
  src/main/java/com/google/devtools/build/lib/bazel/coverage/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/coverage/CoverageReportActionBuilder.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_coverage_compatibility_test.sh
Labels: team-Rules-CPP
