Repository bazelbuild/bazel, pull requests merged in 2022-11, with the labels that each got.

#16669 Send remote actions to specific worker pools instead of machine types.
  BUILD
Labels: team-Remote-Exec, awaiting-review

#16668 Add `$(rlocationpath(s) ...)` expansion
  src/main/java/com/google/devtools/build/docgen/templates/be/make-variables.vm
  src/main/java/com/google/devtools/build/lib/analysis/LocationExpander.java
  src/main/java/com/google/devtools/build/lib/analysis/LocationTemplateContext.java
  src/test/java/com/google/devtools/build/lib/analysis/LocationExpanderIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/analysis/LocationExpanderTest.java
  src/test/java/com/google/devtools/build/lib/analysis/LocationFunctionTest.java
  src/test/py/bazel/runfiles_test.py
Labels: team-ExternalDeps, awaiting-review

#16672 [5.4.0]Fix identical gcov json file name problem
  src/test/shell/bazel/bazel_cc_code_coverage_test.sh
  tools/test/collect_cc_coverage.sh
Labels: team-Rules-CPP

#16695 Add --host_per_file_copt
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppOptions.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/test/java/com/google/devtools/build/lib/rules/cpp/CompileBuildVariablesTest.java
Labels: team-Rules-CPP, awaiting-review

#16677 [6.0.0] [remote/downloader] Don't include headers in `FetchBlobRequest`
  src/main/java/com/google/devtools/build/lib/remote/downloader/BUILD
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
  src/test/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloaderTest.java
Labels: team-Remote-Exec, awaiting-PR-merge

#16724 [6.0.0] [remote] Respect whether the server supports action cache updates
  src/main/java/com/google/devtools/build/lib/remote/RemoteCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteServerCapabilities.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteServerCapabilitiesTest.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/OnDiskBlobStoreCache.java
Labels: team-Remote-Exec, awaiting-review

#16732 [6.0.0] [remote/downloader] Migrate `Downloader` to take `Credentials`
  src/main/java/com/google/devtools/build/lib/authandtls/StaticCredentials.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DelegatingDownloader.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/Downloader.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpConnectorMultiplexer.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloader.java
  src/main/java/com/google/devtools/build/lib/remote/downloader/BUILD
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpConnectorMultiplexerTest.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/downloader/BUILD
  src/test/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloaderTest.java
Labels: awaiting-PR-merge

#16745 [5.4.0] Upgrade google-http-client and google-http-client-gson.
  third_party/BUILD
  third_party/api_client/google-http-client-1.22.0-SNAPSHOT.jar
  third_party/api_client/google-http-client-1.41.4.jar
  third_party/api_client/google-http-client-gson-1.22.0.jar
  third_party/api_client/google-http-client-gson-1.41.4.jar
  third_party/opencensus/opencensus-contrib-http-util-0.31.0.jar
Labels: awaiting-PR-merge

#16766 [6.0.0]Automated rollback of commit 8f956511bb115c39ac683a1e78971fcf9dce5deb.
  src/main/java/com/google/devtools/build/lib/analysis/actions/LazyWritePathsFileAction.java
  src/test/shell/bazel/bazel_coverage_java_test.sh
Labels: team-Rules-Server, awaiting-review

#16702 Move analysis_test into testing.analysis_test
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/config/ConfigGlobalLibrary.java
  src/main/java/com/google/devtools/build/lib/rules/test/StarlarkTestingModule.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleFunctionsApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/test/BUILD
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/test/TestingModuleApi.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/FakeStarlarkRuleFunctionsApi.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
Labels: team-Configurability, awaiting-review

#16781 Flip `--incompatible_always_include_files_in_data`
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
Labels: team-Rules-Server, awaiting-review
