Repository bazelbuild/bazel, pull requests merged in 2023-06, with the labels that each got.

#18516 [6.3.0] Improve error on invalid `-//foo` and `-@repo//foo` options
  src/main/java/com/google/devtools/common/options/OptionsParserImpl.java
  src/test/java/com/google/devtools/common/options/OptionsParserTest.java
Labels: team-Configurability, awaiting-review

#18541 [6.3.0] Implement failure circuit breaker
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/GrpcCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/GrpcRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/Retrier.java
  src/main/java/com/google/devtools/build/lib/remote/circuitbreaker/BUILD
  src/main/java/com/google/devtools/build/lib/remote/circuitbreaker/CircuitBreakerFactory.java
  src/main/java/com/google/devtools/build/lib/remote/circuitbreaker/FailureCircuitBreaker.java
  src/main/java/com/google/devtools/build/lib/remote/options/CommonRemoteOptions.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
  src/test/java/com/google/devtools/build/lib/remote/RetrierTest.java
  src/test/java/com/google/devtools/build/lib/remote/circuitbreaker/BUILD
  src/test/java/com/google/devtools/build/lib/remote/circuitbreaker/CircuitBreakerFactoryTest.java
  src/test/java/com/google/devtools/build/lib/remote/circuitbreaker/FailureCircuitBreakerTest.java
Labels: team-Remote-Exec

#18418 Actually check `TEST_SHARD_STATUS_FILE` has been touched
  site/en/reference/test-encyclopedia.md
  src/main/java/com/google/devtools/build/lib/analysis/test/TestConfiguration.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestRunnerAction.java
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
  src/test/py/bazel/bazel_windows_test.py
  src/test/shell/bazel/bazel_test_test.sh
  src/test/shell/bazel/remote/remote_execution_test.sh
Labels: team-Configurability, awaiting-review

#18425 [6.3.0] Error if repository name isn't supplied
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
Labels: team-ExternalDeps, awaiting-review

#18412 [6.3.0] Track repo rule label attributes after the first non-existent one
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/test/shell/bazel/starlark_prefetching_test.sh
Labels: team-ExternalDeps, awaiting-review

#18442 [6.3.0] Add ServerCapabilities into RemoteExecutionClient
  src/main/java/com/google/devtools/build/lib/remote/ExperimentalGrpcRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/GrpcRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/common/RemoteExecutionClient.java
  src/test/java/com/google/devtools/build/lib/remote/ExperimentalGrpcRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerWithGrpcRemoteExecutorTest.java
Labels: team-Remote-Exec, awaiting-review

#18441 [6.3.0] RemoteExecutionService: support output_symlinks in ActionResult
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
Labels: team-Remote-Exec, awaiting-review

#18440 [6.3.0] RemoteExecutionService: Action.Command to set output_paths
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerWithGrpcRemoteExecutorTest.java
Labels: team-Remote-Exec, awaiting-review

#18568 [6.3.0] Use local_termination_grace_seconds when testing LinuxSandbox availab…
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
Labels: team-Local-Exec, awaiting-review

#18598 [6.3.0] Fix dangling string literal in `extension_metadata` docs
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
Labels: team-ExternalDeps, awaiting-review

#18612 [6.3.0] Include actual MODULE.bazel location in stack traces
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFile.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Registry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/FakeRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#18552 [6.3.0] Make cpp file extensions case sensitive again
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppFileTypes.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CppFileTypesTest.java
Labels: team-Rules-CPP

#18638 [6.3.0] Fix issue with release notes script
  scripts/release/relnotes.py
Labels: team-OSS

#18656 [6.3.0] Add `ActionExecutionMetadata` as a parameter to `ActionInputPrefetche…
  src/main/java/com/google/devtools/build/lib/actions/ActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputService.java
  src/main/java/com/google/devtools/build/lib/remote/ToplevelArtifactsDownloader.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
  src/main/java/com/google/devtools/build/lib/vfs/OutputService.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcherTest.java
Labels: team-Remote-Exec

#18670 [6.3.0] Don't rewind the build if invocation id stays the same
  src/main/java/com/google/devtools/build/lib/exec/ExecutionOptions.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeCommandDispatcher.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec

#18659 [6.3.0] Fix potential memory leak in UI
  src/main/java/com/google/devtools/build/lib/remote/RemoteCache.java
  src/main/java/com/google/devtools/build/lib/runtime/UiEventHandler.java
Labels: team-Remote-Exec, awaiting-review, team-CLI

#18663 [6.3.0] Test that a credential helper can supply credentials for bzlmod.
  src/test/py/bazel/BUILD
  src/test/py/bazel/bzlmod/bzlmod_credentials_test.py
  src/test/py/bazel/bzlmod/test_utils.py
Labels: team-ExternalDeps, awaiting-review

#18664 [6.3.0] Adds a flag to enable coverage for generated source files
  src/main/java/com/google/devtools/build/lib/analysis/config/BuildConfigurationValue.java
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/test/InstrumentedFilesCollector.java
Labels: team-Rules-CPP

#18609 [6.3.0] Let common ignore unsupported options (with added commit 3dc6951)
  site/en/run/bazelrc.md
  src/main/java/com/google/devtools/build/lib/profiler/BUILD
  src/main/java/com/google/devtools/build/lib/profiler/MemoryProfiler.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeOptionHandler.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeRuntime.java
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
  src/main/java/com/google/devtools/build/lib/runtime/ConfigExpander.java
  src/main/java/com/google/devtools/build/lib/util/BUILD
  src/main/java/com/google/devtools/common/options/BUILD
  src/main/java/com/google/devtools/common/options/IsolatedOptionsData.java
  src/main/java/com/google/devtools/common/options/OptionsData.java
  src/main/java/com/google/devtools/common/options/OptionsParser.java
  src/main/java/com/google/devtools/common/options/OptionsParserImpl.java
  src/test/java/com/google/devtools/build/lib/profiler/BUILD
  src/test/java/com/google/devtools/build/lib/profiler/MemoryProfilerTest.java
  src/test/java/com/google/devtools/common/options/OptionsDataTest.java
  src/test/java/com/google/devtools/common/options/OptionsParserTest.java
  src/test/py/bazel/BUILD
  src/test/py/bazel/options_test.py
  src/test/py/bazel/starlark_options_test.py
Labels: team-Core

#18737 [6.3.0] Fix split post-processing of LLVM-based coverage
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
  src/test/shell/bazel/bazel_coverage_cc_test_llvm.sh
  src/test/shell/bazel/remote/remote_execution_test.sh
  tools/test/collect_cc_coverage.sh
Labels: team-Remote-Exec, awaiting-review

#18727 [6.3.0] Allow module extension usages to be isolated
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionId.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionUsage.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModuleTest.java
Labels: team-ExternalDeps

#18729 [6.3.0] Teach ijar about dynamic constants
  third_party/ijar/classfile.cc
  third_party/ijar/test/BUILD
  third_party/ijar/test/GenDynamicConstant.java
  third_party/ijar/test/ijar_test.sh
Labels: team-Rules-Java, awaiting-review

#18779 [6.3.0] Properly handle invalid credential files
  src/main/java/com/google/devtools/build/lib/authandtls/GoogleAuthUtils.java
Labels: team-Remote-Exec, awaiting-review

#18787 [6.3.0] Add REPO.bazel and MODULE.bazel as workspace boundary markers
  src/main/cpp/workspace_layout.cc
  src/main/cpp/workspace_layout.h
  src/test/cpp/workspace_layout_test.cc
Labels: team-ExternalDeps, awaiting-review

#18780 [6.3.0] Report remote execution messages as events
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
Labels: team-Remote-Exec

#18793 [6.3.0] Fail on isolated extension usages without imports
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
Labels: team-ExternalDeps, awaiting-review

#18791 [6.3.0] Remove option to disable FJP.
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRulesModule.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildRequestOptions.java
  src/main/java/com/google/devtools/build/lib/concurrent/AbstractQueueVisitor.java
  src/main/java/com/google/devtools/build/lib/query2/common/QueryTransitivePackagePreloader.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/skyframe/AbstractParallelEvaluator.java
  src/main/java/com/google/devtools/build/skyframe/EvaluationContext.java
  src/main/java/com/google/devtools/build/skyframe/InMemoryMemoizingEvaluator.java
  src/test/java/com/google/devtools/build/lib/query2/common/QueryTransitivePackagePreloaderTest.java
Labels: team-Remote-Exec, awaiting-review

#18808 Cherrypick fixes for #16368 into Bazel 6.3.0
  WORKSPACE
  distdir.bzl
  distdir_deps.bzl
  src/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/android_remote_tools.WORKSPACE
  src/test/java/com/google/devtools/build/android/dexer/DexLimitTrackerTest.java
  src/test/java/com/google/devtools/build/android/r8/BUILD
  src/test/java/com/google/devtools/build/android/r8/CompatDexBuilderTest.java
  src/test/java/com/google/devtools/build/android/r8/testdata/lambda/Lambda.java
  src/test/shell/bazel/android/BUILD
  src/test/shell/bazel/android/DexFileSplitter_synthetic_classes_test.sh
  src/test/shell/testenv.sh.tmpl
  src/tools/android/java/com/google/devtools/build/android/dexer/DexFileAggregator.java
  src/tools/android/java/com/google/devtools/build/android/dexer/DexFileSplitter.java
  src/tools/android/java/com/google/devtools/build/android/dexer/DexLimitTracker.java
  src/tools/android/java/com/google/devtools/build/android/r8/BUILD
  src/tools/android/java/com/google/devtools/build/android/r8/CompatDexBuilder.java
  src/tools/android/java/com/google/devtools/build/android/r8/CoreLibraryDesugar.java
  src/tools/android/java/com/google/devtools/build/android/r8/Desugar.java
  src/tools/android/java/com/google/devtools/build/android/r8/DexFileMerger.java
  src/tools/android/java/com/google/devtools/build/android/r8/OptionsConverters.java
  tools/android/android_extensions.bzl
Labels: team-Android, awaiting-review

#18819 [6.3.0] Perform builtins injection for WORKSPACE-loaded bzl files.
  src/main/java/com/google/devtools/build/lib/packages/BazelStarlarkEnvironment.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/StarlarkBuiltinsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/StarlarkBuiltinsValue.java
  src/test/java/com/google/devtools/build/lib/packages/BazelStarlarkEnvironmentTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/BuiltinsInjectionTest.java
Labels: awaiting-review, team-Loading-API

#18817 [6.3.0] Fix non-declared symlink issue for local actions when BwoB.
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
Labels: team-Remote-Exec
