Repository bazelbuild/bazel, pull requests merged in 2023-11, with the labels that each got.

#20016 [7.0.0] Don't pass `--add-opens=` to javac
  src/main/starlark/builtins_bzl/common/java/java_common_internal_for_builtins.bzl
Labels: team-Rules-Java, awaiting-review

#20018 [7.0.0] Can't load from `@bazel_tools//tools/jdk` `.bzl` files from module extension
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
Labels: team-Rules-Java, awaiting-review

#19993 [7.0.0] Document `--experimental_output_paths`
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
Labels: team-Configurability

#20021 [7.0.0] Fix analysis time regression with Bzlmod lockfile
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionEvent.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionEvent.java
  src/main/java/com/google/devtools/build/lib/events/Reportable.java
Labels: team-ExternalDeps, awaiting-review

#20022 [7.0.0] Expose repo mapping manifest to Starlark
  src/main/java/com/google/devtools/build/lib/analysis/FilesToRunProvider.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/FilesToRunProviderApi.java
  src/test/java/com/google/devtools/build/lib/analysis/RunfilesRepoMappingManifestTest.java
Labels: team-Configurability, awaiting-review

#20030 [7.0.0] Automated rollback of commit fc3460e
  scripts/bootstrap/bootstrap.sh
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/test/java/com/google/devtools/build/lib/blackbox/bazel/DefaultToolsSetup.java
  src/test/py/bazel/test_base.py
  src/test/shell/bazel/bazel_repository_cache_test.sh
  src/test/shell/testenv.sh.tmpl
Labels: team-ExternalDeps, awaiting-review

#20025 [7.0.0] Make `bind` use repo mapping
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceGlobals.java
  src/test/shell/bazel/external_integration_test.sh
Labels: team-ExternalDeps, area-Bzlmod

#20046 [7.0.0] 7.0 regression Unable to load workspace "@myworkspace" where `new_local_repository.build_file` refers to BUILD file w/ label "@myworkspace//path/to:BUILD.bazel"
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/repository/NewLocalRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/NewLocalRepositoryRule.java
  src/main/java/com/google/devtools/build/lib/rules/repository/NewRepositoryFileHandler.java
  src/test/shell/bazel/local_repository_test.sh
  src/test/shell/bazel/new_local_repo_test.sh
  src/test/shell/bazel/runfiles_test.sh
Labels: team-ExternalDeps, awaiting-review

#20055 [7.0.0] Include whether flags need values in info
  src/main/java/com/google/devtools/build/lib/runtime/commands/HelpCommand.java
  src/main/java/com/google/devtools/common/options/OptionDefinition.java
  src/main/java/com/google/devtools/common/options/OptionsUsage.java
  src/main/protobuf/bazel_flags.proto
Labels: team-Configurability, awaiting-review

#20079 [7.0.0] Set the content type on the release notes HTML files.
  scripts/ci/build.sh
Labels: team-OSS, awaiting-review

#20083 [7.0.0] Bazel 7.0 - can't compile with `/DUNICODE` `/D_UNICODE`
  src/create_embedded_tools.py
  tools/launcher/BUILD.tools
Labels: area-Windows, awaiting-review

#20088 [7.0.0] Fix JVM repository rules with Bzlmod
  MODULE.bazel.lock
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GitOverride.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/http.bzl
  tools/build_defs/repo/jvm.bzl
Labels: team-ExternalDeps, awaiting-review

#20092 [7.0.0] Print an error message when the downloader configuration file is missing.
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/UrlRewriter.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/UrlRewriterParseException.java
Labels: team-ExternalDeps, awaiting-review

#20097 Polish Bazel external dependencies
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  distdir.bzl
  extensions.bzl
  repositories.bzl
  src/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/BUILD
  src/test/java/com/google/devtools/build/lib/blackbox/framework/BUILD
  src/test/py/bazel/BUILD
  src/test/shell/BUILD
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/verify_workspace.sh
  src/test/shell/integration/BUILD
  workspace_deps.bzl
Labels: team-ExternalDeps, awaiting-review

#20103 [7.0.0] Fix sandbox stashes not being keyed by mnemonic
  src/main/java/com/google/devtools/build/lib/sandbox/SymlinkedSandboxedSpawn.java
  src/test/shell/integration/sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#20106 [7.0.0] Update rules_java 7.1.0 / java_tools 13.1.0
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/shell/bazel/bazel_java_test_defaults.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
  workspace_deps.bzl
Labels: team-Rules-Java, awaiting-review

#20113 [7.0.0] Add top-level permissions to cherry-picker and remove-labels.yml
  .github/workflows/cherry-picker.yml
  .github/workflows/remove-labels.yml
Labels: team-OSS

#20118 [7.0.0] Only escape standard BRE metacharacters when preparing grep pattern.
  tools/bash/runfiles/runfiles.bash
Labels: area-Bzlmod, awaiting-review

#20120 [7.0.0] Update the .bazelversion and support matrix for 6.4.0
  .bazelversion
  site/en/release/index.md
Labels: team-OSS, team-Documentation, awaiting-review

#20121 [7.0.0] Enforce lockfile update
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  extensions.bzl
Labels: awaiting-review

#20124 [7.0.0] Report evaluation start and end for module extensions as fetch events
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionEvaluationProgress.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
Labels: team-ExternalDeps, awaiting-review

#20127 [7.0.0] Fix extraction of tar archives containing sparse files.
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  src/test/py/bazel/bazel_external_repository_test.py
  src/test/py/bazel/testdata/bazel_external_repository_test/sparse_archive.tar
Labels: team-OSS, awaiting-review

#20060 [7.0.0] Prefer obtaining output digests from the action filesystem when writing to the execution log.
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/test/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategyTest.java
  src/test/shell/bazel/bazel_execlog_test.sh
Labels: team-Remote-Exec, awaiting-review

#20132 [7.0.0] Delete the now redundant --experimental_execution_log_file flag, and optimize creation of unsorted logs.
  src/main/java/com/google/devtools/build/lib/bazel/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/main/java/com/google/devtools/build/lib/exec/ExecutionOptions.java
  src/main/java/com/google/devtools/build/lib/util/OptionsUtils.java
  src/main/java/com/google/devtools/build/lib/util/io/MessageOutputStreamWrapper.java
  src/test/shell/bazel/bazel_execlog_test.sh
Labels: team-Remote-Exec, awaiting-review

#20135 [7.0.0] Optimize RepoMappingManifestAction
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/RepoMappingManifestAction.java
Labels: team-Configurability, awaiting-review

#20082 [7.0.0] Flip --incompatible_disable_objc_library_transition
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcRuleTestCase.java
Labels: team-Rules-ObjC, awaiting-review

#20134 [7.0.0] Allow `--flag_alias` to be used with `common` and `always` commands
  src/main/java/com/google/devtools/build/lib/runtime/BlazeOptionHandler.java
  src/test/shell/integration/starlark_configurations_test.sh
Labels: team-Configurability

#20141 [7.0.0] Support lockfile serialization of Starlark tuples in MODULE.bazel files
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/AttributeValuesAdapter.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/AttributeValuesAdapterTest.java
Labels: team-ExternalDeps, awaiting-review

#20137 [7.0.0] Intern module extension repo mapping entries via a `SkyFunction`
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionRepoMappingEntriesFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionRepoMappingEntriesValue.java
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryMapping.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#20145 [7.0.0] Do not do magic to achieve a hermetic /tmp when the sandbox is hermetic
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
Labels: team-Local-Exec, awaiting-review

#20136 [7.0.0] Enable `--incompatible_sandbox_hermetic_tmp` by default
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxOptions.java
  src/test/java/com/google/devtools/build/lib/buildtool/EditDuringBuildTest.java
  src/test/shell/bazel/bazel_sandboxing_networking_test.sh
  src/test/shell/integration/execution_strategies_test.sh
  src/test/shell/integration/sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#20147 [7.0.0] Use URLs as default canonical IDs in common repo rules
  MODULE.bazel.lock
  scripts/bootstrap/bootstrap.sh
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/test/java/com/google/devtools/build/lib/blackbox/bazel/DefaultToolsSetup.java
  src/test/py/bazel/bzlmod/bazel_fetch_test.py
  src/test/py/bazel/test_base.py
  src/test/shell/bazel/bazel_repository_cache_test.sh
  src/test/shell/testenv.sh.tmpl
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/BUILD
  tools/build_defs/repo/cache.bzl
  tools/build_defs/repo/http.bzl
  tools/build_defs/repo/jvm.bzl
Labels: team-ExternalDeps, awaiting-review

#20168 [7.0.0] [Skymeld] Don't plant the symlinks to the paths specified in
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/buildtool/SymlinkForest.java
  src/main/java/com/google/devtools/build/lib/skyframe/IncrementalPackageRoots.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/test/java/com/google/devtools/build/lib/buildtool/SkymeldBuildIntegrationTest.java
Labels: team-Performance, awaiting-review

#20170 [7.0.0] Make the BesUploadMode per transport instead of per invocation.
  src/main/java/com/google/devtools/build/lib/buildeventservice/BuildEventServiceModule.java
  src/main/java/com/google/devtools/build/lib/buildeventservice/BuildEventServiceTransport.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/BUILD
  src/main/java/com/google/devtools/build/lib/buildeventstream/BuildEventTransport.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/transports/BUILD
  src/main/java/com/google/devtools/build/lib/buildeventstream/transports/BinaryFormatFileTransport.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/transports/BuildEventStreamOptions.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/transports/FileTransport.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/transports/JsonFormatFileTransport.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/transports/TextFormatFileTransport.java
  src/test/java/com/google/devtools/build/lib/buildeventservice/BUILD
  src/test/java/com/google/devtools/build/lib/buildeventservice/BazelBuildEventServiceModuleTest.java
  src/test/java/com/google/devtools/build/lib/buildeventstream/transports/BUILD
  src/test/java/com/google/devtools/build/lib/buildeventstream/transports/BinaryFormatFileTransportTest.java
  src/test/java/com/google/devtools/build/lib/buildeventstream/transports/JsonFormatFileTransportTest.java
  src/test/java/com/google/devtools/build/lib/buildeventstream/transports/TextFormatFileTransportTest.java
  src/test/java/com/google/devtools/build/lib/runtime/BUILD
  src/test/java/com/google/devtools/build/lib/runtime/BuildEventStreamerTest.java
Labels: awaiting-review

#20176 [7.0.0] Don't send unnecessary lockfile event
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
Labels: team-ExternalDeps, awaiting-review

#20177 [7.0.0] Suggest `integrity` instead of `sha256` attribute in `http_*` rules
  MODULE.bazel.lock
  src/test/shell/bazel/bazel_repository_cache_test.sh
  src/test/shell/bazel/workspace_resolved_test.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/http.bzl
Labels: team-ExternalDeps, awaiting-review

#20178 [7.0.0] Test path mapping in Bazel
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/path_mapping_test.sh
  src/test/shell/bazel/remote/BUILD
  src/test/shell/integration/BUILD
  src/test/shell/integration/config_stripped_outputs_lib.sh
  src/test/shell/integration/config_stripped_outputs_test.sh
Labels: team-Configurability

#20182 [7.0.0] Fix inverted logic for deleting the temporary execution log output file.
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
Labels: team-Local-Exec, awaiting-review

#20184 [7.0.0] Move CacheSalt into a separate proto definition file.
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/protobuf/BUILD
  src/main/protobuf/cache_salt.proto
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
Labels: team-Remote-Exec, awaiting-review

#20191 [7.0.0] Polish lockfile error message
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#20189 [7.0.0] Emit actual hash in same format as expected hash
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/Checksum.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HashInputStream.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HashOutputStream.java
  src/test/shell/bazel/external_integration_test.sh
  src/test/shell/bazel/external_patching_test.sh
Labels: team-ExternalDeps, awaiting-review

#20197 [7.0.0] Stop including progress messages in the execution log.
  src/main/java/com/google/devtools/build/lib/bazel/execlog/StableSort.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategyTest.java
  src/test/shell/bazel/bazel_execlog_test.sh
Labels: team-Remote-Exec, awaiting-review

#20200 [7.0.0] Stop including the walltime field in the execution log.
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategyTest.java
Labels: team-Remote-Exec, awaiting-review

#20201 [7.0.0] Rename the remote_cache_hit field to cache_hit, which more accurately reflects its purpose.
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/protobuf/spawn.proto
Labels: team-Remote-Exec, awaiting-review

#20208 [7.0.0] Flip --incompatible_multi_release_deploy_jars
  src/main/java/com/google/devtools/build/lib/rules/java/JavaOptions.java
Labels: team-Rules-Java, awaiting-review

#20210 [7.0.0] NullPointerException using `file:%workspace%/registry` in registry URI on Windows
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryImpl.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryTest.java
Labels: area-Windows, team-ExternalDeps, awaiting-review

#20214 [7.0.0] Update registry invalid path error message
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryImpl.java
Labels: team-ExternalDeps, awaiting-review

#20215 [7.0.0] `android_local_test` isn't compatible with Android Platforms
  src/test/shell/bazel/android/android_helper.sh
  src/test/shell/bazel/android/android_local_test_integration_test.sh
  tools/android/android_sdk_repository_template.bzl
Labels: team-Android, awaiting-review

#20225 [7.0.0] Remove reference to the progress_message execution log field.
  site/en/remote/cache-remote.md
Labels: team-Documentation, awaiting-review

#20222 [7.0.0] Forbid simultaneously requesting both a JSON and binary execution log.
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/main/java/com/google/devtools/build/lib/exec/ExecutionOptions.java
  src/main/protobuf/failure_details.proto
Labels: team-Remote-Exec, awaiting-review

#20223 [7.0.0] Print $TEST_UNDECLARED_OUTPUTS_ZIP failure reason
  tools/test/test-setup.sh
Labels: team-Local-Exec, awaiting-review

#20231 [7.0.0] Add --android_platforms to the user manual
  site/en/docs/user-manual.md
Labels: team-Android, team-Documentation, awaiting-review

#20228 [7.0.0] Fix cc_shared_library error with hdr-only libraries
  src/main/starlark/builtins_bzl/common/cc/cc_shared_library.bzl
  src/main/starlark/builtins_bzl/common/cc/semantics.bzl
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library/BUILD.builtin_test
Labels: team-Rules-CPP

#20236 [7.0.0] Emit a fixed config segment with path stripping
  src/main/java/com/google/devtools/build/lib/analysis/actions/StrippingPathMapper.java
  src/test/java/com/google/devtools/build/lib/analysis/actions/StrippingPathMapperTest.java
  src/test/shell/integration/config_stripped_outputs_lib.sh
Labels: team-Configurability, awaiting-review

#20260 [7.0.0] Backport add_exports/add_opens fixes
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaCommonApi.java
  src/main/starlark/builtins_bzl/common/java/java_import.bzl
  src/main/starlark/builtins_bzl/common/java/java_info.bzl
  src/main/starlark/builtins_bzl/common/java/java_semantics.bzl
  src/test/java/com/google/devtools/build/lib/rules/java/JavaInfoStarlarkApiTest.java
  src/test/java/com/google/devtools/build/lib/view/java/BUILD
  src/test/java/com/google/devtools/build/lib/view/java/JavaImportConfiguredTargetTest.java
Labels: team-Rules-Java, awaiting-review

#20278 [7.0.0] Build failures and internal errors when switching from 7.0.0rc3 to 7.0.0rc4
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/testing/vfs/SpiedFileSystem.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
Labels: team-Remote-Exec, awaiting-review

#20281 [7.0.0] Remove the explicit inclusion of Darwin in the list of case-insensitive OSes
  src/main/java/com/google/devtools/build/lib/vfs/inmemoryfs/InMemoryFileSystem.java
Labels: team-Performance, awaiting-review

#20283 [7.0.0] Limit labeler trigger so that it's triggered only when the PR creator is not bazel-io
  .github/workflows/labeler.yml
Labels: team-OSS, awaiting-review

#20287 [7.0.0] Update abseil-cpp version to 20230125.1
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review

#20304 Update documentation.
  src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
Labels: awaiting-review

#20317 [7.0.0] Remove unwarranted sandbox hermetic `/tmp` warnings
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
Labels: team-Local-Exec, awaiting-review

#20332 [7.0.0] Make MessageOutputStream type-safe.
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/main/java/com/google/devtools/build/lib/bazel/debug/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/debug/WorkspaceRuleModule.java
  src/main/java/com/google/devtools/build/lib/bazel/execlog/StableSort.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/logging/LoggingInterceptor.java
  src/main/java/com/google/devtools/build/lib/util/io/AsynchronousFileOutputStream.java
  src/main/java/com/google/devtools/build/lib/util/io/MessageOutputStream.java
  src/main/java/com/google/devtools/build/lib/util/io/MessageOutputStreamWrapper.java
  src/test/java/com/google/devtools/build/lib/bazel/execlog/StableSortTest.java
  src/test/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategyTest.java
  src/test/java/com/google/devtools/build/lib/remote/logging/LoggingInterceptorTest.java
  src/test/java/com/google/devtools/build/lib/util/io/AsynchronousFileOutputStreamTest.java
  src/test/java/com/google/devtools/build/lib/util/io/BUILD
Labels: team-Remote-Exec

#20327 [7.0.0] [JSON Trace Profile] Correctly identify GC thread
  src/main/java/com/google/devtools/build/lib/profiler/ThreadMetadata.java
Labels: team-Performance

#20337 [7.0.0] Add comprehensive tests for SpawnLogContext.
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/test/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategyTest.java
  src/test/java/com/google/devtools/build/lib/exec/BUILD
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogContextTest.java
Labels: team-Remote-Exec, awaiting-review

#20341 [7.0.0] Pass `ct.sym` to direct version of Turbine
  src/main/java/com/google/devtools/build/lib/rules/java/JavaRuntimeRule.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchainTool.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaRuntimeInfoApi.java
  src/main/starlark/builtins_bzl/common/java/java_runtime.bzl
  src/main/starlark/builtins_bzl/common/java/java_toolchain.bzl
  src/test/java/com/google/devtools/build/lib/rules/java/JavaStarlarkApiTest.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_coverage_java_test.sh
  src/test/shell/bazel/bazel_java17_test.sh
  src/test/shell/bazel/bazel_java_test.sh
  src/upload_all_java_tools.sh
  tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator/BUILD
Labels: team-Rules-Java, awaiting-review

#20357 [7.0.0] Remove RunfilesSupplier.getManifest().
  src/main/java/com/google/devtools/build/lib/actions/CompositeRunfilesSupplier.java
  src/main/java/com/google/devtools/build/lib/actions/EmptyRunfilesSupplier.java
  src/main/java/com/google/devtools/build/lib/actions/RunfilesSupplier.java
  src/main/java/com/google/devtools/build/lib/analysis/RunfilesSupport.java
  src/main/java/com/google/devtools/build/lib/analysis/SingleRunfilesSupplier.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/SpawnAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LtoBackendAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/python/PyBuiltins.java
  src/test/java/com/google/devtools/build/lib/analysis/SingleRunfilesSupplierTest.java
  src/test/java/com/google/devtools/build/lib/analysis/actions/SpawnActionTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestUtil.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/LtoBackendActionTest.java
Labels: team-Performance, team-Configurability, team-Rules-Java, team-Rules-CPP, team-Rules-Python, team-Remote-Exec, awaiting-review

#20358 [7.0.0] Prevent nested set flattening in ActionSpawn if there are no input filesets.
  src/main/java/com/google/devtools/build/lib/analysis/actions/SpawnAction.java
Labels: team-Configurability, awaiting-review

#20379 [7.0.0] Fix memory regression in BEP with `--bes_upload_mode=wait_for_upload_complete`.
  src/main/java/com/google/devtools/build/lib/buildeventservice/BuildEventServiceModule.java
Labels: awaiting-review

#20380 [7.0.0] Emit a clearer error message when a mandatory output is missing from an ActionResult.
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
Labels: team-Remote-Exec, awaiting-review

#20382 [7.0.0] Bazel calls GetCapabilities when using Remote Asset API in 7.0.0
  src/main/java/com/google/devtools/build/lib/remote/ChannelConnectionWithServerCapabilitiesFactory.java
  src/main/java/com/google/devtools/build/lib/remote/GoogleChannelConnectionFactory.java
  src/main/java/com/google/devtools/build/lib/remote/ReferenceCountedChannel.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamUploaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcRemoteExecutorTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerWithGrpcRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloaderTest.java
Labels: team-Remote-Exec, awaiting-review

#20391 [7.0.0] Fix error when the test class is not found for a java_test at the workspace root
  src/main/starlark/builtins_bzl/bazel/java/bazel_java_binary.bzl
  src/main/starlark/builtins_bzl/common/java/java_helper.bzl
  src/test/java/com/google/devtools/build/lib/bazel/rules/java/JavaConfiguredTargetsTest.java
Labels: team-Rules-Java, awaiting-review

#20396 [7.0.0] Generalize memory and cpu tracking
  src/main/java/com/google/devtools/build/lib/actions/ResourceManager.java
  src/main/java/com/google/devtools/build/lib/actions/ResourceSet.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkActionFactory.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestTargetProperties.java
  src/main/java/com/google/devtools/build/lib/bazel/coverage/CoverageReportActionBuilder.java
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/exec/ExecutionOptions.java
  src/main/java/com/google/devtools/build/lib/includescanning/SpawnIncludeScanner.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidCommon.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppLinkAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/DeployArchiveBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/skyframe/serialization/DoubleCodec.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
  src/main/java/com/google/devtools/common/options/Converters.java
  src/test/java/com/google/devtools/build/lib/actions/ResourceManagerTest.java
Labels: team-Performance, awaiting-review

#20400 [7.0.0] Make lockfile extension updates more obviously correct
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionEvent.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunctionTest.java
Labels: team-ExternalDeps, awaiting-review
