Repository bazelbuild/bazel, pull requests merged in 2023-05, with the labels that each got.

#18295 [6.2.0] Fine tune the number of test jobs running in parallel to avoid timeout on Intel macOS platform
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
Labels: team-OSS, awaiting-review

#18297 [6.2.0] Update java_tools v12.2
  distdir_deps.bzl
Labels: team-Rules-Java, awaiting-review

#18316 java_tools v12.3 rc1 updates (for testing)
  distdir_deps.bzl
Labels: awaiting-review

#18328 [6.2.0] Update java_tools v12.3
  distdir_deps.bzl
Labels: team-Rules-Java, awaiting-review

#18369 Update CODEOWNERS for 6.3.0
  CODEOWNERS
Labels: team-OSS

#18372 [6.3.0] Add implementation deps support for Objective-C
  src/main/java/com/google/devtools/build/lib/analysis/LocationExpander.java
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcCommon.java
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcCompilationContext.java
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcRuleClasses.java
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcStarlarkInternal.java
  src/main/starlark/builtins_bzl/common/objc/compilation_support.bzl
  src/main/starlark/builtins_bzl/common/objc/objc_common.bzl
  src/main/starlark/builtins_bzl/common/objc/objc_library.bzl
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcLibraryTest.java
Labels: team-Configurability, awaiting-review

#18400 [6.3.0] Update release notes scripts
  scripts/release/relnotes.py
  scripts/release/relnotes.sh
Labels: team-OSS

#18430 [6.3.0] Prevent CredentialHelperEnvironment crash when invoking Bazel outside of a workspace.
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelper.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelperEnvironment.java
Labels: team-Remote-Exec

#18413 [6.3.0] Use wall-time for credential helper invalidation
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/BUILD
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialModule.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/SystemMillisTicker.java
Labels: team-Remote-Exec

#18403 [6.3.0] blaze_util_posix: handle killpg failures
  src/main/cpp/blaze_util_posix.cc
Labels: team-OSS, awaiting-review

#18415 [6.3.0] Pass version to java_runtimes created by local_java_repository
  tools/jdk/local_java_repository.bzl
Labels: team-Rules-Java

#18438 [6.3.0] Add jsonproto option to query --output flag
  src/main/java/com/google/devtools/build/lib/query2/query/output/BUILD
  src/main/java/com/google/devtools/build/lib/query2/query/output/JSONProtoOutputFormatter.java
  src/main/java/com/google/devtools/build/lib/query2/query/output/OutputFormatters.java
  src/main/java/com/google/devtools/build/lib/query2/query/output/QueryOptions.java
  src/test/shell/integration/bazel_query_test.sh
Labels: team-Performance, awaiting-review

#18419 Don't eagerly flatten a `NestedSet` in `RepoMappingManifestAction`
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/RepoMappingManifestAction.java
  src/main/java/com/google/devtools/build/lib/analysis/RunfilesSupport.java
  src/test/java/com/google/devtools/build/lib/analysis/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/RunfilesRepoMappingManifestTest.java
Labels: team-ExternalDeps, awaiting-review

#18452 Fix merge
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputChecker.java
Labels: team-Remote-Exec, awaiting-review

#18447 [6.3.0] rules_go & rules_python are failing in Downstream CI with Bazel@HEAD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionEvalStarlarkThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/WorkspaceFileFunction.java
Labels: team-OSS, area-Bzlmod, awaiting-review

#18429 [6.3.0] Wire credential helper to repository fetching.
  src/main/java/com/google/devtools/build/lib/authandtls/AuthAndTLSOptions.java
  src/main/java/com/google/devtools/build/lib/authandtls/GoogleAuthUtils.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/BUILD
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialModule.java
  src/main/java/com/google/devtools/build/lib/bazel/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/main/protobuf/failure_details.proto
  src/test/java/com/google/devtools/build/lib/buildtool/util/BUILD
  src/test/java/com/google/devtools/build/lib/buildtool/util/BuildIntegrationTestCase.java
  src/test/shell/bazel/remote_helpers.sh
  src/test/shell/bazel/starlark_repository_test.sh
  src/test/shell/bazel/testing_server.py
Labels: team-ExternalDeps

#18470 [6.3.0] Updates and fixes to relnotes script
  scripts/release/relnotes.py
Labels: team-OSS

#18471 Report percentual download progress in repository rules
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadProgressEvent.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpStream.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/ProgressInputStream.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpStreamTest.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/ProgressInputStreamTest.java
Labels: team-ExternalDeps, awaiting-review

#18476 [6.3.0] Support remote symlink outputs when building without the bytes.
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec

#18481 [6.3.0] Enrich local BEP upload errors with file path and digest possible.
  src/main/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploader.java
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploaderTest.java
Labels: team-Remote-Exec, awaiting-review

#18482 [6.3.0] Set `GTEST_SHARD_STATUS_FILE` in test setup
  tools/test/test-setup.sh
  tools/test/windows/tw.cc
Labels: team-Configurability

#18491 [6.3.0] Fix relnotes script
  scripts/release/relnotes.py
Labels: team-OSS

#18490 [6.3.0] Fix Xcode 14.3 compatibility
  .bazelrc
  src/main/java/com/google/devtools/build/lib/rules/apple/AppleCommandLineOptions.java
  src/main/java/com/google/devtools/build/lib/rules/apple/XcodeVersionProperties.java
Labels: team-OSS, awaiting-review

#18504 [6.2.1] Automatic code cleanup.
  src/test/java/com/google/devtools/build/lib/cmdline/ParallelVisitorTest.java
Labels: team-OSS

#18503 [6.2.1] Update relnotes scripts
  scripts/release/relnotes.py
  scripts/release/relnotes.sh
Labels: team-OSS

#18514 [6.3.0] Fix https://github.com/bazelbuild/bazel/issues/18493.
  src/test/shell/bazel/run_test.sh
  tools/test/test-setup.sh
Labels: team-OSS, awaiting-review

#18535 [6.2.1] Use extension rather than local names in ModuleExtensionMetadata
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
Labels: team-ExternalDeps, awaiting-review

#18534 [6.3.0] Fix formatting of release notes
  scripts/release/relnotes.py
Labels: team-OSS

#18536 [6.3.0] Use extension rather than local names in ModuleExtensionMetadata
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
Labels: team-ExternalDeps, awaiting-review
