Repository bazelbuild/bazel, pull requests merged in 2023-07, with the labels that each got.

#18654 [6.3.0] add feature on windows toolchain with right tag
  tools/cpp/windows_cc_toolchain_config.bzl
Labels: team-Rules-CPP

#18838 [6.3.0] Expose metadata_files parameter in coverage_common.instrumented_files_info
  src/main/java/com/google/devtools/build/lib/analysis/test/CoverageCommon.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/test/CoverageCommonApi.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkIntegrationTest.java
Labels: team-Rules-Server, awaiting-review

#18846 [6.3.0] Download directory output for test actions
  src/main/java/com/google/devtools/build/lib/remote/ToplevelArtifactsDownloader.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec

#18853 [6.3.0] Teach DexMapper to not separate synthetic classes from their context …
  src/test/java/com/google/devtools/build/android/ziputils/SplitterTest.java
  src/test/shell/BUILD
  src/test/shell/bazel/android/BUILD
  src/test/shell/bazel/android/DexFileSplitter_synthetic_classes_test.sh
  src/test/shell/bazel/android/android_sh_test.bzl
  src/test/shell/testenv.sh.tmpl
  src/tools/android/java/com/google/devtools/build/android/ziputils/SplitZip.java
  src/tools/android/java/com/google/devtools/build/android/ziputils/Splitter.java
  tools/android/runtime_deps/BUILD.bazel
Labels: team-Android

#18870 [6.3.0] Fix query --output=proto --order_output=deps not returning targets in topological order
  src/main/java/com/google/devtools/build/lib/query2/query/output/AbstractUnorderedFormatter.java
  src/main/java/com/google/devtools/build/lib/query2/query/output/ProtoOutputFormatter.java
Labels: team-Performance, awaiting-review

#18886 Revert "[6.3.0] Don't eagerly flatten a `NestedSet` in `RepoMappingManifestAction`"
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/RepoMappingManifestAction.java
  src/main/java/com/google/devtools/build/lib/analysis/RunfilesSupport.java
  src/test/java/com/google/devtools/build/lib/analysis/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/RunfilesRepoMappingManifestTest.java
Labels: team-ExternalDeps

#18882 [6.3.0] Add additional_compiler_inputs attribute for cc_library.
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BazelCcLibraryRule.java
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_library.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcLibraryConfiguredTargetTest.java
Labels: team-Rules-CPP

#18890 [6.3.0] Open-source Google test `ConvenienceSymlinkTest`
  src/test/java/com/google/devtools/build/lib/buildtool/BUILD
  src/test/java/com/google/devtools/build/lib/buildtool/ConvenienceSymlinkTest.java
Labels: team-Configurability, awaiting-review

#18889 [6.3.0] Check if json.gz files exist, not the gcov version.
  tools/test/collect_cc_coverage.sh
Labels: team-Rules-CPP

#18895 [6.3.0] Handle exception instead of crashing
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
Labels: team-ExternalDeps, awaiting-review

#18868 [6.3.0] Update java_tools to v12.5
  distdir_deps.bzl
  src/java_tools/singlejar/javatests/com/google/devtools/build/singlejar/ZipTester.java
  src/main/java/com/google/devtools/build/lib/actions/cache/PersistentStringIndexer.java
Labels: team-Rules-Java, awaiting-review

#18912 [Cherrypick] Add temporary rules_go bazel_dep to restore CI
  MODULE.bazel
Labels: awaiting-review

#18916 [6.3.0] Adjust --top_level_targets_for_symlinks
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/buildtool/OutputDirectoryLinksUtils.java
  src/test/java/com/google/devtools/build/lib/buildtool/ConvenienceSymlinkTest.java
Labels: team-Configurability

#18918 [6.3.0] Track dev/non-dev `use_extension` calls
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionUsage.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModuleTest.java
Labels: team-ExternalDeps, awaiting-review

#18773 [6.3.0] Rollforward of https://github.com/bazelbuild/bazel/commit/482d2be27ab…
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoLangToolchainRule.java
  src/main/starlark/builtins_bzl/common/cc/cc_proto_library.bzl
  src/main/starlark/builtins_bzl/common/java/proto/java_lite_proto_library.bzl
  src/main/starlark/builtins_bzl/common/java/proto/java_proto_library.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_common.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_lang_toolchain.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_library.bzl
  src/test/java/com/google/devtools/build/lib/rules/proto/BazelProtoCommonTest.java
Labels: team-Rules-API

#18891 [6.3.0] Update Android tools to 0.27.2 for fixes to DexMapper for https://gith...
  WORKSPACE
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/android_remote_tools.WORKSPACE
  src/test/shell/bazel/android/BUILD
Labels: team-Android

#18922 [6.3.0] Report dev/non-dev deps imported via non-dev/dev usages
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
Labels: team-ExternalDeps

#18928 [6.3.0] Add reverted isolated
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
Labels: team-ExternalDeps

#18923 [6.3.0] Identify isolated extensions by exported name
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionId.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
Labels: team-ExternalDeps

#18932 [6.3.0] test-setup.sh: Attempt to raise the original signal once more
  tools/test/test-setup.sh
Labels: team-Remote-Exec, awaiting-review

#18933 [6.3.0] Ignore broken classic desugar tests on Windows
  .bazelci/postsubmit.yml
Labels: area-Windows

#18948 [6.3.0] Disable UseCorrectAssertInTests by default
  tools/jdk/default_java_toolchain.bzl
Labels: team-Rules-Java

#18960 [6.3.0] Fix VS 2022 autodetection
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  tools/cpp/windows_cc_configure.bzl
Labels: team-Rules-CPP, awaiting-review

#18993 [6.3.0] Fix absolute file paths showing up in lockfiles
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/py/bazel/bzlmod/bazel_module_test.py
Labels: team-ExternalDeps

#19008 [6.3.0] Add support for isolated extension usages to the lockfile
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionId.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleKey.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#19042 [6.4.0] Support multiple remote execution digest functions
  src/main/java/com/google/devtools/build/lib/remote/RemoteServerCapabilities.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteServerCapabilitiesTest.java
  third_party/remoteapis/build/bazel/remote/execution/v2/remote_execution.proto
Labels: team-Remote-Exec, awaiting-review

#19050 [6.3.1] Mark isolated extension usages as experimental
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#19052 [6.3.1] Fix a bug where frozen targets list was mutated while expanding env attribute for cc_test
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcCommonTest.java
Labels: team-Rules-CPP

#19053 [6.4.0] Fix a bug where frozen targets list was mutated while expanding env attribute for cc_test
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcCommonTest.java
Labels: team-Rules-CPP

#19065 [6.4.0] Mark isolated extension usages as experimental
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#19071 [6.3.1] Add documentation for --experimental_isolated_extension_usage
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
Labels: team-Documentation, awaiting-review

#19088 [6.4.0] Advertise CcInfo from cc_import (#19086)
  src/main/starlark/builtins_bzl/common/cc/cc_import.bzl
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library/BUILD.builtin_test
Labels: team-Rules-CPP

#19089 [6.3.1] Create .bazelversion to address postsubmit timeout issues
  .bazelversion
  BUILD
Labels: team-OSS, awaiting-review

#19092 [6.4.0] Update java_tools to v12.6
  distdir_deps.bzl
Labels: team-Rules-Java, awaiting-review

#19091 [6.3.1] Update java_tools to v12.6
  distdir_deps.bzl
Labels: team-Rules-Java, awaiting-review

#19049 [6.4.0] Set the digest_function field as part of all relevant gRPC requests
  src/main/java/com/google/devtools/build/lib/remote/GrpcCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/util/DigestUtil.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
Labels: team-Remote-Exec, awaiting-review

#19106 [6.3.1] Disable lockfiles by default
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
Labels: team-ExternalDeps

#19134 [6.4.0] Merge `use_repo` buildifier fixups into a single command
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
Labels: team-ExternalDeps, awaiting-review
