Repository bazelbuild/bazel, pull requests merged in 2023-09, with the labels that each got.

#19404 [6.4.0] Always fail on unknown attributes
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleCreator.java
  src/main/java/com/google/devtools/build/lib/packages/PackageFactory.java
  src/main/java/com/google/devtools/build/lib/packages/RuleClass.java
  src/main/java/com/google/devtools/build/lib/packages/RuleFactory.java
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceFactoryHelper.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/test/java/com/google/devtools/build/lib/analysis/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/RuleConfiguredTargetTest.java
  src/test/java/com/google/devtools/build/lib/packages/RuleClassTest.java
  src/test/java/com/google/devtools/build/lib/packages/RuleFactoryTest.java
Labels: team-Rules-API

#19417 [6.4.0] Ignore Starlark options on commands with `allowResidue = False`
  src/main/java/com/google/devtools/common/options/OptionsParser.java
  src/test/java/com/google/devtools/build/lib/runtime/BlazeOptionHandlerTest.java
  src/test/py/bazel/options_test.py
Labels: team-Core

#19415 [6.4.0] Revert "Report remote execution messages as events"
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
Labels: team-Remote-Exec

#19393 [6.4.0] Add --incompatible_disable_objc_library_transition
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/cpp/CcModuleApi.java
  src/main/starlark/builtins_bzl/common/cc/semantics.bzl
  src/main/starlark/builtins_bzl/common/objc/objc_library.bzl
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcLibraryTest.java
Labels: team-Rules-CPP, awaiting-PR-merge

#19435 [6.4.0] Create .bazelversion to address postsubmit timeout issues
  .bazelversion
  BUILD
Labels: team-OSS, awaiting-review

#19425 [6.4.0] Add `contains` method inside `PackageSpecificationProvider`
  src/main/java/com/google/devtools/build/lib/analysis/PackageSpecificationProvider.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/PackageSpecificationProviderApi.java
  src/test/java/com/google/devtools/build/lib/analysis/allowlisting/AllowlistTest.java
Labels: area-java-Starlark_API, awaiting-review

#19430 [6.4.0] Wrong include path to Clang 16 on Windows
  tools/cpp/windows_cc_configure.bzl
Labels: team-Rules-CPP, awaiting-review

#19444 [6.4.0] Remove PackageGroupConfiguredTarget.isAvailableFor function
  src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/PackageGroupConfiguredTarget.java
Labels: area-java-Starlark_API, awaiting-review

#19454 [6.4.0] Remove default -s flag from macOS libtool invocation
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppActionConfigs.java
Labels: team-Rules-CPP

#19462 [6.4.0] Turn off lockfile feature by default
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
Labels: team-ExternalDeps, awaiting-review

#19457 [6.4.0] Take the no-remote-exec tag into account when computing the action salt
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
Labels: team-Remote-Exec

#19319 [6.4.0] Add `--incompatible_merge_fixed_and_default_shell_env`
  src/main/java/com/google/devtools/build/lib/analysis/actions/SpawnAction.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkActionFactory.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/test/shell/integration/action_env_test.sh
Labels: awaiting-user-response, team-Rules-API

#19484 [6.4.0] Improve error when a label is provided in `config_setting`'s `values`
  src/main/java/com/google/devtools/build/lib/rules/config/ConfigSetting.java
  src/test/java/com/google/devtools/build/lib/rules/config/ConfigSettingTest.java
Labels: team-Configurability

#19483 [6.4.0] Mark tool inputs in the execution log.
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategyTest.java
  src/test/java/com/google/devtools/build/lib/exec/util/SpawnBuilder.java
Labels: team-Remote-Exec

#19436 [6.4.0] Add visionOS support
  MODULE.bazel
  distdir_deps.bzl
  src/MODULE.tools
  src/main/java/com/google/devtools/build/docgen/templates/be/be-nav.vm
  src/main/java/com/google/devtools/build/docgen/templates/be/be-toc.vm
  src/main/java/com/google/devtools/build/lib/bazel/repository/LocalConfigPlatformFunction.java
  src/main/java/com/google/devtools/build/lib/rules/apple/AppleCommandLineOptions.java
  src/main/java/com/google/devtools/build/lib/rules/apple/AppleConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/apple/ApplePlatform.java
  src/main/java/com/google/devtools/build/lib/rules/apple/AppleToolchain.java
  src/main/java/com/google/devtools/build/lib/rules/apple/XcodeConfig.java
  src/main/java/com/google/devtools/build/lib/rules/apple/XcodeConfigInfo.java
  src/main/java/com/google/devtools/build/lib/rules/apple/XcodeVersionProperties.java
  src/main/java/com/google/devtools/build/lib/rules/apple/XcodeVersionRule.java
  src/main/java/com/google/devtools/build/lib/rules/apple/XcodeVersionRuleData.java
  src/main/java/com/google/devtools/build/lib/rules/objc/CompilationSupport.java
  src/main/java/com/google/devtools/build/lib/rules/objc/MultiArchBinarySupport.java
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcRuleClasses.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/apple/ApplePlatformTypeApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/apple/XcodeConfigInfoApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/apple/XcodePropertiesApi.java
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
  src/main/starlark/builtins_bzl/common/objc/transitions.bzl
  src/test/java/com/google/devtools/build/lib/packages/util/MockPlatformSupport.java
  src/test/java/com/google/devtools/build/lib/rules/apple/XcodeConfigTest.java
  src/test/shell/bazel/android/android_integration_test.sh
  tools/osx/BUILD
  tools/osx/xcode_configure.bzl
  tools/osx/xcode_version_flag.bzl
Labels: team-ExternalDeps

#19443 [6.4.0] Intern empty `Depset`s
  src/main/java/com/google/devtools/build/lib/collect/nestedset/Depset.java
  src/main/java/com/google/devtools/build/lib/collect/nestedset/Order.java
  src/test/java/com/google/devtools/build/lib/collect/nestedset/DepsetTest.java
Labels: team-Rules-API

#19426 [6.4.0] Do not allow applicable_licenses on platform.
  src/main/java/com/google/devtools/build/lib/rules/platform/PlatformBaseRule.java
Labels: team-Rules-Java

#19491 [6.4.0] Optimize classpath pre-processing in java_stub_template.txt
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/java_stub_template.txt
Labels: team-Performance, awaiting-review

#19452 [6.4.0] Add output name to CacheNotFoundException
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/common/BUILD
  src/main/java/com/google/devtools/build/lib/remote/common/CacheNotFoundException.java
Labels: team-Remote-Exec

#19503 [6.4.0] feat: add option to exit early if analysis cache is discarded
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/BUILD
  src/main/java/com/google/devtools/build/lib/buildeventstream/BuildCompletingEvent.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
  src/main/java/com/google/devtools/build/lib/buildtool/buildevent/BuildCompleteEvent.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
  src/main/protobuf/failure_details.proto
  src/test/java/com/google/devtools/build/lib/analysis/AnalysisCachingTest.java
  src/test/java/com/google/devtools/build/lib/analysis/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewForTesting.java
Labels: team-Configurability

#19505 [6.4.0] Print Passed and Failed methods in detailed test summary
  src/main/java/com/google/devtools/build/lib/runtime/TerminalTestResultNotifier.java
  src/main/java/com/google/devtools/build/lib/runtime/TestSummary.java
  src/main/java/com/google/devtools/build/lib/runtime/TestSummaryPrinter.java
  src/test/java/com/google/devtools/build/lib/runtime/TestSummaryTest.java
  src/test/shell/bazel/bazel_test_test.sh
Labels: team-Core

#19499 [6.4.0] Add formatted timestamp entries to volatile workspace status file.
  site/en/docs/user-manual.md
  src/main/java/com/google/devtools/build/lib/bazel/BazelWorkspaceStatusModule.java
  src/test/shell/bazel/bazel_workspace_status_test.sh
Labels: team-Rules-Java, awaiting-review

#19521 [6.4.0] Only use `/showIncludes` if supported
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileActionBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppRuleClasses.java
  tools/cpp/BUILD.windows.tpl
  tools/cpp/lib_cc_configure.bzl
  tools/cpp/windows_cc_configure.bzl
  tools/cpp/windows_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#19492 [6.4.0] Also apply `NestedSet` optimizations to `Depset`
  src/main/java/com/google/devtools/build/lib/collect/nestedset/Depset.java
  src/test/java/com/google/devtools/build/lib/collect/nestedset/DepsetTest.java
Labels: team-Rules-API

#19514 [6.4.0] Add diff_against_dynamic_baseline option to experimental_output_direc…
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/config/ExecutionTransitionFactory.java
  src/main/java/com/google/devtools/build/lib/analysis/config/transitions/BaselineOptionsValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BaselineOptionsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BuildConfigurationFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/test/java/com/google/devtools/build/lib/analysis/StarlarkAttrTransitionProviderTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/DummyTestFragment.java
Labels: team-Configurability

#19522 [6.4.0] Update java_tools to v12.7
  distdir_deps.bzl
Labels: team-Rules-Java, awaiting-review

#19540 [6.4.0] Update unknown Xcode version error message and provide an environment variable to force re-evaluation
  src/main/java/com/google/devtools/build/lib/rules/apple/XcodeConfig.java
  tools/osx/xcode_configure.bzl
Labels: team-Rules-ObjC

#19543 [6.4.0] Print dep chain leading to a module that is in error
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Discovery.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#19542 [6.4.0] Show fetch progress for the `mod` command
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
  src/main/java/com/google/devtools/build/lib/runtime/UiEventHandler.java
  src/main/java/com/google/devtools/build/lib/runtime/UiStateTracker.java
Labels: team-ExternalDeps

#19554 [6.4.0] Explain the use of `str(Label(...))` in the docs
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
Labels: team-ExternalDeps, awaiting-review

#19585 [6.4.0] Disable bzlmod_query_test for RBE build
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
Labels: team-OSS, awaiting-review

#19606 [6.4.0] Clear runfiles environment variables for `bazel run`
  src/main/cpp/blaze.cc
  src/main/java/com/google/devtools/build/lib/actions/ActionExecutionContext.java
  src/main/java/com/google/devtools/build/lib/query2/aquery/ActionGraphTextOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/RunCommand.java
  src/main/java/com/google/devtools/build/lib/util/CommandFailureUtils.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerKey.java
  src/main/protobuf/command_server.proto
  src/test/java/com/google/devtools/build/lib/util/CommandFailureUtilsTest.java
  src/test/shell/bazel/run_test.sh
Labels: team-ExternalDeps, awaiting-review

#19590 [6.4.0] cc_library: propagate data dependencies via implementation_deps.
  src/main/starlark/builtins_bzl/common/cc/cc_library.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcLibraryConfiguredTargetTest.java
Labels: team-Rules-CPP, awaiting-review

#19611 [6.4.0] Error on potential unsupported `/showIncludes` lines
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/ShowIncludesFilter.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/ShowIncludesFilterTest.java
Labels: team-Rules-CPP

#19626 [6.4.0] Use case-insensitive comparison for Windows paths in `runfiles.bash`
  tools/bash/runfiles/runfiles.bash
Labels: area-Windows, team-ExternalDeps
