Repository bazelbuild/bazel, pull requests merged in 2023-08, with the labels that each got.

#19164 [6.4.0] Ensure that extension unique names followed by `~` are prefix-free
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
Labels: team-ExternalDeps, area-Bzlmod, awaiting-review

#19167 [6.3.2] Ensure that extension unique names followed by `~` are prefix-free
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
Labels: team-ExternalDeps, awaiting-review

#19153 [6.4.0] Lockfile updates & fixes
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionEnvironmentFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ClientEnvironmentFunction.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/repository/FakeRepositoryModule.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModuleTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps

#19174 [6.4.0] Switch xcode_autoconf to use 'configure = True'
  tools/osx/xcode_configure.bzl
Labels: team-Rules-ObjC, awaiting-review

#19175 [6.3.2] Lockfile updates & fixes (for PR# 19068 and 19105)
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionEnvironmentFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ClientEnvironmentFunction.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/repository/FakeRepositoryModule.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModuleTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#19179 [6.4.0] Cherry pick Add a Starlark flag that allows disabling proguard. This will be useful for testing later.
  tools/android/android_sdk_repository_template.bzl
Labels: team-Android

#19194 [6.4.0] Update CODEOWNERS file
  CODEOWNERS
Labels: team-OSS

#19197 [6.4.0] Always check `$config_dependencies` visibility at use
  src/main/java/com/google/devtools/build/lib/analysis/CommonPrerequisiteValidator.java
  src/test/java/com/google/devtools/build/lib/analysis/VisibilityTest.java
Labels: team-Configurability

#19225 [6.4.0] Ensure disk cache root exists
  src/main/java/com/google/devtools/build/lib/remote/RemoteCacheClientFactory.java
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheClient.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/OnDiskBlobStoreCache.java
Labels: team-Remote-Exec, awaiting-review

#19226 [6.4.0] Fix valid json when using jsonproto output in queries with new `--ouput=streamed_jsonproto` implementation.
  src/main/java/com/google/devtools/build/lib/query2/query/output/OutputFormatters.java
  src/main/java/com/google/devtools/build/lib/query2/query/output/QueryOptions.java
  src/main/java/com/google/devtools/build/lib/query2/query/output/StreamedJSONProtoOutputFormatter.java
  src/test/shell/integration/bazel_query_test.sh
Labels: team-Performance

#19220 [6.4.0] Add toolchain type for Java bootstrap runtime
  tools/jdk/BUILD.tools
Labels: team-Rules-Java

#19076 [6.4.0] Add Starlark implementation for several CcCommon methods.
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCommon.java
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_library.bzl
Labels: team-Rules-CPP

#19231 [6.4.0] Rename `cc_test_wrapper` to `cc_test`
  src/main/starlark/builtins_bzl/common/cc/cc_test_wrapper.bzl
  src/main/starlark/builtins_bzl/common/exports.bzl
Labels: team-Rules-CPP

#19232 [6.4.0] Cherry-pick commits to fix a Windows issue
  .bazelci/build_bazel_binaries.yml
  .bazelrc
  BUILD
  third_party/blake3/blake3.BUILD
Labels: area-Windows, team-OSS, awaiting-review

#19281 [6.4.0] Add support for more workspace boundary files to bash completion
  scripts/bash_completion_test.sh
  scripts/bazel-complete-template.bash
Labels: team-OSS, awaiting-review

#19283 [6.4.0] Use `debugPrint` instead of `str` for `fail` arguments
  src/main/java/net/starlark/java/eval/MethodLibrary.java
Labels: team-ExternalDeps, team-Starlark-Interpreter

#19229 [6.4.0] Include name in `repr` of exported `rule`s
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkStringRepresentationsTest.java
Labels: team-Configurability, awaiting-review

#19298 Cherry-pick required commits into 7.0.0-pre.20230810.1rc1
  .bazelci/build_bazel_binaries.yml
  .bazelrc
  BUILD
  third_party/blake3/blake3.BUILD
Labels: awaiting-review

#19300 [6.4.0] Download `BazelRegistryJson` only once per registry
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryImpl.java
Labels: team-ExternalDeps, awaiting-review

#19285 [6.4.0] Make module extension tag's `debugPrint` useful for error messages
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/TypeCheckedTag.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
Labels: team-ExternalDeps

#19293 [6.4.0] Intern repository mapping entries
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryMapping.java
Labels: team-ExternalDeps

#19264 [6.4.0] Add `additional_linker_inputs` option to `cc_library` rule
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BazelCppRuleClasses.java
  src/main/starlark/builtins_bzl/common/cc/cc_library.bzl
Labels: team-Rules-CPP

#19284 [6.4.0] Do not rerun module extensions when only imports or locations change
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionUsage.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps

#19313 [6.4.0] Add profiling for Bzlmod operations
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionId.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/profiler/ProfilerTask.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeCommandDispatcher.java
Labels: team-Performance, team-ExternalDeps, awaiting-review

#19346 [6.4.0] Retry on javax.net.ssl.SSLException ... BAD_DECRYPT
  src/main/java/com/google/devtools/build/lib/remote/RemoteCacheClientFactory.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/http/BUILD
  src/main/java/com/google/devtools/build/lib/remote/http/DownloadCommand.java
  src/main/java/com/google/devtools/build/lib/remote/http/HttpCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/http/HttpDownloadHandler.java
  src/main/java/com/google/devtools/build/lib/remote/http/HttpException.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteCacheClientFactoryTest.java
  src/test/java/com/google/devtools/build/lib/remote/http/BUILD
  src/test/java/com/google/devtools/build/lib/remote/http/HttpCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/http/HttpDownloadHandlerTest.java
Labels: team-Remote-Exec

#19354 [6.4.0] Fetch `RepoSpecs` in parallel
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RepoSpec.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RepoSpecFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RepoSpecKey.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
Labels: team-ExternalDeps, awaiting-review

#19370 [6.4.0] Make `MODULE.bazel.lock` deterministic
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
Labels: team-ExternalDeps, awaiting-review

#19371 [6.4.0] Ensure lockfile is updated after reset to pre-build state
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionEvent.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionEvent.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#19386 [6.4.0] build-runfiles: remove temporary file prior to creating it
  src/main/tools/build-runfiles.cc
  src/test/shell/integration/runfiles_test.sh
Labels: team-Remote-Exec, awaiting-review
