Repository bazelbuild/bazel, pull requests merged in 2023-02, with the labels that each got.

#17398 [6.1.0] Make Bazel more responsive and use less memory when --jobs is high
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteAction.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/common/RemotePathResolver.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/main/java/com/google/devtools/build/lib/sandbox/DarwinSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/DockerSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/ProcessWrapperSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/WindowsSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
  src/test/java/com/google/devtools/build/lib/exec/local/LocalSpawnRunnerTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemotePathResolverTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/util/FakeSpawnExecutionContext.java
  src/test/java/com/google/devtools/build/lib/sandbox/SpawnRunnerTestUtil.java
  src/test/shell/bazel/remote/remote_execution_test.sh
Labels: team-Remote-Exec, awaiting-user-response

#17371 Multiplex worker fixes and tests for Android busybox tools
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidDataContext.java
  src/main/java/com/google/devtools/build/lib/rules/android/BusyBoxActionBuilder.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/android/AndroidConfigurationApi.java
  src/test/shell/bazel/android/resource_processing_integration_test.sh
Labels: team-Android, awaiting-user-response

#17396 [6.1.0] Improve error message for concurrent modifications
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
Labels: team-Remote-Exec, awaiting-user-response

#17397 [6.1.0] Make bazel coverage work with minimal mode
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/test/CoverageReport.java
  src/main/java/com/google/devtools/build/lib/bazel/coverage/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/coverage/CoverageReportActionBuilder.java
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/ToplevelArtifactsDownloader.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-user-response

#17329 [6.1.0]Fix Bash `runfiles_current_repository` for tools
  src/test/shell/bazel/bazel_rules_test.sh
  tools/bash/runfiles/runfiles.bash
Labels: team-ExternalDeps, awaiting-user-response

#17326 [6.1.0]Fix label unambiguous canonical form to correctly report non-visible …
  src/main/java/com/google/devtools/build/lib/cmdline/PackageIdentifier.java
  src/test/java/com/google/devtools/build/lib/cmdline/LabelTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/PackageIdentifierTest.java
Labels: team-ExternalDeps, awaiting-user-response

#17439 [6.1.0]Remove O1 from sanitizer feature flag defaults
  tools/cpp/unix_cc_toolchain_config.bzl
  tools/osx/crosstool/cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#17438 [6.1.0]Remove usage of gRPC Context cancellation in the remote execution cli…
  src/main/java/com/google/devtools/build/lib/remote/ByteStreamUploader.java
  src/main/java/com/google/devtools/build/lib/remote/GrpcCacheClient.java
Labels: team-Remote-Exec

#17459 [6.1.0]Allow -v to libtool
  tools/objc/libtool.sh
  tools/objc/libtool_check_unique.cc
Labels: team-Rules-ObjC

#17278 [6.1.0]Prettify labels in action progress messages with Bzlmod
  src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java
  src/main/java/com/google/devtools/build/lib/actions/ActionExecutionMetadata.java
  src/main/java/com/google/devtools/build/lib/pkgcache/LoadingPhaseCompleteEvent.java
  src/main/java/com/google/devtools/build/lib/runtime/SkymeldUiStateTracker.java
  src/main/java/com/google/devtools/build/lib/runtime/UiStateTracker.java
  src/main/java/com/google/devtools/build/lib/skyframe/TargetPatternPhaseFunction.java
  src/test/java/com/google/devtools/build/lib/runtime/SkymeldUiStateTrackerTest.java
  src/test/java/com/google/devtools/build/lib/runtime/UiStateTrackerTest.java
Labels: team-ExternalDeps, awaiting-user-response

#17494 [6.1.0] Expand tree outputs before eagerly prefetching them for local actions.
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcherTest.java
Labels: team-Remote-Exec

#17491 [6.1.0]Fix Java coverage collection with Java 8 runtime
  src/java_tools/junitrunner/java/com/google/testing/coverage/JacocoLCOVFormatter.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchainRule.java
Labels: team-Rules-Java, awaiting-review

#17505 [6.1.0]Add a flag to disable execution log sorting.
  src/main/java/com/google/devtools/build/lib/bazel/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/main/java/com/google/devtools/build/lib/exec/ExecutionOptions.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
Labels: team-Performance, awaiting-review

#17513 [6.1.0] Reduce flakiness on Windows for BwoB tests
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/util/IntegrationTestUtils.java
Labels: team-Remote-Exec, awaiting-review

#17504 [6.1.0]Make AutoBazelRepositoryProcessor compatible with Java 8
  tools/java/runfiles/AutoBazelRepositoryProcessor.java
Labels: team-Rules-Java, awaiting-review

#17465 [6.1.0]Do not recommend `shallow_since` for `git_repository`
  tools/build_defs/repo/git.bzl
  tools/build_defs/repo/git_worker.bzl
Labels: team-OSS, awaiting-review

#17506 [6.1.0]Fix RPATHs for cc toolchain solib when sibling layout is used
  src/main/java/com/google/devtools/build/lib/rules/cpp/LibrariesToLinkCollector.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/test/java/com/google/devtools/build/lib/rules/cpp/LibrariesToLinkCollectorTest.java
Labels: team-Rules-CPP, awaiting-PR-merge

#17496 [6.1.0] Exit with code 39 if remote cache evicted blobs that Bazel need durin…
  site/en/run/scripts.md
  src/main/java/com/google/devtools/build/lib/exec/SpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/main/java/com/google/devtools/build/lib/util/ExitCode.java
  src/main/protobuf/failure_details.proto
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcherTest.java
Labels: team-Remote-Exec, awaiting-review

#17512 [6.1.0] Only fetch @remote_coverage_tools when collecting coverage
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/BaseRuleClasses.java
  src/main/java/com/google/devtools/build/lib/analysis/test/CoverageConfiguration.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/test/shell/bazel/cc_integration_test.sh
Labels: team-Rules-CPP, awaiting-review

#17287 [6.1.0]Only fetch @remote_coverage_tools when collecting coverage
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/rules/BUILD
Labels: team-Rules-CPP

#17488 [6.1.0]Fix symlink file creation overhead
  src/main/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandler.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandlerTest.java
Labels: awaiting-review, team-Rules-API

#17538 [6.1.0] Cleanup stale state when remote cache evicted
  src/main/java/com/google/devtools/build/lib/actions/ActionCacheChecker.java
  src/main/java/com/google/devtools/build/lib/actions/ActionCacheUtils.java
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputService.java
  src/main/java/com/google/devtools/build/lib/remote/ToplevelArtifactsDownloader.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeWorkspace.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcherTest.java
  src/test/java/com/google/devtools/build/lib/remote/util/BUILD
  src/test/java/com/google/devtools/build/lib/remote/util/IntegrationTestUtils.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/OnDiskBlobStoreCache.java
Labels: team-Remote-Exec

#17539 [6.1.0] Bump version number in runfiles.bash init code
  tools/bash/runfiles/runfiles.bash
Labels: team-ExternalDeps

#17274 [6.1.0]Let `aquery` print effective environment for all `CommandAction`s
  src/main/java/com/google/devtools/build/lib/skyframe/actiongraph/v2/ActionGraphDump.java
  src/test/shell/integration/aquery_test.sh
Labels: team-Performance

#17544 [6.1.0] Properly report repo fetch progress during main repo mapping computation
  src/main/java/com/google/devtools/build/lib/buildtool/buildevent/MainRepoMappingComputationStartingEvent.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeCommandDispatcher.java
  src/main/java/com/google/devtools/build/lib/runtime/SkymeldUiStateTracker.java
  src/main/java/com/google/devtools/build/lib/runtime/UiEventHandler.java
  src/main/java/com/google/devtools/build/lib/runtime/UiStateTracker.java
  src/test/java/com/google/devtools/build/lib/runtime/UiEventHandlerStdOutAndStdErrTest.java
  src/test/java/com/google/devtools/build/lib/runtime/UiStateTrackerTest.java
  src/test/java/com/google/devtools/build/lib/testutil/ManualClock.java
Labels: team-ExternalDeps, awaiting-review

#17563 [docs] Update migrating to Xcode tutorial
  site/en/migrate/cocoapods.md
  site/en/migrate/xcode.md
Labels: team-Documentation, awaiting-review

#17557 Minor update to PR 17287 (Only fetch @remote_coverage_tools when collecting coverage)
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
Labels: team-Rules-CPP, awaiting-review

#17570 [6.1.0]Bump minimum supported macOS versions to 10.13
  scripts/bootstrap/compile.sh
  tools/cpp/osx_cc_configure.bzl
  tools/osx/BUILD
  tools/osx/xcode_configure.bzl
Labels: team-Rules-ObjC, awaiting-review

#17578 [6.1.0] Correctly set default subprocess factory when loading class `Subproce…
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelper.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeRuntime.java
  src/main/java/com/google/devtools/build/lib/shell/BUILD
  src/main/java/com/google/devtools/build/lib/shell/SubprocessBuilder.java
  src/main/java/com/google/devtools/build/lib/shell/WindowsSubprocess.java
  src/main/java/com/google/devtools/build/lib/shell/WindowsSubprocessFactory.java
  src/main/java/com/google/devtools/build/lib/windows/BUILD
  src/test/java/com/google/devtools/build/lib/windows/WindowsSubprocessTest.java
Labels: team-Remote-Exec

#17601 [6.1.0] Also handle remote cache eviction for tree artifacts.
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/ExecuteRetrier.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/common/BulkTransferException.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
Labels: team-Remote-Exec

#17594 Add exec transition to Java version of py_test
  src/main/java/com/google/devtools/build/lib/bazel/rules/python/BazelPyTestRule.java
Labels: team-Rules-Server

#17613 Fix Bazel 6.0 crash regression
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/constraints/IncompatibleTargetChecker.java
  src/test/shell/integration/target_compatible_with_test.sh
Labels: team-Configurability, awaiting-review

#17605 [6.1.0] Handle remote cache eviction when uploading inputs for remote actions.
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/Chunker.java
  src/main/java/com/google/devtools/build/lib/remote/LeaseService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/common/BUILD
  src/main/java/com/google/devtools/build/lib/remote/disk/BUILD
  src/main/java/com/google/devtools/build/lib/remote/http/BUILD
  src/main/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTreeBuilder.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/MerkleTree.java
  src/main/java/com/google/devtools/build/lib/remote/util/BUILD
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamUploaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/ChunkerTest.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcherTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/merkletree/ActionInputDirectoryTreeTest.java
  src/test/java/com/google/devtools/build/lib/remote/merkletree/MerkleTreeTest.java
  src/test/java/com/google/devtools/build/lib/remote/util/BUILD
  src/test/java/com/google/devtools/build/lib/remote/util/FakeSpawnExecutionContext.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/BUILD
Labels: team-Remote-Exec, awaiting-review

#17592 [6.1.0] Rerun the artifact conflict check when --incompatible_strict_conflict_checks changes.
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
  src/test/java/com/google/devtools/build/lib/buildtool/OutputArtifactConflictTest.java
Labels: team-Remote-Exec

#17617 [6.1.0] Flag for writable outputs (experimental)
  src/main/java/com/google/devtools/build/lib/actions/ActionCacheChecker.java
  src/main/java/com/google/devtools/build/lib/actions/cache/ActionCache.java
  src/main/java/com/google/devtools/build/lib/actions/cache/CompactPersistentActionCache.java
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionExecutionFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandler.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
  src/main/java/com/google/devtools/build/lib/vfs/OutputPermissions.java
  src/test/java/com/google/devtools/build/lib/actions/ActionCacheCheckerTest.java
  src/test/java/com/google/devtools/build/lib/actions/cache/CompactPersistentActionCacheTest.java
  src/test/java/com/google/devtools/build/lib/exec/util/BUILD
  src/test/java/com/google/devtools/build/lib/exec/util/TestExecutorBuilder.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcherTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandlerTest.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_permissions_test.sh
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec

#17440 [6.1.0] Allow .wasm cc executable and dynamic library extension
  src/main/java/com/google/devtools/build/lib/rules/cpp/ArtifactCategory.java
Labels: team-Rules-CPP
