Repository bazelbuild/bazel, pull requests merged in 2023-03, with the labels that each got.

#17632 Apply exec transition to lcov_merge in sh_test and cc_test
  src/main/java/com/google/devtools/build/lib/bazel/rules/cpp/BazelCcTestRule.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/sh/BazelShTestRule.java
Labels: team-Rules-Server

#17718 [6.2.0]Skip empty directories instead of throwing in prefetcher.
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
Labels: team-Remote-Exec

#17724 [6.2.0] Remove actionId from RemoteFileArtifactValue.
  src/main/java/com/google/devtools/build/lib/actions/FileArtifactValue.java
  src/main/java/com/google/devtools/build/lib/actions/cache/CompactPersistentActionCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/test/java/com/google/devtools/build/lib/actions/ActionCacheCheckerTest.java
  src/test/java/com/google/devtools/build/lib/actions/cache/CompactPersistentActionCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandlerTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/FilesystemValueCheckerTest.java
Labels: team-Remote-Exec

#17735 [6.2.0] Correctly handle templated tree artifacts in the prefetcher.
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec

#17733 [6.2.0]Force the Bazel server Java runtime to use the root locale
  src/main/cpp/blaze.cc
Labels: team-Rules-CPP

#17745 [6.2.0] [credentialhelper] Ignore failing to provide request
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelper.java
Labels: team-Remote-Exec

#17744 [6.2.0] Fix data race in prefetcher.
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/testing/vfs/SpiedFileSystem.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
Labels: team-Remote-Exec

#17757 [6.1.1] Fix wasm dynamic library extension crash
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppFileTypes.java
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/StarlarkCcCommonTest.java
Labels: team-Rules-CPP, awaiting-review

#17467 [6.2.0]Add test coverage support to android_local_test
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/BazelAndroidLocalTest.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/BazelAndroidLocalTestRule.java
  src/main/java/com/google/devtools/build/lib/rules/android/AarImport.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidBinary.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidLocalTestBase.java
  src/main/java/com/google/devtools/build/lib/rules/android/ApkActionsBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/java/DeployArchiveBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaBinary.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchain.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchainProvider.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchainRule.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaToolchainStarlarkApiProviderApi.java
  src/test/java/com/google/devtools/build/lib/bazel/rules/android/BazelAndroidLocalTestTest.java
  src/test/shell/bazel/android/BUILD
  src/test/shell/bazel/android/android_local_test_integration_test.sh
Labels: team-Android

#17765 [6.2.0] Fix wasm dynamic library extension crash
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppFileTypes.java
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/StarlarkCcCommonTest.java
Labels: team-Rules-CPP, awaiting-review

#17760 [6.2.0]Handle `SIGWINCH` under `bazel run //some:test` (i.e. test rules) cor…
  tools/test/test-setup.sh
Labels: awaiting-review, team-CLI

#17770 [6.2.0]Clear all remote metadata if any of them are evicted from remote cache
  src/main/java/com/google/devtools/build/lib/actions/cache/ActionCache.java
  src/main/java/com/google/devtools/build/lib/actions/cache/CompactPersistentActionCache.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/LeaseService.java
  src/test/java/com/google/devtools/build/lib/actions/ActionCacheCheckerTest.java
  src/test/java/com/google/devtools/build/lib/actions/util/ActionCacheTestHelper.java
  src/test/java/com/google/devtools/build/lib/skyframe/TimestampBuilderTestCase.java
Labels: team-Remote-Exec, awaiting-review

#17818 [6.2.0] Allow WORKSPACE and WORKSPACE-loaded .bzl files to see Bzlmod root module's mappings
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryMapping.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/WorkspaceFileFunction.java
  src/test/java/com/google/devtools/build/lib/cmdline/RepositoryMappingTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/BUILD
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
Labels: team-ExternalDeps, awaiting-review

#17786 [6.2.0]Add support for alias targets to cquery's `providers`
  src/main/java/com/google/devtools/build/lib/analysis/ConfiguredTarget.java
  src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/AbstractConfiguredTarget.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/StarlarkOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/rules/AliasConfiguredTarget.java
  src/test/shell/integration/configured_query_test.sh
Labels: team-Configurability

#17823 [6.2.0] Allows --query_file to be used for cquery and aquery too.
  src/main/java/com/google/devtools/build/lib/query2/common/CommonQueryOptions.java
  src/main/java/com/google/devtools/build/lib/query2/query/output/QueryOptions.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/AqueryCommand.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/BUILD
  src/main/java/com/google/devtools/build/lib/runtime/commands/CqueryCommand.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/QueryEnvironmentBasedCommand.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/QueryOptionHelper.java
  src/test/shell/integration/aquery_test.sh
  src/test/shell/integration/configured_query_test.sh
Labels: team-Configurability, awaiting-review

#17830 [6.2.0]Fix seeking of empty chunkers.
  src/main/java/com/google/devtools/build/lib/remote/Chunker.java
  src/test/java/com/google/devtools/build/lib/remote/ChunkerTest.java
Labels: team-Remote-Exec, awaiting-review

#17832 [6.2.0]Rework ByteStreamUploader early return logic.
  src/main/java/com/google/devtools/build/lib/remote/ByteStreamUploader.java
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamUploaderTest.java
Labels: team-Remote-Exec, awaiting-review

#17855 [6.2.0]Suggest alternatives for typoed rule attribute names
  src/main/java/com/google/devtools/build/lib/packages/RuleClass.java
Labels: team-Configurability, awaiting-review

#17868 Relax JSON parser, ensure duplicate keys are overridden
  src/main/java/net/starlark/java/lib/json/Json.java
  src/test/java/net/starlark/java/eval/testdata/json.star
Labels: team-Starlark-Interpreter

#17869 [6.2.0]Use less subshells and `tee`s in running tests with `bazel run`.
  tools/test/test-setup.sh
Labels: awaiting-review, team-CLI

#17852 [6.2.0]Upgrade Azul JDK 17 archives.
  distdir_deps.bzl
Labels: team-Rules-Java

#17893 [6.2.0] Add native.module_{name,version}
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleHelper.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleHelperImpl.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Module.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Selection.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionUsagesFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionUsagesValue.java
  src/main/java/com/google/devtools/build/lib/packages/Package.java
  src/main/java/com/google/devtools/build/lib/packages/PackageFactory.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkNativeModule.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RegisteredExecutionPlatformsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RegisteredToolchainsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/AbstractPackageLoader.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BUILD
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkNativeModuleApi.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/FakeStarlarkNativeModuleApi.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleHelperTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/FakeBzlmodRepoRuleHelper.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/SelectionTest.java
  src/test/java/com/google/devtools/build/lib/packages/PackageTest.java
  src/test/java/com/google/devtools/build/lib/packages/RuleClassTest.java
  src/test/java/com/google/devtools/build/lib/packages/RuleFactoryTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/BUILD
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
Labels: team-ExternalDeps

#17926 Fail early if `use_extension` has a bad label
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
Labels: team-ExternalDeps, awaiting-review

#17930 [6.2.0]Avoid unnecessary copying when building Merkle trees.
  src/main/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTree.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/MerkleTree.java
  src/test/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTreeTest.java
Labels: team-Remote-Exec, awaiting-review

#17934 [6.2.0]Add `module_ctx.is_dev_dependency`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Tag.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/TypeCheckedTag.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodTestUtil.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/TypeCheckedTagTest.java
Labels: team-ExternalDeps, awaiting-review
