Repository bazelbuild/bazel, pull requests merged in 2023-12, with the labels that each got.

#20412 [7.0.0] BAZEL_CURRENT_REPOSITORY double escaped when using param files
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_library.bzl
  src/test/shell/bazel/cc_integration_test.sh
  tools/cpp/runfiles/runfiles_src.h
Labels: team-Rules-CPP, awaiting-review

#20424 [7.0.0] "Cannot get node id for DirectoryArtifactValue" on tree artifact containing symlink to directory + remote cache + BES
  src/main/java/com/google/devtools/build/lib/actions/ActionExecutedEvent.java
  src/main/java/com/google/devtools/build/lib/analysis/TargetCompleteEvent.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/BuildEvent.java
  src/main/java/com/google/devtools/build/lib/runtime/NamedArtifactGroup.java
  src/test/java/com/google/devtools/build/lib/analysis/TargetCompleteEventTest.java
Labels: team-Remote-Exec, awaiting-review

#20426 [7.0.0] Allow most forms of symlink inside a remotely produced tree artifact, matching a locally produced one.
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/shell/bazel/remote/remote_execution_test.sh
Labels: team-Remote-Exec, awaiting-review

#20427 [7.0.0] Don't follow symlinks when deleting test outputs
  tools/test/test-setup.sh
Labels: team-Remote-Exec, awaiting-review

#20429 [7.0.0] Experimental extend rule and subrule functionality
  src/main/java/com/google/devtools/build/lib/analysis/RuleConfiguredTargetBuilder.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleContext.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkSubrule.java
  src/main/java/com/google/devtools/build/lib/packages/BuildType.java
  src/main/java/com/google/devtools/build/lib/packages/RuleClass.java
  src/main/java/com/google/devtools/build/lib/packages/RuleFactory.java
  src/main/java/com/google/devtools/build/lib/packages/Type.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleFunctionsApi.java
  src/test/java/com/google/devtools/build/lib/analysis/config/transitions/NoConfigTransitionTest.java
  src/test/java/com/google/devtools/build/lib/analysis/starlark/StarlarkSubruleTest.java
  src/test/java/com/google/devtools/build/lib/packages/BuildTypeTest.java
  src/test/java/com/google/devtools/build/lib/packages/RuleClassTest.java
  src/test/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetQuerySemanticsTest.java
  src/test/java/com/google/devtools/build/lib/query2/cquery/TransitionsOutputFormatterTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/PostAnalysisQueryTest.java
  src/test/java/com/google/devtools/build/lib/starlark/BUILD
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
  src/test/shell/integration/starlark_configurations_test.sh
Labels: team-Configurability, awaiting-review, nice-to-have

#20430 [7.0.0] Give `WORKSPACE` toolchains and platforms precedence over non-root mo…
  site/en/external/migration.md
  src/main/java/com/google/devtools/build/lib/packages/Package.java
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceFactory.java
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceFactoryHelper.java
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceGlobals.java
  src/main/java/com/google/devtools/build/lib/skyframe/WorkspaceFileFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredExecutionPlatformsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredToolchainsFunction.java
  src/test/java/com/google/devtools/build/lib/analysis/mock/BazelAnalysisMock.java
  src/test/java/com/google/devtools/build/lib/packages/util/LoadingMock.java
  src/test/java/com/google/devtools/build/lib/repository/ExternalPackageHelperTest.java
  src/test/java/com/google/devtools/build/lib/rules/platform/ToolchainTestCase.java
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredExecutionPlatformsFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredToolchainsFunctionTest.java
Labels: team-Configurability, team-ExternalDeps, area-Bzlmod, awaiting-review

#20450 [7.0.0] Add more details to the warning message in --keep_going mode
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeErrorProcessor.java
  src/test/java/com/google/devtools/build/lib/analysis/BuildViewTest.java
  src/test/java/com/google/devtools/build/lib/buildtool/SkymeldBuildIntegrationTest.java
Labels: team-Performance, awaiting-review

#20472 [6.5.0] Don't pass --add-opens= to javac
  src/main/java/com/google/devtools/build/lib/rules/java/JavaInfoBuildHelper.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaCompileActionBuilderTest.java
Labels: team-Rules-Java

#20531 [6.5.0] Fix extraction of tar archives containing sparse files.
  src/test/py/bazel/bazel_external_repository_test.py
  src/test/py/bazel/testdata/bazel_external_repository_test/sparse_archive.tar
  third_party/BUILD
  third_party/apache_commons_compress/apache-commons-compress-1.19.jar
  third_party/apache_commons_compress/apache-commons-compress-1.20.jar
Labels: team-OSS

#20550 [6.5.0] RemoteSpawnRunner: record inbetween phases in timing profile
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
Labels: team-Remote-Exec, awaiting-review

#20549 [6.5.0] Add profiling to `remoteActionBuildingSemaphore.acquire()`
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
Labels: team-Remote-Exec, awaiting-review

#20594 [7.0.1] Consider MODULE.bazel for workspace detection in bazel.sh
  scripts/packages/bazel.sh
Labels: team-OSS, awaiting-review

#20590 [6.5.0] The label API shakeup & docs cleanup
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkNativeModule.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkNativeModuleApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleContextApi.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/FakeStarlarkNativeModuleApi.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
  src/test/java/com/google/devtools/build/lib/packages/util/MockPlatformSupport.java
Labels: team-ExternalDeps

#20602 [7.0.1] Auto-create deploy jars for Bazel `java_test` targets if requested
  src/main/java/com/google/devtools/build/lib/rules/java/JavaConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaConfigurationApi.java
  src/main/starlark/builtins_bzl/common/java/java_binary.bzl
Labels: team-Rules-Java, awaiting-review

#20611 [7.0.1] `java_binary` wrapper should forward `restricted_to`
  src/main/starlark/builtins_bzl/common/java/java_binary_wrapper.bzl
Labels: team-Rules-Java

#20609 [7.0.1] Mount user-specified bind mounts before Bazel's own magic.
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/test/shell/bazel/bazel_sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#20612 [7.0.1] Fix bootstrapped Bazel binary
  src/java_tools/buildjar/java/com/google/devtools/build/buildjar/BUILD
  src/test/shell/bazel/bazel_bootstrap_distfile_test.sh
Labels: team-ExternalDeps, area-Bzlmod, awaiting-review

#20625 [7.0.1] Attempt to make main repo mapping inverse more efficient
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryMapping.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingValue.java
Labels: team-ExternalDeps, awaiting-review

#20636 Modify the error message that occurs when a requested target does not…
  src/main/java/com/google/devtools/build/lib/packages/BUILD
  src/main/java/com/google/devtools/build/lib/packages/Package.java
  src/main/java/com/google/devtools/build/lib/packages/TargetSuggester.java
  src/main/java/net/starlark/java/spelling/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/BuildViewTest.java
  src/test/java/com/google/devtools/build/lib/packages/ExportsFilesTest.java
  src/test/java/com/google/devtools/build/lib/packages/PackageFactoryTest.java
  src/test/java/com/google/devtools/build/lib/packages/TargetSuggesterTest.java
  src/test/java/com/google/devtools/build/lib/pkgcache/BUILD
  src/test/java/com/google/devtools/build/lib/pkgcache/CompileOneDependencyTransformerTest.java
  src/test/java/com/google/devtools/build/lib/pkgcache/PackageLoadingTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/AbstractQueryTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/PostAnalysisQueryTest.java
  src/test/java/com/google/devtools/build/lib/testutil/TestUtils.java
Labels: team-Configurability, awaiting-review

#20673 [Please ignore] Lockfile testing. This is for automation testing.
  .github/workflows/update-lockfiles.yml
Labels: updatelock

#20674 [Please ignore] Lockfile testing
  .github/workflows/update-lockfiles.yml
Labels: updatelock
