Repository bazelbuild/bazel, pull requests merged in 2023-10, with the labels that each got.

#19683 [6.4.0] Remove stale extension entries from lockfile
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionUsage.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Tag.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#19694 [6.4.0] Keep leading zero in formatted date
  src/main/java/com/google/devtools/build/lib/bazel/BazelWorkspaceStatusModule.java
Labels: team-OSS

#19689 [6.4.0] Consider RCs equivalent to release for `bazel_compatibility`
  src/main/java/com/google/devtools/build/lib/bazel/BazelVersion.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
Labels: team-ExternalDeps

#19675 [6.4.0] Use `Label` in `@bazel_tools//tools/jdk` macros
  tools/jdk/default_java_toolchain.bzl
  tools/jdk/local_java_repository.bzl
Labels: team-Rules-Java, awaiting-review

#19730 [6.4.0] Remove stale extension entries from lockfile if module order changes
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionUsage.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionUsagesValue.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps

#19701 [6.4.0] Update rules_java 5.5.1
  MODULE.bazel
  distdir_deps.bzl
  src/MODULE.tools
  src/test/shell/bazel/bazel_rules_java_test.sh
Labels: team-Rules-Java

#19735 [6.4.0] Fix Java compilation for jdk21
  tools/jdk/DumpPlatformClassPath.java
Labels: team-Rules-Java, awaiting-review

#19738 Keep leading zero in formatted date
  src/main/java/com/google/devtools/build/lib/bazel/BazelWorkspaceStatusModule.java
Labels: awaiting-review

#19739 [6.4.0] Fix output materialized as symlink when building without the bytes.
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
Labels: team-Remote-Exec, awaiting-PR-merge

#19747 Bazel release process: Fix broken "git push" by setting direct push j…
  scripts/release/release.sh
Labels: awaiting-review

#19748 [6.4.0] Make lockfile's `RepoSpec` attributes more readable
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/AttributeValuesAdapter.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/AttributeValuesAdapterTest.java
Labels: team-ExternalDeps

#19745 Merge rule and aspect validation output groups
  src/main/java/com/google/devtools/build/lib/analysis/OutputGroupInfo.java
  src/test/shell/integration/validation_actions_test.sh
Labels: team-Core, awaiting-review

#19754 Bazel release process: Fix push justification.
  scripts/release/release.sh
Labels: awaiting-review

#19765 [6.4.0] Fix handling of non-ASCII characters in archive entry file names
  src/main/java/com/google/devtools/build/lib/bazel/repository/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/CompressedTarFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/DecompressorDescriptor.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/DecompressorValue.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/StripPrefixedPath.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/ZipDecompressor.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/StripPrefixedPathTest.java
  src/test/shell/bazel/bazel_workspaces_test.sh
Labels: team-ExternalDeps, awaiting-review

#19764 Raise an early error on invalid labels in transitions inputs/outputs
  src/main/java/com/google/devtools/build/lib/rules/config/ConfigGlobalLibrary.java
  src/test/java/com/google/devtools/build/lib/rules/LabelBuildSettingTest.java
Labels: team-Configurability, awaiting-review

#19768 [6.4.0] Bazel release process: Fix push justification.
  scripts/release/release.sh
Labels: team-OSS, awaiting-review

#19751 [6.4.0] Flip --experimental_cc_implementation_deps
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppOptions.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcLibraryConfiguredTargetTest.java
Labels: team-Rules-CPP, awaiting-review

#19827 [6.4.0] Fix crash when `environ` contains duplicate entries
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidNdkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidSdkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionEnvironmentFunction.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#19794 [6.4.0] Bump c++ standard to c++14 per default
  tools/cpp/bsd_cc_toolchain_config.bzl
  tools/cpp/unix_cc_configure.bzl
  tools/cpp/windows_cc_toolchain_config.bzl
Labels: team-Rules-CPP

#19836 [6.4.0] Collect debug info context from implementation deps
  src/main/starlark/builtins_bzl/common/cc/cc_library.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcLibraryConfiguredTargetTest.java
Labels: team-Rules-CPP

#19848 [6.4.0] Fix unconditional Skyframe invalidation with --lockfile_mode=update
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
Labels: team-Configurability

#19849 Update CODEOWNERS for 7.0.0
  CODEOWNERS
Labels: team-OSS, awaiting-review

#19855 [7.0.0] Automatically add function transition allow list when needed
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/packages/FunctionSplitTransitionAllowlist.java
  src/main/java/com/google/devtools/build/lib/packages/RuleClass.java
  src/test/java/com/google/devtools/build/lib/analysis/StarlarkRuleTransitionProviderTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkIntegrationTest.java
Labels: awaiting-review, team-Rules-API

#19857 [7.0.0] Fix Bash runfiles calling repository lookup for directly run scripts
  src/test/shell/bazel/bazel_rules_test.sh
  tools/bash/runfiles/runfiles.bash
Labels: team-Configurability, awaiting-review

#19865 [7.0.0] Drop testing on ubuntu 1804 (JDK 11) and add testing on ubuntu 2204 (JDK 17)
  .bazelci/build_bazel_binaries.yml
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  src/java_tools/buildjar/java/com/google/devtools/build/buildjar/VanillaJavaBuilder.java
  src/main/java/com/google/devtools/build/lib/skyframe/serialization/BUILD
  src/main/java/com/google/devtools/build/lib/unsafe/BUILD
Labels: team-Rules-Java, awaiting-review

#19868 [7.0.0] Upgrade to rbe_ubuntu2004
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  .bazelrc
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  rbe_extension.bzl
Labels: awaiting-review

#19862 [7.0.0] ByteStreamBuildEventArtifactUploader: Treat test directory outputs like other directory outputs.
  src/main/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploader.java
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploaderTest.java
Labels: team-Remote-Exec

#19875 [7.0.0] Make C++ toolchain an optional dependency of `java_binary`
  src/main/starlark/builtins_bzl/bazel/java/bazel_java_binary.bzl
  src/main/starlark/builtins_bzl/bazel/java/bazel_java_binary_deploy_jar.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/main/starlark/builtins_bzl/common/java/java_binary.bzl
  src/main/starlark/builtins_bzl/common/java/java_binary_deploy_jar.bzl
  src/main/starlark/builtins_bzl/common/java/java_helper.bzl
  src/test/java/com/google/devtools/build/lib/packages/util/Crosstool.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_java_test_defaults.sh
Labels: team-Rules-Java

#19871 [7.0.0] Build `java_tools` release with `-c opt`
  src/upload_all_java_tools.sh
Labels: team-Rules-Java

#19893 Add force fetch option
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/FetchCommand.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/FetchOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/SyncCommand.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/fetch.txt
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BazelPackageLoader.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestCase.java
  src/test/java/com/google/devtools/build/lib/analysis/util/ConfigurationTestCase.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/buildtool/util/BuildIntegrationTestCase.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/SkyframeQueryHelper.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/AbstractCollectPackagesUnderDirectoryTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ContainingPackageLookupFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/FileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/PackageLookupFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_fetch_test.py
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#19899 [7.0.0] Lift single file restriction of Starlark java_toolchain.oneversion.
  src/main/starlark/builtins_bzl/common/java/java_toolchain.bzl
Labels: team-Starlark-Integration, awaiting-review

#19900 [7.0.0] Fix Java runtime toolchain resolution in cross-compilation scenarios
  .bazelrc
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  distdir_deps.bzl
  src/BUILD
  src/MODULE.tools
  src/test/java/com/google/devtools/build/android/dexer/BUILD
  src/test/py/bazel/test_base.py
  src/test/shell/bazel/bazel_java17_test.sh
  src/test/shell/bazel/bazel_java_test_defaults.sh
  src/test/shell/bazel/bazel_with_jdk_test.sh
  src/test/shell/integration/bazel_java_test.sh
  src/test/shell/testenv.sh.tmpl
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/jdk/local_java_repository.bzl
  tools/jdk/remote_java_repository.bzl
Labels: team-Rules-Java, awaiting-review

#19906 [7.0.0] update to platforms/0.0.8
  MODULE.bazel
  MODULE.bazel.lock
  distdir_deps.bzl
Labels: team-Configurability, awaiting-review

#19957 [7.0.0] Improve toolchain resolution debug logging
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/SingleToolchainResolutionFunction.java
  src/test/shell/integration/toolchain_test.sh
Labels: awaiting-PR-merge

#19976 [7.0.0] Deduplicate SpawnExecutionContext test double.
  src/test/java/com/google/devtools/build/lib/exec/local/BUILD
  src/test/java/com/google/devtools/build/lib/exec/local/LocalSpawnRunnerTest.java
  src/test/java/com/google/devtools/build/lib/sandbox/SpawnRunnerTestUtil.java
Labels: team-Remote-Exec

#19984 [7.0.0] Execlog parser should output each action's digest
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/actions/SpawnResult.java
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/SpawnCache.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnRunner.java
  src/main/java/com/google/devtools/build/lib/exec/local/LocalSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionContextProvider.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/util/BUILD
  src/main/java/com/google/devtools/build/lib/remote/util/DigestUtil.java
  src/main/java/com/google/devtools/build/lib/remote/util/Utils.java
  src/main/java/com/google/devtools/build/lib/sandbox/AbstractSandboxSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategyTest.java
  src/test/java/com/google/devtools/build/lib/exec/StandaloneTestStrategyTest.java
  src/test/java/com/google/devtools/build/lib/exec/util/BUILD
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerWithGrpcRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/remote/util/BUILD
  src/test/java/com/google/devtools/build/lib/remote/util/FakeSpawnExecutionContext.java
  src/test/java/com/google/devtools/build/lib/sandbox/BUILD
  src/test/java/com/google/devtools/build/lib/sandbox/SpawnRunnerTestUtil.java
  src/test/shell/bazel/bazel_execlog_test.sh
Labels: team-Remote-Exec, awaiting-review

#19995 [7.0.0] ijar: Widen some size types.
  third_party/ijar/zip_main.cc
Labels: team-Rules-Java, awaiting-review

#20004 [7.0.0] Fix crash when looking up tree metadata while prefetching the output of an action template expansion.
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-review

#20010 [7.0.0] `JavaInfo` can no longer be stored in `depset`
  src/main/java/com/google/devtools/build/lib/rules/java/JavaGenJarsProvider.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaModuleFlagsProvider.java
Labels: team-Rules-Java

#19986 [7.0.0] 'required_providers' for an aspect does not always work together with the 'aspects' requirement on rule attributes
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_binary_attrs.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_binary_with_aspects.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_binary_without_aspects.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_binary_wrapper.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_shared_library.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_test.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_test_with_aspects.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_test_without_aspects.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_test_wrapper.bzl
  src/main/starlark/builtins_bzl/common/exports.bzl
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkIntegrationTest.java
Labels: team-Rules-API
