Repository bazelbuild/bazel, pull requests merged in 2023-04, with the labels that each got.

#17913 [6.2.0] Add version to JavaRuntimeInfo
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/BazelJavaSemantics.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/jdk.WORKSPACE.tmpl
  src/main/java/com/google/devtools/build/lib/rules/java/JavaRuntime.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaRuntimeInfo.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaRuntimeRule.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaRuntimeInfoApi.java
  src/test/java/com/google/devtools/build/lib/analysis/mock/BazelAnalysisMock.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaRuntimeInfoTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/packages/BazelPackageLoaderTest.java
  src/test/py/bazel/query_test.py
  src/test/shell/bazel/starlark_repository_test.sh
  tools/jdk/BUILD
  tools/jdk/BUILD.tools
  tools/jdk/jdk_build_file.bzl
  tools/jdk/local_java_repository.bzl
  tools/jdk/remote_java_repository.bzl
Labels: team-Rules-Java, awaiting-review

#17969 Fix CI breakages for release-6.2.0
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
Labels: team-OSS, awaiting-review

#17957 [6.2.0]Enable C++ deps pruning on Windows when PARSE_SHOWINCLUDES is available.
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileActionBuilder.java
Labels: team-Rules-CPP

#17945 [6.2.0] TargetPattern parsing fixes
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/main/java/com/google/devtools/build/lib/cmdline/LabelParser.java
  src/main/java/com/google/devtools/build/lib/cmdline/PackageIdentifier.java
  src/main/java/com/google/devtools/build/lib/cmdline/TargetPattern.java
  src/test/java/com/google/devtools/build/lib/cmdline/LabelParserTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/TargetPatternTest.java
  src/test/java/com/google/devtools/build/lib/pkgcache/LoadingPhaseRunnerTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/AbstractQueryTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/WorkspaceFileFunctionTest.java
  src/test/shell/integration/loading_phase_test.sh
  src/test/shell/integration/toolchain_test.sh
Labels: team-ExternalDeps, awaiting-review

#17979 [6.2.0]Add attribute 'provides = [CcInfo]' to '_cc_proto_aspect'
  src/main/starlark/builtins_bzl/common/cc/cc_proto_library.bzl
Labels: team-Rules-CPP, awaiting-review

#17986 Pin Bazel version to 5.4.0
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  .bazelversion
  BUILD
Labels: team-OSS

#17977 [5.4.1]Bump minimum supported macOS versions to 10.13
  scripts/bootstrap/compile.sh
  tools/cpp/osx_cc_configure.bzl
  tools/osx/BUILD
  tools/osx/xcode_configure.bzl
Labels: team-OSS

#17996 [5.4.1]Patch zlib to fix compatibility with latest Xcode
  third_party/zlib/gzguts.h
  third_party/zlib/zlib.patch
Labels: team-OSS, awaiting-review

#17998 [6.2.0]Cache Merkle trees for tree artifacts.
  src/main/java/com/google/devtools/build/lib/exec/SpawnInputExpander.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
Labels: team-Remote-Exec, awaiting-review

#18015 [6.2.0] Deduplicate concurrent computations of the same Merkle tree.
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
Labels: team-Remote-Exec, awaiting-review

#18000 [6.2.0] Patch zlib to fix compatibility with latest Xcode
  third_party/zlib/gzguts.h
  third_party/zlib/zlib.patch
Labels: team-OSS, awaiting-review

#18045 [6.1.2] Bazel CI: Temporarily disable GitRepositoryBlackBoxTest
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
Labels: team-OSS, awaiting-review

#18046 [4.2.4] Disable some failing tests
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
Labels: team-OSS, awaiting-review

#18041 [4.2.4]Patch zlib to fix compatibility with latest Xcode
  third_party/zlib/gzguts.h
  third_party/zlib/zlib.patch
Labels: team-OSS

#18047 [4.2.4] Bump minimum supported macOS versions to 10.13
  scripts/bootstrap/compile.sh
  tools/cpp/osx_cc_configure.bzl
  tools/osx/BUILD
  tools/osx/xcode_configure.bzl
Labels: team-OSS

#18048 Update CODEOWNERS
  CODEOWNERS
Labels: team-OSS

#18067 [6.2.0]Add exception message to 'failed to create output directory'
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
Labels: team-Remote-Exec, awaiting-review

#18062 [6.2.0]Prevent failures creating output directories
  src/main/java/com/google/devtools/build/lib/skyframe/ActionOutputDirectoryHelper.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
Labels: team-Remote-Exec, awaiting-review

#18066 [6.2.0]Allow multiple matching select branches if they resolve to the same value.
  site/en/configure/attributes.md
  site/en/docs/configurable-attributes.md
  src/main/java/com/google/devtools/build/docgen/templates/be/functions.vm
  src/main/java/com/google/devtools/build/lib/packages/ConfiguredAttributeMapper.java
  src/test/java/com/google/devtools/build/lib/analysis/ConfigurableAttributesTest.java
Labels: team-Configurability, awaiting-review

#18101 [6.1.2] Use ctime in file digest cache key
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandler.java
  src/main/java/com/google/devtools/build/lib/unix/UnixFileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/DigestUtils.java
  src/main/java/com/google/devtools/build/lib/vfs/FileStatus.java
  src/main/java/com/google/devtools/build/lib/vfs/inmemoryfs/InMemoryContentInfo.java
  src/main/java/com/google/devtools/build/lib/windows/WindowsFileOperations.java
  src/main/java/com/google/devtools/build/lib/windows/WindowsFileSystem.java
  src/main/native/windows/file-jni.cc
  src/main/native/windows/file.cc
  src/main/native/windows/file.h
  src/test/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandlerTest.java
  src/test/shell/integration/execution_phase_tests.sh
  src/test/shell/integration/loading_phase_test.sh
Labels: team-ExternalDeps, team-Core, awaiting-review

#18105 [6.2.0] Use ctime in file digest cache key
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandler.java
  src/main/java/com/google/devtools/build/lib/unix/UnixFileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/DigestUtils.java
  src/main/java/com/google/devtools/build/lib/vfs/FileStatus.java
  src/main/java/com/google/devtools/build/lib/vfs/inmemoryfs/InMemoryContentInfo.java
  src/main/java/com/google/devtools/build/lib/windows/WindowsFileOperations.java
  src/main/java/com/google/devtools/build/lib/windows/WindowsFileSystem.java
  src/main/native/windows/file-jni.cc
  src/main/native/windows/file.cc
  src/main/native/windows/file.h
  src/test/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandlerTest.java
  src/test/shell/integration/execution_phase_tests.sh
  src/test/shell/integration/loading_phase_test.sh
Labels: team-ExternalDeps, team-Core, awaiting-review

#18106 [6.2.0] Gracefully handle output symlinks with BwoB
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-review

#18123 [5.4.1] Disable failing tests
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  src/test/shell/bazel/BUILD
Labels: team-OSS

#18133 [6.2.0] fix(python): Set envvar for runfiles manifest, not runfiles dir, when using a manifest
  src/main/java/com/google/devtools/build/lib/bazel/rules/python/python_stub_template.txt
Labels: team-Rules-Python, awaiting-review

#18135 Add attribute validation to IncompatibleTargetChecker.
  src/main/java/com/google/devtools/build/lib/analysis/constraints/IncompatibleTargetChecker.java
  src/main/java/com/google/devtools/build/lib/packages/ConfiguredAttributeMapper.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/ConfiguredTargetFunction.java
  src/test/shell/integration/target_compatible_with_test.sh
Labels: team-Configurability

#18149 [6.2.0] Update CODEOWNERS
  CODEOWNERS
Labels: team-OSS

#17965 [6.2.0]Fix worker and multiplex workers for DexBuilder and Desugar actions
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRulesModule.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/android/DexArchiveAspect.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/android/AndroidConfigurationApi.java
  src/test/shell/bazel/android/desugarer_integration_test.sh
  tools/android/BUILD.tools
Labels: team-Android

#18061 [6.2.0]Allow remote retry max delay to be user configurable
  src/main/java/com/google/devtools/build/lib/remote/RemoteRetrier.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
Labels: team-Remote-Exec, awaiting-review

#18174 Add `module_ctx.extension_metadata`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/DelegateTypeAdapterFactory.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Module.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionUsage.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModuleTest.java
Labels: team-ExternalDeps

#18185 [6.2.0] Include cause when reporting `ActionExecutionException`
  src/main/java/com/google/devtools/build/lib/actions/ActionExecutionException.java
  src/test/java/com/google/devtools/build/lib/actions/ActionExecutionExceptionTest.java
  src/test/java/com/google/devtools/build/lib/actions/BUILD
Labels: team-Performance, awaiting-review

#18186 [6.2.0] Check for the nullness of AspectValue.
  src/main/java/com/google/devtools/build/lib/query2/aquery/ConfiguredTargetValueAccessor.java
  src/main/java/com/google/devtools/build/lib/skyframe/actiongraph/v2/ActionGraphDump.java
Labels: team-Performance, awaiting-review

#18193 [6.2.0] Rename `--experimental_remote_grpc_log` to `--remote_grpc_log`
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
Labels: team-Remote-Exec, awaiting-review

#18197 [6.2.0] Update java_tools v12.1
  MODULE.bazel
  WORKSPACE
  distdir_deps.bzl
  src/BUILD
  src/MODULE.tools
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/jdk.WORKSPACE.tmpl
  src/test/py/bazel/test_base.py
  src/test/shell/bazel/bazel_coverage_java_test.sh
  src/test/shell/bazel/bazel_java17_test.sh
  src/test/shell/bazel/bazel_java_test.sh
  src/test/shell/bazel/testdata/BUILD
  src/test/shell/bazel/testdata/jdk_http_archives.tmpl
  src/test/shell/testenv.sh.tmpl
  tools/jdk/BUILD.tools
Labels: team-Rules-Java, awaiting-review

#18194 [6.2.0] Construct TreeArtifactValues on multiple threads.
  src/main/java/com/google/devtools/build/lib/skyframe/ActionMetadataHandler.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/FilesystemValueChecker.java
  src/main/java/com/google/devtools/build/lib/skyframe/TreeArtifactValue.java
  src/test/java/com/google/devtools/build/lib/actions/ActionCacheCheckerTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactValueTest.java
Labels: team-Remote-Exec

#18226 [6.2.0] Fix crash on multiple output symlinks with BwoB
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-review

#18225 [6.2.0] default_java_toolchain.bzl cherry-picks to fix regression
  tools/jdk/default_java_toolchain.bzl
Labels: team-Rules-Java, awaiting-review

#18257 [6.2.0] Fix message generation of `ActionExecutionException`
  src/main/java/com/google/devtools/build/lib/actions/ActionExecutionException.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
  src/test/java/com/google/devtools/build/lib/actions/ActionExecutionExceptionTest.java
  src/test/java/com/google/devtools/build/lib/actions/BUILD
Labels: team-Performance, awaiting-review

#18259 [6.2.0] Add `dev_dependency` to `register_{execution_platforms,toolchains}`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/test/java/com/google/devtools/build/lib/skyframe/RegisteredExecutionPlatformsFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RegisteredToolchainsFunctionTest.java
Labels: team-ExternalDeps, awaiting-review
