Repository bazelbuild/bazel, pull requests merged in 2024-10, with the labels that each got.

#23818 [7.4.0] Allow decompression of nupkg
  src/main/java/com/google/devtools/build/lib/bazel/repository/DecompressorValue.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/DecompressorValueTest.java
Labels: team-ExternalDeps, awaiting-review

#23819 [7.4.0] Don't HTML escape `bazel mod` JSON output
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/JsonOutputFormatter.java
Labels: team-ExternalDeps, awaiting-review

#23825 [7.4.0] Declare the compact execution log format to be stable.
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/main/java/com/google/devtools/build/lib/exec/ExecutionOptions.java
Labels: team-Remote-Exec, awaiting-review

#23826 [7.4.0] Update https://bazel.build/remote/cache-remote in light of recent improvements.
  site/en/remote/cache-remote.md
Labels: team-Remote-Exec, team-Documentation, awaiting-review

#23833 [7.4.0] Implement disk cache garbage collection.
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  site/en/remote/caching.md
  src/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/disk/BUILD
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheGarbageCollector.java
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheGarbageCollectorIdleTask.java
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheLock.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
  src/test/java/com/google/devtools/build/lib/remote/disk/BUILD
  src/test/java/com/google/devtools/build/lib/remote/disk/DiskCacheGarbageCollectorTest.java
  src/test/java/com/google/devtools/build/lib/remote/disk/DiskCacheLockTest.java
  src/test/java/com/google/devtools/build/lib/remote/disk/ExternalLock.java
  src/test/java/com/google/devtools/build/lib/remote/disk/ExternalLockHelper.java
  src/test/shell/bazel/disk_cache_test.sh
  src/test/shell/integration/validation_actions_test.sh
  src/test/shell/unittest.bash
  src/tools/diskcache/BUILD
  src/tools/diskcache/Gc.java
  src/tools/diskcache/README.md
Labels: team-Performance, awaiting-review

#23824 [7.4.0] Teach ExecLogParser how to parse all three execution log formats.
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogReconstructor.java
  src/tools/execlog/README.md
  src/tools/execlog/src/main/java/com/google/devtools/build/execlog/BUILD
  src/tools/execlog/src/main/java/com/google/devtools/build/execlog/ExecLogParser.java
  src/tools/execlog/test/main/java/com/google/devtools/build/execlog/BUILD
  src/tools/execlog/test/main/java/com/google/devtools/build/execlog/ExecLogParserTest.java
Labels: team-Remote-Exec, awaiting-review

#23877 [7.4.0] Support %workspace% in execution log paths
  src/main/java/com/google/devtools/build/lib/bazel/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/test/shell/bazel/bazel_execlog_test.sh
Labels: team-Configurability, awaiting-review, team-CLI

#23895 Update CODEOWNERS for 8.0.0
  CODEOWNERS
Labels: team-OSS, awaiting-review

#23902 [8.0.0] Rollback of commit 2127e45
  src/main/cpp/option_processor.cc
  src/main/java/com/google/devtools/build/lib/analysis/Project.java
  src/main/java/com/google/devtools/build/lib/buildtool/AnalysisPhaseRunner.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildRequest.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildTool.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/config/FlagSetFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/config/FlagSetValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/serialization/ImmutableSetCodec.java
  src/main/java/com/google/devtools/build/lib/testing/common/FakeOptions.java
  src/main/java/com/google/devtools/common/options/GlobalRcUtils.java
  src/main/java/com/google/devtools/common/options/OptionsParser.java
  src/main/java/com/google/devtools/common/options/OptionsProvider.java
  src/test/java/com/google/devtools/build/lib/buildtool/util/BlazeRuntimeWrapper.java
  src/test/java/com/google/devtools/build/lib/skyframe/config/FlagSetsFunctionTest.java
  src/test/java/com/google/devtools/common/options/OptionsParserTest.java
  src/test/shell/integration/BUILD
  src/test/shell/integration/flagset_test.sh
Labels: team-Configurability, awaiting-review

#23796 [7.4.0] Create writable dirs under hermetic tmp in the sandbox
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/test/shell/integration/sandboxing_test.sh
Labels: team-Local-Exec, awaiting-PR-merge

#23900 [7.4.0] Add `--incompatible_no_implicit_watch_label`
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContextTest.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#23906 [7.4.0] Cherrypick --incompatible_autoload_externally implementation
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/packages/AutoloadSymbols.java
  src/main/java/com/google/devtools/build/lib/packages/BUILD
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/query2/BUILD
  src/main/java/com/google/devtools/build/lib/repository/BUILD
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/java/BUILD
  src/main/java/com/google/devtools/build/lib/rules/platform/BUILD
  src/main/java/com/google/devtools/build/lib/rules/starlarkdocextract/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BzlCompileFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoCycleReporter.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/StarlarkBuiltinsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/StarlarkBuiltinsValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/AbstractPackageLoader.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/BUILD
  src/main/java/com/google/devtools/build/lib/vfs/BUILD
  src/main/java/com/google/devtools/build/skyframe/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/util/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/test/java/com/google/devtools/build/lib/packages/BUILD
  src/test/java/com/google/devtools/build/lib/rules/android/BUILD
  src/test/java/com/google/devtools/build/lib/rules/repository/BUILD
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/serialization/BUILD
  src/test/shell/integration/BUILD
  src/test/shell/integration/load_removed_symbols_test.sh
Labels: team-Configurability, team-ExternalDeps, team-Rules-Java, awaiting-review

#23919 [7.4.0] Automatically ignore vendor dir for finding packages
  bazel_downloader.cfg
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/IgnoredPackagePrefixesFunction.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestCase.java
  src/test/java/com/google/devtools/build/lib/packages/util/PackageLoadingTestCase.java
  src/test/java/com/google/devtools/build/lib/pkgcache/IncrementalLoadingTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/GlobFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_vendor_test.py
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#23920 [8.0.0] Update `rules_java` `v8.1.0`
  MODULE.bazel
  MODULE.bazel.lock
  site/en/docs/user-manual.md
  src/MODULE.tools
  src/test/java/com/google/devtools/build/lib/packages/util/MockProtoSupport.java
  src/test/shell/integration/discard_graph_edges_test.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-Documentation, awaiting-review

#23910 [7.4.0] Allow `rules_shell` to use private APIs
  src/main/java/com/google/devtools/build/lib/packages/BuiltinRestriction.java
Labels: awaiting-review

#23911 [7.4.0] Do no crash if a requested resource is not available
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/actions/ResourceManager.java
  src/main/protobuf/failure_details.proto
  src/test/java/com/google/devtools/build/lib/actions/ResourceManagerTest.java
Labels: team-Performance

#23904 [7.4.0] Add conlyopts and cxxopts attributes to cc rules
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/cpp/CcModuleApi.java
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_binary_attrs.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_common.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_library.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CompileBuildVariablesTest.java
Labels: team-Rules-CPP, awaiting-review

#23912 [7.4.0] Allow all characters in runfile source and target paths
  src/main/java/com/google/devtools/build/lib/analysis/SourceManifestAction.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeOptionHandler.java
  src/main/protobuf/failure_details.proto
  src/main/tools/build-runfiles-windows.cc
  src/main/tools/build-runfiles.cc
  src/test/java/com/google/devtools/build/lib/analysis/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/SourceManifestActionTest.java
  src/test/shell/bazel/bazel_determinism_test.sh
  src/test/shell/bazel/workspace_test.sh
  src/test/shell/integration/runfiles_test.sh
  tools/bash/runfiles/runfiles.bash
  tools/bash/runfiles/runfiles_test.bash
  tools/cpp/runfiles/runfiles_src.cc
  tools/cpp/runfiles/runfiles_test.cc
  tools/java/runfiles/Runfiles.java
  tools/java/runfiles/testing/RunfilesTest.java
Labels: team-Configurability, team-Rules-Java, team-Rules-CPP, awaiting-review

#23853 [7.4.0] Heuristically path map copts and defines
  src/main/java/com/google/devtools/build/lib/actions/PathMapper.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/StrippingPathMapper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainVariables.java
  src/test/shell/bazel/path_mapping_test.sh
Labels: team-Rules-CPP, awaiting-review

#23862 [7.4.0] Cherry pick install_name and soname features
  tools/cpp/unix_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#23922 Trim Workspace Status values
  src/main/java/com/google/devtools/build/lib/bazel/BazelWorkspaceStatusModule.java
Labels: awaiting-review

#23940 [8.0.0] Add additional_compiler_inputs support to local_defines/defines
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcLibraryConfiguredTargetTest.java
Labels: team-Rules-CPP

#23942 [7.4.0] Update embedded JDKs to latest patch release
  bazel_downloader.cfg
  repositories.bzl
Labels: team-Rules-Java, awaiting-review

#23944 [7.4.0] Mark `cc_static_library` as experimental in docs
  src/main/starlark/builtins_bzl/common/cc/experimental_cc_static_library.bzl
Labels: awaiting-review

#23941 [7.4.0] Make repo marker file parsing robust to version changes
  src/main/java/com/google/devtools/build/lib/rules/repository/RepoRecordedInput.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PrecomputedValue.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#23938 [7.4.0] Add `override_repo` and `inject_repo`
  site/en/external/extension.md
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionEvalStarlarkThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionRepoMappingEntriesFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionUsage.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegularRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionUsagesFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionUsagesValue.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModuleTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModExecutorTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkDefinedAspectsTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/testutil/BUILD
  src/test/java/com/google/devtools/build/lib/testutil/FoundationTestCase.java
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, team-Documentation, awaiting-review

#23947 [8.0.0] Fix version resolution in `AutoloadSymbols`
  src/main/java/com/google/devtools/build/lib/packages/AutoloadSymbols.java
Labels: awaiting-review

#23943 [8.0.0] Update embedded JDKs to latest patch release
  bazel_downloader.cfg
  repositories.bzl
Labels: team-Rules-Java, awaiting-review

#23971 [8.0.0] Expose required symbols for migrating the remaining java rules code out of Bazel
  src/main/starlark/builtins_bzl/common/java/java_common.bzl
Labels: awaiting-review

#23974 [7.4.0] Fix version resolution in AutoloadSymbols
  src/main/java/com/google/devtools/build/lib/packages/AutoloadSymbols.java
Labels: awaiting-review, team-Rules-API

#23979 [7.4.0] Expose required symbols for migrating the remaining java rules code out of Bazel
  src/main/starlark/builtins_bzl/common/java/java_common.bzl
Labels: awaiting-review

#23999 Lberki cherrypick 8.0.0 ignored subdirectories
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/buildtool/SymlinkForest.java
  src/main/java/com/google/devtools/build/lib/cmdline/BUILD
  src/main/java/com/google/devtools/build/lib/cmdline/IgnoredSubdirectories.java
  src/main/java/com/google/devtools/build/lib/cmdline/TargetPattern.java
  src/main/java/com/google/devtools/build/lib/cmdline/TargetPatternResolver.java
  src/main/java/com/google/devtools/build/lib/packages/GlobCache.java
  src/main/java/com/google/devtools/build/lib/packages/PackageFactory.java
  src/main/java/com/google/devtools/build/lib/packages/producers/DirectoryDirentProducer.java
  src/main/java/com/google/devtools/build/lib/packages/producers/GlobComputationProducer.java
  src/main/java/com/google/devtools/build/lib/pkgcache/RecursivePackageProvider.java
  src/main/java/com/google/devtools/build/lib/query2/PostAnalysisQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/query2/SkyQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/CollectPackagesUnderDirectoryFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/CollectPackagesUnderDirectoryValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/DiffAwareness.java
  src/main/java/com/google/devtools/build/lib/skyframe/DiffAwarenessManager.java
  src/main/java/com/google/devtools/build/lib/skyframe/EnvironmentBackedRecursivePackageProvider.java
  src/main/java/com/google/devtools/build/lib/skyframe/GlobFunctionWithMultipleRecursiveFunctions.java
  src/main/java/com/google/devtools/build/lib/skyframe/GlobFunctionWithRecursionInSingleFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/GlobsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/GraphBackedRecursivePackageProvider.java
  src/main/java/com/google/devtools/build/lib/skyframe/IgnoredPackagePrefixesValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/IncrementalPackageRoots.java
  src/main/java/com/google/devtools/build/lib/skyframe/LocalDiffAwareness.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageLookupFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PrepareDepsOfPatternFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PrepareDepsOfTargetsUnderDirectoryValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/ProcessPackageDirectory.java
  src/main/java/com/google/devtools/build/lib/skyframe/RecursiveDirectoryTraversalFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RecursivePackageProviderBackedTargetPatternResolver.java
  src/main/java/com/google/devtools/build/lib/skyframe/RecursivePkgFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RecursivePkgKey.java
  src/main/java/com/google/devtools/build/lib/skyframe/RecursivePkgSkyKey.java
  src/main/java/com/google/devtools/build/lib/skyframe/RecursivePkgValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/RecursivePkgValueRootPackageExtractor.java
  src/main/java/com/google/devtools/build/lib/skyframe/RootPackageExtractor.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeTargetPatternEvaluator.java
  src/main/java/com/google/devtools/build/lib/skyframe/TargetPatternFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/TraversalInfoRootPackageExtractor.java
  src/main/java/com/google/devtools/build/lib/skyframe/WatchServiceDiffAwareness.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContextTest.java
  src/test/java/com/google/devtools/build/lib/packages/GlobCacheTest.java
  src/test/java/com/google/devtools/build/lib/packages/PackageFactoryTest.java
  src/test/java/com/google/devtools/build/lib/pkgcache/IncrementalLoadingTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/AbstractCollectPackagesUnderDirectoryTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/DiffAwarenessManagerTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/LocalDiffAwarenessTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/PrepareDepsOfTargetsUnderDirectoryFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/PrepareDepsOfTargetsUnderDirectoryKeyCodecTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RecursivePkgFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RecursivePkgKeyTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/serialization/IgnoredPackagePrefixesValueCodecTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/serialization/RecursivePkgKeyCodecTest.java
Labels: team-ExternalDeps, awaiting-review

#23998 Add a string-to-label-dict attribute type.
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkAttrModule.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkAttributesCollection.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleContext.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkAttrModuleApi.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/FakeStarlarkAttrModuleApi.java
  src/main/java/com/google/devtools/build/skydoc/rendering/proto/stardoc_output.proto
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
Labels: team-Configurability, awaiting-review

#23997 Add a string-to-label-dict attribute type.
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkAttrModule.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkAttributesCollection.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleContext.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkAttrModuleApi.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
Labels: team-Configurability, awaiting-review

#23994 [8.0.0] Properly cancel repository downloads
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloaderTest.java
Labels: team-ExternalDeps, awaiting-review

#24001 [7.4.0] Properly cancel repository downloads
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloaderTest.java
Labels: team-ExternalDeps, awaiting-review

#24003 [8.0.0] Show "did you mean" suggestion for `{override,inject}_repo`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
Labels: team-ExternalDeps, awaiting-review

#24000 [7.4.0] Show "did you mean" suggestion for `{override,inject}_repo`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
Labels: team-ExternalDeps, awaiting-review

#24024 Cherry-pick quiet mode (fix for #4867) to 8.0.0
  src/main/cpp/blaze.cc
  src/main/cpp/blaze_util.cc
  src/main/cpp/blaze_util.h
  src/main/cpp/option_processor.cc
  src/main/cpp/startup_options.cc
  src/main/cpp/startup_options.h
  src/main/cpp/util/bazel_log_handler.cc
  src/main/cpp/util/bazel_log_handler.h
  src/main/cpp/util/logging.cc
  src/main/cpp/util/logging.h
  src/main/java/com/google/devtools/build/lib/runtime/BlazeServerStartupOptions.java
  src/main/java/com/google/devtools/build/lib/runtime/UiEventHandler.java
  src/main/java/com/google/devtools/build/lib/runtime/UiOptions.java
  src/test/cpp/util/logging_test.cc
  src/test/shell/integration/ui_test.sh
Labels: team-Rules-CPP, awaiting-review, team-CLI

#24027 [8.0.0] Fix implicit input file creation for symbolic macros
  src/main/java/com/google/devtools/build/lib/packages/Package.java
  src/test/java/com/google/devtools/build/lib/analysis/SymbolicMacroTest.java
  src/test/java/com/google/devtools/build/lib/packages/PackageFactoryTest.java
Labels: awaiting-review, team-Loading-API

#24030 [7.4.0] Blaze/Bazel changes for Java 17 Record desugaring
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidBinary.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidStarlarkCommon.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/android/AndroidStarlarkCommonApi.java
Labels: team-Rules-Java, awaiting-review

#24035 [8.0.0] Rename `stripPrefix=` to `strip_prefix=`
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/test/shell/bazel/external_integration_test.sh
Labels: team-ExternalDeps, awaiting-review

#24044 Reimplement --quiet using a field in the command server proto.
  src/main/cpp/blaze.cc
  src/main/cpp/option_processor.cc
  src/main/java/com/google/devtools/build/lib/runtime/BlazeCommandDispatcher.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeRuntime.java
  src/main/java/com/google/devtools/build/lib/runtime/CommandDispatcher.java
  src/main/java/com/google/devtools/build/lib/runtime/UiEventHandler.java
  src/main/java/com/google/devtools/build/lib/runtime/UiOptions.java
  src/main/java/com/google/devtools/build/lib/server/GrpcServerImpl.java
  src/main/protobuf/command_server.proto
  src/test/java/com/google/devtools/build/lib/runtime/BlazeCommandDispatcherTest.java
  src/test/java/com/google/devtools/build/lib/runtime/UiEventHandlerStdOutAndStdErrTest.java
  src/test/java/com/google/devtools/build/lib/server/GrpcServerTest.java
Labels: team-Rules-CPP, awaiting-review, team-CLI

#24060 [8.0.0] Expose last remaining private APIs for java rules migration
  src/main/starlark/builtins_bzl/common/java/java_common.bzl
Labels: awaiting-review

#24062 [8.0.0] Move `--fat_apk_cpu` to the flag graveyard
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRulesModule.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidConfiguration.java
  src/main/starlark/builtins_bzl/common/builtin_exec_platforms.bzl
  src/test/java/com/google/devtools/build/lib/analysis/starlark/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/starlark/StarlarkAttrTransitionProviderTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcCommonTest.java
Labels: team-Configurability, team-Rules-CPP, awaiting-review

#24088 [8.0.0] Upgrade to protobuf 29.0-rc2
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  distdir.bzl
  repositories.bzl
  src/MODULE.tools
  src/main/starlark/docgen/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/mock/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/mock/BazelAnalysisMock.java
  src/test/java/com/google/devtools/build/lib/packages/util/MockProtoSupport.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/AbstractQueryTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/proto/CcProtoLibraryTest.java
  src/test/shell/bazel/BUILD
  src/test/shell/testenv.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
  third_party/protobuf/BUILD
  third_party/protobuf/add_python_loads.patch
  third_party/protobuf/add_rules_shell_loads.patch
  third_party/protobuf/proto_info_bzl_deps.patch
  third_party/protobuf/remove_rules_rust.patch
Labels: awaiting-review

#24084 [7.4.1] Expose last remaining private APIs for java rules migration
  src/main/starlark/builtins_bzl/common/java/java_common.bzl
Labels: team-Rules-Java, awaiting-review, soft-release-blocker

#24012 [8.0.0] Mark `cc_static_library` as experimental in docs
  src/main/starlark/builtins_bzl/common/cc/experimental_cc_static_library.bzl
Labels: team-Rules-CPP, awaiting-PR-merge

#24086 [7.4.1] Skip over runfiles middleman artifacts without a RunfilesSupplier
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
  src/test/shell/bazel/bazel_execlog_test.sh
Labels: team-Performance, awaiting-PR-merge

#24058 [8.0.0] Partial fix for bug with creating a junction to file instead of symlink
  src/main/java/com/google/devtools/build/lib/windows/WindowsFileSystem.java
  src/main/native/windows/file.cc
Labels: area-Windows, team-OSS, awaiting-review

#24077 [8.0.0] Allow implicit creation of input files within a macro's namespace
  src/main/java/com/google/devtools/build/lib/packages/Package.java
  src/main/java/com/google/devtools/build/lib/packages/TargetRecorder.java
  src/test/java/com/google/devtools/build/lib/packages/PackageFactoryTest.java
Labels: awaiting-review, team-Loading-API

#23954 [8.0.0] Re-enable tests that were disabled due CI infra flake
  .bazelci/presubmit.yml
  src/test/shell/bazel/BUILD
Labels: team-OSS, awaiting-review

#24102 [8.0.0] Backport a few commits to address flaky tests in release-8.0.0
  src/test/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/py/bazel/BUILD
  src/test/py/bazel/test_base.py
Labels: awaiting-review

#24080 [8.0.0] Use backslashes in executable paths when remotely executing on Windows
  src/main/java/com/google/devtools/build/lib/analysis/constraints/ConstraintConstants.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestActionBuilder.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestRunnerAction.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestStrategy.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestTargetExecutionSettings.java
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/vfs/BUILD
  src/main/java/com/google/devtools/build/lib/vfs/OsPathPolicy.java
  src/main/java/com/google/devtools/build/lib/vfs/PathFragment.java
  src/main/java/com/google/devtools/build/lib/vfs/UnixOsPathPolicy.java
  src/main/java/com/google/devtools/build/lib/vfs/WindowsOsPathPolicy.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
Labels: team-Configurability, team-Remote-Exec, awaiting-review

#24111 [7.4.1] Correctly compute the number of threads to use for garbage collection.
  src/tools/diskcache/Gc.java
Labels: awaiting-review

#24110 [8.0.0] Correctly compute the number of threads to use for garbage collection.
  src/tools/diskcache/Gc.java
Labels: team-Remote-Exec, awaiting-review

#24114 [7.4.1] Prevent excessive thread creation in disk cache garbage collection
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheGarbageCollector.java
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheGarbageCollectorIdleTask.java
  src/test/java/com/google/devtools/build/lib/remote/disk/DiskCacheGarbageCollectorTest.java
Labels: team-Core, awaiting-review

#24109 [8.0.0] Back-port a few commits to update MODULE.tools
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/shell/integration/discard_graph_edges_test.sh
  src/test/shell/testenv.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
  src/test/tools/bzlmod/verify_default_lock_file.sh
  tools/BUILD
  tools/android/BUILD
  tools/android/BUILD.tools
  workspace_deps.bzl
Labels: team-Android, awaiting-review

#24113 [8.0.0] Prevent excessive thread creation in disk cache garbage collection
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheGarbageCollector.java
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheGarbageCollectorIdleTask.java
  src/test/java/com/google/devtools/build/lib/remote/disk/DiskCacheGarbageCollectorTest.java
Labels: team-Core, awaiting-review

#24119 [8.0.0] Implement File.is_symlink.
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLine.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/FileApi.java
Labels: awaiting-review, team-Rules-API

#24122 [7.4.1] fix: Fix trim_length in runfiles.bash
  tools/bash/runfiles/runfiles.bash
Labels: team-OSS, awaiting-review

#24125 [8.0.0] fix: Fix trim_length in runfiles.bash
  tools/bash/runfiles/runfiles.bash
Labels: team-OSS, awaiting-review

#24112 [8.0.0] Expose config.none to Starlark.
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/config/transitions/NoConfigTransition.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkConfig.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/config/StarlarkConfigApi.java
  src/test/java/com/google/devtools/build/lib/starlark/BUILD
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
Labels: team-Configurability, awaiting-review

#24115 [8.0.0] Verify that the compact execlog supports `bazel coverage`
  src/test/shell/bazel/bazel_execlog_test.sh
Labels: team-Performance, awaiting-review

#24123 [7.4.1] Fix double encoding of inputs in worker request
  src/main/java/com/google/devtools/build/lib/worker/BUILD
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
Labels: team-Local-Exec, awaiting-review

#24132 [7.4.1] docs(module): fix list of bullet points not rendering
  site/en/external/module.md
Labels: team-OSS, team-Documentation, awaiting-review

#24124 [8.0.0] Fix double encoding of inputs in worker request
  src/main/java/com/google/devtools/build/lib/worker/BUILD
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
Labels: team-Local-Exec, awaiting-review

#24131 [8.0.0] docs(module): fix list of bullet points not rendering
  site/en/external/module.md
Labels: team-OSS, team-Documentation, awaiting-review

#24145 [8.0.0] Make DiskCacheLock a generic utility class for holding a filesystem lock.
  src/main/java/com/google/devtools/build/lib/remote/disk/BUILD
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheGarbageCollector.java
  src/main/java/com/google/devtools/build/lib/util/BUILD
  src/main/java/com/google/devtools/build/lib/util/FileSystemLock.java
  src/test/java/com/google/devtools/build/lib/remote/disk/BUILD
  src/test/java/com/google/devtools/build/lib/remote/disk/DiskCacheGarbageCollectorTest.java
  src/test/java/com/google/devtools/build/lib/testutil/BUILD
  src/test/java/com/google/devtools/build/lib/testutil/ExternalFileSystemLock.java
  src/test/java/com/google/devtools/build/lib/testutil/ExternalFileSystemLockHelper.java
  src/test/java/com/google/devtools/build/lib/util/BUILD
  src/test/java/com/google/devtools/build/lib/util/FileSystemLockTest.java
Labels: team-Remote-Exec, awaiting-review

#24147 [8.0.0] Allow `external` top-level dir in Bzlmod-managed non-main repos
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java
  src/main/java/com/google/devtools/build/lib/skyframe/ProcessPackageDirectory.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestCase.java
  src/test/shell/bazel/external_integration_test.sh
Labels: team-ExternalDeps, awaiting-review

#24153 [7.4.1] Add missing private API for tokenizing javacopts
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaCommonApi.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaStarlarkApiTest.java
Labels: team-Rules-Java, awaiting-review
