Repository bazelbuild/bazel, pull requests merged in 2024-01, with the labels that each got.

#20718 [7.0.1] Fix two issues with --incompatible_sandbox_hermetic_tmp that manifested themselves when the output base was under /tmp
  src/main/java/com/google/devtools/build/lib/actions/FileArtifactValue.java
  src/main/java/com/google/devtools/build/lib/sandbox/BUILD
  src/main/java/com/google/devtools/build/lib/sandbox/DarwinSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/DockerSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/ProcessWrapperSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxHelpers.java
  src/main/java/com/google/devtools/build/lib/sandbox/WindowsSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStore.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
  src/test/java/com/google/devtools/build/lib/sandbox/BUILD
  src/test/java/com/google/devtools/build/lib/sandbox/SandboxHelpersTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStoreTest.java
  src/test/shell/bazel/bazel_sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#20736 [7.1.0] Cherry-pick all presubmit.yml changes
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  src/test/py/bazel/py_test.py
  src/test/shell/bazel/android/DexFileSplitter_synthetic_classes_test.sh
  src/test/shell/bazel/android/aapt_integration_test.sh
  src/test/shell/bazel/android/aar_integration_test.sh
  src/test/shell/bazel/android/aidl_integration_test.sh
  src/test/shell/bazel/android/android_helper.sh
  src/test/shell/bazel/android/android_instrumentation_test_integration_test.sh
  src/test/shell/bazel/android/android_integration_test.sh
  src/test/shell/bazel/android/android_local_test_integration_test.sh
  src/test/shell/bazel/android/android_ndk_integration_test.sh
  src/test/shell/bazel/android/android_sdk_integration_test.sh
  src/test/shell/bazel/android/android_sh_test.bzl
  src/test/shell/bazel/android/desugarer_integration_test.sh
  src/test/shell/bazel/android/library_desugarer_integration_test.sh
  src/test/shell/bazel/android/proguard_integration_test.sh
  src/test/shell/bazel/android/resource_processing_integration_test.sh
  src/test/shell/bazel/jdeps_test.sh
  src/test/shell/integration/minimal_jdk_test.sh
Labels: team-Android, awaiting-review

#20649 [7.1.0] Accept labels of aliases in config_setting.
  src/main/java/com/google/devtools/build/lib/rules/config/ConfigSetting.java
  src/test/java/com/google/devtools/build/lib/rules/LabelBuildSettingTest.java
  src/test/java/com/google/devtools/build/lib/rules/config/ConfigSettingTest.java
Labels: team-Configurability, awaiting-PR-merge

#20732 [7.1.0] Improve `use_repo_rule` error when not referencing a `repository_rule`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
Labels: team-ExternalDeps, awaiting-review

#20633 [7.1.0] Attempt to make main repo mapping inverse more efficient
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryMapping.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingValue.java
Labels: team-ExternalDeps, awaiting-review

#20750 [7.0.1] Let module extensions track calls to `Label()`
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/test/java/com/google/devtools/build/lib/cmdline/LabelTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#20749 [7.0.1] Add support for bind mounts under `/tmp` with hermetic tmp
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/test/shell/bazel/bazel_sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#20755 [7.1.0] Retry binding to ipv6 localhost
  src/main/java/com/google/devtools/build/lib/server/GrpcServerImpl.java
Labels: team-OSS, awaiting-review

#20769 [7.1.0] Print interactive sandboxed shell command with `--sandbox_debug`
  src/main/java/com/google/devtools/build/lib/sandbox/AbstractSandboxSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/BUILD
  src/main/java/com/google/devtools/build/lib/sandbox/DarwinSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxCommandLineBuilder.java
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/ProcessWrapperSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxedSpawn.java
  src/main/java/com/google/devtools/build/lib/sandbox/SymlinkedSandboxedSpawn.java
  src/main/java/com/google/devtools/build/lib/worker/SandboxedWorker.java
  src/test/java/com/google/devtools/build/lib/sandbox/LinuxSandboxCommandLineBuilderTest.java
  src/test/java/com/google/devtools/build/lib/sandbox/SymlinkedSandboxedSpawnTest.java
  src/test/java/com/google/devtools/build/lib/shell/CommandUsingLinuxSandboxTest.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/RemoteWorker.java
Labels: team-Local-Exec, team-Remote-Exec, awaiting-review

#20766 [7.1.0] Fix two issues with --incompatible_sandbox_hermetic_tmp that manifested themselves when the output base was under /tmp
  src/main/java/com/google/devtools/build/lib/actions/FileArtifactValue.java
  src/main/java/com/google/devtools/build/lib/sandbox/BUILD
  src/main/java/com/google/devtools/build/lib/sandbox/DarwinSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/DockerSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/ProcessWrapperSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxHelpers.java
  src/main/java/com/google/devtools/build/lib/sandbox/WindowsSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStore.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
  src/test/java/com/google/devtools/build/lib/sandbox/BUILD
  src/test/java/com/google/devtools/build/lib/sandbox/SandboxHelpersTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStoreTest.java
  src/test/shell/bazel/bazel_sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#20729 [6.5.0] Disable PyTest.testSmoke on macOS
  src/test/py/bazel/py_test.py
Labels: team-Rules-Python, awaiting-review

#20785 [6.5.0] Upgrade abseil-cpp to fix build on macos_arm64
  .bazelrc
  distdir_deps.bzl
  scripts/bootstrap/bootstrap.sh
Labels: team-OSS, awaiting-review

#20719 [7.1.0] Optimize prefetchInputs.
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/util/Utils.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
Labels: team-Remote-Exec, awaiting-review

#20651 [7.1.0] Fix crash on `bazel mod` error containing `%`
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
Labels: team-ExternalDeps, awaiting-review

#20630 [7.1.0] Cover missing cases during module extension label normalization
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
Labels: team-ExternalDeps, awaiting-review

#20568 [6.5.0] Ignore read-only errors when updating the `mtime` of the `install_base`
  src/main/cpp/blaze.cc
  src/main/cpp/util/file_platform.h
  src/main/cpp/util/file_posix.cc
  src/main/cpp/util/file_windows.cc
Labels: awaiting-review, team-CLI

#20667 [6.5.0] Restart at most once when prepopulating repository rule environment
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
Labels: team-ExternalDeps, awaiting-review

#20662 [7.1.0] Do not print errors when repository rules are interrupted
  src/main/java/com/google/devtools/build/lib/bazel/repository/DecompressorValue.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
Labels: team-ExternalDeps, awaiting-review

#20643 [7.1.0] Restart at most once when prepopulating repository rule environment
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
Labels: team-ExternalDeps, awaiting-review

#20822 [7.1.0] Fixes for Bazel's own integration tests fail locally on Linux
  src/main/java/com/google/devtools/build/lib/actions/ActionInputHelper.java
  src/main/java/com/google/devtools/build/lib/actions/Artifact.java
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionExecutionFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionInputMapHelper.java
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
Labels: team-Performance, team-Local-Exec, awaiting-review

#20641 [7.1.0] Remove unnecessary `cc_test` coverage handling
  src/main/starlark/builtins_bzl/common/cc/semantics.bzl
Labels: team-Rules-CPP

#20821 [7.0.1] Fixes for Bazel's own integration tests fail locally on Linux
  src/main/java/com/google/devtools/build/lib/actions/ActionInputHelper.java
  src/main/java/com/google/devtools/build/lib/actions/Artifact.java
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionExecutionFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionInputMapHelper.java
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
Labels: team-Performance, team-Local-Exec, awaiting-review

#20829 [7.1.0] Fix NPE in BzlmodRepoRuleFunction
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
Labels: team-ExternalDeps, awaiting-review

#20842 [7.1.0] Introduce a SpawnLogContext interface.
  src/main/java/com/google/devtools/build/lib/bazel/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/test/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContextTest.java
Labels: awaiting-review

#20840 [7.0.1] Avoid emitting canonical labels into generated repos
  MODULE.bazel.lock
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/http.bzl
  tools/build_defs/repo/jvm.bzl
Labels: awaiting-review

#20848 [7.0.1] Let .bzl files record their usages of repo mapping
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingValue.java
  src/test/java/com/google/devtools/build/lib/skyframe/BzlLoadFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/serialization/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/serialization/BzlLoadValueCodecTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/py/bazel/bzlmod/test_utils.py
Labels: team-ExternalDeps, awaiting-review

#20844 [7.1.0] Fix `common` `.bazelrc` behavior for flag expansions
  src/main/java/com/google/devtools/common/options/OptionsParserImpl.java
  src/test/java/com/google/devtools/common/options/OptionsParserTest.java
Labels: team-OSS, awaiting-review

#20852 [7.1.0] Add a profiler span for fetching repositories.
  src/main/java/com/google/devtools/build/lib/profiler/ProfilerTask.java
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
Labels: team-Performance, awaiting-review

#20644 [7.1.0] Make Bazel's RAM estimate container aware
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/actions/LocalHostCapacity.java
  src/main/java/com/google/devtools/build/lib/actions/LocalHostResource.java
  src/main/java/com/google/devtools/build/lib/actions/LocalHostResourceManagerDarwin.java
  src/main/java/com/google/devtools/build/lib/actions/LocalHostResourceManagerLinux.java
  src/main/java/com/google/devtools/build/lib/unix/NativePosixSystem.java
  src/main/native/darwin/file_jni.cc
  src/main/native/unix_jni.cc
  src/main/native/unix_jni.h
  src/main/native/unix_jni_bsd.cc
  src/main/native/unix_jni_linux.cc
  src/test/java/com/google/devtools/build/lib/actions/LocalHostResourceManagerLinuxTest.java
Labels: team-Performance, awaiting-review

#20648 [7.1.0] Ignore read-only errors when updating the `mtime` of the `install_base`
  src/main/cpp/blaze.cc
  src/main/cpp/util/file_platform.h
  src/main/cpp/util/file_posix.cc
  src/main/cpp/util/file_windows.cc
Labels: awaiting-review, team-CLI

#20645 [7.1.0] Add profiling to `remoteActionBuildingSemaphore.acquire()`
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
Labels: team-Remote-Exec, awaiting-review

#20642 [7.1.0] Use a larger buffer size for `java.util.zip.*Stream` classes
  src/java_tools/singlejar/java/com/google/devtools/build/singlejar/ZipCombiner.java
  src/java_tools/singlejar/java/com/google/devtools/build/zip/ZipEntryInputStream.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/FileWriteAction.java
  src/main/java/com/google/devtools/build/lib/rules/genquery/GenQueryOutputStream.java
Labels: team-Configurability, team-Rules-Java, awaiting-review

#20646 [7.1.0] Flip flag `--experimental_use_semaphore_for_jobs`.
  src/main/java/com/google/devtools/build/lib/buildtool/BuildRequestOptions.java
  src/test/java/com/google/devtools/build/lib/skyframe/rewinding/RewindingTestsHelper.java
  src/test/shell/bazel/bazel_test_test.sh
  src/test/shell/integration/bazel_testjobs_test.sh
Labels: team-Performance, awaiting-review

#20647 [7.1.0] RemoteSpawnRunner: record inbetween phases in timing profile
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
Labels: team-Remote-Exec, awaiting-review

#20854 [7.1.0] Add fastutil 7.2.1 dependency
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  third_party/BUILD
Labels: awaiting-review

#20856 [7.1.0] Allow repo rules to download multiple things in parallel.
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloader.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/test/shell/bazel/external_integration_test.sh
Labels: team-ExternalDeps, team-Core, awaiting-review

#20859 [7.1.0] Add support for tmpfs mounts under `/tmp` with hermetic tmp
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/main/tools/linux-sandbox-pid1.cc
  src/test/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunnerTest.java
  src/test/shell/bazel/bazel_sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#20855 [7.1.0] Add new flag `--enable_workspace` that allows us to disable WORKSPACE…
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidNdkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidSdkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/WorkspaceFileHelper.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageLookupFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/WorkspaceNameFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredExecutionPlatformsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredToolchainsFunction.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
  src/test/java/com/google/devtools/build/lib/repository/ExternalPackageHelperTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_fetch_test.py
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
  src/test/py/bazel/bzlmod/bazel_repo_mapping_test.py
  src/test/py/bazel/bzlmod/bazel_yanked_versions_test.py
  src/test/py/bazel/bzlmod/bzlmod_credentials_test.py
  src/test/py/bazel/bzlmod/bzlmod_query_test.py
  src/test/py/bazel/bzlmod/mod_command_test.py
  src/test/py/bazel/bzlmod/test_utils.py
  src/test/shell/bazel/local_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#20772 [7.1.0] Add support for bind mounts under `/tmp` with hermetic tmp
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/test/shell/bazel/bazel_sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#20858 [7.1.0] Add flag `experimental_throttle_remote_action_building`
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
Labels: team-Remote-Exec, awaiting-review

#20861 [6.5.0] Add flag `experimental_throttle_remote_action_building`
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
Labels: team-Remote-Exec, awaiting-review

#20847 Fix versioned shared libraries for macOS toolchain
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppActionConfigs.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LibrariesToLinkCollector.java
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library/BUILD.builtin_test
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library/starlark_tests.bzl
  src/test/java/com/google/devtools/build/lib/packages/util/mock/osx_cc_toolchain_config.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/LibraryToLinkValueTest.java
  tools/cpp/osx_cc_wrapper.sh.tpl
  tools/cpp/unix_cc_toolchain_config.bzl
  tools/osx/crosstool/cc_toolchain_config.bzl
Labels: team-Rules-CPP

#20872 [7.1.0] Remove suffix from fastutil alias.
  third_party/BUILD
Labels: team-Rules-Java, awaiting-review

#20881 [7.0.1] Force output checking for incremental run commands without the bytes.
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-PR-merge

#20903 [7.0.1] Retry binding to ipv6 localhost
  src/main/java/com/google/devtools/build/lib/server/GrpcServerImpl.java
Labels: team-OSS, awaiting-review

#20901 [7.0.1] Fix linker feature detection being performed on wrong linker
  MODULE.bazel.lock
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/cpp/unix_cc_configure.bzl
Labels: team-Rules-CPP, awaiting-review

#20904 [7.0.1] Fix singlejar resource mapping for external repositories
  src/main/starlark/builtins_bzl/common/java/java_helper.bzl
  src/test/java/com/google/devtools/build/lib/rules/java/JavaStarlarkApiTest.java
Labels: team-Rules-Java, awaiting-review

#20879 [7.1.0] Offer Shell completion for top-level packages without subpackages
  scripts/bash_completion_test.sh
  scripts/bazel-complete-template.bash
Labels: team-OSS, awaiting-review

#20907 [7.1.0] Increase maximal length of profile span for repository function calls
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
Labels: team-Performance, awaiting-review

#20914 [7.1.0] Still generate a WORKSPACE file in repo rules if --enable_workspace is set
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#20915 [7.1.0] Read authentication information from .netrc
  MODULE.bazel.lock
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/http.bzl
  tools/build_defs/repo/jvm.bzl
  tools/build_defs/repo/utils.bzl
Labels: team-ExternalDeps, awaiting-review

#20916 [7.1.0] deps: rules_python 0.4.0 -> 0.22.0
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/py/bazel/bzlmod/bazel_repo_mapping_test.py
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-Rules-Python, awaiting-review

#20917 [7.1.0] Avoid emitting canonical labels into generated repos
  MODULE.bazel.lock
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/http.bzl
  tools/build_defs/repo/jvm.bzl
Labels: team-ExternalDeps, awaiting-review

#20923 [7.1.0] python: make incompatible_python_disallow_native_rules work for top-level external repo targets
  src/main/starlark/builtins_bzl/common/python/common.bzl
  src/test/shell/bazel/python_version_test.sh
Labels: team-Rules-Python, awaiting-review

#20925 [6.5.0] Proto toolchainisation cherrypicks
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/rules/proto/BUILD
  src/main/java/com/google/devtools/build/lib/rules/proto/BazelProtoCommon.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoConstants.java
  src/main/starlark/builtins_bzl/common/cc/cc_proto_library.bzl
  src/main/starlark/builtins_bzl/common/cc/semantics.bzl
  src/main/starlark/builtins_bzl/common/exports.bzl
  src/main/starlark/builtins_bzl/common/java/java_semantics.bzl
  src/main/starlark/builtins_bzl/common/java/proto/java_lite_proto_library.bzl
  src/main/starlark/builtins_bzl/common/java/proto/java_proto_library.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_common.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_lang_toolchain.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_lang_toolchain_custom_protoc.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_lang_toolchain_default_protoc.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_lang_toolchain_wrapper.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_library.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_semantics.bzl
  src/test/java/com/google/devtools/build/lib/packages/util/MockProtoSupport.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcStarlarkApiProviderTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/proto/CcProtoLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/java/proto/BUILD
  src/test/java/com/google/devtools/build/lib/rules/java/proto/StarlarkJavaLiteProtoLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/J2ObjcLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/BazelProtoCommonTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/BazelProtoLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/ProtoInfoStarlarkApiTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/ProtoLangToolchainTest.java
  src/test/java/com/google/devtools/build/lib/testutil/TestConstants.java
Labels: awaiting-review, team-Rules-API

#20932 [7.1.0] Remove flag guarding for the AndroidIdeInfo provider
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/android/AndroidBootstrap.java
Labels: team-Android, awaiting-review

#20946 [7.1.0] Point _virtual_includes to stable locations so IDE integrations survive builds
  src/main/starlark/builtins_bzl/common/cc/cc_compilation_helper.bzl
  src/main/starlark/builtins_bzl/common/cc/semantics.bzl
Labels: team-Rules-CPP, awaiting-review

#20944 [7.1.0] [rfc] Allow repository rules to lazily declare environment variable deps
  site/en/extending/repo.md
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkOS.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/repository/RepositoryModuleApi.java
  src/test/shell/bazel/external_integration_test.sh
Labels: team-ExternalDeps, team-Documentation, awaiting-review

#20934 [7.1.0] Replaced usage of rev with awk in bash runfiles
  tools/bash/runfiles/runfiles.bash
Labels: team-OSS, awaiting-review

#20956 [7.1.0] Cherry pick a few changes to address flaky tests
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  bazel_downloader.cfg
  src/test/java/com/google/devtools/build/lib/server/BUILD
  src/test/java/com/google/devtools/build/lib/starlarkdebug/server/BUILD
Labels: awaiting-review

#20949 [7.1.0] Cherry-pick the change to reduce repository invalidations to Bazel 7.1
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
Labels: team-OSS, awaiting-review

#20977 [7.1.0] The label API shakeup & docs cleanup
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkNativeModule.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkNativeModuleApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleContextApi.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/FakeStarlarkNativeModuleApi.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
  src/test/java/com/google/devtools/build/lib/packages/util/MockPlatformSupport.java
Labels: team-ExternalDeps, awaiting-review

#20979 [7.1.0] Add support for arbitrary headers to rctx.download[_and_extract]
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DelegatingDownloader.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/Downloader.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpConnectorMultiplexer.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloader.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloaderTest.java
  src/test/shell/bazel/remote_helpers.sh
  src/test/shell/bazel/starlark_repository_test.sh
  src/test/shell/bazel/testing_server.py
Labels: team-ExternalDeps, team-Remote-Exec, awaiting-review

#20992 [7.1.0] Show a warning message when the credential helper invocation fails
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpConnectorMultiplexer.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpConnectorMultiplexerTest.java
Labels: team-ExternalDeps, awaiting-review

#20989 [7.1.0] Fix singlejar resource mapping for external repositories
  src/main/starlark/builtins_bzl/common/java/java_helper.bzl
  src/test/java/com/google/devtools/build/lib/rules/java/JavaStarlarkApiTest.java
Labels: team-Rules-Java, awaiting-review

#21003 [7.0.2] Disregard WORKSPACE while verifying lockfile repo mapping entries in extension eval
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, area-Bzlmod, awaiting-review

#21009 [7.1.0] Remove user specific path from the lockfile (Fixes #19621)
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#21013 [7.1.0] Also report cycles involving WORKSPACE from BzlmodRepoCycleReporter
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoCycleReporter.java
Labels: team-ExternalDeps, awaiting-review

#21018 [7.1.0] Fix -fatal_warnings on macOS
  tools/cpp/unix_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#21033 [7.1.0] Cherry-picks for module extension repo mapping usage tracking
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingValue.java
  src/test/java/com/google/devtools/build/lib/cmdline/LabelTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/BzlLoadFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/serialization/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/serialization/BzlLoadValueCodecTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#21036 [7.1.0] bzlmod: support git repos in source.json
  site/en/external/registry.md
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GitOverride.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GitRepoSpecBuilder.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/py/bazel/bzlmod/test_utils.py
Labels: team-ExternalDeps, team-Documentation, awaiting-review

#21023 [7.1.0] Add `bazel mod dump_repo_mapping`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/mod.txt
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, awaiting-review

#21082 [7.1.0] Cherry-picks for elimination of repo rule restarts
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/test/shell/bazel/bazel_workspaces_test.sh
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#21085 [7.1.0] Fix inconsistent dep graph stubs in Bzlmod tests
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
Labels: team-ExternalDeps, awaiting-review

#21089 [7.1.0] Clarify where to find the definition of the --experimental_remote_scrubbing_config configuration format.
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
Labels: team-Remote-Exec, awaiting-review

#21086 [7.1.0] Disable `--legacy_external_runfiles` in Bazel tests
  src/main/starlark/builtins_bzl/bazel/java/bazel_java_binary.bzl
  src/test/java/com/google/devtools/build/lib/analysis/LocationExpanderIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/analysis/RunfilesRepoMappingManifestTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestCase.java
  src/test/py/bazel/test_base.py
  src/test/shell/bazel/bazel_java_test.sh
  src/test/shell/bazel/external_integration_test.sh
  src/test/shell/testenv.sh.tmpl
Labels: team-ExternalDeps, awaiting-review

#21088 [7.1.0] Follow directory symlink in RemoteActionFileSystem#getDirectoryEntries().
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
Labels: team-Remote-Exec, awaiting-review

#21090 [7.1.0] Treat the inability to load the Windows filesystem JNI as an error.
  src/main/java/com/google/devtools/build/lib/bazel/BazelFileSystemModule.java
  src/main/java/com/google/devtools/build/lib/jni/BUILD
  src/main/java/com/google/devtools/build/lib/jni/JniLoader.java
  src/main/protobuf/failure_details.proto
Labels: team-OSS, awaiting-review

#21087 [7.1.0] Fix up permissions error in getInputStream, like we already do for getOutputStream.
  src/main/java/com/google/devtools/build/lib/vfs/AbstractFileSystem.java
  src/test/java/com/google/devtools/build/lib/vfs/FileSystemTest.java
Labels: awaiting-review

#20988 [7.1.0] Force output checking for incremental run commands without the bytes.
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-review

#21022 [7.1.0] Remove visionos_x86_64 CPUs
  src/main/java/com/google/devtools/build/lib/rules/apple/ApplePlatform.java
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
  src/main/starlark/builtins_bzl/common/objc/objc_common.bzl
  src/main/starlark/builtins_bzl/common/objc/semantics.bzl
Labels: team-Rules-CPP, awaiting-review

#21020 [7.1.0] Close test.err before deleteing it
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
Labels: area-Windows, team-Remote-Exec, awaiting-review

#20990 [7.1.0] Fix linker feature detection being performed on wrong linker
  MODULE.bazel.lock
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/cpp/unix_cc_configure.bzl
Labels: team-Rules-CPP, awaiting-review

#21124 [7.1.0] Add an option to set a minimum size threshold for zstd blob compression.
  src/main/java/com/google/devtools/build/lib/remote/GrpcCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
Labels: team-Remote-Exec, awaiting-review

#21127 [7.1.0] Publish RCs to GitHub
  scripts/ci/build.sh
Labels: team-OSS, awaiting-review

#21143 [7.1.0] Avoid using `InputStream.available()` to detect EOF while reading delimited protos.
  src/main/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/StableSort.java
  src/test/java/com/google/devtools/build/lib/buildeventservice/BazelBuildEventServiceModuleTest.java
  src/test/java/com/google/devtools/build/lib/buildtool/TargetCompleteEventTest.java
  src/test/java/com/google/devtools/build/lib/exec/CompactSpawnLogContextTest.java
  src/test/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContextTest.java
  src/tools/execlog/src/main/java/com/google/devtools/build/execlog/ExecLogParser.java
Labels: team-Remote-Exec, awaiting-review

#21144 [7.1.0] Starlark: reuse positional array in native calls where possible
  src/main/java/net/starlark/java/eval/BuiltinFunction.java
  src/main/java/net/starlark/java/eval/MethodDescriptor.java
  src/test/java/net/starlark/java/eval/MethodLibraryTest.java
  src/test/java/net/starlark/java/eval/testdata/bench_call.star
Labels: team-Starlark-Interpreter, awaiting-review

#21145 [7.1.0] Harmonize BUILD files.
  src/tools/execlog/BUILD
  src/tools/execlog/src/main/java/com/google/devtools/build/execlog/BUILD
  src/tools/execlog/test/main/java/com/google/devtools/build/execlog/BUILD
  src/tools/workspacelog/BUILD
Labels: awaiting-review

#21146 [7.1.0] Make some minor adjustments to the compact execution log format and document it better.
  src/main/protobuf/spawn.proto
Labels: team-Remote-Exec, awaiting-review

#21147 [7.1.0] Optimize the execution log sorter by using reference equality.
  src/main/java/com/google/devtools/build/lib/exec/StableSort.java
Labels: team-Performance, awaiting-review

#21161 [7.1.0] Update to Turbine 0.4.0
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
Labels: team-Rules-Java, awaiting-review

#21152 [7.1.0] Split StableSort into a separate target.
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/test/java/com/google/devtools/build/lib/exec/BUILD
Labels: team-Remote-Exec, awaiting-review

#21165 [7.1.0] Document that the compact execution log isn't guaranteed to be serialized in increasing ID order.
  src/main/protobuf/spawn.proto
Labels: team-Documentation, awaiting-review

#21166 [7.1.0] Fix the comment for MessageOutputStream#write().
  src/main/java/com/google/devtools/build/lib/util/io/MessageOutputStream.java
Labels: team-Remote-Exec, awaiting-review
