Repository bazelbuild/bazel, pull requests merged in 2024-03, with the labels that each got.

#21546 [7.1.0] Remove --host_jvm_args=-Djava.net.preferIPv6Addresses=true
  BUILD
  src/test/shell/bazel/bazel_test_test.sh
Labels: awaiting-review

#21503 [7.1.0] Passthrough HTTP headers to remote downloader service
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
  src/test/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloaderTest.java
Labels: team-Remote-Exec, awaiting-review

#21532 [7.1.0] [credentialhelper] Support paths relative to `%install_base%`
  src/main/java/com/google/devtools/build/lib/runtime/CommandLinePathFactory.java
Labels: team-Remote-Exec, awaiting-review

#21524 [7.1.0] Update LibrariesToLinkCollector.java for .dll suffix stripping
  src/main/java/com/google/devtools/build/lib/rules/cpp/LibrariesToLinkCollector.java
Labels: team-Rules-CPP, awaiting-review

#21547 [7.1.0] Backport changes for updating default lockfile used in integration tests.
  .bazelrc
  MODULE.bazel.lock
  src/test/java/com/google/devtools/build/lib/blackbox/bazel/BlackBoxTestEnvironmentImpl.java
  src/test/py/bazel/BUILD
  src/test/py/bazel/action_temp_test.py
  src/test/py/bazel/bazel_clean_test.py
  src/test/py/bazel/genrule_test.py
  src/test/py/bazel/options_test.py
  src/test/py/bazel/query_test.py
  src/test/py/bazel/runfiles_sandboxed_test.py
  src/test/py/bazel/runfiles_test.py
  src/test/py/bazel/test_base.py
  src/test/py/bazel/testdata/runfiles_test/MODULE.bazel.mock
  src/test/py/bazel/testdata/runfiles_test/WORKSPACE.mock
  src/test/shell/integration/configured_query_test.sh
  src/test/shell/testenv.sh.tmpl
  src/test/tools/bzlmod/MODULE.bazel.lock
  src/test/tools/bzlmod/update_default_lock_file.sh
  src/test/tools/bzlmod/verify_default_lock_file.sh
Labels: awaiting-review

#21550 [7.1.0] Fix a flaky test by avoiding leaking the eager capability RPC thread.
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
Labels: team-Remote-Exec, awaiting-review

#21552 [7.1.0] Add a profiler span for the findMissingDigests call associated with an upload.
  src/main/java/com/google/devtools/build/lib/remote/UploadManifest.java
Labels: team-Remote-Exec, awaiting-review

#21551 [7.1.0] Move the disk cache reads and writes into a thread pool.
  src/main/java/com/google/devtools/build/lib/remote/RemoteCacheClientFactory.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheClient.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteCacheClientFactoryTest.java
  src/test/java/com/google/devtools/build/lib/remote/disk/BUILD
  src/test/java/com/google/devtools/build/lib/remote/disk/DiskCacheClientTest.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/OnDiskBlobStoreCache.java
Labels: team-Remote-Exec, awaiting-review

#21549 [7.1.0] Lazily open files to be uploaded to an HTTP cache.
  src/main/java/com/google/devtools/build/lib/remote/common/LazyFileInputStream.java
  src/main/java/com/google/devtools/build/lib/remote/common/LazyFileOutputStream.java
  src/main/java/com/google/devtools/build/lib/remote/http/HttpCacheClient.java
Labels: team-Remote-Exec, awaiting-review

#21505 [7.1.0] Exclude convenience symlinks after changing the output base
  src/main/java/com/google/devtools/build/lib/skyframe/ProcessPackageDirectory.java
  src/test/py/bazel/query_test.py
Labels: team-Core, awaiting-review

#21555 [7.1.0] StarlarkBaseExternalContext.java: propagate error message when deleting temporary directory failed
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
Labels: team-ExternalDeps, awaiting-review

#21575 [7.1.0] Fix watching paths in undefined repos in repo rules
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepoRecordedInput.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContextTest.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#21577 [7.1.0] Implicit dependencies should be visible to rule/aspect definitions in `.bzl` files in the same package
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/CommonPrerequisiteValidator.java
  src/main/java/com/google/devtools/build/lib/analysis/RuleContext.java
  src/test/java/com/google/devtools/build/lib/analysis/VisibilityTest.java
Labels: team-Rules-Java, awaiting-review

#21588 [7.1.0] Expose the ApkInfo provider constructor to Starlark.
  src/main/java/com/google/devtools/build/lib/rules/android/ApkInfo.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/android/AndroidBootstrap.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/android/ApkInfoApi.java
Labels: team-Android, awaiting-review

#21599 [7.1.0] Attempt to fix cancellation crash in repo fetching w/ worker thread
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
Labels: team-ExternalDeps, awaiting-review

#21605 [7.1.0] Move compile StarlarkMethod back to CcModuleAPI
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/cpp/CcModuleApi.java
Labels: team-Rules-CPP, awaiting-review

#21644 [7.1.1] Update centos7 platform in build_bazel_binaries.yml
  .bazelci/build_bazel_binaries.yml
Labels: team-OSS, awaiting-review

#21662 [7.1.1] Fix `bazel mod tidy` failure with no changes
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, awaiting-review

#21664 Update .bazelversion to 7.1.0
  .bazelversion
  MODULE.bazel.lock
Labels: team-OSS, awaiting-review

#21670 [7.1.1] Let native Turbine image find `ct.sym` with non-hermetic `java_runtime`
  src/main/starlark/builtins_bzl/common/java/java_toolchain.bzl
Labels: team-Rules-Java, awaiting-review

#21671 [7.1.1] Actually use shouldPublish() to determine whether to publish the execution log to the BEP.
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
Labels: team-Performance, awaiting-review

#21683 [7.1.1] Also inject a failure for createWritableDirectory when testing that ActionOutputDirectoryHelper propagates exceptions.
  src/test/java/com/google/devtools/build/lib/actions/ActionOutputDirectoryHelperTest.java
Labels: team-Local-Exec, awaiting-review

#21692 [7.1.1] Fix race condition and add more logging for null entry error message
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxStash.java
Labels: team-Local-Exec, awaiting-review

#21694 [7.1.1] Allow any canonical repo name to be used with `bazel mod show_repo`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModuleArg.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModuleArgTest.java
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, area-Bzlmod, awaiting-review

#21700 [7.1.1] Fix two `bazel mod tidy` crashes
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Discovery.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/InterimModule.java
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, area-Bzlmod, awaiting-review

#21703 Cherry-pick Java execution info improvements
  src/main/java/com/google/devtools/build/lib/actions/ActionAnalysisMetadata.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileActionBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java
Labels: team-Performance, team-Rules-Java, awaiting-review

#21707 [7.1.1] Disable //src/test/shell/bazel:srcs_test on Intel macOS
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
Labels: team-OSS, awaiting-review

#21733 [7.1.1] Fix sandbox cleanup crashing after server restart
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxModule.java
Labels: team-Local-Exec, awaiting-review

#21611 [7.2.0] Register CommandProfilerModule early.
  src/main/java/com/google/devtools/build/lib/bazel/Bazel.java
Labels: team-Remote-Exec, awaiting-review

#21802 [7.2.0] Add --experimental_remote_output_service flag
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
Labels: team-Remote-Exec, awaiting-review

#21804 [7.2.0] java_binary: superfluous dependency on MANIFEST from runfiles
  src/main/starlark/builtins_bzl/bazel/java/bazel_java_binary_deploy_jar.bzl
  src/main/starlark/builtins_bzl/common/java/java_binary.bzl
  src/main/starlark/builtins_bzl/common/java/java_binary_deploy_jar.bzl
  src/test/shell/integration/java_integration_test.sh
Labels: team-Rules-Java, awaiting-review

#21817 [7.2.0] Respect $XDG_CACHE_HOME if available for Bazel's output root on Linux and BSD
  site/en/remote/output-directories.md
  src/main/cpp/blaze_util_bsd.cc
  src/main/cpp/blaze_util_linux.cc
  src/test/cpp/startup_options_test.cc
Labels: team-OSS, awaiting-review

#21796 [7.2.0] Ensure output root is an absolute path even if $HOME or $XDG_CACHE_HOME are relative
  src/main/cpp/blaze_util_linux.cc
  src/main/cpp/startup_options.cc
  src/test/cpp/BUILD
  src/test/cpp/startup_options_test.cc
Labels: team-Core, awaiting-review

#21789 [7.2.0] cpp/blaze_util: handle clock_gettime failure
  src/main/cpp/blaze_util_bsd.cc
  src/main/cpp/blaze_util_linux.cc
Labels: team-Rules-CPP, awaiting-review

#21800 [7.2.0] Implement RemoteActionFileSystem#statIfFound correctly when the path cannot be canonicalized (because one of the components is a non-directory or a dangling symlink).
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/TreeArtifactValue.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStoreTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactBuildTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactValueTest.java
Labels: awaiting-review, team-Rules-API

#21834 Update .bazelversion to 7.1.1
  .bazelversion
  MODULE.bazel.lock
Labels: team-OSS, awaiting-review

#21850 [7.2.0] Store usages hash in module extension lockfile entries
  MODULE.bazel.lock
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionUsage.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#21788 [7.2.0] Remove unnecessary synchronization on `RepositoryCache`
  src/main/java/com/google/devtools/build/lib/bazel/repository/cache/RepositoryCache.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/cache/RepositoryCacheTest.java
Labels: team-ExternalDeps, awaiting-review

#21787 [7.2.0] Starlark transitions: support `allowMultiple` native options.
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/config/StarlarkDefinedConfigTransition.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/FunctionTransitionUtil.java
  src/main/java/com/google/devtools/common/options/Converter.java
  src/main/java/com/google/devtools/common/options/Converters.java
  src/test/java/com/google/devtools/build/lib/analysis/StarlarkAttrTransitionProviderTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/DummyTestFragment.java
  src/test/java/com/google/devtools/common/options/AssignmentConverterTest.java
Labels: team-Configurability, awaiting-review
