Repository bazelbuild/bazel, pull requests merged in 2024-12, with the labels that each got.

#24535 [8.0.0] Update concept docs for symbolic macros and visibility
  site/en/concepts/visibility.md
  site/en/extending/macros.md
  src/main/java/com/google/devtools/build/docgen/templates/attributes/common/visibility.html
  src/main/java/com/google/devtools/build/docgen/templates/be/functions.vm
Labels: team-Documentation, awaiting-review

#24540 Delete update-lockfiles.yml to prevent security vulnerability attack
  .github/workflows/update-lockfiles.yml
Labels: team-OSS, awaiting-review

#24541 [8.0.0] Delete update-lockfiles.yml temporarily to prevent failing actions
  .github/workflows/update-lockfiles.yml
Labels: team-OSS, awaiting-review

#24560 [8.0.0] Make the removed java symbols compatible with `WORKSPACE` loading
  src/main/starlark/builtins_bzl/bazel/exports.bzl
  src/main/starlark/builtins_bzl/common/exports.bzl
  src/main/starlark/builtins_bzl/common/java/java_common.bzl
Labels: awaiting-review

#24562 [8.0.0] Don't leak `-g0` to the MSVC compiler on Windows
  src/main/starlark/builtins_bzl/common/builtin_exec_platforms.bzl
  src/test/py/bazel/bazel_windows_cpp_test.py
Labels: awaiting-review

#24564 [8.0.0] Change `@bazel_tools//tools/jdk` references to `@rules_java//toolchains` in docs
  site/en/docs/bazel-and-java.md
  src/main/java/com/google/devtools/build/docgen/templates/attributes/common/toolchains.html
  src/main/java/com/google/devtools/build/docgen/templates/be/make-variables.vm
Labels: team-Documentation, awaiting-review

#24567 [8.0.0] Enable ignore_root_user_error for Python toolchain
  MODULE.bazel
Labels: awaiting-review

#24586 [8.0.0] Guard against NPE when calling `OperatingSystemMXBean.getCpuLoad()`
  src/main/java/com/google/devtools/build/lib/profiler/CollectLocalResourceUsage.java
Labels: team-Performance, awaiting-review

#24594 [8.0.0] Create intermediate directories when moving deeply nested undeclared outputs.
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
  src/test/shell/bazel/bazel_test_test.sh
Labels: team-Local-Exec, awaiting-review

#24596 [8.0.0] Bazel Docs: Fix version selector in release docs
  scripts/docs/rewriter.py
  site/command-line-reference-prefix.html
Labels: team-OSS, team-Documentation, awaiting-review

#24599 [8.0.0] Only process executable path for path mapping
  src/main/java/com/google/devtools/build/lib/actions/CommandLines.java
  src/main/java/com/google/devtools/build/lib/actions/PathStrippable.java
  src/test/java/com/google/devtools/build/lib/actions/CommandLinesTest.java
Labels: team-Performance, awaiting-review

#24628 [8.0.1] Make rlocation in test-setup.sh compatible with /bin/sh
  tools/test/test-setup.sh
Labels: team-OSS, awaiting-review

#24630 [8.0.1] Retry the cleanup of downloadAndExtract
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
Labels: team-ExternalDeps, awaiting-review

#24648 [8.0.1] Fix invalid `dict` syntax in macro docs
  site/en/extending/macros.md
Labels: team-Documentation, awaiting-review

#24650 [8.0.1] Print embedded label / version when starting Bazel.
  src/main/cpp/blaze.cc
  src/test/shell/integration/bazel_command_log_test.sh
  src/test/shell/integration/client_test.sh
Labels: team-Rules-CPP, awaiting-review

#24660 [8.0.1] Fix checking TEST_PREMATURE_EXIT_FILE
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
Labels: team-Rules-Java, awaiting-review

#24691 [7.5.0] Backport 9b027c8 and be2186f to fix windows CI failures
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
  src/test/py/bazel/py_test.py
  src/test/py/bazel/test_base.py
Labels: team-ExternalDeps, team-OSS, awaiting-review

#24665 [7.5.0] Retry the cleanup of downloadAndExtract
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
Labels: team-ExternalDeps, awaiting-review

#24732 [7.5.0] Cherry-pick "Migrate imp to importlib in path_test.py"
  tools/build_defs/pkg/path_test.py
Labels: team-ExternalDeps, awaiting-review

#24726 [8.0.1] Fix linking objc binaries in the root package
  src/main/starlark/builtins_bzl/common/objc/compilation_support.bzl
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcStarlarkTest.java
Labels: team-Rules-ObjC, awaiting-review, team-Rules-API

#24725 [7.5.0] java_launcher: Fix non-portable ofstream usage
  src/tools/launcher/java_launcher.cc
Labels: team-Rules-Java, awaiting-review

#24667 [7.5.0] Add `bazel query --output_file` option, which writes query results di…
  scripts/bash_completion_test.sh
  src/main/java/com/google/devtools/build/lib/BUILD
  src/main/java/com/google/devtools/build/lib/buildtool/AqueryProcessor.java
  src/main/java/com/google/devtools/build/lib/buildtool/CqueryProcessor.java
  src/main/java/com/google/devtools/build/lib/buildtool/PostAnalysisQueryProcessor.java
  src/main/java/com/google/devtools/build/lib/query2/common/CommonQueryOptions.java
  src/main/java/com/google/devtools/build/lib/runtime/QueryRuntimeHelper.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/QueryEnvironmentBasedCommand.java
  src/test/shell/integration/bazel_query_test.sh
Labels: team-Core, awaiting-review

#24741 [8.0.1] Fix symlink planting for multiple aspects
  src/main/java/com/google/devtools/build/lib/skyframe/BuildDriverFunction.java
Labels: team-Local-Exec, awaiting-review

#24753 [8.0.1] Fix parsing cpu.max file in cgroup v2 implementation
  src/main/java/com/google/devtools/build/lib/sandbox/cgroups/controller/v2/UnifiedCpu.java
  src/test/java/com/google/devtools/build/lib/sandbox/cgroups/CpuTest.java
Labels: team-Local-Exec, awaiting-review

#24772 [8.0.1] Allow `native.bazel_version` to be overridden for dev builds
  src/main/java/com/google/devtools/build/lib/analysis/BlazeVersionInfo.java
Labels: team-Configurability, awaiting-review

#24769 [8.0.1] Don't show fixup warnings during `bazel mod tidy`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RootModuleFileFixup.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionFunction.java
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, awaiting-review

#24771 [8.0.1] Handle access to files under invalid repo names gracefully
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review
