Repository bazelbuild/bazel, pull requests merged in 2024-11, with the labels that each got.

#24171 [8.0.0] Allow `use_repo_rule` repos to load from each other
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/InnateRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionId.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/blackbox/tests/workspace/BazelEmbeddedStarlarkBlackBoxTest.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#24189 [8.0.0] Avoid a print loop when busy-waiting on the client lock on Windows.
  src/main/cpp/blaze_util_windows.cc
Labels: team-Rules-CPP, awaiting-review

#24193 [8.0.0] Fix empty package in AutoBazelRepositoryProcessor
  tools/java/runfiles/AutoBazelRepositoryProcessor.java
Labels: team-Rules-Java, awaiting-review

#24192 [8.0.0] Export Unix `cc_toolchain_config` for backwards compatibility
  tools/cpp/unix_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#24211 Revert "[7.4.0] Fix ml path for Windows clang-cl cc toolchain (#23406)"
  src/test/py/bazel/bazel_windows_cpp_test.py
  tools/cpp/windows_cc_configure.bzl
Labels: team-Rules-CPP, awaiting-review

#24210 [8.0.0] Make the Windows implementation of AcquireLock compatible with JVM locks.
  src/main/cpp/blaze_util_windows.cc
Labels: team-Rules-CPP, awaiting-review

#24215 [8.0.0] Remove Proto rules
  src/main/java/com/google/devtools/build/lib/bazel/rules/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRuleClassProvider.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/CcRules.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoConstants.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoInfo.java
  src/main/starlark/builtins_bzl/bazel/exports.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_proto_library.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_proto_support.bzl
  src/main/starlark/builtins_bzl/common/exports.bzl
  src/main/starlark/builtins_bzl/common/java/proto/java_lite_proto_library.bzl
  src/main/starlark/builtins_bzl/common/java/proto/java_proto_library.bzl
  src/main/starlark/docgen/BUILD
  src/main/starlark/docgen/cpp.bzl
  src/main/starlark/docgen/java.bzl
  src/main/starlark/docgen/proto.bzl
  src/test/java/com/google/devtools/build/lib/packages/PackageFactoryTest.java
  src/test/java/com/google/devtools/build/lib/packages/util/MockProtoSupport.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/proto/CcProtoLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/java/proto/StarlarkJavaLiteProtoLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/BazelProtoCommonTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/BazelProtoLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/ProtoInfoStarlarkApiTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/ProtoLangToolchainTest.java
  src/test/java/com/google/devtools/build/lib/testutil/TestConstants.java
  src/test/py/bazel/query_test.py
  src/test/shell/integration/load_removed_symbols_test.sh
  workspace_deps.bzl
Labels: team-Rules-Java, team-Rules-CPP, awaiting-review

#24228 [7.4.1] Remove DownloadManager instance from RegistryFactoryImpl.
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Registry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryImpl.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RepoSpecFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/YankedVersionsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BazelPackageLoader.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/FakeRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
Labels: team-ExternalDeps, awaiting-review

#24224 [8.0.0] Observe --noexperimental_check_output_files even for `run` commands.
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
Labels: awaiting-review

#24223 [8.0.0] Extract methods to acquire and release a filesystem lock.
  src/main/cpp/blaze.cc
  src/main/cpp/blaze_util_platform.h
  src/main/cpp/blaze_util_posix.cc
  src/main/cpp/blaze_util_windows.cc
Labels: team-Rules-CPP, awaiting-review

#24231 [8.0.0] Force the JVM to use UTF-8 on Windows
  src/BUILD
  src/minimize_jdk.sh
  src/patch_java_manifest_for_utf8.cc
  src/test/shell/bazel/BUILD
Labels: team-OSS, awaiting-review

#24233 [8.0.0] Remove `LauncherFileWriteAction`
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/actions/LauncherFileWriteAction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/actions/LauncherFileWriteActionTest.java
Labels: team-Configurability, awaiting-review

#24220 [8.0.0] Remove DownloadManager instance from RegistryFactoryImpl.
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Registry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryImpl.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RepoSpecFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/YankedVersionsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BazelPackageLoader.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/FakeRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
Labels: team-ExternalDeps, awaiting-review

#24232 [8.0.0] Improve support for spaces in output base
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/java_stub_template.txt
  src/package-bazel.sh
  src/test/shell/bazel/bazel_determinism_test.sh
Labels: team-Configurability, awaiting-review

#24226 [8.0.0] Don't check main repo name for auto-load when bzlmod is disabled.
  src/main/java/com/google/devtools/build/lib/skyframe/StarlarkBuiltinsFunction.java
Labels: awaiting-review, team-Rules-API

#24245 [8.0.0] Let repo rules remove env vars for subprocesses
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkExecutionResult.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#24247 [8.0.0] Add `repository_ctx.rename()` for renaming files or directories
  src/main/java/com/google/devtools/build/lib/bazel/debug/WorkspaceRuleEvent.java
  src/main/java/com/google/devtools/build/lib/bazel/debug/workspace_log.proto
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContextTest.java
Labels: team-ExternalDeps, awaiting-review

#24250 Merge the rename of IgnoredPackagePrefixes to IgnoredSubdirectories
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/packages/producers/BUILD
  src/main/java/com/google/devtools/build/lib/query2/BUILD
  src/main/java/com/google/devtools/build/lib/query2/PostAnalysisQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/query2/SkyQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BazelSkyframeExecutorConstants.java
  src/main/java/com/google/devtools/build/lib/skyframe/GlobFunctionWithMultipleRecursiveFunctions.java
  src/main/java/com/google/devtools/build/lib/skyframe/GlobFunctionWithRecursionInSingleFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/GlobsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/IgnoredSubdirectoriesFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/IgnoredSubdirectoriesValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageLookupFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PrepareDepsOfPatternFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/TargetPatternFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/AbstractPackageLoader.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/AbstractQueryKeepGoingTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/BUILD
  src/test/java/com/google/devtools/build/lib/query2/testutil/SkyframeQueryHelper.java
  src/test/java/com/google/devtools/build/lib/rules/repository/BUILD
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/ContainingPackageLookupFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/FilesetEntryFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/GlobTestBase.java
  src/test/java/com/google/devtools/build/lib/skyframe/PackageLookupFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/PrepareDepsOfPatternsFunctionSmartNegationTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RecursiveFilesystemTraversalFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/serialization/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/serialization/IgnoredSubdirectoriesValueCodecTest.java
Labels: team-ExternalDeps, awaiting-review

#24234 [8.0.0] Include apparent names of deps in `bazel mod` JSON output
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/JsonOutputFormatter.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodTestUtil.java
Labels: team-ExternalDeps, awaiting-review

#24251 [8.0.0] Match --worker_extra_flag against the worker key mnemonic, not the action mnemonic, as is the case for other worker flags taking a mnemonic.
  src/main/java/com/google/devtools/build/lib/worker/WorkerParser.java
  src/test/java/com/google/devtools/build/lib/worker/ExampleWorker.java
  src/test/java/com/google/devtools/build/lib/worker/ExampleWorkerMultiplexer.java
  src/test/java/com/google/devtools/build/lib/worker/ExampleWorkerOptions.java
  src/test/shell/integration/bazel_worker_test.sh
Labels: team-Local-Exec, awaiting-review

#24255 [8.0.0] Add better error handling for skyframe cycles while creating configurations.
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
Labels: team-Core, awaiting-review

#24259 [8.0.0] Add support for `--keep_going` to `bazel mod`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorValue.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
  src/main/protobuf/failure_details.proto
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, awaiting-review

#24267 [8.0.0] Use non-snapshotted paths when creating a runfiles symlink tree.
  src/main/java/com/google/devtools/build/lib/exec/RunfilesTreeUpdater.java
  src/main/java/com/google/devtools/build/lib/exec/SymlinkTreeHelper.java
  src/main/java/com/google/devtools/build/lib/exec/SymlinkTreeStrategy.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeModule.java
  src/main/java/com/google/devtools/build/lib/vfs/SnapshottingFileSystem.java
  src/test/java/com/google/devtools/build/lib/exec/SymlinkTreeHelperTest.java
  src/test/java/com/google/devtools/build/lib/exec/SymlinkTreeStrategyTest.java
Labels: awaiting-review

#24280 [8.0.0] Symbolic macro attribute inheritance
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/packages/BUILD
  src/main/java/com/google/devtools/build/lib/packages/MacroClass.java
  src/main/java/com/google/devtools/build/lib/packages/RuleClass.java
  src/main/java/com/google/devtools/build/lib/packages/RuleClassUtils.java
  src/main/java/com/google/devtools/build/lib/packages/RuleFunction.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/info/BUILD
  src/main/java/com/google/devtools/build/lib/runtime/commands/info/BuildLanguageInfoItem.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/MacroFunctionApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/RuleFunctionApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleFunctionsApi.java
  src/test/java/com/google/devtools/build/docgen/StarlarkDocumentationTest.java
  src/test/java/com/google/devtools/build/lib/analysis/SymbolicMacroTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestCase.java
Labels: awaiting-review, team-Loading-API

#24281 [8.0.0] Do not export `rlocation` from test setup
  tools/test/test-setup.sh
Labels: awaiting-review

#24283 Use `java_proto_library` from `@proto` to match the `proto_library` f…
  src/main/protobuf/BUILD
Labels: awaiting-review

#24258 [8.0.0] Handle unresolved symlinks correctly when replacing an existing entry in a runfiles tree.
  src/main/java/com/google/devtools/build/lib/exec/SymlinkTreeHelper.java
  src/test/java/com/google/devtools/build/lib/exec/SymlinkTreeHelperTest.java
Labels: team-Local-Exec, awaiting-review

#24294 [8.0.0] Bazel bootstrap: use MODULE.bazel to get the version
  MODULE.bazel
  MODULE.bazel.lock
  scripts/bootstrap/buildenv.sh
Labels: awaiting-review

#24292 [8.0.0] Fix permissions on directories while incrementally updating a symlink tree.
  src/main/java/com/google/devtools/build/lib/exec/SymlinkTreeHelper.java
  src/test/java/com/google/devtools/build/lib/exec/SymlinkTreeHelperTest.java
Labels: team-Remote-Exec, awaiting-review

#24301 [8.0.0] Add `--inject_repository` and fix crash on overridden non-existent repo
  src/main/java/com/google/devtools/build/lib/bazel/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BazelPackageLoader.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestCase.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/packages/BUILD
  src/test/java/com/google/devtools/build/lib/packages/util/PackageLoadingTestCase.java
  src/test/java/com/google/devtools/build/lib/pkgcache/BUILD
  src/test/java/com/google/devtools/build/lib/pkgcache/IncrementalLoadingTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/BUILD
  src/test/java/com/google/devtools/build/lib/query2/testutil/SkyframeQueryHelper.java
  src/test/java/com/google/devtools/build/lib/rules/repository/BUILD
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/AbstractCollectPackagesUnderDirectoryTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/ContainingPackageLookupFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/FileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/PackageLookupFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/PrepareDepsOfPatternsFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
  src/test/shell/integration/aspect_test.sh
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#24300 [8.0.0] Make `git_repository()` ignore `GIT_` env vars
  tools/build_defs/repo/git_worker.bzl
Labels: team-ExternalDeps, awaiting-review

#24314 [8.0.0] Don't crash when repo rule throws `InterruptedException`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegularRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
Labels: team-ExternalDeps, awaiting-review

#24315 [8.0.0] Disallow symbolic macros from returning a non-None value
  src/main/java/com/google/devtools/build/lib/packages/MacroClass.java
  src/test/java/com/google/devtools/build/lib/analysis/SymbolicMacroTest.java
Labels: awaiting-review, team-Loading-API

#24324 [8.0.0] Trim Workspace Status values
  src/main/java/com/google/devtools/build/lib/bazel/BazelWorkspaceStatusModule.java
Labels: area-Windows, team-OSS, awaiting-review

#24273 [8.0.0] Move Apple multi arch linking support out of the bazel binary
  src/main/java/com/google/devtools/build/lib/packages/BuiltinRestriction.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/objc/AppleCommonApi.java
  src/main/starlark/builtins_bzl/common/objc/apple_common.bzl
  src/main/starlark/builtins_bzl/common/objc/linking_support.bzl
  src/main/starlark/builtins_bzl/common/objc/multi_arch_binary_support.bzl
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcRuleTestCase.java
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcStarlarkTest.java
Labels: team-Rules-CPP, awaiting-review

#24336 [8.0.0] Put macro attribute inheritance behind an off-by-default --experimental_enable_macro_inherit_attrs flag
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleFunctionsApi.java
  src/test/java/com/google/devtools/build/lib/analysis/SymbolicMacroTest.java
Labels: awaiting-review, team-Loading-API

#24291 [8.0.0] Remove proto providers
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
  scripts/bootstrap/bootstrap.sh
  src/MODULE.tools
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRuleClassProvider.java
  src/main/java/com/google/devtools/build/lib/packages/AutoloadSymbols.java
  src/main/java/com/google/devtools/build/lib/packages/BUILD
  src/main/java/com/google/devtools/build/lib/packages/semantics/FlagConstants.java
  src/main/java/com/google/devtools/build/lib/rules/proto/BUILD
  src/main/java/com/google/devtools/build/lib/rules/proto/BazelProtoCommon.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoConstants.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoLangToolchainProvider.java
  src/main/starlark/builtins_bzl/bazel/exports.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_shared_library.bzl
  src/main/starlark/builtins_bzl/common/exports.bzl
  src/main/starlark/tests/builtins_bzl/cc_builtin_tests.sh
  src/test/java/com/google/devtools/build/lib/analysis/mock/BazelAnalysisMock.java
  src/test/java/com/google/devtools/build/lib/analysis/starlark/StarlarkSubruleTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AbstractMockJavaSupport.java
  src/test/java/com/google/devtools/build/lib/packages/util/MockProtoSupport.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/AbstractQueryTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/proto/CcProtoLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/java/proto/StarlarkJavaLiteProtoLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/BUILD
  src/test/java/com/google/devtools/build/lib/rules/proto/BazelProtoCommonTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/BazelProtoLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/ProtoInfoStarlarkApiTest.java
  src/test/java/com/google/devtools/build/lib/rules/proto/ProtoLangToolchainProvider.java
  src/test/java/com/google/devtools/build/lib/rules/proto/ProtoLangToolchainTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
  src/test/java/com/google/devtools/build/lib/testutil/TestConstants.java
  src/test/py/bazel/bazel_workspace_test.py
  src/test/py/bazel/runfiles_test.py
  src/test/py/bazel/test_base.py
  src/test/shell/bazel/bazel_proto_library_test.sh
  src/test/shell/bazel/bazel_rules_java_test.sh
  src/test/shell/bazel/starlark_repository_test.sh
  src/test/shell/bazel/workspace_test.sh
  src/test/shell/integration/BUILD
  src/test/shell/integration/discard_graph_edges_test.sh
  src/test/shell/integration/incompatible_autoload_externally_test.sh
  src/test/shell/testenv.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/BUILD
  tools/jdk/BUILD.java_tools
  tools/proto/BUILD
Labels: team-Configurability, team-Rules-Java, team-Rules-CPP, awaiting-review

#24332 [8.0.0] Refactor RuleVisibility validation and concatenation
  src/main/java/com/google/devtools/build/lib/analysis/CommonPrerequisiteValidator.java
  src/main/java/com/google/devtools/build/lib/analysis/ConfiguredTargetFactory.java
  src/main/java/com/google/devtools/build/lib/analysis/VisibilityProvider.java
  src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/InputFileConfiguredTarget.java
  src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/RuleConfiguredTarget.java
  src/main/java/com/google/devtools/build/lib/packages/EnvironmentGroup.java
  src/main/java/com/google/devtools/build/lib/packages/InputFile.java
  src/main/java/com/google/devtools/build/lib/packages/MacroClass.java
  src/main/java/com/google/devtools/build/lib/packages/MacroInstance.java
  src/main/java/com/google/devtools/build/lib/packages/OutputFile.java
  src/main/java/com/google/devtools/build/lib/packages/Package.java
  src/main/java/com/google/devtools/build/lib/packages/PackageFactory.java
  src/main/java/com/google/devtools/build/lib/packages/PackageGroup.java
  src/main/java/com/google/devtools/build/lib/packages/PackageGroupsRuleVisibility.java
  src/main/java/com/google/devtools/build/lib/packages/Rule.java
  src/main/java/com/google/devtools/build/lib/packages/RuleFactory.java
  src/main/java/com/google/devtools/build/lib/packages/RuleVisibility.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkNativeModule.java
  src/main/java/com/google/devtools/build/lib/packages/Target.java
  src/main/java/com/google/devtools/build/lib/packages/TargetDefinitionContext.java
  src/main/java/com/google/devtools/build/lib/packages/TargetRecorder.java
  src/main/java/com/google/devtools/build/lib/packages/VisibilityLicenseSpecifiedInputFile.java
  src/main/java/com/google/devtools/build/lib/query2/compat/FakeLoadTarget.java
  src/main/java/com/google/devtools/build/lib/query2/query/output/ProtoOutputFormatter.java
  src/main/java/com/google/devtools/build/lib/query2/query/output/XmlOutputFormatter.java
  src/main/java/com/google/devtools/build/lib/rules/AliasConfiguredTarget.java
  src/test/java/com/google/devtools/build/lib/analysis/SymbolicMacroTest.java
  src/test/java/com/google/devtools/build/lib/analysis/VisibilityProviderTest.java
  src/test/java/com/google/devtools/build/lib/graph/DigraphTest.java
  src/test/java/com/google/devtools/build/lib/packages/PackageFactoryTest.java
  src/test/java/com/google/devtools/build/lib/packages/PackageTest.java
  src/test/java/com/google/devtools/build/lib/packages/RuleVisibilityTest.java
Labels: team-Performance, team-Configurability, awaiting-review

#24349 [8.0.0] Add test for Unicode console output
  src/test/shell/bazel/bazel_ui_test.sh
Labels: team-OSS, awaiting-review

#24351 [8.0.0] Misc cherry-picks
  .bazelversion
  .gitignore
  MODULE.bazel.lock
  site/en/release/index.md
  src/main/java/com/google/devtools/build/docgen/annot/GlobalMethods.java
  src/main/java/com/google/devtools/build/lib/packages/PackageCallable.java
  src/main/java/com/google/devtools/build/lib/packages/RepoFileGlobals.java
Labels: team-OSS, team-Documentation, awaiting-review

#24353 [8.0.0] Alias autodetecting_toolchain to @rules_python.
  MODULE.bazel
  scripts/bootstrap/bootstrap.sh
  src/test/shell/bazel/bazel_determinism_test.sh
  tools/python/BUILD.tools
  tools/python/define_autodetecting_toolchain.bzl
Labels: awaiting-review

#24361 [8.0.0] Test with non-Latin-1 Unicode characters on Windows
  src/test/shell/integration/run_test.sh
Labels: team-OSS, awaiting-review

#24362 [8.0.0] Parse Starlark files as raw bytes for Bzlmod
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/CompiledModuleFile.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/VendorFileFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepoFileFunction.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/py/bazel/bzlmod/test_utils.py
  src/test/py/bazel/test_base.py
Labels: team-ExternalDeps, awaiting-review

#24360 Restrict access to private API apple_common to the repos and tests that need it.
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/objc/AppleBootstrap.java
  src/test/java/com/google/devtools/build/lib/rules/apple/XcodeVersionTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcStarlarkTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/XcodeConfigTest.java
Labels: awaiting-review

#24368 Don't select()-promote None values
  src/main/java/com/google/devtools/build/lib/packages/MacroClass.java
  src/test/java/com/google/devtools/build/lib/analysis/SymbolicMacroTest.java
Labels: team-Configurability, awaiting-review

#24372 [8.0.0] Use new `String#indexOf` overload for Starlark's `stringFind`
  src/main/java/net/starlark/java/eval/StringModule.java
Labels: team-Starlark-Interpreter, awaiting-review

#24376 [8.0.0] Symbolic macro documentation & attribute inheritance cherry picks
  site/en/extending/macros.md
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/packages/Attribute.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleFunctionsApi.java
  src/test/java/com/google/devtools/build/lib/analysis/SymbolicMacroTest.java
  src/test/java/com/google/devtools/build/lib/starlarkdocextract/ModuleInfoExtractorTest.java
Labels: team-Documentation, awaiting-review, team-Loading-API

#24381 [8.0.0] Bump lockfile version after changes to canonical names
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#24377 [8.0.0] Let `genquery` honor `--consistent_labels`
  src/main/java/com/google/devtools/build/lib/query2/common/CommonQueryOptions.java
  src/main/java/com/google/devtools/build/lib/rules/genquery/BUILD
  src/main/java/com/google/devtools/build/lib/rules/genquery/GenQuery.java
  src/test/java/com/google/devtools/build/lib/buildtool/GenQueryIntegrationTest.java
Labels: team-Configurability, awaiting-review

#24380 [8.0.0] Sort recorded inputs in lockfile entries of module extensions
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
Labels: team-ExternalDeps, awaiting-review

#24383 [8.0.0] Add rules_proto in MODULE.tools
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: awaiting-review

#24388 [8.0.0] psinfo fixes
  src/main/java/com/google/devtools/build/lib/metrics/PsInfoCollector.java
  src/test/java/com/google/devtools/build/lib/metrics/PsInfoCollectorTest.java
Labels: team-Performance, awaiting-review

#24386 [8.0.0] Check the current OS and only collect worker metrics on Linux and MacOS.
  src/main/java/com/google/devtools/build/lib/profiler/CollectLocalResourceUsage.java
  src/test/java/com/google/devtools/build/lib/profiler/BUILD
  src/test/java/com/google/devtools/build/lib/profiler/ProfilerTest.java
Labels: team-Performance, awaiting-review

#24395 [8.0.0] Fix duration measurement issues in the client
  src/main/cpp/archive_utils.cc
  src/main/cpp/archive_utils.h
  src/main/cpp/blaze.cc
  src/main/cpp/blaze_util.h
  src/main/cpp/blaze_util_platform.h
  src/main/cpp/blaze_util_posix.cc
  src/main/cpp/blaze_util_windows.cc
  src/test/cpp/blaze_archive_test.cc
Labels: team-Rules-CPP, awaiting-review

#24400 [8.0.0] Upgrade to protobuf 29.0-rc3
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: awaiting-review

#24403 [8.0.0] Fix more Unicode bugs
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/ConfiguredRuleClassProvider.java
  src/main/java/com/google/devtools/build/lib/analysis/RepoMappingManifestAction.java
  src/main/java/com/google/devtools/build/lib/analysis/SourceManifestAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/LazyWriteNestedSetOfTupleAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/LazyWritePathsFileAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/LocalTemplateExpansionStrategy.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/StarlarkAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/Template.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkActionFactory.java
  src/main/java/com/google/devtools/build/lib/authandtls/BUILD
  src/main/java/com/google/devtools/build/lib/authandtls/BasicHttpAuthenticationEncoder.java
  src/main/java/com/google/devtools/build/lib/authandtls/NetrcCredentials.java
  src/main/java/com/google/devtools/build/lib/authandtls/NetrcParser.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/VendorFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryResolvedModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkExecutionResult.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
  src/main/java/com/google/devtools/build/lib/profiler/JsonProfile.java
  src/main/java/com/google/devtools/build/lib/profiler/JsonTraceFileWriter.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/main/java/com/google/devtools/build/lib/rules/cpp/ShowIncludesFilter.java
  src/main/java/com/google/devtools/build/lib/util/BUILD
  src/main/java/com/google/devtools/build/lib/util/DependencySet.java
  src/test/java/com/google/devtools/build/lib/analysis/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/actions/TemplateExpansionActionTest.java
  src/test/java/com/google/devtools/build/lib/authandtls/BUILD
  src/test/java/com/google/devtools/build/lib/authandtls/BasicHttpAuthenticationEncoderTest.java
  src/test/java/com/google/devtools/build/lib/authandtls/GoogleAuthUtilsTest.java
  src/test/java/com/google/devtools/build/lib/authandtls/NetrcCredentialsTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/UrlRewriterTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/ShowIncludesFilterTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleImplementationFunctionsTest.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_workspaces_test.sh
  src/test/shell/bazel/starlark_repository_test.sh
  src/test/shell/bazel/unicode_filenames_test.sh
  src/test/shell/integration/starlark_dependency_pruning_test.sh
Labels: team-Performance, team-Configurability, team-ExternalDeps, team-Rules-CPP, awaiting-review

#24408 [8.0.0] Remove Python providers
  MODULE.bazel
  MODULE.bazel.lock
  scripts/bootstrap/bootstrap.sh
  src/MODULE.tools
  src/main/java/com/google/devtools/build/docgen/bazel_link_map.json
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRuleClassProvider.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/python/PyInfoApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/python/PyRuntimeInfoApi.java
  src/main/starlark/builtins_bzl/common/exports.bzl
  src/main/starlark/builtins_bzl/common/python/attributes.bzl
  src/main/starlark/builtins_bzl/common/python/providers.bzl
  src/main/starlark/builtins_bzl/common/python/py_library.bzl
  src/main/starlark/builtins_bzl/common/python/semantics.bzl
  src/main/starlark/docgen/python.bzl
  src/test/java/com/google/devtools/build/lib/bazel/rules/python/BazelPyBinaryConfiguredTargetTest.java
  src/test/java/com/google/devtools/build/lib/packages/util/BazelMockPythonSupport.java
  src/test/java/com/google/devtools/build/lib/rules/python/BUILD
  src/test/java/com/google/devtools/build/lib/rules/python/PyInfo.java
  src/test/java/com/google/devtools/build/lib/rules/python/PyInfoTest.java
  src/test/java/com/google/devtools/build/lib/rules/python/PyRuntimeInfo.java
  src/test/java/com/google/devtools/build/lib/rules/python/PyRuntimeInfoTest.java
  src/test/java/com/google/devtools/build/lib/testutil/TestConstants.java
  src/test/py/bazel/BUILD
  src/test/shell/bazel/bazel_bootstrap_distfile_test.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
  src/test/tools/bzlmod/verify_default_lock_file.sh
  tools/python/srcs_version.bzl
  workspace_deps.bzl
Labels: awaiting-review

#24409 [8.0.0] Automated rollback of commit b406bdcbe95dd23ca623f807d5113f18b724611a.
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/objc/AppleBootstrap.java
  src/test/java/com/google/devtools/build/lib/rules/apple/XcodeVersionTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcStarlarkTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/XcodeConfigTest.java
Labels: awaiting-review

#24413 [8.0.0] Apply the main repo mapping in `BuildIntegrationTestCase`
  src/test/java/com/google/devtools/build/lib/buildtool/util/BUILD
  src/test/java/com/google/devtools/build/lib/buildtool/util/BuildIntegrationTestCase.java
Labels: awaiting-review

#24418 [8.0.0] Suppress warnings for all external repos
  .bazelrc
Labels: team-OSS, awaiting-review

#24419 [Rolling release] Update `with_cfg.bzl` to v0.6.0
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review

#24428 [8.0.0] Fix `@rules_java` autoload configs
  src/main/java/com/google/devtools/build/lib/packages/semantics/FlagConstants.java
Labels: awaiting-review

#24440 [8.0.0] Update embedded JDK to 21.0.5
  repositories.bzl
Labels: team-Rules-Java, awaiting-review

#24441 [8.0.0] Get `--repo_env=NAME` value from client environment (not server).
  src/main/java/com/google/devtools/build/lib/runtime/CommandEnvironment.java
Labels: team-ExternalDeps, awaiting-review

#24445 [8.0.0] Re-enable symbolic macro attribute inheritance and remove --experimental_enable_macro_inherit_attrs flag
  site/en/extending/macros.md
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleFunctionsApi.java
  src/test/java/com/google/devtools/build/lib/analysis/SymbolicMacroTest.java
  src/test/java/com/google/devtools/build/lib/starlarkdocextract/ModuleInfoExtractorTest.java
Labels: team-Documentation, awaiting-review, team-Loading-API

#24446 [8.0.0] Update with_cfg to 0.6.0
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review

#24456 [8.0.0] Do not forward legacy `cmd.exe` variables to the server
  src/main/cpp/option_processor_windows.cc
Labels: area-Windows, awaiting-review

#24453 [8.0.0] Fix NPE in the Starlark debugger
  src/main/java/net/starlark/java/eval/StarlarkThread.java
  src/test/java/com/google/devtools/build/lib/starlarkdebug/server/StarlarkDebugServerTest.java
Labels: awaiting-review, team-Rules-API

#24464 [8.0.0] Update `@rules_java` `v8.5.1`
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/main/starlark/docgen/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/util/AbstractMockJavaSupport.java
  src/test/tools/bzlmod/MODULE.bazel.lock
  workspace_deps.bzl
Labels: team-Configurability, awaiting-review

#24500 [Rolling release] Do not forward legacy `cmd.exe` variables to the server
  src/main/cpp/option_processor_windows.cc
  src/test/shell/integration/run_test.sh
Labels: team-Rules-CPP, awaiting-review

#24491 [8.0.0] Cherry-pick two new logs to provide more information in dynamic execution.
  src/main/java/com/google/devtools/build/lib/dynamic/LocalBranch.java
  src/main/java/com/google/devtools/build/lib/dynamic/RemoteBranch.java
Labels: team-Performance, awaiting-review

#24510 [8.0.0] Fix crashing issue with WORKSPACE
  src/main/java/com/google/devtools/build/lib/skyframe/RepoFileFunction.java
  src/test/shell/bazel/workspace_test.sh
Labels: team-ExternalDeps, awaiting-review

#24513 Fix rolling release
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/objc/AppleBootstrap.java
  src/test/java/com/google/devtools/build/lib/rules/apple/XcodeVersionTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcStarlarkTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/XcodeConfigTest.java
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: awaiting-review

#24512 [8.0.0] Update macro tutorial, glossary, and related docs for symbolic macros
  site/en/_book.yaml
  site/en/extending/_index.yaml
  site/en/extending/concepts.md
  site/en/reference/glossary.md
  site/en/rules/legacy-macro-tutorial.md
  site/en/rules/macro-tutorial.md
  site/en/rules/verbs-tutorial.md
Labels: team-Documentation, awaiting-review, team-Loading-API

#24515 [8.0.0] Upgrade to protobuf 29.0
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: awaiting-review

#24517 [8.0.0] Add --run_env to bazel run
  src/main/java/com/google/devtools/build/lib/runtime/commands/RunCommand.java
  src/test/shell/integration/run_test.sh
Labels: team-OSS, awaiting-review
