Repository bazelbuild/bazel, pull requests merged in 2024-06, with the labels that each got.

#22628 [7.2.0] Keep `/external:I...` on a single param file line
  tools/cpp/windows_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#22634 [7.2.0] Add more profiler spans to diff handling
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/DiffAwarenessManager.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
Labels: team-Core, awaiting-review

#22636 [7.2.0] Update toolchain resolution to fully dereference aliases
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredExecutionPlatformsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainResolutionFunction.java
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredExecutionPlatformsFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainResolutionFunctionTest.java
  src/test/shell/integration/toolchain_test.sh
  src/test/shell/testenv.sh.tmpl
Labels: team-Configurability, awaiting-review

#22637 [7.2.0] Add option to track sandbox stashes in memory
  src/main/java/com/google/devtools/build/lib/sandbox/AbstractContainerizingSandboxedSpawn.java
  src/main/java/com/google/devtools/build/lib/sandbox/BUILD
  src/main/java/com/google/devtools/build/lib/sandbox/DarwinSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/ProcessWrapperSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxHelpers.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxModule.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxOptions.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxStash.java
  src/main/java/com/google/devtools/build/lib/sandbox/SymlinkedSandboxedSpawn.java
  src/test/java/com/google/devtools/build/lib/sandbox/SymlinkedSandboxedSpawnTest.java
  src/test/shell/integration/sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#22647 [7.2.0] Fix a potential infinite loop in the case of an interruption.
  src/main/java/com/google/devtools/build/lib/skyframe/IncrementalPackageRoots.java
Labels: team-Performance, awaiting-review

#22635 [7.2.0] Make Bazel changes for `oneversion` support
  src/main/java/com/google/devtools/build/lib/rules/java/JavaOptions.java
  src/main/starlark/builtins_bzl/common/java/java_binary.bzl
  src/test/shell/bazel/bazel_java_test.sh
Labels: team-Rules-Java, awaiting-review

#22648 [7.2.0] Fix data race in `IndexRegistry#getBazelRegistryJson`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
Labels: team-ExternalDeps, awaiting-review

#22650 [7.2.0] Add a git merge driver for `MODULE.bazel.lock`
  MODULE.bazel
  MODULE.bazel.lock
  scripts/BUILD
  scripts/bazel-lockfile-merge.jq
  scripts/bazel_lockfile_merge_test.sh
  site/en/external/lockfile.md
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepoRecordedInput.java
Labels: team-ExternalDeps, team-Documentation, awaiting-review

#22678 [7.3.0] chore: Ignore shellcheck error in copy-paste code
  tools/bash/runfiles/runfiles.bash
Labels: team-OSS, awaiting-review

#22679 [7.3.0] Format "Repository names and strict deps" bullet list
  site/en/external/module.md
Labels: team-Configurability, team-Documentation, awaiting-review

#22697 [7.2.1] Fix crash on `IOException` in SingleExtensionEvalFunction
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
Labels: team-ExternalDeps, awaiting-review

#22698 [7.3.0] Fix crash on `IOException` in SingleExtensionEvalFunction
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
Labels: team-ExternalDeps, awaiting-review

#22699 [7.2.1] Replace //external:android/d8_jar_import with "@android_gmaven_r8//jar"
  src/test/java/com/google/devtools/build/android/r8/BUILD
  src/tools/android/java/com/google/devtools/build/android/r8/BUILD
  src/tools/android/java/com/google/devtools/build/android/r8/BUILD.tools
Labels: team-Android, awaiting-review

#22705 [7.3.0] Replace //external:android/d8_jar_import with "@android_gmaven_r8//jar"
  src/test/java/com/google/devtools/build/android/r8/BUILD
  src/tools/android/java/com/google/devtools/build/android/r8/BUILD
  src/tools/android/java/com/google/devtools/build/android/r8/BUILD.tools
Labels: team-Android, awaiting-review

#22708 [7.3.0] Treat missing repo boundary files as transient errors
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
Labels: team-ExternalDeps, awaiting-review

#22707 [7.2.1] Treat missing repo boundary files as transient errors
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
Labels: team-ExternalDeps, awaiting-review

#22713 [7.2.1] Fix an NPE with the compact execution log and coverage
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
Labels: team-Remote-Exec, awaiting-review

#22683 [7.3.0] Cherry-pick fix to make Protobuf work with sibling repository layout into Bazel 7.3
  src/main/java/com/google/devtools/build/lib/actions/ArtifactFactory.java
  src/main/java/com/google/devtools/build/lib/actions/ArtifactResolver.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/HeaderDiscovery.java
  src/test/java/com/google/devtools/build/lib/actions/util/ActionsTestUtil.java
  src/test/shell/bazel/cc_integration_test.sh
Labels: team-Rules-CPP, awaiting-review

#22714 [7.3.0] Fix an NPE with the compact execution log and coverage
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
Labels: awaiting-review

#22726 [7.3.0] upgrade to Bazel 7.2.0
  .bazelversion
  MODULE.bazel.lock
Labels: team-OSS, awaiting-review

#22728 [7.3.0] Clean up build after update to 7.2.0
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  repositories.bzl
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RepoSpec.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/test/shell/bazel/BUILD
  src/tools/bzlmod/utils.bzl
Labels: team-ExternalDeps, awaiting-review

#22757 [7.3.0] Ensure that downloads are cancelled on repo rule restart
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
Labels: team-ExternalDeps, awaiting-review

#22758 [7.2.1] Ensure that downloads are cancelled on repo rule restart
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
Labels: team-ExternalDeps, awaiting-review

#22720 [7.3.0] Force use of Clang over C++ modules with `use_module_maps`
  tools/cpp/BUILD.tpl
  tools/cpp/unix_cc_configure.bzl
  tools/cpp/unix_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#22747 [7.3.0] Don't try to bind mount non-existent paths in the sandbox.
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/test/shell/bazel/bazel_sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#22779 [7.3.0] Allow discard previous overrides for --override_repository and --override_module
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
Labels: team-ExternalDeps, awaiting-review

#22784 [7.2.1] Allow discard previous overrides for --override_repository and --override_module
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
Labels: team-ExternalDeps, awaiting-review

#22786 [7.3.0] Retry on connection reset error for http cache.
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
Labels: team-Remote-Exec, awaiting-review

#22724 [7.3.0] Add a jq version for arm64
  MODULE.bazel
  MODULE.bazel.lock
  scripts/BUILD
Labels: team-ExternalDeps, awaiting-review

#22790 [7.2.1] Do not fail a sandboxed spawn for missing execution statistics
  src/main/java/com/google/devtools/build/lib/actions/SpawnResult.java
  src/main/java/com/google/devtools/build/lib/exec/local/LocalSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/AbstractSandboxSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/shell/ExecutionStatistics.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java
Labels: team-Performance, team-Local-Exec, awaiting-review

#22793 [7.3.0] Use the generic term "config file" instead of the product-specific ".blazerc" in error messages.
  src/main/cpp/rc_file.cc
  src/test/cpp/rc_file_test.cc
  src/test/cpp/rc_options_test.cc
Labels: awaiting-review, team-CLI

#22791 [7.3.0] Do not fail a sandboxed spawn for missing execution statistics
  src/main/java/com/google/devtools/build/lib/actions/SpawnResult.java
  src/main/java/com/google/devtools/build/lib/exec/local/LocalSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/AbstractSandboxSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/shell/ExecutionStatistics.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java
Labels: team-Performance, team-Local-Exec, awaiting-review

#22802 [7.3.0] Fix permissions on tree artifact subdirectories as needed to move them out of the sandbox.
  src/main/java/com/google/devtools/build/lib/vfs/FileSystemUtils.java
  src/test/shell/bazel/bazel_sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#22806 [7.2.1] Fix permissions on tree artifact subdirectories as needed to move them out of the sandbox.
  src/main/java/com/google/devtools/build/lib/vfs/FileSystemUtils.java
  src/test/shell/bazel/bazel_sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#22814 [7.2.1] Enforce and await cleanup in `StarlarkBaseExternalContext`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloaderTest.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/shell/bazel/jdeps_test.sh
Labels: team-ExternalDeps, awaiting-review

#22823 [7.2.1] Locate BCR module overlay files under the `overlay` subdirectory
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
Labels: team-ExternalDeps, awaiting-review

#22831 [7.2.1] Be more precise about where to read the URL rewriter config from
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/UrlRewriter.java
Labels: team-ExternalDeps, awaiting-review

#22828 [7.2.1] Add missing category submessage.
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
  src/main/protobuf/failure_details.proto
Labels: awaiting-review

#22837 [7.2.1] Do not eval WORKSPACE in LocalRepositoryLookupFunction when `--noenable_workspace`
  src/main/java/com/google/devtools/build/lib/skyframe/LocalRepositoryLookupFunction.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
Labels: team-ExternalDeps, awaiting-review

#22794 [7.3.0] Back-port vendor mode for 7.3.0
  site/en/_book.yaml
  site/en/external/vendor.md
  src/main/java/com/google/devtools/build/docgen/annot/GlobalMethods.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkGlobalsImpl.java
  src/main/java/com/google/devtools/build/lib/bazel/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactory.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryImpl.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/VendorFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/VendorFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/VendorManager.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/commands/FetchCommand.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/TargetFetcher.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/VendorCommand.java
  src/main/java/com/google/devtools/build/lib/cmdline/LabelConstants.java
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkGlobals.java
  src/main/java/com/google/devtools/build/lib/packages/VendorFileGlobals.java
  src/main/java/com/google/devtools/build/lib/packages/VendorThreadContext.java
  src/main/java/com/google/devtools/build/lib/profiler/ProfilerTask.java
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/main/java/com/google/devtools/build/skyframe/QueryableGraph.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestCase.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/FakeRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/SkyframeQueryHelper.java
  src/test/py/bazel/bzlmod/bazel_vendor_test.py
  src/test/py/bazel/test_base.py
  src/test/shell/bazel/bazel_repository_cache_test.sh
  src/test/shell/bazel/jdeps_test.sh
Labels: team-Performance, team-Configurability, team-ExternalDeps, team-Documentation, awaiting-review

#22834 [7.3.0] Update `rules_java` `v7.6.5`
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-Rules-Java, awaiting-review

#22832 [7.3.0] Be more precise about where to read the URL rewriter config from
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/UrlRewriter.java
Labels: team-ExternalDeps, awaiting-review

#22827 [7.3.0] Add missing category submessage.
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
  src/main/protobuf/failure_details.proto
Labels: team-Remote-Exec, awaiting-review

#22824 [7.3.0] Locate BCR module overlay files under the `overlay` subdirectory
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
Labels: team-ExternalDeps, awaiting-review

#22821 [7.3.0] Read sizes from the central directory if they aren't present in the l…
  src/tools/singlejar/combiners.cc
  src/tools/singlejar/desugar_checking.cc
  src/tools/singlejar/transient_bytes.h
  src/tools/singlejar/transient_bytes_test.cc
Labels: team-Rules-Java, awaiting-user-response

#22845 [7.3.0] Push `makeExecutable` down into `AbstractFileWriteAction` subclasses
  src/main/java/com/google/devtools/build/lib/analysis/RepoMappingManifestAction.java
  src/main/java/com/google/devtools/build/lib/analysis/SourceManifestAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/AbstractFileWriteAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/BinaryFileWriteAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/FileWriteAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/LauncherFileWriteAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/LazyWriteNestedSetOfTupleAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/LazyWritePathsFileAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/ParameterFileWriteAction.java
  src/main/java/com/google/devtools/build/lib/analysis/extra/ExtraActionInfoFileWriteAction.java
  src/main/java/com/google/devtools/build/lib/analysis/test/BaselineCoverageAction.java
  src/main/java/com/google/devtools/build/lib/analysis/test/InstrumentedFileManifestAction.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidDeployInfoAction.java
  src/main/java/com/google/devtools/build/lib/rules/android/WriteAdbArgsAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppModuleMapAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/UmbrellaHeaderAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/WriteBuildInfoHeaderAction.java
  src/main/java/com/google/devtools/build/lib/rules/genquery/GenQuery.java
  src/main/java/com/google/devtools/build/lib/rules/java/WriteBuildInfoPropertiesAction.java
  src/main/java/com/google/devtools/build/lib/rules/python/PyBuiltins.java
  src/test/java/com/google/devtools/build/lib/analysis/actions/AbstractFileWriteActionTest.java
Labels: team-Configurability, team-Rules-Java, team-Rules-CPP, team-Rules-Python, awaiting-review

#22846 [7.3.0] Mark more extensions as reproducible
  MODULE.bazel
  MODULE.bazel.lock
  extensions.bzl
  rbe_extension.bzl
Labels: awaiting-review

#22883 [7.3.0] Enforce and await cleanup in `StarlarkBaseExternalContext`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloaderTest.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
Labels: team-ExternalDeps, awaiting-review

#22896 [7.3.0] Switch to a UTF-8 codepage in the client on Windows
  src/main/cpp/blaze.cc
  src/main/cpp/util/file_platform.h
  src/main/cpp/util/file_posix.cc
  src/main/cpp/util/file_windows.cc
Labels: team-Rules-CPP, awaiting-review

#22902 [7.3.0] Add error message instead of NPE with mod show_extension
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModExecutor.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, awaiting-review

#22911 [7.3.0] Do not eval WORKSPACE in LocalRepositoryLookupFunction when `--noenable_workspace`
  src/main/java/com/google/devtools/build/lib/skyframe/LocalRepositoryLookupFunction.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
Labels: team-ExternalDeps, awaiting-review
