Repository bazelbuild/bazel, pull requests merged in 2024-09, with the labels that each got.

#23495 [7.4.0] Fix an NPE with the SkymeldUiStateTracker.
  src/main/java/com/google/devtools/build/lib/runtime/SkymeldUiStateTracker.java
  src/main/java/com/google/devtools/build/lib/runtime/UiStateTracker.java
  src/test/java/com/google/devtools/build/lib/runtime/SkymeldUiStateTrackerTest.java
  src/test/java/com/google/devtools/build/lib/runtime/UiStateTrackerTest.java
Labels: awaiting-review, team-CLI

#23510 [7.4.0] Exit if it wasn't possible to zip undeclared outputs because `zip` failed.
  tools/test/test-setup.sh
Labels: team-Local-Exec, awaiting-review

#23504 [7.4.0] Use worker threads for module extension eval
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  src/main/java/com/google/devtools/build/lib/bazel/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/InnateRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegularRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/LocalConfigPlatformFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/RepoFetchingSkyKeyComputeState.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidNdkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidSdkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/LocalRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/NewLocalRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/main/java/com/google/devtools/build/skyframe/WorkerSkyFunctionEnvironment.java
  src/main/java/com/google/devtools/build/skyframe/WorkerSkyKeyComputeState.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/rules/repository/BUILD
  src/test/py/bazel/bzlmod/bazel_module_test.py
  third_party/BUILD
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#23472 [7.4.0] Update `remote_execution.proto`
  third_party/remoteapis/build/bazel/remote/execution/v2/remote_execution.proto
Labels: team-Remote-Exec, awaiting-review

#23525 [7.4.0] Always use 0777 when creating directories, and leave group/other permission bits alone when making an already existing directory writable.
  src/main/java/com/google/devtools/build/lib/unix/UnixFileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java
  src/main/native/unix_jni.cc
Labels: team-Performance, awaiting-review

#23553 [7.4.0] Lazily get action cache in lease service.
  src/main/java/com/google/devtools/build/lib/remote/LeaseService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
Labels: team-Remote-Exec, awaiting-review

#23556 [7.4.0] Use disk cache for HTTP cache server.
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheClient.java
  src/test/java/com/google/devtools/build/lib/remote/http/HttpCacheClientTest.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/OnDiskBlobStoreCache.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/OnDiskHttpCacheServerHandler.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/RemoteWorker.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/http/AbstractHttpCacheServerHandler.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/http/BUILD
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/http/HttpCacheServerInitializer.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/http/InMemoryHttpCacheServerHandler.java
  src/tools/remote/src/test/java/com/google/devtools/build/remote/worker/http/AbstractHttpCacheServerHandlerTest.java
  src/tools/remote/src/test/java/com/google/devtools/build/remote/worker/http/BUILD
Labels: team-Remote-Exec, awaiting-review

#23550 [7.4.0] Ignore overrides with `--ignore_dev_dependency`
  site/en/external/migration.md
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
Labels: team-ExternalDeps, team-Documentation, awaiting-review

#23561 [7.4.0] Make HTTP cache works with cache eviction.
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionContextProvider.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/common/BUILD
  src/main/java/com/google/devtools/build/lib/remote/common/LostInputsEvent.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerWithGrpcRemoteExecutorTest.java
  src/test/shell/bazel/remote/remote_execution_http_test.sh
  src/test/shell/bazel/remote/remote_utils.sh
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/OnDiskHttpCacheServerHandler.java
Labels: team-Remote-Exec, awaiting-review

#23585 [7.4.0] Let repo rule attributes reference extension apparent names
  site/en/external/extension.md
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/AttributeValues.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/InnateRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionEvalStarlarkThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionRepoMappingEntriesFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleKey.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegularRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/TypeCheckedTag.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/rules/repository/ResolvedFileFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BuildTopLevelAspectsDetailsFunction.java
  src/main/java/net/starlark/java/eval/EvalException.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/TypeCheckedTagTest.java
Labels: team-ExternalDeps, team-Documentation, awaiting-review

#23591 [7.4.0] Support for using the java rules from `@rules_java`
  src/main/java/com/google/devtools/build/lib/analysis/RuleConfiguredTargetBuilder.java
  src/main/java/com/google/devtools/build/lib/analysis/config/BuildConfigurationValue.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkActionFactory.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkAttrModule.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleContext.java
  src/main/java/com/google/devtools/build/lib/analysis/test/CoverageCommon.java
  src/main/java/com/google/devtools/build/lib/packages/BuiltinRestriction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCommon.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationInfoProvider.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchainTool.java
  src/main/java/com/google/devtools/build/lib/rules/objc/IntermediateArtifacts.java
  src/main/java/com/google/devtools/build/lib/rules/objc/J2ObjcConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoConfiguration.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkAttrModuleApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaBootstrap.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaCommonApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaCompilationInfoProviderApi.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/FakeStarlarkAttrModuleApi.java
  src/main/starlark/builtins_bzl/bazel/java/bazel_java_binary.bzl
  src/main/starlark/builtins_bzl/common/java/android_lint.bzl
  src/main/starlark/builtins_bzl/common/java/basic_java_library.bzl
  src/main/starlark/builtins_bzl/common/java/compile_action.bzl
  src/main/starlark/builtins_bzl/common/java/java_binary.bzl
  src/main/starlark/builtins_bzl/common/java/java_common.bzl
  src/main/starlark/builtins_bzl/common/java/java_common_internal_for_builtins.bzl
  src/main/starlark/builtins_bzl/common/java/java_info.bzl
  src/main/starlark/builtins_bzl/common/java/java_library.bzl
  src/main/starlark/builtins_bzl/common/java/java_plugin.bzl
  src/test/java/com/google/devtools/build/lib/analysis/TransitiveValidationPropagationTest.java
  src/test/java/com/google/devtools/build/lib/analysis/config/BuildConfigurationStarlarkTest.java
  src/test/java/com/google/devtools/build/lib/bazel/rules/java/JavaConfiguredTargetsTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcToolchainProviderTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CppConfigurationStarlarkTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/StarlarkCcCommonTest.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaCompileActionTestHelper.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaInfoStarlarkApiTest.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaStarlarkApiTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcStarlarkTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkIntegrationTest.java
  tools/build_defs/build_info/BUILD
  tools/build_defs/build_info/BUILD.tools
  tools/build_defs/build_info/bazel_java_build_info.bzl
  tools/build_defs/build_info/templates/BUILD
  tools/build_defs/build_info/templates/BUILD.tools
  tools/build_defs/build_info/templates/non_volatile_file.properties.template
  tools/build_defs/build_info/templates/redacted_file.properties.template
  tools/build_defs/build_info/templates/volatile_file.properties.template
Labels: team-Rules-Java, team-OSS, awaiting-review

#23351 [7.4.0] Don't mask error in `cquery` transitions output formatter
  src/main/java/com/google/devtools/build/lib/query2/cquery/CqueryTransitionResolver.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/TransitionsOutputFormatterCallback.java
  src/test/shell/integration/configured_query_test.sh
Labels: team-Configurability, awaiting-PR-merge

#23603 [7.4.0] Convert values to Starlark values when concating string_list_dict type
  src/main/java/com/google/devtools/build/lib/packages/Type.java
  src/test/java/com/google/devtools/build/lib/analysis/ConfigurableAttributesTest.java
  src/test/java/com/google/devtools/build/lib/packages/TypeTest.java
Labels: team-Starlark-Interpreter, awaiting-review

#23564 [7.4.0] Invalidate lockfile entry when the extension name prefix changes
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionUsagesValue.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#23394 [7.4.0] Fix issues with path mapping in `map_each` functions
  src/main/java/com/google/devtools/build/lib/actions/AbstractCommandLine.java
  src/main/java/com/google/devtools/build/lib/actions/Artifact.java
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/actions/CommandLine.java
  src/main/java/com/google/devtools/build/lib/actions/CommandLines.java
  src/main/java/com/google/devtools/build/lib/actions/PathMapper.java
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/actions/CustomCommandLine.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/ParameterFileWriteAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/PathMappers.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/SpawnAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/StrippingPathMapper.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLine.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/BUILD
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/test/java/com/google/devtools/build/lib/actions/ArtifactTest.java
  src/test/java/com/google/devtools/build/lib/actions/BUILD
  src/test/java/com/google/devtools/build/lib/actions/CustomCommandLineTest.java
  src/test/java/com/google/devtools/build/lib/analysis/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/actions/PathMappersTest.java
  src/test/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLineTest.java
  src/test/java/com/google/devtools/build/lib/starlark/BUILD
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleImplementationFunctionsTest.java
  src/test/shell/bazel/path_mapping_test.sh
Labels: team-Performance, team-Configurability, team-Rules-Java, team-Rules-CPP, awaiting-review

#23577 [7.4.0] Ensure parent directories of action outputs are made writable when building without the bytes.
  src/main/java/com/google/devtools/build/lib/actions/ActionOutputDirectoryHelper.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
Labels: team-Performance, team-Remote-Exec, awaiting-review

#23635 Update cherry-picker.yml to include the security vulnerability fix
  .github/workflows/cherry-picker.yml
Labels: team-OSS

#23441 [7.4.0] Cherrypick b17552bfba80e69a4d86d5566c0237e6b8438fcf
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/android/AndroidStarlarkCommonApi.java
Labels: team-Android, awaiting-review

#23647 [7.4.0] Disable git fsmonitor in git_worker to fix hangs when fetching repositories
  tools/build_defs/repo/git_worker.bzl
Labels: team-ExternalDeps, awaiting-review

#23653 Make --noallow_discard_analysis_cache work when used twice in a seque…
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
  src/test/java/com/google/devtools/build/lib/analysis/AnalysisCachingTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewForTesting.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestCase.java
Labels: team-Configurability, awaiting-PR-merge

#23661 [7.4.0] Add `@rules_cc` to the default API allowlist
  src/main/java/com/google/devtools/build/lib/packages/BuiltinRestriction.java
  src/main/starlark/builtins_bzl/common/cc/cc_common.bzl
Labels: team-Rules-CPP, awaiting-review

#23663 [7.4.0] Support --target_pattern_file for fetch and vendor command
  src/main/java/com/google/devtools/build/lib/bazel/commands/FetchCommand.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/VendorCommand.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/TargetPatternsHelper.java
  src/test/py/bazel/bzlmod/bazel_fetch_test.py
  src/test/py/bazel/bzlmod/bazel_vendor_test.py
Labels: team-ExternalDeps, area-Bzlmod, awaiting-review

#23361 [7.4.0] Fix inconsistent virtual include paths
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcStarlarkInternal.java
  src/main/starlark/builtins_bzl/common/cc/cc_compilation_helper.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/StarlarkCcCommonTest.java
Labels: team-Rules-CPP, awaiting-review

#23676 Fix `_validation` output group merging
  src/main/java/com/google/devtools/build/lib/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/AspectCollection.java
  src/main/java/com/google/devtools/build/lib/analysis/OutputGroupInfo.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildRequest.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildResultPrinter.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/BUILD
  src/main/java/com/google/devtools/build/lib/runtime/commands/TestCommand.java
  src/test/shell/integration/validation_actions_test.sh
Labels: team-Configurability, awaiting-review

#23670 [7.4.0] Fix deduping for `--extra_toolchains`.
  src/main/java/com/google/devtools/build/lib/analysis/PlatformOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/config/FragmentOptions.java
  src/test/java/com/google/devtools/build/lib/analysis/PlatformOptionsTest.java
  src/test/shell/integration/toolchain_test.sh
Labels: team-Configurability, awaiting-review

#23673 [7.4.0] Make it possible to get a disk/remote cache hit for a test following a failure of the same test.
  src/main/java/com/google/devtools/build/lib/analysis/test/TestRunnerAction.java
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
  src/test/shell/bazel/disk_cache_test.sh
Labels: team-Configurability, awaiting-review

#23674 [7.4.0] Output reuse
  src/main/java/com/google/devtools/build/lib/actions/ActionExecutionMetadata.java
  src/main/java/com/google/devtools/build/lib/actions/SpawnResult.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/StarlarkAction.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestRunnerAction.java
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/SpawnCache.java
  src/main/java/com/google/devtools/build/lib/includescanning/SpawnIncludeScanner.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/common/RemotePathResolver.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java
  src/test/java/com/google/devtools/build/lib/actions/SpawnResultTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
  src/test/shell/bazel/path_mapping_test.sh
Labels: team-Performance, team-Configurability, team-Rules-Java, team-Remote-Exec, awaiting-review

#23340 [7.4.0] Fail on inapplicable flags on non-common commands expanded from configs
  src/main/java/com/google/devtools/build/lib/runtime/BlazeOptionHandler.java
  src/main/java/com/google/devtools/build/lib/runtime/ConfigExpander.java
  src/main/java/com/google/devtools/common/options/ArgsPreProcessor.java
  src/main/java/com/google/devtools/common/options/OptionsParser.java
  src/main/java/com/google/devtools/common/options/OptionsParserImpl.java
  src/main/java/com/google/devtools/common/options/ParamsFilePreProcessor.java
  src/test/java/com/google/devtools/common/options/OptionsParserTest.java
  src/test/java/com/google/devtools/common/options/ParamsFilePreProcessorTest.java
  src/test/java/com/google/devtools/common/options/ShellQuotedParamsFilePreProcessorTest.java
  src/test/java/com/google/devtools/common/options/UnquotedParamsFilePreProcessorTest.java
  src/test/py/bazel/options_test.py
Labels: team-Core, awaiting-review

#23675 [7.4.0] Allow unquoted canonical repository names with `query`
  site/en/query/language.md
  src/main/java/com/google/devtools/build/lib/query2/engine/Lexer.java
  src/test/java/com/google/devtools/build/lib/query2/engine/LexerTest.java
Labels: team-OSS, team-Documentation, awaiting-review

#23678 [7.4.0] Only invalidate `configure` repos with `fetch --configure --force`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelFetchAllFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelFetchAllValue.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/FetchCommand.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/FetchOptions.java
  src/test/py/bazel/bzlmod/bazel_fetch_test.py
Labels: team-ExternalDeps, awaiting-review

#23697 [7.4.0] Precompute hashcode for `RepositoryName`.
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java
Labels: team-Configurability, awaiting-review

#23700 [7.4.0] Fix upb build with Clang 16
  MODULE.bazel
  third_party/BUILD
  third_party/upb/01_remove_werror.patch
  third_party/upb/BUILD
Labels: awaiting-review

#23709 [7.4.0] Cherry-pick Bazel binary size improvements
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  src/test/shell/integration/minimal_jdk_test.sh
  third_party/BUILD
  third_party/proguard/BUILD
  tools/BUILD
  tools/fastutil.proguard
Labels: awaiting-review

#23671 [7.4.0] Support `layering_check` with C++ path mapping
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationContext.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcStarlarkInternal.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CompileBuildVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppModuleMapAction.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/test/java/com/google/devtools/build/lib/rules/cpp/CppModuleMapActionTest.java
  src/test/shell/bazel/path_mapping_test.sh
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/ExecutionServer.java
Labels: team-Rules-CPP, team-Remote-Exec, awaiting-PR-merge

#23672 [7.4.0] Fix `runtime_solib_name` for `--incompatible_macos_set_install_name`
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppLinkActionBuilder.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/cpp_darwin_integration_test.sh
Labels: team-Rules-CPP, awaiting-PR-merge

#23714 [7.4.0] Wire up `internal-inline-outputs` requirement with RE API
  src/main/java/com/google/devtools/build/lib/remote/GrpcCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/common/RemoteCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskAndRemoteCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/http/HttpCacheClient.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
  src/test/java/com/google/devtools/build/lib/remote/UploadManifestTest.java
  src/test/java/com/google/devtools/build/lib/remote/disk/DiskCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/http/HttpCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/util/InMemoryCacheClient.java
  src/test/shell/bazel/remote/remote_execution_test.sh
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/ActionCacheServer.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/ExecutionServer.java
Labels: team-Remote-Exec

#23437 [7.4.0] Do not wrap object files in `--start-lib/--end-lib` for nodeps libraries
  src/test/shell/bazel/cc_integration_test.sh
  tools/cpp/unix_cc_toolchain_config.bzl
Labels: team-Rules-CPP

#23727 [7.4.0] cquery: Factor RepositoryName into fetching ignored packages
  src/main/java/com/google/devtools/build/lib/query2/PostAnalysisQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/query2/aquery/ActionGraphQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetQueryEnvironment.java
  src/test/shell/integration/configured_query_test.sh
Labels: team-Performance, team-Configurability, awaiting-review

#23740 [7.4.0] Use millisecond precision when setting the last modified time on Unix.
  src/main/java/com/google/devtools/build/lib/unix/NativePosixFiles.java
  src/main/java/com/google/devtools/build/lib/unix/UnixFileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/JavaIoFileSystem.java
  src/main/native/unix_jni.cc
  src/test/java/com/google/devtools/build/lib/vfs/FileSystemTest.java
  src/test/java/com/google/devtools/build/lib/vfs/JavaIoFileSystemTest.java
Labels: awaiting-review

#23739 [7.4.0] Use NOW_SENTINEL_TIME when refreshing the mtime on a disk cache entry.
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheClient.java
Labels: team-Remote-Exec, awaiting-review

#23741 [7.4.0] external dependency doc updates
  repositories.bzl
  site/en/concepts/build-ref.md
  site/en/concepts/platforms.md
  site/en/configure/attributes.md
  site/en/configure/windows.md
  site/en/contribute/codebase.md
  site/en/docs/configurable-attributes.md
  site/en/extending/macros.md
  site/en/extending/repo.md
  site/en/extending/toolchains.md
  site/en/external/module.md
  site/en/external/overview.md
  site/en/external/registry.md
  site/en/query/language.md
  site/en/query/quickstart.md
  site/en/remote/output-directories.md
  site/en/start/java.md
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/repository/RepositoryModuleApi.java
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/http.bzl
Labels: team-Documentation, awaiting-review

#23757 [7.4.0] Apply `single_version_override` patches to module files
  BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/PatchUtil.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  third_party/upb/BUILD
Labels: team-ExternalDeps, awaiting-review

#23745 [7.4.0] Path map non-direct children of tree artifacts during header discovery
  src/main/java/com/google/devtools/build/lib/rules/cpp/HeaderDiscovery.java
  src/test/shell/bazel/path_mapping_test.sh
Labels: team-Rules-CPP, awaiting-review

#23752 [7.4.0] Fix NPE in mod show_repo
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, awaiting-review

#23528 [7.4.0] Deduplicate calls to `config.is_sibling_repository_layout()`
  src/main/starlark/builtins_bzl/common/cc/cc_compilation_helper.bzl
Labels: team-Rules-CPP, awaiting-review

#23616 [7.4.0] Gracefully handle setting the same header with --bes_header twice.
  src/main/java/com/google/devtools/build/lib/buildeventservice/BazelBuildEventServiceModule.java
  src/test/java/com/google/devtools/build/lib/buildeventservice/BazelBuildEventServiceModuleTest.java
Labels: team-Remote-Exec, awaiting-review

#23688 [7.4.0] Fetch extra action outputs with `--remote_download_toplevel`
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputChecker.java
Labels: team-Remote-Exec, awaiting-review

#23339 [7.4.0] Fix versioned shared libraries for macOS toolchain
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppActionConfigs.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LibrariesToLinkCollector.java
  src/test/java/com/google/devtools/build/lib/packages/util/mock/osx_cc_toolchain_config.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/LibraryToLinkValueTest.java
  tools/cpp/osx_cc_wrapper.sh.tpl
Labels: team-Rules-CPP, awaiting-review

#23779 [7.3.2] Support for using the java rules from `@rules_java`
  src/main/java/com/google/devtools/build/lib/analysis/RuleConfiguredTargetBuilder.java
  src/main/java/com/google/devtools/build/lib/analysis/config/BuildConfigurationValue.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkActionFactory.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkAttrModule.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleContext.java
  src/main/java/com/google/devtools/build/lib/analysis/test/CoverageCommon.java
  src/main/java/com/google/devtools/build/lib/packages/BuiltinRestriction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCommon.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationInfoProvider.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaToolchainTool.java
  src/main/java/com/google/devtools/build/lib/rules/objc/IntermediateArtifacts.java
  src/main/java/com/google/devtools/build/lib/rules/objc/J2ObjcConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoConfiguration.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkAttrModuleApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaBootstrap.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaCommonApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaCompilationInfoProviderApi.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/FakeStarlarkAttrModuleApi.java
  src/main/starlark/builtins_bzl/bazel/java/bazel_java_binary.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_common.bzl
  src/main/starlark/builtins_bzl/common/java/android_lint.bzl
  src/main/starlark/builtins_bzl/common/java/basic_java_library.bzl
  src/main/starlark/builtins_bzl/common/java/compile_action.bzl
  src/main/starlark/builtins_bzl/common/java/java_binary.bzl
  src/main/starlark/builtins_bzl/common/java/java_common.bzl
  src/main/starlark/builtins_bzl/common/java/java_common_internal_for_builtins.bzl
  src/main/starlark/builtins_bzl/common/java/java_info.bzl
  src/main/starlark/builtins_bzl/common/java/java_library.bzl
  src/main/starlark/builtins_bzl/common/java/java_plugin.bzl
  src/test/java/com/google/devtools/build/lib/analysis/TransitiveValidationPropagationTest.java
  src/test/java/com/google/devtools/build/lib/analysis/config/BuildConfigurationStarlarkTest.java
  src/test/java/com/google/devtools/build/lib/bazel/rules/java/JavaConfiguredTargetsTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcToolchainProviderTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CppConfigurationStarlarkTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/StarlarkCcCommonTest.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaCompileActionTestHelper.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaInfoStarlarkApiTest.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaStarlarkApiTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcStarlarkTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkIntegrationTest.java
  tools/build_defs/build_info/BUILD
  tools/build_defs/build_info/BUILD.tools
  tools/build_defs/build_info/bazel_java_build_info.bzl
  tools/build_defs/build_info/templates/BUILD
  tools/build_defs/build_info/templates/BUILD.tools
  tools/build_defs/build_info/templates/non_volatile_file.properties.template
  tools/build_defs/build_info/templates/redacted_file.properties.template
  tools/build_defs/build_info/templates/volatile_file.properties.template
Labels: team-Configurability, team-Rules-Java, team-Rules-CPP, team-Rules-ObjC, awaiting-review

#23781 [7.4.0] Make `launcher_maker` cross-platform
  src/tools/launcher/BUILD
  src/tools/launcher/launcher_maker.cc
Labels: team-Rules-CPP, awaiting-review

#23795 [7.4.0] Add the ability to register idle tasks.
  src/main/java/com/google/devtools/build/lib/BUILD
  src/main/java/com/google/devtools/build/lib/runtime/BlazeCommandResult.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeRuntime.java
  src/main/java/com/google/devtools/build/lib/runtime/CommandEnvironment.java
  src/main/java/com/google/devtools/build/lib/server/BUILD
  src/main/java/com/google/devtools/build/lib/server/CommandManager.java
  src/main/java/com/google/devtools/build/lib/server/GrpcServerImpl.java
  src/main/java/com/google/devtools/build/lib/server/IdleServerTasks.java
  src/main/java/com/google/devtools/build/lib/server/IdleTask.java
  src/main/java/com/google/devtools/build/lib/server/IdleTaskManager.java
  src/test/java/com/google/devtools/build/lib/runtime/BUILD
  src/test/java/com/google/devtools/build/lib/runtime/BlazeRuntimeTest.java
  src/test/java/com/google/devtools/build/lib/server/BUILD
  src/test/java/com/google/devtools/build/lib/server/IdleTaskManagerTest.java
Labels: team-Remote-Exec, awaiting-review

#23804 [7.4.0] Log exceptions from tasks in IdleTaskManager.
  src/main/java/com/google/devtools/build/lib/server/IdleTaskManager.java
Labels: team-Remote-Exec, awaiting-review

#23713 [7.4.0] Compact execution log improvements
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/actions/CompositeRunfilesSupplier.java
  src/main/java/com/google/devtools/build/lib/actions/EmptyRunfilesSupplier.java
  src/main/java/com/google/devtools/build/lib/actions/RunfilesSupplier.java
  src/main/java/com/google/devtools/build/lib/actions/RunfilesTree.java
  src/main/java/com/google/devtools/build/lib/analysis/Runfiles.java
  src/main/java/com/google/devtools/build/lib/analysis/RunfilesSupport.java
  src/main/java/com/google/devtools/build/lib/analysis/SingleRunfilesSupplier.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestActionBuilder.java
  src/main/java/com/google/devtools/build/lib/bazel/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnInputExpander.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogReconstructor.java
  src/main/java/com/google/devtools/build/lib/rules/python/PyBuiltins.java
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/analysis/RunfilesTest.java
  src/test/java/com/google/devtools/build/lib/analysis/SingleRunfilesSupplierTest.java
  src/test/java/com/google/devtools/build/lib/analysis/actions/SpawnActionTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestUtil.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/util/FakeRunfilesTree.java
  src/test/java/com/google/devtools/build/lib/bazel/rules/python/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/rules/python/BazelPyBinaryConfiguredTargetTest.java
  src/test/java/com/google/devtools/build/lib/exec/BUILD
  src/test/java/com/google/devtools/build/lib/exec/CompactSpawnLogContextTest.java
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogContextTestBase.java
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogReconstructorTest.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/LtoBackendActionTest.java
Labels: team-Performance, team-Configurability, team-Rules-CPP, team-Rules-Python, team-Remote-Exec

#23794 [7.4.0] Automated rollback of commit 8ef7b705bb33de6ee9025c01bdf65a23f73926e3.
  MODULE.bazel
  MODULE.bazel.lock
  repositories.bzl
  src/main/java/com/google/devtools/build/lib/remote/disk/BUILD
  src/main/java/com/google/devtools/build/lib/remote/disk/Sqlite.java
  src/main/native/BUILD
  src/main/native/sqlite_jni.cc
  src/main/native/windows/BUILD
  src/test/java/com/google/devtools/build/lib/remote/disk/SqliteTest.java
Labels: team-Remote-Exec, awaiting-review
