Repository bazelbuild/bazel, pull requests merged in 2024-05, with the labels that each got.

#22204 [7.2.0] Add a new `include()` directive to MODULE.bazel files
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/CompiledModuleFile.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/CompiledModuleFileTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
Labels: team-ExternalDeps, awaiting-review

#22212 [7.2.0] Follow unconfigured `alias`es during options parsing
  src/main/java/com/google/devtools/build/lib/runtime/StarlarkOptionsParser.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkOptionsParsingTest.java
Labels: team-Configurability

#22217 [7.2.0] Add profile spans to BazelOutputService RPC calls
  src/main/java/com/google/devtools/build/lib/remote/BazelOutputService.java
Labels: team-Remote-Exec, awaiting-review

#22251 [7.2.0] Exit if `--experimental_remote_output_service` is set, but not `--remote_cache` nor `--remote_executor`
  src/main/java/com/google/devtools/build/lib/remote/BazelOutputService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
Labels: team-Remote-Exec, awaiting-review

#22247 [7.2.0] Correctly handle ParamFileActionInput when writing to the compact execution log.
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogContextTestBase.java
Labels: team-Remote-Exec, awaiting-review

#22253 [7.2.0] Treat an IOException while logging a spawn as an error instead of a warning.
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/protobuf/failure_details.proto
Labels: team-Remote-Exec, awaiting-review

#22186 [7.1.2] Do not watch `.netrc` in `read_netrc`
  MODULE.bazel.lock
  src/test/shell/bazel/starlark_repository_test.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/utils.bzl
Labels: team-ExternalDeps

#22097 [7.2.0] Always create an empty MODULE.bazel for python tests
  src/test/py/bazel/bazel_workspace_test.py
  src/test/py/bazel/test_base.py
Labels: team-OSS, awaiting-review

#22261 [7.2.0] Fix certain deadlocks in repo fetching with worker threads
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/RepoFetchingSkyKeyComputeState.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#22263 [7.2.0] Revert special handling of yanked module files
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/InterimModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
Labels: team-ExternalDeps, awaiting-review

#22265 [7.2.0] Replace most Bzlmod events with a Skyframe graph lookup
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelFetchAllFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionRepoMappingEntriesFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionEvent.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RootModuleFileFixup.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionValue.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadCycleReporter.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoCycleReporter.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#22274 [7.2.0] Store lastBuildId and compare it with the one in StartBuildResponse
  src/main/java/com/google/devtools/build/lib/remote/BazelOutputService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
Labels: team-Remote-Exec, awaiting-review

#22275 [7.2.0] Stop listing `.gcno` files as outputs when using LLVM coverage map format
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CompileBuildVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppLinkstampCompileHelper.java
Labels: coverage, team-Rules-CPP, awaiting-review

#22266 [7.2.0] Fix maven deps
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
Labels: awaiting-review

#22282 [7.2.0] Detect extension staleness due root module name/version change
  MODULE.bazel.lock
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/AbridgedModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionUsage.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionUsagesFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionUsagesValue.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#22294 [7.2.0] Improve error message when parsing an invalid visibility label, e.g. //visibility:none
  src/main/java/com/google/devtools/build/lib/packages/RuleVisibility.java
  src/test/java/com/google/devtools/build/lib/packages/RuleTest.java
  src/test/shell/bazel/bazel_rules_test.sh
Labels: team-Core, awaiting-review

#22176 [7.1.2] Set public visibility for R8 desugar binary
  src/tools/android/java/com/google/devtools/build/android/r8/BUILD.tools
Labels: team-Android

#22200 [7.2.0] Rename the compact execution log to better reflect the file format.
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
Labels: team-Remote-Exec, awaiting-review

#22143 [7.2.0] Only check for shard status file if a test passed
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
Labels: team-OSS, awaiting-review

#22299 [7.2.0] Forward min_sdk_version to dexmerger actions
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidBinary.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidStarlarkCommon.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/android/AndroidStarlarkCommonApi.java
Labels: team-Android, awaiting-review

#22300 [7.2.0] Upgrade blake3, commons-compress, and turbine
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  scripts/bootstrap/compile.sh
  src/main/java/com/google/devtools/build/lib/bazel/repository/TarBz2Function.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/TarGzFunction.java
  src/test/java/com/google/devtools/build/lib/vfs/bazel/BUILD
  src/test/java/com/google/devtools/build/lib/vfs/bazel/BazelHashFunctionsBenchmark.java
  src/test/java/com/google/devtools/build/lib/vfs/bazel/java_opt_binary.bzl
  src/test/shell/bazel/bazel_workspaces_test.sh
  src/test/shell/bazel/jdeps_class_denylist.txt
  src/test/shell/integration/minimal_jdk_test.sh
Labels: team-ExternalDeps, awaiting-review

#22318 [7.2.0] Ensure toplevel artifacts are downloaded before sending completion ev…
  src/main/java/com/google/devtools/build/lib/skyframe/AspectCompletor.java
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/TargetCompletor.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
Labels: team-Remote-Exec, awaiting-review

#22316 [7.2.0] Make --modify_execution_info additive
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/config/BuildConfigurationValue.java
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/config/ExecutionInfoModifier.java
  src/test/java/com/google/devtools/build/lib/analysis/config/ExecutionInfoModifierTest.java
Labels: team-Configurability, awaiting-review

#22313 [7.2.0] Fix inheritance of environment variables in WindowsSubprocessFactory.
  src/main/java/com/google/devtools/build/lib/shell/Command.java
  src/main/java/com/google/devtools/build/lib/shell/SubprocessBuilder.java
  src/main/java/com/google/devtools/build/lib/shell/WindowsSubprocessFactory.java
  src/test/java/com/google/devtools/build/lib/shell/CommandTest.java
  src/test/java/com/google/devtools/build/lib/windows/BUILD
  src/test/java/com/google/devtools/build/lib/windows/MockSubprocess.java
  src/test/java/com/google/devtools/build/lib/windows/WindowsSubprocessTest.java
Labels: team-Remote-Exec, awaiting-review

#22304 [7.2.0] Fix wrong zstd extension in SpawnLogModule.
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
Labels: team-Remote-Exec, awaiting-review

#22322 [7.2.0] Automatically map paths in `Args#map_each`
  src/main/java/com/google/devtools/build/lib/actions/Artifact.java
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/actions/PathMapper.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLine.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/FileApi.java
  src/main/java/net/starlark/java/eval/CallUtils.java
  src/main/java/net/starlark/java/eval/StarlarkSemantics.java
  src/test/java/com/google/devtools/build/lib/actions/ArtifactTest.java
  src/test/java/com/google/devtools/build/lib/analysis/actions/StrippingPathMapperTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleContextTest.java
Labels: team-Performance, team-Configurability, awaiting-review

#22321 [7.2.0] Combined cc_shared_library cherry-picks
  MODULE.bazel
  MODULE.bazel.lock
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkNativeModule.java
  src/main/starlark/builtins_bzl/common/cc/cc_shared_library.bzl
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library/BUILD.builtin_test
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library/starlark_tests.bzl
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
  workspace_deps.bzl
Labels: team-Configurability, awaiting-review

#22320 [7.2.0] Do not delay TargetCompleteEvents with coverage
  src/main/java/com/google/devtools/build/lib/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
  src/main/java/com/google/devtools/build/lib/analysis/TargetCompleteEvent.java
  src/main/java/com/google/devtools/build/lib/analysis/test/CoverageActionFinishedEvent.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/BuildEventIdUtil.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
  src/main/java/com/google/devtools/build/lib/buildtool/SkyframeBuilder.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
Labels: team-Configurability, awaiting-review

#22325 [7.2.0] Add support for remote_files for http_archive
  MODULE.bazel.lock
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/external_remote_file_test.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/http.bzl
  tools/build_defs/repo/utils.bzl
Labels: team-ExternalDeps, awaiting-review

#22326 [7.2.0] Avoid Windows short paths in Bzlmod
  MODULE.bazel.lock
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleKey.java
  src/test/java/com/google/devtools/build/lib/analysis/RunfilesRepoMappingManifestTest.java
  src/test/java/com/google/devtools/build/lib/analysis/StarlarkRuleTransitionProviderTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ExtensionArgTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModuleArgTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/AbstractQueryTest.java
  src/test/java/com/google/devtools/build/lib/rules/LabelBuildSettingTest.java
  src/test/java/com/google/devtools/build/lib/rules/starlarkdocextract/StarlarkDocExtractTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/BzlLoadFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/PrepareDepsOfPatternsFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RepoFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/config/PlatformMappingFunctionParserTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/config/PlatformMappingValueTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredExecutionPlatformsFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredToolchainsFunctionTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
  src/test/java/com/google/devtools/build/lib/starlarkbuildapi/core/ContextGuardedValueTest.java
  src/test/java/com/google/devtools/build/lib/util/ShellEscaperTest.java
  src/test/py/bazel/bzlmod/bazel_repo_mapping_test.py
  src/test/py/bazel/bzlmod/external_repo_completion_test.py
  src/test/py/bazel/bzlmod/mod_command_test.py
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#22328 [7.2.0] Apply repo mapping to `cc_shared_library`'s `exports_filter`
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_shared_library.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_test.bzl
  src/main/starlark/tests/builtins_bzl/BUILD
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library/BUILD.builtin_test
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library/starlark_tests.bzl
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library2/MODULE.bazel
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library2/WORKSPACE
  src/main/starlark/tests/builtins_bzl/cc_builtin_tests.sh
Labels: awaiting-review

#22327 [7.2.0] Announce combined coverage report on the BES
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/test/CoverageReport.java
  src/main/java/com/google/devtools/build/lib/analysis/test/CoverageReportActionFactory.java
  src/main/java/com/google/devtools/build/lib/bazel/coverage/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/coverage/BazelCoverageReportModule.java
  src/main/java/com/google/devtools/build/lib/bazel/coverage/CoverageReportActionBuilder.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-review

#22341 [7.2.0] Add start time to execlog `Spawn`
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/protobuf/BUILD
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/exec/BUILD
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogContextTestBase.java
Labels: team-Remote-Exec, awaiting-review

#22348 [7.2.0] Cherry-pick fix for an internal test failure that caused ...
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
Labels: team-OSS

#22353 [7.2.0] Mark bazel_tools extensions as reproducible
  MODULE.bazel.lock
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/android/android_extensions.bzl
  tools/cpp/cc_configure.bzl
  tools/osx/xcode_configure.bzl
  tools/sh/sh_configure.bzl
  tools/test/extensions.bzl
Labels: team-Android, team-Rules-CPP, awaiting-review

#22368 [7.2.0] Prevent currentThread().join() on cli thread crash
  src/main/java/com/google/devtools/build/lib/runtime/UiEventHandler.java
Labels: awaiting-review, team-CLI

#22371 [7.2.0] Add `--lockfile_mode=refresh`
  src/main/java/com/google/devtools/build/lib/bazel/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Registry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryImpl.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/py/bazel/bzlmod/bazel_yanked_versions_test.py
Labels: team-ExternalDeps, awaiting-review

#22375 [7.2.0] Support profiling in an virtual thread.
  src/main/java/com/google/devtools/build/lib/profiler/JsonTraceFileWriter.java
  src/main/java/com/google/devtools/build/lib/profiler/Profiler.java
  src/main/java/com/google/devtools/build/lib/profiler/ThreadMetadata.java
Labels: team-Performance, awaiting-review

#22381 [7.2.0] Modify executeUpdate to discard a non-empty result instead of throwing.
  src/main/java/com/google/devtools/build/lib/remote/disk/Sqlite.java
  src/test/java/com/google/devtools/build/lib/remote/disk/SqliteTest.java
Labels: team-Remote-Exec, awaiting-review

#22383 [7.2.0] Put temporary files created by the disk cache in a separate subdirectory.
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheClient.java
Labels: team-Remote-Exec, awaiting-review

#22384 [7.2.0] Include all LocalFiles of type LOG and PERFORMANCE_LOG in --remote_build_event_upload=MINIMAL.
  src/main/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploader.java
  src/test/shell/bazel/remote/remote_build_event_uploader_test.sh
Labels: team-Remote-Exec, awaiting-review

#22385 [7.2.0] Expose SQLite error codes to Java.
  src/main/java/com/google/devtools/build/lib/remote/disk/Sqlite.java
  src/main/native/sqlite_jni.cc
  src/test/java/com/google/devtools/build/lib/remote/disk/SqliteTest.java
Labels: team-Remote-Exec, awaiting-review

#22407 [7.2.0] Preserve paths under hermetic `/tmp` in the sandbox
  src/main/java/com/google/devtools/build/lib/actions/FileArtifactValue.java
  src/main/java/com/google/devtools/build/lib/sandbox/AbstractContainerizingSandboxedSpawn.java
  src/main/java/com/google/devtools/build/lib/sandbox/AbstractSandboxSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/DarwinSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/DockerSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxCommandLineBuilder.java
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/ProcessWrapperSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxHelpers.java
  src/main/java/com/google/devtools/build/lib/sandbox/WindowsSandboxUtil.java
  src/main/java/com/google/devtools/build/lib/sandbox/WindowsSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStore.java
  src/main/java/com/google/devtools/build/lib/worker/SandboxedWorker.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerExecRoot.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerModule.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerSpawnRunner.java
  src/test/java/com/google/devtools/build/lib/sandbox/AbstractContainerizingSandboxedSpawnTest.java
  src/test/java/com/google/devtools/build/lib/sandbox/LinuxSandboxCommandLineBuilderTest.java
  src/test/java/com/google/devtools/build/lib/sandbox/SandboxHelpersTest.java
  src/test/java/com/google/devtools/build/lib/sandbox/SymlinkedSandboxedSpawnTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStoreTest.java
  src/test/java/com/google/devtools/build/lib/worker/SandboxHelper.java
  src/test/java/com/google/devtools/build/lib/worker/WorkerSpawnRunnerTest.java
  src/test/java/com/google/devtools/build/lib/worker/WorkerSpawnStrategyTest.java
  src/test/shell/bazel/bazel_sandboxing_test.sh
Labels: team-Performance, team-Local-Exec

#22416 [7.2.0] Expand visibility of DexFileSplitter
  src/tools/android/java/com/google/devtools/build/android/dexer/BUILD.tools
Labels: team-Android, awaiting-review

#22413 [7.2.0] feat(cc toolchain): support external_include_paths on macos
  tools/cpp/unix_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#22422 [7.2.0] Fix git branch detection in release scripts
  scripts/release/common.sh
Labels: team-OSS, awaiting-review

#22450 [7.2.0] Fix sandboxing hermetic tmp to take into account sandbox_base
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
  src/test/shell/integration/sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#22451 [7.2.0] Fix writable sandbox path
  src/main/java/com/google/devtools/build/lib/sandbox/AbstractSandboxSpawnRunner.java
Labels: team-Local-Exec, awaiting-review

#22466 Update rules_java 7.6.0 / java_tools 13.6.0
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/tools/bzlmod/MODULE.bazel.lock
  workspace_deps.bzl
Labels: awaiting-review

#22460 [7.2.0] Let `Label#debugPrint` emit label strings in display form
  src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java
  src/main/java/com/google/devtools/build/lib/analysis/BazelRuleAnalysisThreadContext.java
  src/main/java/com/google/devtools/build/lib/analysis/RuleContext.java
  src/main/java/com/google/devtools/build/lib/analysis/config/StarlarkDefinedConfigTransition.java
  src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/RuleConfiguredTarget.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/Args.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/NonRegistryOverride.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/TypeCheckedTag.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/cmdline/BUILD
  src/main/java/com/google/devtools/build/lib/cmdline/BazelStarlarkContext.java
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/main/java/com/google/devtools/build/lib/cmdline/PackageIdentifier.java
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java
  src/main/java/com/google/devtools/build/lib/cmdline/SymbolGenerator.java
  src/main/java/com/google/devtools/build/lib/packages/BuildGlobals.java
  src/main/java/com/google/devtools/build/lib/packages/BzlInitThreadContext.java
  src/main/java/com/google/devtools/build/lib/packages/PackageFactory.java
  src/main/java/com/google/devtools/build/lib/packages/RuleFactory.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkCallbackHelper.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkNativeModule.java
  src/main/java/com/google/devtools/build/lib/packages/TargetDefinitionContext.java
  src/main/java/com/google/devtools/build/lib/packages/WorkspaceFactory.java
  src/main/java/com/google/devtools/build/lib/rules/android/AndroidCommon.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcLinkingContext.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcLinkingHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/FeatureConfigurationForStarlark.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LibraryToLink.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoCycleReporter.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageFunction.java
  src/main/java/net/starlark/java/eval/MethodLibrary.java
  src/main/java/net/starlark/java/eval/Printer.java
  src/main/java/net/starlark/java/eval/StarlarkValue.java
  src/test/java/com/google/devtools/build/lib/cmdline/LabelTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/PackageIdentifierTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/RepositoryNameTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleImplementationFunctionsTest.java
  src/test/java/com/google/devtools/build/lib/starlark/util/BazelEvaluationTestCase.java
  src/test/java/net/starlark/java/eval/StarlarkEvaluationTest.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/shell/bazel/platforms_test.sh
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#22478 [7.2.0] Remove stale extension factors
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionEvalFactors.java
Labels: team-ExternalDeps, awaiting-review

#22473 [7.2.0] Make env on test rules override --test_env
  src/main/java/com/google/devtools/build/lib/exec/TestPolicy.java
  src/test/shell/bazel/bazel_test_test.sh
Labels: team-Rules-Server, awaiting-review

#22467 [7.2.0] Disable path mapping with `local` or `no-{sandbox,remote}` tags
  src/main/java/com/google/devtools/build/lib/analysis/actions/PathMappers.java
  src/test/shell/bazel/path_mapping_test.sh
Labels: team-Configurability, awaiting-PR-merge

#22480 [7.2.0] Update `@rules_java` v7.6.1
  MODULE.bazel
  MODULE.bazel.lock
  repositories.bzl
  src/MODULE.tools
  src/java_tools/import_deps_checker/javatests/com/google/devtools/build/importdeps/tests.bzl
  src/test/java/com/google/devtools/build/lib/analysis/mock/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/mock/BazelAnalysisMock.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AbstractMockJavaSupport.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/starlark/BindTest.java
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/android/defs.bzl
  tools/build_defs/inspect/struct_to_dict.bzl
  tools/build_rules/java_rules_skylark.bzl
  tools/build_rules/utilities.bzl
  workspace_deps.bzl
Labels: team-Rules-Java, awaiting-review

#22506 [7.2.0] Fail early on certain invalid labels in module files
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ArchiveOverride.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ArchiveRepoSpecBuilder.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GitOverride.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GitRepoSpecBuilder.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleVersionOverride.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
Labels: team-ExternalDeps, awaiting-review

#22507 [7.2.0] Provide "did you mean ...?" suggestions for unknown command-line options
  src/main/java/com/google/devtools/common/options/BUILD
  src/main/java/com/google/devtools/common/options/IsolatedOptionsData.java
  src/main/java/com/google/devtools/common/options/OptionsParserImpl.java
  src/test/java/com/google/devtools/common/options/OptionsTest.java
Labels: team-Core, awaiting-review

#22508 [7.2.0] Fix a crash on `use_repo_rule` with no repos
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
Labels: team-ExternalDeps, awaiting-review

#22500 [7.2.0] Wait for background tasks finished before releasing remoteCache.
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
Labels: team-Core, awaiting-review

#22518 [7.2.0] Correctly detect ContentLengthMismatchException and retry.
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloaderTest.java
Labels: team-ExternalDeps, awaiting-review

#22524 [7.2.0] Update buildozer to 7.1.2
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-OSS, awaiting-review

#22525 [7.2.0] Add support for overlays in source.json
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ArchiveRepoSpecBuilder.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, awaiting-review

#22539 [7.2.0] Close the stdin pipe handle when the respective OutputStream is closed
  src/main/java/com/google/devtools/build/lib/shell/WindowsSubprocess.java
  src/main/java/com/google/devtools/build/lib/windows/WindowsProcesses.java
  src/main/native/windows/processes-jni.cc
  src/test/java/com/google/devtools/build/lib/windows/MockSubprocess.java
  src/test/java/com/google/devtools/build/lib/windows/WindowsProcessesTest.java
Labels: team-OSS, awaiting-review

#22540 [7.2.0] Make `bazel mod tidy` work with `include()`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionUsage.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RootModuleFileFixup.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModExecutorTest.java
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, awaiting-review

#22570 [7.2.0] Do not print repository errors twice
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
Labels: team-ExternalDeps, awaiting-review

#22575 [7.2.0] Add layering_check support for macOS
  third_party/grpc/00_disable_layering_check.patch
Labels: team-Rules-CPP, awaiting-review

#22573 [7.2.0] Block in repo fetching state's `close()` method
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/RepoFetchingSkyKeyComputeState.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/RepoFetchingWorkerSkyFunctionEnvironment.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/skyframe/SkyFunction.java
Labels: team-ExternalDeps, awaiting-review

#22557 [7.2.0] Add `NestedSet<PathFragment>`- and `Artifact`-typed compile build var…
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CompileBuildVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppLinkstampCompileHelper.java
Labels: team-Rules-CPP, awaiting-review

#22572 [7.2.0] Add layering_check support for macOS
  .bazelci/presubmit.yml
  MODULE.bazel
  MODULE.bazel.lock
  src/test/shell/bazel/bazel_layering_check_test.sh
  tools/cpp/generate_system_module_map.sh
  tools/cpp/unix_cc_configure.bzl
  tools/cpp/unix_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#22583 [7.2.0] Fix getting authentication for URLs in http repo rules
  MODULE.bazel.lock
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/http.bzl
  tools/build_defs/repo/utils.bzl
Labels: team-ExternalDeps, awaiting-review
