Repository bazelbuild/bazel, pull requests merged in 2024-02, with the labels that each got.

#21174 [7.1.0] Include the digest hash function in the compact execution log.
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/exec/CompactSpawnLogContextTest.java
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogContextTestBase.java
Labels: team-Remote-Exec, awaiting-review

#21177 [7.1.0] Report unresolved symlinks as such in the execution log.
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContext.java
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/exec/CompactSpawnLogContextTest.java
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogContextTestBase.java
Labels: team-Remote-Exec, awaiting-review

#21181 [7.1.0] Correctly handle unresolved symlinks when they appear in the inputs.
  src/main/java/com/google/devtools/build/lib/actions/FileArtifactValue.java
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/exec/CompactSpawnLogContextTest.java
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogContextTestBase.java
Labels: team-Performance, awaiting-review

#21183 [7.1.0] Add missing close().
  src/main/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContext.java
Labels: team-Remote-Exec, awaiting-review

#21184 [7.1.0] Add a profile span for building the upload manifest.
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
Labels: team-Remote-Exec, awaiting-review

#21185 [7.1.0] Remove obsolete comments and dividers.
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
Labels: team-Remote-Exec, awaiting-review

#21187 [7.1.0] Implement a new execution log conversion tool.
  src/tools/execlog/BUILD
  src/tools/execlog/README.md
  src/tools/execlog/src/main/java/com/google/devtools/build/execlog/BUILD
  src/tools/execlog/src/main/java/com/google/devtools/build/execlog/ConverterOptions.java
  src/tools/execlog/src/main/java/com/google/devtools/build/execlog/ExecLogConverter.java
Labels: team-Remote-Exec, awaiting-review

#21208 [7.1.0] Upgrade to use Bazel 7.0.2
  .bazelversion
  MODULE.bazel.lock
  src/test/shell/bazel/embedded_tools_deps_test.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: awaiting-review

#21209 [7.1.0] Do not store the repository name in `RepoSpec`
  MODULE.bazel.lock
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ArchiveOverride.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ArchiveRepoSpecBuilder.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GitOverride.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GitRepoSpecBuilder.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LocalPathOverride.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionEvalStarlarkThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleKey.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/NonRegistryOverride.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Registry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RepoSpec.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RepoSpecFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/FakeRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
  src/test/tools/bzlmod/MODULE.bazel.lock
  src/tools/bzlmod/utils.bzl
Labels: team-ExternalDeps, awaiting-review

#21216 [7.1.0] Make sure we build as well as test //src/tools/execlog/... on CI.
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  src/tools/execlog/src/main/java/com/google/devtools/build/execlog/BUILD
Labels: team-OSS, awaiting-review

#21223 [7.1.0] Teach ExecLogConverter to read the compact format.
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogReconstructor.java
  src/test/java/com/google/devtools/build/lib/exec/CompactSpawnLogContextTest.java
  src/tools/execlog/src/main/java/com/google/devtools/build/execlog/ConverterOptions.java
  src/tools/execlog/src/main/java/com/google/devtools/build/execlog/ExecLogConverter.java
Labels: team-Remote-Exec, awaiting-review

#21219 [7.1.0] Switch macOS minimum version flag to gcc compatible version
  tools/cpp/unix_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#21240 [7.1.0] Update default visionOS CPU to sim_arm64
  src/main/starlark/builtins_bzl/common/objc/transitions.bzl
Labels: team-Rules-CPP, awaiting-review

#21236 [7.1.0] Avoid exception-based control flow in RemoteActionFileSystem#stat.
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
Labels: team-Remote-Exec, awaiting-review

#21237 [7.1.0] Fixes for experimental extend rule and subrule functionality
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleContext.java
  src/main/java/com/google/devtools/build/lib/packages/Type.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoCompileActionBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/proto/ProtoConstants.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleFunctionsApi.java
  src/main/starlark/builtins_bzl/bazel/exports.bzl
  src/main/starlark/builtins_bzl/common/exports.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_library.bzl
  src/main/starlark/builtins_bzl/common/proto/proto_semantics.bzl
  src/test/java/com/google/devtools/build/lib/rules/proto/BazelProtoLibraryTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
Labels: team-Configurability, awaiting-review

#21229 [7.1.0] Fix NPE in ResourceManager when collecting local resource estimation in the profiler.
  src/main/java/com/google/devtools/build/lib/actions/ResourceManager.java
Labels: team-Performance, awaiting-review

#21251 [7.1.0] Optimize RemoteActionFileSystem#readdir for the tree artifact input case.
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
Labels: team-Remote-Exec, awaiting-review

#21252 [7.1.0] Document --incompatible_disallow_unsound_directory_outputs.
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
Labels: team-Configurability, awaiting-review

#21227 [7.1.0] Also path map transitive header jar paths with direct classpath optimization
  src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/PathMappers.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/StrippingPathMapper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java
  src/test/shell/integration/config_stripped_outputs_test.sh
Labels: team-Configurability, awaiting-review

#21259 [7.1.0] Error on invalid path characters in `.bazelignore`
  src/main/java/com/google/devtools/build/lib/skyframe/IgnoredPackagePrefixesFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/test/shell/bazel/bazelignore_test.sh
Labels: team-OSS, awaiting-review

#21224 [7.1.0] Mark gcc-<version> as `gcc` instead of `compiler` in Unix CC toolchain
  MODULE.bazel.lock
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/cpp/unix_cc_configure.bzl
Labels: team-Rules-CPP, awaiting-review

#21264 [7.1.0] Avoid exception-based control flow in RAFS#getDigest and RAFS#getFastDigest.
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java
Labels: team-Remote-Exec, awaiting-review

#21270 [7.1.0] Add `add_exports/add_opens` to bazel java_binary deploy jars
  src/main/starlark/builtins_bzl/bazel/java/bazel_java_binary_deploy_jar.bzl
  src/main/starlark/builtins_bzl/common/java/java_binary_deploy_jar.bzl
Labels: team-Rules-Java, awaiting-review

#21272 [7.1.0] Manipulate the local filesystem directly in the writeLocalFile test helper.
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
Labels: team-Remote-Exec, awaiting-review

#21275 [7.1.0] Improve the documentation for PathFragment methods dealing with segments.
  src/main/java/com/google/devtools/build/lib/vfs/PathFragment.java
Labels: team-Remote-Exec, awaiting-review

#21282 [7.1.0] Canonicalize the parent path in RemoteActionFileSystem#delete.
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
Labels: team-Remote-Exec, awaiting-review

#21281 Revert "[7.1.0] Also path map transitive header jar paths with direct classpath optimization"
  src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/PathMappers.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/StrippingPathMapper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java
  src/test/shell/integration/config_stripped_outputs_test.sh
Labels: team-Performance, team-Configurability, team-Rules-Java, awaiting-review

#21276 [7.1.0] Make it possible to toggle cache key scrubbing by rule kind
  src/main/java/com/google/devtools/build/lib/remote/Scrubber.java
  src/main/protobuf/remote_scrubbing.proto
  src/test/java/com/google/devtools/build/lib/exec/util/FakeOwner.java
  src/test/java/com/google/devtools/build/lib/exec/util/SpawnBuilder.java
  src/test/java/com/google/devtools/build/lib/remote/ScrubberTest.java
Labels: team-Remote-Exec, awaiting-review

#21271 [7.1.0] Fix a hanging issue with skymeld & `--combined_report=lcov`.
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
Labels: team-Remote-Exec, awaiting-review

#21285 [7.1.0] Canonicalize the parent path in RemoteActionFileSystem#renameTo.
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTestBase.java
Labels: team-Remote-Exec, awaiting-review

#21265 [7.1.0] Add `bazel mod tidy`
  MODULE.bazel.lock
  src/MODULE.tools
  src/main/java/com/google/devtools/build/lib/bazel/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/InterimModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RootModuleFileFixupEvent.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/mod.txt
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/main/protobuf/failure_details.proto
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/py/bazel/bzlmod/mod_command_test.py
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#21309 [7.1.0] Fix flakiness in //src/test/shell/bazel:starlark_repository_test
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#21300 [7.1.0] Document best practice of avoiding extensions directly specifying repository names
  site/en/external/extension.md
Labels: team-ExternalDeps, team-Documentation, area-Bzlmod, awaiting-review

#21313 [7.1.0] Allow `@repo_name` labels in override attributes
  MODULE.bazel.lock
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ArchiveOverride.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ArchiveRepoSpecBuilder.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GitOverride.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GitRepoSpecBuilder.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RepoSpec.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleVersionOverride.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#21306 [7.1.0] Reproducible extension
  .bazelrc
  site/en/external/overview.md
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/pkgcache/PackageOptions.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, team-Documentation, awaiting-review

#21312 [7.1.0] Add `Label.to_display_form()`
  src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java
  src/main/java/com/google/devtools/build/lib/cmdline/BazelModuleContext.java
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/main/java/com/google/devtools/build/lib/cmdline/PackageIdentifier.java
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/main/starlark/builtins_bzl/common/cc/cc_compilation_helper.bzl
  src/test/java/com/google/devtools/build/lib/analysis/actions/BuildInfoFileWriteActionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/LabelTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/PackageIdentifierTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/RepositoryNameTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
  src/test/java/com/google/devtools/build/lib/starlark/util/BazelEvaluationTestCase.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_layering_check_test.sh
Labels: team-Performance, team-Configurability, team-ExternalDeps, awaiting-review

#21294 [7.1.0] Clarify the purpose and overall behavior of RemoteActionFileSystem.
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
Labels: team-Remote-Exec, awaiting-review

#21327 [7.1.0] Add support for additional command profiler event types.
  src/main/java/com/google/devtools/build/lib/profiler/CommandProfilerModule.java
  src/test/java/com/google/devtools/build/lib/profiler/BUILD
  src/test/java/com/google/devtools/build/lib/profiler/CommandProfilerModuleTest.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/command_profiler_test.sh
Labels: team-Performance, awaiting-review

#21328 [7.1.0] Remove the fileSize parameter from DigestUtils.
  src/main/java/com/google/devtools/build/lib/actions/FileArtifactValue.java
  src/main/java/com/google/devtools/build/lib/exec/RunfilesTreeUpdater.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/remote/util/DigestUtil.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStore.java
  src/main/java/com/google/devtools/build/lib/vfs/DigestUtils.java
  src/main/java/com/google/devtools/build/lib/vfs/Path.java
  src/test/java/com/google/devtools/build/lib/unix/UnixDigestHashAttributeNameTest.java
  src/test/java/com/google/devtools/build/lib/vfs/DigestUtilsTest.java
Labels: team-Performance, team-Remote-Exec, awaiting-review

#21333 [7.1.0] Optimize RemoteActionFileSystem#resolveSymbolicLinks by caching intermediate results in a trie.
  src/main/java/com/google/devtools/build/lib/remote/PathCanonicalizer.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/PathCanonicalizerTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
Labels: team-Remote-Exec, awaiting-review

#21335 [7.1.0] Mark `use_repo_rule` extension as reproducible
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#21337 [7.1.0] Make SpawnLogContext interruptible.
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/test/java/com/google/devtools/build/lib/exec/CompactSpawnLogContextTest.java
  src/test/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContextTest.java
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogContextTestBase.java
Labels: team-Remote-Exec, awaiting-review

#21326 [7.1.0] Document --cache_computed_file_digests.
  src/main/java/com/google/devtools/build/lib/exec/ExecutionOptions.java
Labels: team-Remote-Exec, awaiting-review

#21338 [7.1.0] Generate a lockfile for the distribution archive on the fly
  BUILD
  scripts/bootstrap/compile.sh
  src/BUILD
  src/test/shell/bazel/bazel_determinism_test.sh
  third_party/googleapis/BUILD.bazel
  third_party/remoteapis/BUILD.bazel
Labels: team-OSS, awaiting-review

#21331 [7.1.0] Introduce --local_resources flag
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/buildtool/BuildRequestOptions.java
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/exec/ExecutionOptions.java
  src/main/java/com/google/devtools/build/lib/includescanning/IncludeScanningOptions.java
  src/main/java/com/google/devtools/build/lib/pkgcache/PackageOptions.java
  src/main/java/com/google/devtools/build/lib/runtime/LoadingPhaseThreadsOption.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxOptions.java
  src/main/java/com/google/devtools/build/lib/util/BUILD
  src/main/java/com/google/devtools/build/lib/util/CpuResourceConverter.java
  src/main/java/com/google/devtools/build/lib/util/RamResourceConverter.java
  src/main/java/com/google/devtools/build/lib/util/ResourceConverter.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerOptions.java
  src/test/java/com/google/devtools/build/lib/util/ResourceConverterTest.java
  src/test/java/com/google/devtools/build/lib/worker/MultiResourceConverterTest.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/RemoteWorkerOptions.java
Labels: team-Performance, awaiting-review

#21349 [7.1.0] Cherry-pick recent changes to fix CI flakiness and breakages
  BUILD
  MODULE.bazel.lock
  src/test/py/bazel/test_base.py
  src/test/shell/bazel/bazel_test_test.sh
  src/tools/bzlmod/utils.bzl
  third_party/BUILD
Labels: team-OSS, awaiting-review

#21346 [7.1.0] Clear the file digests cache on clean.
  src/main/java/com/google/devtools/build/lib/runtime/commands/CleanCommand.java
  src/main/java/com/google/devtools/build/lib/vfs/DigestUtils.java
  src/test/java/com/google/devtools/build/lib/vfs/DigestUtilsTest.java
Labels: team-Remote-Exec, awaiting-review

#21347 [7.1.0] Parallelize TreeArtifactValue.visitTree across files instead of subdirectories.
  src/main/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStore.java
  src/main/java/com/google/devtools/build/lib/skyframe/TreeArtifactValue.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactValueTest.java
Labels: team-Remote-Exec, awaiting-review

#21356 [7.1.0] Temporarily hardcode rules_java repository name
  src/test/shell/bazel/BUILD
Labels: team-ExternalDeps, awaiting-review

#21354 [7.1.0] Remove unnecessary test assertions to fix flakiness.
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactValueTest.java
Labels: team-OSS, awaiting-review

#21353 [7.1.0] Make it possible to avoid an extra stat() when obtaining a digest from the cache.
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/vfs/DigestUtils.java
Labels: team-Remote-Exec, awaiting-review

#21361 [7.1.0] Collect directory contents in parallel in CompactSpawnLogContext.
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogContextTestBase.java
Labels: team-Performance, awaiting-review

#21311 [7.1.0] Introduce --default_test_resources flag
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/test/TestConfiguration.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestResourcesConverter.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestTargetProperties.java
  src/test/java/com/google/devtools/build/lib/rules/test/TestTargetPropertiesTest.java
Labels: team-Performance, awaiting-review

#21369 [7.1.0] python: rules_python 0.22.0 -> 0.22.1 soas to register Python toolchain by default
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/shell/bazel/python_version_test.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-Rules-Python, awaiting-review

#21366 [7.1.0] Add vendor mode
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelFetchAllFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelFetchAllValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/InvalidArgumentException.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/commands/FetchCommand.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/RepositoryFetcher.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/VendorCommand.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/VendorOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/vendor.txt
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDirectoryValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BazelPackageLoader.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestCase.java
  src/test/java/com/google/devtools/build/lib/analysis/util/ConfigurationTestCase.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/buildtool/util/BuildIntegrationTestCase.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/SkyframeQueryHelper.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/AbstractCollectPackagesUnderDirectoryTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ContainingPackageLookupFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/FileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/PackageLookupFunctionTest.java
  src/test/py/bazel/BUILD
  src/test/py/bazel/bzlmod/bazel_vendor_test.py
  src/test/py/bazel/test_base.py
Labels: team-Configurability, team-ExternalDeps

#21363 [7.1.0] Clarify the behavior of --incompatible_remote_symlinks in the presence of a dangling symlink.
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/test/java/com/google/devtools/build/lib/remote/UploadManifestTest.java
Labels: team-Remote-Exec, awaiting-review

#21371 [7.1.0] Handle symlinks in a more consistent manner in UploadManifest.
  src/main/java/com/google/devtools/build/lib/remote/UploadManifest.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/test/java/com/google/devtools/build/lib/remote/UploadManifestTest.java
Labels: team-Remote-Exec, awaiting-review

#21376 [7.1.0] Set the executable bit on files in output directories uploaded to a disk or remote cache.
  src/main/java/com/google/devtools/build/lib/remote/UploadManifest.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/UploadManifestTest.java
Labels: team-Remote-Exec, awaiting-review

#21377 [7.1.0] Call out that TreeArtifactVisitor.visit is called in a nondeterministic order.
  src/main/java/com/google/devtools/build/lib/skyframe/TreeArtifactValue.java
Labels: team-Remote-Exec, awaiting-review

#21388 [7.1.0] Optimize out a stat call.
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
Labels: team-Remote-Exec, awaiting-review

#21386 [7.1.0] Compute output directories in parallel when building the upload manifest.
  src/main/java/com/google/devtools/build/lib/remote/UploadManifest.java
  src/test/java/com/google/devtools/build/lib/remote/UploadManifestTest.java
Labels: team-Remote-Exec, awaiting-review

#21397 [7.1.0] Fix rule definition environment for repo rules
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#21389 [7.1.0] Share classpath `NestedSet` between full and header compile actions
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaTargetAttributes.java
Labels: team-Rules-Java, awaiting-review

#21395 [7.1.0] Emit labels in display form in Java rules
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisEnvironment.java
  src/main/java/com/google/devtools/build/lib/analysis/CachingAnalysisEnvironment.java
  src/main/java/com/google/devtools/build/lib/analysis/RuleContext.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileActionBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java
  src/main/java/com/google/devtools/build/lib/skyframe/AspectFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ConfiguredTargetFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
  src/main/starlark/builtins_bzl/common/java/android_lint.bzl
  src/main/starlark/builtins_bzl/common/java/java_common.bzl
  src/main/starlark/builtins_bzl/common/java/java_common_internal_for_builtins.bzl
  src/main/starlark/builtins_bzl/common/java/java_helper.bzl
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestUtil.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewForTesting.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestCase.java
  src/test/java/com/google/devtools/build/lib/rules/android/BUILD
  src/test/java/com/google/devtools/build/lib/rules/android/ResourceTestBase.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_java_test.sh
  src/test/shell/bazel/local_repository_test.sh
Labels: team-Rules-Java, awaiting-review

#21384 [7.1.0] Let scrubbed actions fall back to local execution when remote execution is enabled.
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/main/protobuf/failure_details.proto
  src/test/shell/bazel/remote/remote_execution_test.sh
Labels: team-Remote-Exec, awaiting-review

#21417 [7.1.0] Publish the new execution log format to the build event protocol.
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
Labels: team-Remote-Exec, awaiting-review

#21416 [7.1.0] Ensure that the mtime of an AC entry is smaller, not larger, than the CAS blobs it references.
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheClient.java
Labels: team-Remote-Exec, awaiting-review

#21413 [7.1.0] Pass the name of the classpath manifest jar to JacocoCoverageRunner
  src/java_tools/junitrunner/java/com/google/testing/coverage/JacocoCoverageRunner.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/java/java_stub_template.txt
  src/test/shell/bazel/bazel_coverage_java_test.sh
Labels: team-Rules-Java, awaiting-review

#21418 [7.1.0] Traverse symlinks to directories while collecting a TreeArtifactValue.
  src/main/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStore.java
  src/main/java/com/google/devtools/build/lib/skyframe/FilesystemValueChecker.java
  src/main/java/com/google/devtools/build/lib/skyframe/TreeArtifactValue.java
  src/test/java/com/google/devtools/build/lib/actions/ActionCacheCheckerTest.java
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogContextTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactBuildTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactValueTest.java
Labels: team-Remote-Exec, awaiting-review

#21427 [7.1.0] Correctly handle file inputs/outputs with directory contents in the execution log.
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/test/java/com/google/devtools/build/lib/exec/SpawnLogContextTestBase.java
Labels: team-Remote-Exec, awaiting-review

#21428 [7.1.0] Upgrade to async-profiler v3.0.
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
Labels: team-Performance, awaiting-review

#21400 [7.1.0] Avoid a superfluous stat() in DigestUtil.
  src/main/java/com/google/devtools/build/lib/remote/UploadManifest.java
  src/main/java/com/google/devtools/build/lib/remote/util/DigestUtil.java
Labels: team-Remote-Exec, awaiting-review

#21429 [7.1.0] [credentialhelper] Respect `expires` field from helper
  src/main/java/com/google/devtools/build/lib/authandtls/AuthAndTLSOptions.java
  src/main/java/com/google/devtools/build/lib/authandtls/GoogleAuthUtils.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/BUILD
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialCacheExpiry.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialHelperCredentials.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialModule.java
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/GetCredentialsResponse.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/test/java/com/google/devtools/build/lib/authandtls/credentialhelper/GetCredentialsResponseTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
Labels: team-Remote-Exec, awaiting-review

#21433 [7.1.0] Improve performance of --reuse_sandbox_directories
  src/main/java/com/google/devtools/build/lib/exec/TreeDeleter.java
  src/main/java/com/google/devtools/build/lib/sandbox/AbstractContainerizingSandboxedSpawn.java
  src/main/java/com/google/devtools/build/lib/sandbox/AsynchronousTreeDeleter.java
  src/main/java/com/google/devtools/build/lib/sandbox/BUILD
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxUtil.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxHelpers.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxModule.java
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxStash.java
  src/main/java/com/google/devtools/build/lib/sandbox/SymlinkedSandboxedSpawn.java
  src/main/java/com/google/devtools/build/lib/worker/BUILD
  src/main/java/com/google/devtools/build/lib/worker/SandboxedWorker.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerExecRoot.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerFactory.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerModule.java
  src/test/java/com/google/devtools/build/lib/worker/BUILD
  src/test/java/com/google/devtools/build/lib/worker/WorkerExecRootTest.java
  src/test/shell/integration/sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#21441 [7.1.0] [credentialhelper] Update flag doc to point to more convenient usage instructions
  src/main/java/com/google/devtools/build/lib/authandtls/AuthAndTLSOptions.java
Labels: team-Remote-Exec, awaiting-review

#21435 [7.1.0] Repo file/dir watching API
  MODULE.bazel.lock
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GsonTypeAdapterUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/LocalConfigPlatformFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/RepoFetchingSkyKeyComputeState.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkPath.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidNdkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/AndroidSdkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/BUILD
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/repository/LocalRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/NewLocalRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/NewRepositoryFileHandler.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepoRecordedInput.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/DirectoryTreeDigestFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/DirectoryTreeDigestValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkPathTest.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContextTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/BUILD
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/DirectoryTreeDigestFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_fetch_test.py
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/shell/bazel/starlark_repository_test.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#21434 [7.1.0] Clarify the meaning of Dirent.Type.UNKNOWN.
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/unix/NativePosixFiles.java
  src/main/java/com/google/devtools/build/lib/vfs/Dirent.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/unix/UnixFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/vfs/FileSystemTest.java
Labels: team-Remote-Exec, awaiting-review

#21426 [7.1.0] Add a native image of turbine to the prebuilt Java tools
  MODULE.bazel
  MODULE.bazel.lock
  repositories.bzl
  src/BUILD
  src/java_tools/buildjar/java/com/google/devtools/build/java/turbine/BUILD
  tools/jdk/BUILD.java_tools_prebuilt
  workspace_deps.bzl
Labels: team-Rules-Java, awaiting-review

#21359 [7.1.0] Update java_tools v13.4 / rules_java 7.4.0
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/tools/bzlmod/MODULE.bazel.lock
  workspace_deps.bzl
Labels: team-Rules-Java, awaiting-review

#21448 [7.1.0] Automated rollback of commit b11fa7a7c7fdb37012c7a442b16f6fdcf90b9177.
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisEnvironment.java
  src/main/java/com/google/devtools/build/lib/analysis/CachingAnalysisEnvironment.java
  src/main/java/com/google/devtools/build/lib/analysis/RuleContext.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileActionBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java
  src/main/java/com/google/devtools/build/lib/skyframe/AspectFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ConfiguredTargetFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeBuildView.java
  src/main/starlark/builtins_bzl/common/java/android_lint.bzl
  src/main/starlark/builtins_bzl/common/java/java_common.bzl
  src/main/starlark/builtins_bzl/common/java/java_common_internal_for_builtins.bzl
  src/main/starlark/builtins_bzl/common/java/java_helper.bzl
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestUtil.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewForTesting.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestCase.java
  src/test/java/com/google/devtools/build/lib/rules/android/BUILD
  src/test/java/com/google/devtools/build/lib/rules/android/ResourceTestBase.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_java_test.sh
  src/test/shell/bazel/local_repository_test.sh
Labels: team-Configurability, team-Rules-Java, awaiting-review

#21449 [7.1.0] Remove the restriction that relative symlinks in a tree artifact may not point outside the tree.
  src/main/java/com/google/devtools/build/lib/skyframe/TreeArtifactValue.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactBuildTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactValueTest.java
Labels: awaiting-review, team-Rules-API

#21454 Revert "[7.1.0] Add `Label.to_display_form()`"
  src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java
  src/main/java/com/google/devtools/build/lib/cmdline/BazelModuleContext.java
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/main/java/com/google/devtools/build/lib/cmdline/PackageIdentifier.java
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/main/starlark/builtins_bzl/common/cc/cc_compilation_helper.bzl
  src/test/java/com/google/devtools/build/lib/analysis/actions/BuildInfoFileWriteActionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/LabelTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/PackageIdentifierTest.java
  src/test/java/com/google/devtools/build/lib/cmdline/RepositoryNameTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
  src/test/java/com/google/devtools/build/lib/starlark/util/BazelEvaluationTestCase.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_layering_check_test.sh
Labels: team-Performance, team-Configurability, team-ExternalDeps, awaiting-review

#21458 [7.1.0] Reland "Also path map transitive header jar paths with direct classpath optimization"
  src/main/java/com/google/devtools/build/lib/actions/AbstractAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/PathMappers.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/StrippingPathMapper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java
  src/test/shell/integration/config_stripped_outputs_test.sh
Labels: team-Performance, team-Configurability, team-Rules-Java, awaiting-review

#21456 [7.1.0] Backport CI test configs
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  .bazelrc
  src/java_tools/import_deps_checker/javatests/com/google/devtools/build/importdeps/BUILD
  src/java_tools/import_deps_checker/javatests/com/google/devtools/build/importdeps/golden_test.sh
  src/test/java/com/google/devtools/build/lib/blackbox/tests/workspace/GitRepositoryBlackBoxTest.java
  src/test/java/com/google/devtools/build/lib/blackbox/tests/workspace/GitRepositoryHelper.java
  src/test/java/com/google/devtools/build/lib/blackbox/tests/workspace/PatchApiBlackBoxTest.java
  src/test/java/com/google/devtools/build/lib/packages/util/Crosstool.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcCommonTest.java
  src/test/java/com/google/devtools/build/lib/rules/python/PyTestConfiguredTargetTest.java
  src/test/java/com/google/devtools/build/lib/sandbox/BUILD
  src/test/shell/bazel/BUILD
  src/test/shell/integration/BUILD
Labels: team-Rules-Java, team-Rules-CPP, awaiting-review

#21461 [7.1.0] Use execution info instead of hard-coded mnemonics for Java path mapping
  src/main/java/com/google/devtools/build/lib/analysis/actions/PathMappers.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/ResourceJarActionBuilder.java
Labels: team-Configurability, team-Rules-Java, awaiting-review

#21472 [7.1.0] Always decide whether to scrub an input by its effective path.
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/Scrubber.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTreeBuilder.java
  src/test/java/com/google/devtools/build/lib/remote/ScrubberTest.java
Labels: team-Remote-Exec, awaiting-review

#21477 [7.1.0] Set RC branch when creating GitHub releases
  scripts/ci/build.sh
Labels: team-OSS, awaiting-review

#21486 Fixes _module_repo_name when building with Bazel@HEAD or Bazel 7.1
  MODULE.bazel.lock
  src/tools/bzlmod/utils.bzl
Labels: awaiting-review

#21487 [7.1.0] Fix vendor existing repo
  src/main/java/com/google/devtools/build/lib/bazel/commands/VendorCommand.java
  src/test/py/bazel/bzlmod/bazel_vendor_test.py
Labels: team-ExternalDeps, awaiting-review

#21494 [7.1.0] [test][windows] Export BAZEL_TEST=1 on windows
  src/test/py/bazel/bazel_windows_test.py
  tools/test/windows/tw.cc
Labels: team-Core, awaiting-review

#21502 [7.1.0] Enable aar_import JNI libs to work with --android_platforms.
  src/main/java/com/google/devtools/build/lib/rules/android/AarImport.java
  src/main/java/com/google/devtools/build/lib/rules/android/AarImportBaseRule.java
  src/test/shell/bazel/android/aar_integration_test.sh
  src/test/shell/bazel/android/android_sdk_integration_test.sh
Labels: team-Android

#21510 [7.1.0] Fix stale trash dir not cleaned up on worker creation
  src/main/java/com/google/devtools/build/lib/sandbox/AsynchronousTreeDeleter.java
  src/main/java/com/google/devtools/build/lib/worker/BUILD
  src/main/java/com/google/devtools/build/lib/worker/WorkerFactory.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerModule.java
  src/test/java/com/google/devtools/build/lib/worker/WorkerModuleTest.java
Labels: team-Local-Exec, awaiting-review

#21512 [7.1.0] Fix genrule autostamping in bazel
  src/main/java/com/google/devtools/build/lib/bazel/rules/genrule/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/rules/genrule/BazelGenRule.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/genrule/BazelGenRuleRule.java
  src/main/java/com/google/devtools/build/lib/rules/genrule/GenRuleBase.java
  src/test/java/com/google/devtools/build/lib/bazel/rules/genrule/GenRuleConfiguredTargetTest.java
Labels: team-Configurability, awaiting-review
