Repository bazelbuild/bazel, pull requests merged in 2024-07, with the labels that each got.

#22952 [7.3.0] Retry HTTP download on timeout.
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/http/DownloadTimeoutException.java
Labels: team-Remote-Exec, awaiting-review

#22976 [7.3.0] Fix CI for release-7.3.0
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  .bazelversion
  MODULE.bazel.lock
  examples/py_native/fail.py
  examples/py_native/test.py
  src/main/java/com/google/devtools/build/lib/skyframe/packages/testing/BUILD
  src/test/cpp/option_processor_test.cc
  src/test/java/com/google/devtools/build/lib/blackbox/bazel/DefaultToolsSetup.java
  src/test/java/net/starlark/java/syntax/ParserTest.java
  src/test/py/bazel/action_temp_test.py
  src/test/py/bazel/launcher_test.py
  src/test/py/bazel/remote/cache_decompression_test.py
  src/test/py/bazel/test_base.py
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_test_test.sh
  src/test/shell/bazel/testing_server.py
  src/test/shell/integration/BUILD
  src/test/shell/integration/bazel_command_log_test.sh
  src/test/shell/testenv.sh.tmpl
  tools/python/pywrapper_test.py
Labels: team-OSS, awaiting-review

#22979 [7.3.0] Fix vendoring immediatelly after a normal repo fetch
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDirectoryValue.java
  src/test/py/bazel/bzlmod/bazel_vendor_test.py
Labels: team-ExternalDeps, awaiting-review

#22904 [7.3.0] Use toolchain env for strip action
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
Labels: team-Rules-CPP, awaiting-review

#22871 [7.3.0] Invalidate RepositoryDirecotryValue for vendored repos
  src/main/java/com/google/devtools/build/lib/bazel/commands/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/commands/VendorCommand.java
  src/test/py/bazel/bzlmod/bazel_vendor_test.py
Labels: team-ExternalDeps, awaiting-review

#22876 [7.3.0] Add basic C++ path mapping support
  src/main/java/com/google/devtools/build/lib/actions/SimpleSpawn.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainFeatures.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CompileBuildVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CompileCommandLine.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileActionTemplate.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppHelper.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/HeaderDiscovery.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LinkBuildVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LinkCommandLine.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LtoBackendArtifacts.java
  src/test/java/com/google/devtools/build/lib/exec/util/SpawnBuilder.java
  src/test/java/com/google/devtools/build/lib/packages/util/MockCcSupport.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcToolchainFeaturesTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CompileBuildVariablesTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CompileCommandLineTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CppLinkActionTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/HeaderDiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/LibraryToLinkValueTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/LinkBuildVariablesTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/StarlarkCcCommonTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcLibraryTest.java
  src/test/shell/bazel/path_mapping_test.sh
  src/test/shell/integration/config_stripped_outputs_lib.sh
  src/test/shell/integration/config_stripped_outputs_test.sh
Labels: team-Performance, team-Rules-CPP, awaiting-review

#22975 [7.3.0] Fix `Actions.escapeLabel` collision if only the repo name differs
  src/main/java/com/google/devtools/build/lib/actions/Actions.java
  src/test/java/com/google/devtools/build/lib/actions/ActionsTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/LibrariesToLinkCollectorTest.java
Labels: team-Performance, awaiting-review

#22981 [7.3.0] Make `extract` available on `module_ctx`
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
Labels: team-ExternalDeps, awaiting-review

#22990 [7.3.0] Update rules_python to v0.33.2
  MODULE.bazel
  MODULE.bazel.lock
Labels: awaiting-review

#23032 Preserve `--experimental_skip_ttvs_for_genquery` in the exec cfg
  src/main/java/com/google/devtools/build/lib/rules/genquery/GenQueryConfiguration.java
Labels: awaiting-review

#23048 [7.3.0] Document source of truth for `rctx.download*` cache key
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
Labels: team-ExternalDeps, awaiting-review

#23058 [7.3.0] Fix javadocs for Runfiles
  tools/java/runfiles/Runfiles.java
Labels: team-Rules-Java, awaiting-review

#23082 [7.3.0] --experimental_remote_cache_async: Profile upload events.
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
Labels: team-Remote-Exec, awaiting-PR-merge

#23122 [7.3.0] Ignore transitive cppmap files from dotd files
  src/main/java/com/google/devtools/build/lib/rules/cpp/HeaderDiscovery.java
  src/test/shell/bazel/bazel_layering_check_test.sh
Labels: team-Rules-CPP, awaiting-review

#23135 [7.3.0] Make Window launchers relocatable
  src/main/java/com/google/devtools/build/lib/bazel/rules/sh/ShBinary.java
  src/main/starlark/builtins_bzl/common/python/py_executable_bazel.bzl
  src/test/java/com/google/devtools/build/lib/blackbox/framework/ProcessRunner.java
  src/test/py/bazel/runfiles_test.py
  src/test/shell/bazel/bazel_windows_example_test.sh
  src/test/shell/bazel/python_version_test.sh
  src/tools/launcher/bash_launcher.cc
  src/tools/launcher/launcher.cc
  src/tools/launcher/launcher.h
  src/tools/launcher/python_launcher.cc
Labels: awaiting-review

#23069 [7.3.0] Deduplicate locally executed path mapped spawns
  src/main/java/com/google/devtools/build/lib/actions/SpawnResult.java
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/SpawnCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/common/RemotePathResolver.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
  src/test/shell/bazel/path_mapping_test.sh
Labels: team-Performance, team-Remote-Exec, awaiting-review

#23118 [7.3.0] Path map executable paths
  src/main/java/com/google/devtools/build/lib/actions/Artifact.java
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/actions/CommandLines.java
  src/main/java/com/google/devtools/build/lib/vfs/BUILD
  src/main/java/com/google/devtools/build/lib/vfs/PathFragment.java
  src/main/java/com/google/devtools/build/lib/vfs/PathStrippable.java
  src/test/java/com/google/devtools/build/lib/analysis/actions/StrippingPathMapperTest.java
Labels: team-Performance, team-Configurability, awaiting-review

#23134 [7.3.0] Add path mapping test for multiplex sandboxing
  src/test/shell/bazel/path_mapping_test.sh
Labels: team-Configurability, awaiting-review
