Repository bazelbuild/bazel, pull requests merged in 2024-08, with the labels that each got.

#23230 [7.3.0] Be resilient to outdated exec paths in action cache entries
  src/main/java/com/google/devtools/build/lib/cmdline/PackageIdentifier.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/HeaderDiscovery.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionExecutionFunction.java
Labels: team-Rules-CPP, awaiting-review

#23269 [8.0.0-pre.20240805.3] Be resilient to outdated exec paths in action cache entries
  src/main/java/com/google/devtools/build/lib/cmdline/PackageIdentifier.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/HeaderDiscovery.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionExecutionFunction.java
Labels: team-Rules-CPP, awaiting-review

#23281 [7.3.1] Fix expected lockfile version to change based on `--incompatible_use_plus_in_repo_names`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunction.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
Labels: team-ExternalDeps, awaiting-review

#23304 [7.3.1] Add a version indicator and selector to all docs pages
  scripts/docs/BUILD
  scripts/docs/create_release_docs.py
  scripts/docs/rewriter.py
  scripts/docs/rewriter_test.py
  scripts/docs/testdata/expected_output/doc.md
  scripts/docs/testdata/expected_output/markdown_with_html.md
  scripts/docs/testdata/input/doc.md
  scripts/docs/testdata/input/markdown_with_html.md
  site/en/BUILD.bazel
  site/en/_buttons.html
  src/main/java/com/google/devtools/build/docgen/release/TableOfContentsOptions.java
  src/main/java/com/google/devtools/build/docgen/release/TableOfContentsUpdater.java
Labels: team-OSS, team-Documentation, awaiting-review

#23309 [7.3.1] Use target.getLookupKey() for contstructing lookup keys for vendor mode
  src/main/java/com/google/devtools/build/lib/bazel/commands/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/commands/VendorCommand.java
  src/test/py/bazel/bzlmod/bazel_vendor_test.py
Labels: team-ExternalDeps, area-Bzlmod, awaiting-review

#23350 [7.4.0] Preserve order between stdout and stderr in BES on a best-effort basis
  src/main/java/com/google/devtools/build/lib/buildeventservice/BuildEventServiceModule.java
  src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
  src/main/java/com/google/devtools/build/lib/runtime/BuildEventStreamer.java
  src/main/java/com/google/devtools/build/lib/runtime/SynchronizedOutputStream.java
  src/test/java/com/google/devtools/build/lib/runtime/BuildEventStreamerTest.java
  src/test/java/com/google/devtools/build/lib/runtime/SynchronizedOutputStreamTest.java
Labels: awaiting-review, team-CLI

#23359 [7.4.0] Remove unused code from Bzlmod package
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GitRepoSpecBuilder.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/InterimModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Module.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionUsage.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Selection.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/TagClass.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/repository/RepositoryModuleApi.java
  src/main/java/com/google/devtools/build/skydoc/fakebuildapi/repository/FakeRepositoryModule.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodTestUtil.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModuleTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModExecutorTest.java
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#23352 [7.4.0] Introduce `--http_max_parallel_downloads`.
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryImpl.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/VendorCommand.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloader.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeRuntime.java
  src/main/java/com/google/devtools/build/lib/runtime/CommandEnvironment.java
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
  src/main/java/com/google/devtools/build/lib/runtime/ServerBuilder.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BazelPackageLoader.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
Labels: team-Configurability, team-ExternalDeps, team-Remote-Exec, awaiting-review

#23341 [7.4.0] Warn if a module extension produces an invalid lockfile entry
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
Labels: team-ExternalDeps, awaiting-review

#23344 [7.4.0] Update extension.md
  site/en/external/extension.md
Labels: team-OSS, team-Documentation

#23348 [7.4.0] Apply a workaround for absolute paths in .d files which can lead to cache issues with the Android NDK on Windows.
  src/main/java/com/google/devtools/build/lib/util/DependencySet.java
Labels: team-Android, awaiting-review

#23360 [7.4.0] Show "did you mean" suggestion for unknown repo names
  src/main/java/com/google/devtools/build/lib/cmdline/BUILD
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryMapping.java
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java
  src/test/java/com/google/devtools/build/lib/cmdline/RepositoryMappingTest.java
Labels: awaiting-review, team-CLI

#23357 [7.4.0] Replace "checking cached actions" message when no action is running.
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionProgressReceiver.java
  src/main/java/com/google/devtools/build/lib/runtime/UiStateTracker.java
Labels: team-Remote-Exec, awaiting-review

#23343 [7.4.0] Do not reuse gRPC connections that fail with native Netty errors
  src/main/java/com/google/devtools/build/lib/remote/grpc/BUILD
  src/main/java/com/google/devtools/build/lib/remote/grpc/SharedConnectionFactory.java
  src/test/java/com/google/devtools/build/lib/remote/grpc/BUILD
  src/test/java/com/google/devtools/build/lib/remote/grpc/SharedConnectionFactoryTest.java
Labels: team-Remote-Exec, awaiting-review

#23381 [7.4.0] Improve user-visible error message when an IOException occurs while copying sandbox inputs/outputs.
  src/main/java/com/google/devtools/build/lib/sandbox/AbstractSandboxSpawnRunner.java
  src/main/protobuf/failure_details.proto
  src/test/shell/integration/sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#23391 [7.4.0] Fix in-process materialization of unresolved symlinks in runfiles
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
  src/main/java/com/google/devtools/build/lib/exec/SymlinkTreeHelper.java
  src/test/shell/bazel/bazel_symlink_test.sh
Labels: team-Configurability, awaiting-review

#23389 [7.4.0] Repo context cherry-picks
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkExecutionResult.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkOS.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkPath.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/external_integration_test.sh
  src/test/shell/bazel/starlark_prefetching_test.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/BUILD
  tools/build_defs/repo/cache.bzl
Labels: team-ExternalDeps, awaiting-review

#23390 [7.4.0] Fix locations reported in repo rule instantiation errors for extensions
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleCreator.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionEvalStarlarkThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/py/bazel/bzlmod/bazel_module_test.py
Labels: team-ExternalDeps, awaiting-review

#23395 [7.4.0] Remount sys to make /sys/class/net consistent with network namespace.
  src/main/tools/linux-sandbox-pid1.cc
Labels: team-Local-Exec, awaiting-review

#23398 [7.4.0] Represent symlink actions in the compact execution log
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/actions/SymlinkAction.java
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/ExpandedSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogReconstructor.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/main/java/com/google/devtools/build/lib/rules/cpp/SolibSymlinkAction.java
  src/main/protobuf/failure_details.proto
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/actions/util/DummyExecutor.java
  src/test/java/com/google/devtools/build/lib/exec/BUILD
  src/test/java/com/google/devtools/build/lib/exec/CompactSpawnLogContextTest.java
Labels: team-Configurability, team-Rules-CPP, awaiting-review

#23362 [7.4.0] Delay execution phase reporting in Skymeld
  src/main/java/com/google/devtools/build/lib/buildeventstream/proto/build_event_stream.proto
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/runtime/SkymeldUiStateTracker.java
  src/main/java/com/google/devtools/build/lib/runtime/UiEventHandler.java
  src/main/java/com/google/devtools/build/lib/runtime/UiStateTracker.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/TopLevelStatusEvents.java
  src/test/java/com/google/devtools/build/lib/runtime/SkymeldUiStateTrackerTest.java
  src/test/java/com/google/devtools/build/lib/runtime/UiStateTrackerTest.java
  src/test/shell/integration/ui_test.sh
Labels: awaiting-review, team-CLI

#23392 [7.4.0] Add experimental `cc_static_library` rule
  src/main/java/com/google/devtools/build/lib/bazel/rules/CcRules.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcStaticLibraryRule.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/cpp/CcModuleApi.java
  src/main/starlark/builtins_bzl/common/cc/action_names.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_common.bzl
  src/main/starlark/builtins_bzl/common/cc/experimental_cc_static_library.bzl
  src/main/starlark/builtins_bzl/common/exports.bzl
  src/main/starlark/docgen/cpp.bzl
  src/main/starlark/tests/builtins_bzl/BUILD
  src/main/starlark/tests/builtins_bzl/cc/cc_static_library/test_cc_static_library/BUILD.builtin_test
  src/main/starlark/tests/builtins_bzl/cc/cc_static_library/test_cc_static_library/bar.cc
  src/main/starlark/tests/builtins_bzl/cc/cc_static_library/test_cc_static_library/bar.h
  src/main/starlark/tests/builtins_bzl/cc/cc_static_library/test_cc_static_library/cc_static_library_integration_test.sh
  src/main/starlark/tests/builtins_bzl/cc/cc_static_library/test_cc_static_library/foo.cc
  src/main/starlark/tests/builtins_bzl/cc/cc_static_library/test_cc_static_library/foo.h
  src/main/starlark/tests/builtins_bzl/cc/cc_static_library/test_cc_static_library/lib_only.cc
  src/main/starlark/tests/builtins_bzl/cc/cc_static_library/test_cc_static_library/mock_toolchain.bzl
  src/main/starlark/tests/builtins_bzl/cc/cc_static_library/test_cc_static_library/starlark_tests.bzl
  src/main/starlark/tests/builtins_bzl/cc/cc_static_library/test_cc_static_library/test.cc
  src/main/starlark/tests/builtins_bzl/cc_builtin_tests.sh
  tools/build_defs/cc/action_names.bzl
  tools/cpp/BUILD.tpl
  tools/cpp/unix_cc_configure.bzl
  tools/cpp/unix_cc_toolchain_config.bzl
  tools/cpp/validate_static_library.sh.tpl
  tools/cpp/windows_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#23376 [7.4.0] CommandLinePathFactory: skip empty or relative path elements
  src/main/java/com/google/devtools/build/lib/runtime/CommandLinePathFactory.java
  src/test/java/com/google/devtools/build/lib/runtime/CommandLinePathFactoryTest.java
Labels: team-Remote-Exec, awaiting-review

#23349 [7.4.0] Add path mapping support for C++ compile action templates
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppCompileActionTemplate.java
  src/test/java/com/google/devtools/build/lib/remote/util/IntegrationTestUtils.java
  src/test/py/bazel/test_base.py
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/path_mapping_test.sh
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/BUILD
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/ExecutionServer.java
  tools/java/runfiles/BUILD
Labels: team-Rules-Java, team-Rules-CPP, team-Remote-Exec, awaiting-review

#23342 [7.4.0] document --invocation_id
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
Labels: team-Configurability, awaiting-review

#23426 [7.4.0] Mark remote cache errors as retriable by expanding `--incompatible_re…
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/java/com/google/devtools/build/lib/exec/ExecutionOptions.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeCommandDispatcher.java
  src/main/protobuf/failure_details.proto
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-review

#23425 [7.4.0] Handle invalid base64 in SRI
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/Checksum.java
  src/test/shell/bazel/external_integration_test.sh
Labels: team-ExternalDeps, awaiting-review

#23439 Use retrieved nestedSet for symlink planting
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BuildDriverFunction.java
Labels: awaiting-review

#23433 [7.4.0] Allow ICMP sockets inside a sandbox.
  src/main/tools/linux-sandbox-pid1.cc
Labels: team-Local-Exec, awaiting-review

#23447 [7.4.0] Fix attribute lookup for subrules used in aspects
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkSubrule.java
  src/test/java/com/google/devtools/build/lib/analysis/starlark/StarlarkSubruleTest.java
Labels: awaiting-review, team-Rules-API

#23442 [7.4.0] Download runfiles in CompletionFunction.
  src/main/java/com/google/devtools/build/lib/analysis/AspectCompleteEvent.java
  src/main/java/com/google/devtools/build/lib/analysis/TargetCompleteEvent.java
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
Labels: team-Configurability, team-Remote-Exec, awaiting-review

#23452 [7.4.0] Avoid unnecessary copying in `getDirectoryEntries` implementations
  src/main/java/com/google/devtools/build/lib/unix/UnixFileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/JavaIoFileSystem.java
Labels: team-Remote-Exec, awaiting-review

#23454 [7.4.0] Make incremental build with Skymeld and BwoB faster.
  src/main/java/com/google/devtools/build/lib/buildtool/ExecutionTool.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputChecker.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-review

#23453 [7.4.0] Fix cache duration computation in CredentialCacheExpiry.
  src/main/java/com/google/devtools/build/lib/authandtls/credentialhelper/CredentialCacheExpiry.java
Labels: team-Remote-Exec, awaiting-review

#23475 [7.4.0] Upgrade to Bazel 7.3.1
  .bazelversion
  MODULE.bazel.lock
Labels: awaiting-review

#23338 [7.4.0] Implement `SelectorValue#{equals,hashCode}`
  src/main/java/com/google/devtools/build/lib/packages/SelectorValue.java
  src/test/java/com/google/devtools/build/lib/packages/BuildTypeTest.java
Labels: team-Starlark-Interpreter, awaiting-review
