Repository bazelbuild/bazel, pull requests merged in 2024-04, with the labels that each got.

#21791 [7.2.0] Use a RegexPatternOption for --remote_download_regex.
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/options/CommonRemoteOptions.java
Labels: team-Remote-Exec, awaiting-review

#21792 [7.2.0] Create remoteOutputService within beforeCommand method
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionContextProvider.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
Labels: team-Remote-Exec, awaiting-review

#21851 [7.2.0] Don't upload remote input to remote cache
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/LeaseService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutorFactory.java
  src/main/java/com/google/devtools/build/lib/remote/common/BUILD
  src/main/java/com/google/devtools/build/lib/remote/common/CacheNotFoundException.java
  src/main/java/com/google/devtools/build/lib/remote/common/LostInputsEvent.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcherTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
Labels: team-Remote-Exec, awaiting-review

#21868 [7.2.0] Stop double quoting `dsym_path`
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcVariablesExtension.java
Labels: team-Rules-ObjC, awaiting-review

#21798 [7.2.0] Declare support for `gcc_quoting_for_param_files` feature in Unix cc_toolchain
  tools/cpp/unix_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#21861 [7.2.0] Make `RepositoryCache#put` resistant to concurrent file system operations
  src/main/java/com/google/devtools/build/lib/bazel/repository/cache/RepositoryCache.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystemUtils.java
  src/main/java/com/google/devtools/build/lib/vfs/JavaIoFileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/Path.java
  src/main/java/com/google/devtools/build/lib/windows/WindowsFileSystem.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#21889 [7.1.2] Implement RemoteActionFileSystem#statIfFound correctly when the path cannot be canonicalized
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/TreeArtifactValue.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStoreTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactBuildTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactValueTest.java
Labels: awaiting-review, team-Rules-API

#21892 [7.2.0] Revert "Add -Djava.security.manager=allow to BazelAndroidLoca…
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/BazelAndroidLocalTest.java
Labels: awaiting-review

#21898 [7.2.0] Enable android tests
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  src/main/java/com/google/devtools/build/lib/bazel/rules/android/BazelAndroidLocalTest.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaRuntimeInfo.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaRuntimeTest.java
Labels: team-Rules-Java, awaiting-review

#21912 [7.2.0] Use an HTTP registry in Bzlmod tests
  src/test/py/bazel/bzlmod/bazel_fetch_test.py
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
  src/test/py/bazel/bzlmod/bazel_repo_mapping_test.py
  src/test/py/bazel/bzlmod/bazel_vendor_test.py
  src/test/py/bazel/bzlmod/bazel_yanked_versions_test.py
  src/test/py/bazel/bzlmod/bzlmod_query_test.py
  src/test/py/bazel/bzlmod/external_repo_completion_test.py
  src/test/py/bazel/bzlmod/mod_command_test.py
  src/test/py/bazel/bzlmod/test_utils.py
Labels: team-ExternalDeps, awaiting-review

#21871 [7.2.0] Implement StartBuild
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/BazelOutputService.java
  src/main/java/com/google/devtools/build/lib/remote/GoogleChannelConnectionFactory.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionContextProvider.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputService.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/main/protobuf/BUILD
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerWithGrpcRemoteExecutorTest.java
  src/test/shell/integration/minimal_jdk_test.sh
Labels: team-Remote-Exec, awaiting-review

#21926 [7.2.0] Implement FinalizeBuild
  src/main/java/com/google/devtools/build/lib/remote/BazelOutputService.java
Labels: team-Remote-Exec, awaiting-review

#21927 [7.2.0] Implement Clean
  src/main/java/com/google/devtools/build/lib/remote/BazelOutputService.java
Labels: team-Remote-Exec, awaiting-review

#21928 [7.2.0] Implement StageArtifacts
  src/main/java/com/google/devtools/build/lib/remote/BazelOutputService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
Labels: team-Remote-Exec, awaiting-review

#21941 [7.1.2] Don't upload remote input to remote cache
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/LeaseService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutorFactory.java
  src/main/java/com/google/devtools/build/lib/remote/common/BUILD
  src/main/java/com/google/devtools/build/lib/remote/common/CacheNotFoundException.java
  src/main/java/com/google/devtools/build/lib/remote/common/LostInputsEvent.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcherTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
Labels: team-Remote-Exec, awaiting-review

#21939 [7.2.0] Cherry-pick 3e2a3c1ffdbbcc20b6e88c1fa8cb62e8b95df87c
  src/main/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetAccessor.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/CqueryTransitionResolver.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/ProtoOutputFormatterCallback.java
  src/main/protobuf/build.proto
  src/test/java/com/google/devtools/build/lib/query2/cquery/ProtoOutputFormatterCallbackTest.java
Labels: team-Configurability, awaiting-PR-merge

#21942 [7.2.0] Implement FinalizeArtifacts
  src/main/java/com/google/devtools/build/lib/remote/BazelOutputService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
Labels: team-Remote-Exec, awaiting-review

#21946 [7.2.0] Implement XattrProvider which uses BatchStat to getFastDigest
  src/main/java/com/google/devtools/build/lib/remote/BazelOutputService.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
  src/main/java/com/google/devtools/build/lib/vfs/OutputService.java
  src/main/java/com/google/devtools/build/lib/vfs/XattrProvider.java
  src/test/java/com/google/devtools/build/lib/skyframe/OutputsInvalidationIntegrationTest.java
Labels: team-Remote-Exec, awaiting-review

#21956 [7.2.0] Cherry-pick label strinigification changes
  src/main/java/com/google/devtools/build/lib/analysis/AnalysisEnvironment.java
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/CachingAnalysisEnvironment.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/CustomCommandLine.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/Args.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkActionFactory.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLine.java
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryMapping.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileActionBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/CommandLineArgsApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkActionFactoryApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaCommonApi.java
  src/test/java/com/google/devtools/build/lib/actions/CustomCommandLineTest.java
  src/test/java/com/google/devtools/build/lib/analysis/starlark/ArgsParamFileTest.java
  src/test/java/com/google/devtools/build/lib/analysis/starlark/FlagPerLineTest.java
  src/test/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLineTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestUtil.java
  src/test/java/com/google/devtools/build/lib/analysis/util/BuildViewTestCase.java
  src/test/java/com/google/devtools/build/lib/starlark/BUILD
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleImplementationFunctionsTest.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_java_test.sh
  src/test/shell/bazel/local_repository_test.sh
Labels: team-Configurability, team-Rules-Java, awaiting-review

#21960 [7.2.0] Support `key` callback in Starlark min/max builtins
  src/main/java/net/starlark/java/eval/MethodLibrary.java
  src/test/java/net/starlark/java/eval/testdata/min_max.star
  src/test/java/net/starlark/java/eval/testdata/sorted.star
Labels: team-Starlark-Interpreter, awaiting-review

#21990 [7.2.0] Improve unavailable Xcode message for Bzlmod
  src/main/java/com/google/devtools/build/lib/rules/objc/XcodeConfig.java
Labels: team-Rules-ObjC, awaiting-review

#22004 [7.2.0] Add `sep` keyword argument to `fail`
  src/main/java/net/starlark/java/eval/MethodLibrary.java
  src/test/java/net/starlark/java/eval/MethodLibraryTest.java
Labels: team-Starlark-Interpreter, awaiting-review

#21967 [7.2.0] Expose build event stream and starlark debugging protos
  src/main/java/com/google/devtools/build/lib/buildeventstream/proto/BUILD
  src/main/java/com/google/devtools/build/lib/starlarkdebug/proto/BUILD
Labels: team-Core, awaiting-review

#22023 [7.2.0] Update compile-source.md with JDK21 requirements.
  site/en/install/compile-source.md
Labels: team-OSS, team-Documentation, awaiting-review

#22027 [7.2.0] Fix `resolveToModuleKeys` when checking module extension
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModuleArg.java
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, area-Bzlmod, awaiting-review

#22031 [7.2.0] Extract yanked versions into a SkyFunction
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/YankedVersionsFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/YankedVersionsUtil.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/YankedVersionsValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#22035 [7.2.0] http repo rules: Make sure netrc credentials are applied for remote patch files
  MODULE.bazel.lock
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/http.bzl
Labels: team-ExternalDeps, area-Bzlmod, awaiting-review

#22039 [7.2.0] Fix trash base not updated when sandbox_base changed
  src/main/java/com/google/devtools/build/lib/sandbox/SandboxModule.java
  src/test/shell/integration/sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#22042 [7.2.0] Clean up test setup for sandboxing tests
  src/test/shell/bazel/bazel_sandboxing_test.sh
  src/test/shell/integration/sandboxing_test.sh
Labels: team-Local-Exec, awaiting-review

#22038 [7.2.0] RepositoryCache: add blake3 key type
  src/main/java/com/google/devtools/build/lib/bazel/repository/cache/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/cache/RepositoryCache.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/Checksum.java
  src/main/java/com/google/devtools/build/lib/vfs/bazel/BazelHashFunctions.java
  src/main/java/com/google/devtools/build/lib/vfs/bazel/Blake3HashFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/cache/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/repository/cache/RepositoryCacheTest.java
  src/test/java/com/google/devtools/build/lib/testutil/TestConstants.java
Labels: team-ExternalDeps, awaiting-review

#22057 [7.2.0] Fix swallowed I/O exception in LcovPrinter
  tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator/LcovPrinter.java
  tools/test/CoverageOutputGenerator/javatests/com/google/devtools/coverageoutputgenerator/LcovPrinterTest.java
Labels: coverage

#22071 [7.2.0] Deflake remote tests by setting an `OnCancelHandler`
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/ExecutionServer.java
Labels: team-Remote-Exec, awaiting-review

#22088 [7.2.0] Fix action key staleness for Args due to type confusion
  src/main/java/com/google/devtools/build/lib/analysis/starlark/Args.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLine.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleImplementationFunctionsTest.java
Labels: team-Configurability, awaiting-review

#22064 [7.2.0] Update buildozer to v7.1.1.1
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-OSS, awaiting-review

#22131 [7.2.0] Split ModuleThreadContext off from ModuleFileGlobals
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkGlobalsImpl.java
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkGlobals.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BazelPackageLoader.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
Labels: team-ExternalDeps, awaiting-review

#22135 [7.2.0] aquery: interpret "//foo:bar" as "all configured targets with label //foo:bar"
  src/main/java/com/google/devtools/build/lib/buildtool/AqueryProcessor.java
  src/main/java/com/google/devtools/build/lib/buildtool/CqueryProcessor.java
  src/main/java/com/google/devtools/build/lib/buildtool/PostAnalysisQueryProcessor.java
  src/main/java/com/google/devtools/build/lib/query2/PostAnalysisQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/query2/aquery/ActionGraphQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetQueryEnvironment.java
  src/test/java/com/google/devtools/build/lib/query2/aquery/ActionGraphQueryHelper.java
  src/test/java/com/google/devtools/build/lib/query2/aquery/BUILD
  src/test/java/com/google/devtools/build/lib/query2/cquery/BUILD
  src/test/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetQueryHelper.java
  src/test/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetQueryTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/PostAnalysisQueryHelper.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/PostAnalysisQueryTest.java
Labels: team-Configurability, awaiting-review

#22137 [7.2.0] Add `strip_prefix` arg to bzlmod's `git_override`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/GitOverride.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
Labels: team-ExternalDeps, area-Bzlmod, awaiting-review

#22127 [7.2.0] Fix a race condition in IncrementalPackageRoots.
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/IncrementalPackageRoots.java
Labels: team-Core, awaiting-review

#22114 [7.2.0] Avoid crashing on an action owner without a label when checking for unsound directory inputs or outputs.
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
  src/test/java/com/google/devtools/build/lib/buildtool/DirectoryArtifactWarningTest.java
Labels: team-Remote-Exec, awaiting-review

#22141 [7.2.0] Handle operation stream exception in wrapper
  src/main/java/com/google/devtools/build/lib/remote/ExperimentalGrpcRemoteExecutor.java
  src/test/java/com/google/devtools/build/lib/remote/ExperimentalGrpcRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/remote/FakeExecutionService.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcRemoteExecutorTestBase.java
Labels: team-Remote-Exec, awaiting-review

#22158 [7.2.0] Implement a JNI wrapper around SQLite.
  MODULE.bazel
  MODULE.bazel.lock
  repositories.bzl
  src/main/java/com/google/devtools/build/lib/remote/disk/BUILD
  src/main/java/com/google/devtools/build/lib/remote/disk/Sqlite.java
  src/main/native/BUILD
  src/main/native/sqlite_jni.cc
  src/main/native/unix_jni.cc
  src/main/native/windows/BUILD
  src/test/java/com/google/devtools/build/lib/remote/disk/BUILD
  src/test/java/com/google/devtools/build/lib/remote/disk/SqliteTest.java
Labels: team-Remote-Exec, awaiting-review

#22138 [7.2.0] Extract Bazel registry creation into a SkyFunction
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Registry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactory.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryImpl.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryKey.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RepoSpecFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/YankedVersionsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyFunctions.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BazelPackageLoader.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/FakeRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#22129 [7.2.0] Add digest func to Remote Asset Downloader
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
  src/test/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloaderTest.java
  third_party/remoteapis/build/bazel/remote/asset/v1/remote_asset.proto
Labels: team-Remote-Exec, awaiting-review

#22116 [7.2.0] Handle file type changes with in-process symlink creation
  src/main/java/com/google/devtools/build/lib/exec/SymlinkTreeHelper.java
  src/test/shell/bazel/runfiles_test.sh
Labels: team-Performance, awaiting-review

#22181 [7.2.0] Fix potential NPE in ModuleFileFunction
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
Labels: team-ExternalDeps, awaiting-review

#22178 [7.2.0] Set public visibility for R8 desugar binary
  src/tools/android/java/com/google/devtools/build/android/r8/BUILD.tools
Labels: team-Android, awaiting-review

#21799 [7.2.0] Add support for feature generate_linkmap to cc_binary
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppRuleClasses.java
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
  src/test/java/com/google/devtools/build/lib/analysis/mock/cc_toolchain_config.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcCommonTest.java
  tools/cpp/unix_cc_toolchain_config.bzl
  tools/cpp/windows_cc_toolchain_config.bzl
Labels: team-Rules-CPP, awaiting-review

#22183 [7.2.0] Support `select` in deps of a `cc_binary` with `dynamic_deps`
  src/main/starlark/builtins_bzl/common/cc/cc_shared_library.bzl
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library4/BUILD.builtin_test
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library4/bar.cc
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library4/bar.h
  src/main/starlark/tests/builtins_bzl/cc/cc_shared_library/test_cc_shared_library4/main.cc
Labels: team-Rules-CPP, awaiting-review

#21947 [7.2.0] Use XattrProvider from OutputService to check filesystem values
  src/main/java/com/google/devtools/build/lib/skyframe/FilesystemValueChecker.java
  src/main/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutor.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/test/java/com/google/devtools/build/lib/skyframe/FilesystemValueCheckerTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutorTest.java
Labels: team-Remote-Exec, awaiting-review

#22195 [7.2.0] Add a convenience method to Connection to prepare and execute a Statement only once.
  src/main/java/com/google/devtools/build/lib/remote/disk/Sqlite.java
  src/test/java/com/google/devtools/build/lib/remote/disk/SqliteTest.java
Labels: team-Remote-Exec, awaiting-review

#22185 [7.2.0] Do not watch `.netrc` in `read_netrc`
  MODULE.bazel.lock
  src/test/shell/bazel/starlark_repository_test.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
  tools/build_defs/repo/utils.bzl
Labels: team-ExternalDeps, awaiting-review
