Repository bazelbuild/bazel, pull requests merged in 2025-04, with the labels that each got.

#25765 [8.2.0] Enable sparse checkout in git_repository rule
  src/test/shell/bazel/starlark_git_repository_test.sh
  tools/build_defs/repo/git.bzl
  tools/build_defs/repo/git_worker.bzl
Labels: awaiting-review

#25769 [8.2.0] Restrict private API allowlisting to `@rules_java//java`
  src/main/java/com/google/devtools/build/lib/packages/BuiltinRestriction.java
Labels: awaiting-review

#25772 [8.2.0] Set generator_name, generator_function, generator_location, full Starlark stack for rules in symbolic macros
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/packages/CallStack.java
  src/main/java/com/google/devtools/build/lib/packages/MacroClass.java
  src/main/java/com/google/devtools/build/lib/packages/MacroInstance.java
  src/main/java/com/google/devtools/build/lib/packages/Rule.java
  src/main/java/com/google/devtools/build/lib/packages/RuleFactory.java
  src/main/java/com/google/devtools/build/lib/packages/TargetDefinitionContext.java
  src/test/java/com/google/devtools/build/lib/analysis/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/SymbolicMacroTest.java
  src/test/java/com/google/devtools/build/lib/packages/CallStackTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkIntegrationTest.java
Labels: team-Starlark-Integration, awaiting-review, team-Loading-API

#25782 [8.2.0] Do not require sparse checkout attrs
  tools/build_defs/repo/git_worker.bzl
Labels: team-ExternalDeps, awaiting-review

#25788 [8.2.0] Fix a deadlock when using `--remote_cache_async` and HTTP cache.
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
Labels: team-Remote-Exec, awaiting-review

#25802 [8.2.0] Set macro symbol's exported location as MacroFunction's callable location for Starlark stack
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkSubrule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkDefinedAspect.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkExportable.java
  src/main/java/com/google/devtools/build/lib/packages/StarlarkProvider.java
  src/main/java/com/google/devtools/build/lib/packages/TargetDefinitionContext.java
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/test/StarlarkTestingModule.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/main/java/net/starlark/java/eval/Eval.java
  src/main/java/net/starlark/java/eval/StarlarkThread.java
  src/test/java/com/google/devtools/build/lib/analysis/SymbolicMacroTest.java
  src/test/java/com/google/devtools/build/lib/packages/RequiredProvidersTest.java
  src/test/java/net/starlark/java/eval/EvaluationTestCase.java
Labels: team-Starlark-Integration, team-Loading-API

#25840 Update MODULE.bazel and other files after creating the new branch, release-8.3.0
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
Labels: team-OSS, awaiting-review

#25848 Update MODULE.bazel and other files after creating the new branch for 8.2.1
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
Labels: team-OSS, awaiting-review

#25856 [8.2.1] Fix crash on lost inputs that are symlinks
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
Labels: team-Remote-Exec, awaiting-review

#25892 [8.3.0] Cherry-pick of flag/StarlarkSemantics related changes (#25850)
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkAttrModuleApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleFunctionsApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/cpp/CcModuleApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaCommonApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/repository/RepositoryModuleApi.java
  src/main/java/net/starlark/java/annot/Param.java
  src/main/java/net/starlark/java/annot/processor/StarlarkMethodProcessor.java
  src/main/java/net/starlark/java/eval/BuiltinFunction.java
  src/main/java/net/starlark/java/eval/CallUtils.java
  src/main/java/net/starlark/java/eval/MethodDescriptor.java
  src/main/java/net/starlark/java/eval/ParamDescriptor.java
  src/main/java/net/starlark/java/eval/Starlark.java
  src/test/java/net/starlark/java/annot/processor/StarlarkMethodProcessorTest.java
  src/test/java/net/starlark/java/annot/processor/testsources/ToggledParamNoDefaultValue.java
  src/test/java/net/starlark/java/annot/processor/testsources/ToggledParamNoDisabledValue.java
  src/test/java/net/starlark/java/eval/StarlarkFlagGuardingTest.java
Labels: team-ExternalDeps, team-Rules-CPP, awaiting-review

#25885 [8.3.0] macOS: respect DEVELOPER_DIR for Xcode selection.
  src/main/java/com/google/devtools/build/lib/exec/local/XcodeLocalEnvProvider.java
  src/main/starlark/builtins_bzl/common/xcode/providers.bzl
  src/main/starlark/builtins_bzl/common/xcode/xcode_config.bzl
Labels: team-Rules-ObjC, awaiting-review

#25890 [8.3.0] Fix crash on lost inputs that are symlinks (#25856)
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
Labels: team-Remote-Exec, awaiting-review

#25874 [8.3.0] Add and set `--guard_against_concurrent_changes=lite`
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/options/RemoteOptions.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
Labels: team-Remote-Exec, awaiting-review

#25891 [8.3.0] Fix atomic writes of `VirtualActionInput`s on Windows (#25857)
  src/main/java/com/google/devtools/build/lib/actions/cache/VirtualActionInput.java
  src/test/java/com/google/devtools/build/lib/actions/BUILD
  src/test/java/com/google/devtools/build/lib/actions/cache/VirtualActionInputTest.java
  src/test/java/com/google/devtools/build/lib/sandbox/SandboxHelpersTest.java
Labels: team-Performance, team-Remote-Exec, awaiting-review

#25937 [8.3.0] Allow `mirror_urls` in source.json
  site/en/external/registry.md
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
Labels: team-ExternalDeps, team-Documentation, awaiting-review

#25968 [8.3.0] Make windows config_settings in bazel_tools public
  src/conditions/BUILD.tools
Labels: team-ExternalDeps, awaiting-review
