Repository bazelbuild/bazel, pull requests merged in 2025-09, with the labels that each got.

#26937 [8.5.0] Make `bazel mod path, all_paths` commands actually work
  site/en/external/mod-command.md
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModExecutor.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModOptions.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/TextOutputFormatter.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/mod.txt
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModExecutorTest.java
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, team-Documentation, awaiting-review

#26902 [8.5.0] Update MODULE.bazel and .bazelversion after creating the new branch, release-8.5.0
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  src/BUILD
Labels: team-OSS, awaiting-review

#27001 [8.5.0] Add the missing headers
  src/main/cpp/archive_utils.h
  src/main/cpp/util/logging.h
Labels: team-Rules-CPP, awaiting-review

#27004 [7.7.0] Allow `mirror_urls` in source.json
  site/en/external/registry.md
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
Labels: team-ExternalDeps, team-Documentation, awaiting-review

#27088 [7.7.0] Remove xcode_locator's no_uuid and codesigning workarounds
  tools/osx/BUILD
Labels: team-Rules-CPP, team-OSS, awaiting-review

#27111 [8.4.2] Clean up default lockfile
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/shell/bazel/path_mapping_test.sh
Labels: awaiting-review
