Repository bazelbuild/bazel, pull requests merged in 2025-08, with the labels that each got.

#26687 [8.4.0] Properly escape arguments passed to LaunchProcess() in JavaBinaryLauncher::CreateClasspathJar
  src/tools/launcher/BUILD
  src/tools/launcher/bash_launcher.cc
  src/tools/launcher/bash_launcher.h
  src/tools/launcher/java_launcher.cc
  src/tools/launcher/launcher.cc
  src/tools/launcher/launcher.h
  src/tools/launcher/python_launcher.cc
Labels: team-Rules-Java, awaiting-review

#26598 [8.4.0] Normalize C++ action config tool paths based on exec platform OS
  src/main/java/com/google/devtools/build/lib/analysis/RuleContext.java
  src/main/java/com/google/devtools/build/lib/analysis/constraints/ConstraintConstants.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcModule.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainFeatures.java
  src/main/java/com/google/devtools/build/lib/vfs/OsPathPolicy.java
  src/main/java/com/google/devtools/build/lib/vfs/PathFragment.java
  src/main/java/com/google/devtools/build/lib/vfs/WindowsOsPathPolicy.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/BUILD
  src/test/java/com/google/devtools/build/lib/rules/cpp/StarlarkCcCommonTest.java
Labels: team-Configurability, team-Rules-CPP, awaiting-PR-merge

#26720 [8.4.0] Add configuration short ID to analysis error
  src/main/java/com/google/devtools/build/lib/skyframe/AspectFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/ConfiguredTargetFunction.java
  src/test/java/com/google/devtools/build/lib/buildtool/OutputArtifactConflictTest.java
Labels: team-Configurability, awaiting-review

#26524 [8.4.0] Don't crash if cquery proto output exceeds 2GB
  src/main/java/com/google/devtools/build/lib/query2/cquery/ProtoOutputFormatterCallback.java
Labels: team-Configurability, awaiting-review

#26751 [8.4.0] Optimize `RemoteOutputChecker.addOutputToDownload`
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputChecker.java
  src/main/java/com/google/devtools/build/lib/remote/util/ConcurrentPathTrie.java
  src/main/java/com/google/devtools/build/lib/vfs/BUILD
  src/main/java/com/google/devtools/build/lib/vfs/PathFragment.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteOutputCheckerTest.java
  src/test/java/com/google/devtools/build/lib/remote/util/ConcurrentPathTrieTest.java
  src/test/java/com/google/devtools/build/lib/vfs/PathFragmentTest.java
Labels: team-Remote-Exec, awaiting-review

#26755 [8.4.0] Include targets with non-idempotent rule transition in query output
  src/main/java/com/google/devtools/build/lib/query2/aquery/ActionGraphQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/query2/cquery/ConfiguredTargetQueryEnvironment.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/AbstractQueryTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/PostAnalysisQueryTest.java
Labels: team-Performance, team-Configurability, awaiting-review

#26769 [8.4.0] Clear out stale rdeps before running analysis postprocessors
  src/main/java/com/google/devtools/build/lib/buildtool/PostAnalysisQueryProcessor.java
  src/main/java/com/google/devtools/build/lib/query2/PostAnalysisQueryEnvironment.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
  src/test/shell/integration/configured_query_test.sh
Labels: team-Configurability, awaiting-review

#26790 [8.4.0] Cherry pick several documentation fixes
  site/en/extending/macros.md
Labels: team-OSS, team-Documentation, awaiting-review, soft-release-blocker

#26802 [8.4.0] Disable the repo contents cache by default
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/test/py/bazel/bzlmod/bazel_fetch_test.py
  src/test/shell/bazel/external_integration_test.sh
Labels: team-ExternalDeps, awaiting-review

#26845 [8.4.0] Update `rules_java` `v8.14.0`
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: awaiting-review

#26850 [8.4.0] Add `--module_mirrors`
  src/main/java/com/google/devtools/build/lib/bazel/BazelRepositoryModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactory.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryImpl.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/main/java/com/google/devtools/build/lib/skyframe/packages/BazelPackageLoader.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisMock.java
  src/test/java/com/google/devtools/build/lib/analysis/util/AnalysisTestCase.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/FakeRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/RegistryFactoryTest.java
  src/test/java/com/google/devtools/build/lib/query2/testutil/SkyframeQueryHelper.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/PrepareDepsOfPatternsFunctionTest.java
Labels: team-Configurability, team-ExternalDeps, awaiting-review

#26840 [8.4.0] Add support for java header compilation direct deps
  scripts/bootstrap/compile.sh
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationArgsProvider.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaInfo.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaOptions.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaRuleOutputJarsProvider.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaTargetAttributes.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaConfigurationApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaOutputApi.java
  src/main/starlark/builtins_bzl/common/builtin_exec_platforms.bzl
  src/test/java/com/google/devtools/build/lib/analysis/actions/PathMappersTest.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaInfoRoundtripTest.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaInfoStarlarkApiTest.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaStarlarkApiTest.java
Labels: team-Rules-Java
