Repository bazelbuild/bazel, pull requests merged in 2025-06, with the labels that each got.

#26184 [8.3.0] Avoid two stats for non-directory symlinks created remotely
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
Labels: team-Remote-Exec, awaiting-review

#26175 [8.3.0] Avoid digesting files in `AbstractActionInputPrefetcher` if possible
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/vfs/Path.java
Labels: team-Remote-Exec, awaiting-review

#26224 [8.3.0] Allow genrule.toolchains to accept toolchain_type targets.
  src/main/java/com/google/devtools/build/lib/rules/genrule/BUILD
  src/main/java/com/google/devtools/build/lib/rules/genrule/GenRuleBase.java
  src/main/java/com/google/devtools/build/lib/rules/genrule/GenRuleBaseRule.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainContextUtil.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainTypeLookupUtil.java
  src/test/java/com/google/devtools/build/lib/analysis/testing/ToolchainContextSubject.java
  src/test/java/com/google/devtools/build/lib/bazel/rules/genrule/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/rules/genrule/GenRuleIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainTypeLookupUtilTest.java
Labels: team-Configurability, awaiting-review

#26086 [8.3.0] Let Turbine handle Unicode paths
  BUILD
  MODULE.bazel
  src/java_tools/buildjar/java/com/google/devtools/build/java/turbine/BUILD
  src/test/shell/bazel/bazel_java_test.sh
  third_party/rules_graalvm_unicode.patch
Labels: team-Rules-Java, awaiting-review

#26196 [8.3.0] Add a missing null check on `SkyframeLookupResult#getOrThrow`
  src/main/java/com/google/devtools/build/lib/skyframe/StarlarkBuildSettingsDetailsFunction.java
Labels: awaiting-review, team-Rules-API

#26221 [8.3.0] Add `--incompatible_repo_env_ignores_action_env` option
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
  src/main/java/com/google/devtools/build/lib/runtime/CommandEnvironment.java
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
  src/test/shell/bazel/starlark_repository_test.sh
Labels: team-ExternalDeps, awaiting-review

#26174 [8.3.0] Use a real `ActionOwner` for coverage report actions
  src/main/java/com/google/devtools/build/lib/analysis/test/TestActionBuilder.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestProvider.java
  src/main/java/com/google/devtools/build/lib/bazel/coverage/CoverageArgs.java
  src/main/java/com/google/devtools/build/lib/bazel/coverage/CoverageReportActionBuilder.java
Labels: team-Configurability

#26252 [8.3.0] Loosen up repo name rule - Support repos which start with number
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryName.java
  src/test/java/com/google/devtools/build/lib/packages/WorkspaceFactoryTest.java
  src/test/shell/bazel/local_repository_test.sh
Labels: awaiting-review

#26253 [8.3.0] Don't lock innate extensions
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
Labels: team-ExternalDeps, awaiting-review

#26280 [8.3.0] Implement executing WebAssembly in repository rules
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  distdir.bzl
  repositories.bzl
  src/main/java/com/google/devtools/build/lib/bazel/debug/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/debug/WorkspaceRuleEvent.java
  src/main/java/com/google/devtools/build/lib/bazel/debug/workspace_log.proto
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkWasmExecutionResult.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkWasmModule.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/profiler/ProfilerTask.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/starlark_repository_test.sh
  src/test/shell/bazel/testdata/BUILD
  src/test/shell/bazel/testdata/exec_wasm.wat
  src/test/tools/wasm.bzl
  src/tools/bzlmod/utils.bzl
  third_party/BUILD
  third_party/chicory/BUILD
Labels: team-Performance, team-ExternalDeps, awaiting-review

#26278 [8.3.0] Fix `--target_pattern_file` with Unicode labels
  src/main/java/com/google/devtools/build/lib/runtime/commands/TargetPatternsHelper.java
  src/test/shell/integration/target_pattern_file_test.sh
Labels: awaiting-review

#26288 [8.3.0] Add executable to stateful runfiles if necessary
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleConfiguredTargetUtil.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkIntegrationTest.java
  src/test/shell/integration/test_test.sh
Labels: team-Configurability

#26289 [8.3.0] use DefaultInfo in Bazel's embedded Starlark
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/main/starlark/builtins_bzl/common/cc/cc_library.bzl
Labels: team-Starlark-Interpreter, awaiting-PR-merge

#26310 [8.3.0] Make strip_include_prefix apply to textual_hdrs
  src/main/starlark/builtins_bzl/common/cc/cc_compilation_helper.bzl
  src/main/starlark/tests/builtins_bzl/cc/basics/test/BUILD.builtin_test
  src/main/starlark/tests/builtins_bzl/cc/basics/test/nested/lib.cc
  src/main/starlark/tests/builtins_bzl/cc/basics/test/nested/lib.h
  src/main/starlark/tests/builtins_bzl/cc/basics/test/test_include_textual.cc
Labels: team-Rules-CPP, awaiting-review

#26319 [8.3.0] Register `launcher_maker_toolchain` with WORKSPACE
  src/main/java/com/google/devtools/build/lib/bazel/rules/tools.WORKSPACE
Labels: awaiting-review

#26323 [8.3.0] feat: add support for `.whl` file extension in `repository_ctx.download_and_extract`
  src/main/java/com/google/devtools/build/lib/bazel/repository/DecompressorValue.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/DecompressorValueTest.java
Labels: team-ExternalDeps, awaiting-review

#26363 [8.4.0] Fix CI failures on Ubuntu
  src/test/shell/bazel/cc_integration_test.sh
Labels: team-OSS, awaiting-review

#26375 [8.3.1] Attempt to fix Bazel CI failure on Ubuntu
  src/test/shell/bazel/cc_integration_test.sh
Labels: team-OSS, awaiting-review

#26374 [8.3.1] Remove the "overwrote runfiles" warning
  src/main/java/com/google/devtools/build/lib/analysis/Runfiles.java
  src/main/java/com/google/devtools/build/lib/analysis/RunfilesSupport.java
  src/main/java/com/google/devtools/build/lib/analysis/SourceManifestAction.java
  src/main/java/com/google/devtools/build/lib/exec/SymlinkTreeStrategy.java
  src/main/protobuf/failure_details.proto
  src/test/java/com/google/devtools/build/lib/analysis/RunfilesRepoMappingManifestTest.java
  src/test/java/com/google/devtools/build/lib/analysis/RunfilesTest.java
  src/test/java/com/google/devtools/build/lib/analysis/util/FakeRunfilesTree.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleImplementationFunctionsTest.java
  src/test/shell/integration/runfiles_test.sh
Labels: team-Configurability, awaiting-review

#26373 [8.3.1] Update MODULE.bazel and .bazelversion after creating the new branch, release-8.3.1
  MODULE.bazel
  MODULE.bazel.lock
Labels: team-OSS, awaiting-review

#26388 [8.4.0] Add better defaults for mobile-install flags
  src/main/java/com/google/devtools/build/lib/runtime/mobileinstall/MobileInstallCommand.java
Labels: team-Android, awaiting-review

#26391 [8.4.0] Fix `//src:bazel-dev` crash on startup
  src/package-bazel.sh
Labels: team-OSS, awaiting-review

#26428 [8.4.0] Fix fast path in repo contents cache
  src/main/java/com/google/devtools/build/lib/bazel/repository/cache/RepoContentsCache.java
Labels: team-ExternalDeps, awaiting-review

#26393 [8.4.0] Add helper libraries in Java tools to project view
  scripts/ij.bazelproject
Labels: team-OSS, awaiting-review
