Repository bazelbuild/bazel, pull requests merged in 2025-07, with the labels that each got.

#26365 [8.4.0] Update MODULE.bazel and .bazelversion after creating the new branch, release-8.4.0
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
  src/test/py/bazel/BUILD
  src/test/shell/integration/BUILD
Labels: team-OSS, awaiting-review

#26431 Release 9.0.0 pre.20250620.1rc1
  src/test/shell/bazel/cc_integration_test.sh
Labels: awaiting-review

#26444 [8.4.0] Forward `--host_jvmopt` to the exec configuration
  src/main/starlark/builtins_bzl/common/builtin_exec_platforms.bzl
Labels: awaiting-review

#26461 [8.4.0] Update to use coverage_output_generator-v2.9
  tools/test/extensions.bzl
Labels: team-OSS, awaiting-review

#26459 [8.4.0] Allow running `--sandbox_debug` command multiple times
  src/main/tools/linux-sandbox-pid1.cc
Labels: awaiting-review

#26465 [8.4.0] Set working directory in interactive `--sandbox_debug` command
  src/main/java/com/google/devtools/build/lib/sandbox/SymlinkedSandboxedSpawn.java
Labels: team-Local-Exec, awaiting-review

#26482 [8.4.0] Fix stale action key with `expand_directories=False` and manual expansion
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLine.java
  src/test/java/com/google/devtools/build/lib/analysis/starlark/BUILD
  src/test/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLineTest.java
Labels: team-Configurability, awaiting-review

#26478 [8.4.0] Fix a race condition caused by our semaphore-handling mechanism in WorkerMultiplexer.
  src/main/java/com/google/devtools/build/lib/worker/WorkerMultiplexer.java
Labels: team-Local-Exec, awaiting-review

#26490 [8.4.0] Preserve line endings for all checked-in files
  .gitattributes
Labels: awaiting-review

#26506 [8.4.0] Avoid `ByteString` allocation during zstd decompression
  src/java_opt_binary.bzl
  src/main/java/com/google/devtools/build/lib/remote/zstd/ZstdDecompressingOutputStream.java
  src/test/java/com/google/devtools/build/lib/remote/zstd/BUILD
  src/test/java/com/google/devtools/build/lib/remote/zstd/ZstdBenchmark.java
  src/test/java/com/google/devtools/build/lib/vfs/bazel/BUILD
Labels: team-Remote-Exec, awaiting-review

#26619 [8.4.0] Print interactive debug instructions in HardlinkedSandboxedSpawn
  src/main/java/com/google/devtools/build/lib/sandbox/HardlinkedSandboxedSpawn.java
  src/main/java/com/google/devtools/build/lib/sandbox/LinuxSandboxedSpawnRunner.java
Labels: team-Local-Exec, awaiting-review

#26602 [8.4.0] Materialize parameter files with a remote cache if requested
  src/main/java/com/google/devtools/build/lib/exec/ExecutionOptions.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionContextProvider.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerWithGrpcRemoteExecutorTest.java
Labels: team-Remote-Exec, awaiting-review

#26670 [8.4.0] Add `--experimental_cancel_concurrent_tests=on_failed`
  src/main/java/com/google/devtools/build/lib/analysis/test/TestActionBuilder.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestActionContext.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestConfiguration.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestRunnerAction.java
  src/main/java/com/google/devtools/build/lib/rules/test/ExclusiveTestStrategy.java
  src/main/java/com/google/devtools/build/lib/standalone/StandaloneModule.java
  src/test/java/com/google/devtools/build/lib/exec/BUILD
  src/test/java/com/google/devtools/build/lib/exec/StandaloneTestStrategyTest.java
  src/test/shell/bazel/bazel_test_test.sh
Labels: team-Configurability, awaiting-review
