Repository bazelbuild/bazel, pull requests merged in 2025-03, with the labels that each got.

#25455 [8.2.0] Fix a severe performance bug for builds with many top-level targets.
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
Labels: team-Performance, awaiting-review

#25458 [8.2.0] Attach context string to gRPC downloader requests
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DelegatingDownloader.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/Downloader.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloader.java
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
  src/main/java/com/google/devtools/build/lib/remote/util/TracingMetadataUtils.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloaderTest.java
Labels: team-ExternalDeps, team-Remote-Exec, awaiting-review

#25474 [7.6.0] Upgrade errorprone to 2.36.0.
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
Labels: team-Rules-Java, awaiting-review

#25473 [7.6.0] Actually fix setting the mtime on a shared disk cache.
  src/main/native/unix_jni.cc
Labels: team-Remote-Exec, awaiting-review

#25457 [8.2.0] Build the label to target map without performing skyframe evaluations.
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
Labels: team-Performance, awaiting-review

#25490 [7.6.0] Don't download all artifacts with BwoB when their TTL expires
  src/main/java/com/google/devtools/build/lib/actions/RemoteArtifactChecker.java
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputChecker.java
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
Labels: team-Performance, team-Remote-Exec, awaiting-review

#25500 [8.2.0] Update rules_java to 8.9.0
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/main/java/com/google/devtools/build/lib/bugreport/BugReport.java
  src/test/java/com/google/devtools/build/lib/bugreport/BUILD
  src/test/java/com/google/devtools/build/lib/bugreport/BugReportTest.java
  src/test/java/com/google/devtools/build/lib/rules/java/JavaStarlarkApiTest.java
  src/test/java/com/google/devtools/build/lib/worker/WorkRequestHandlerTest.java
  src/test/shell/integration/unicode_test.sh
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: awaiting-review

#25504 [8.2.0] Make `WorkerInstance` a `@ClassRule @Rule`
  src/main/java/com/google/devtools/build/lib/remote/disk/DiskCacheClient.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/remote/DiskCacheIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/remote/util/BUILD
  src/test/java/com/google/devtools/build/lib/remote/util/IntegrationTestUtils.java
Labels: team-Remote-Exec, awaiting-review

#25497 [8.2.0] Add support for cache eviction retries with fixed invocation ID
  src/main/java/com/google/devtools/build/lib/runtime/BlazeCommandDispatcher.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeWorkspace.java
  src/main/java/com/google/devtools/build/lib/runtime/CommandEnvironment.java
  src/test/java/com/google/devtools/build/lib/buildtool/util/BlazeRuntimeWrapper.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteModuleTest.java
  src/test/java/com/google/devtools/build/lib/runtime/BlazeRuntimeTest.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-review

#25498 [8.2.0] Don't download all artifacts with BwoB when their TTL expires
  src/main/java/com/google/devtools/build/lib/actions/RemoteArtifactChecker.java
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputChecker.java
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
Labels: team-Performance, team-Remote-Exec, awaiting-review

#25508 [8.2.0] Fix reduced classpath logic on Windows
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  src/java_tools/buildjar/java/com/google/devtools/build/buildjar/javac/plugins/dependency/StrictJavaDepsPlugin.java
Labels: team-Rules-Java, awaiting-review

#25512 [7.6.0] Fix unicode_test on macos sequoia
  src/test/shell/integration/unicode_test.sh
Labels: team-OSS, awaiting-review

#25509 [7.6.0] Bzlmod: nodep deps
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Discovery.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/InterimModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Selection.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/StarlarkBuiltinsFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodTestUtil.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/SelectionTest.java
Labels: team-ExternalDeps, awaiting-review

#25492 [7.6.0] Performance improvements for builds with many top-level targets
  src/main/java/com/google/devtools/build/lib/analysis/BuildView.java
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeExecutor.java
Labels: team-Configurability, awaiting-review

#25491 [7.6.0] Fix race condition with multiplex sandboxed workers
  src/main/java/com/google/devtools/build/lib/worker/WorkerFactory.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerMultiplexer.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerMultiplexerManager.java
  src/test/java/com/google/devtools/build/lib/worker/SandboxedWorkerProxyTest.java
Labels: team-Local-Exec, awaiting-review

#25494 [8.2.0] Make Bazel itself build under an output base with Unicode characters
  MODULE.bazel.lock
  src/main/java/com/google/devtools/build/lib/BUILD
  src/main/java/com/google/devtools/build/lib/actions/ParameterFile.java
  src/main/java/com/google/devtools/build/lib/analysis/ConfiguredRuleClassProvider.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/FileWriteAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/LazyWriteNestedSetOfTupleAction.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/LazyWritePathsFileAction.java
  src/main/java/com/google/devtools/build/lib/authandtls/BasicHttpAuthenticationEncoder.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/ArFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/CompressedTarFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/TarBz2Function.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/TarFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/TarGzFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/TarXzFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/TarZstFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkBaseExternalContext.java
  src/main/java/com/google/devtools/build/lib/exec/local/LocalSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/runtime/InfoItem.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/info/BUILD
  src/main/java/com/google/devtools/build/lib/runtime/commands/info/BuildLanguageInfoItem.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/info/StdoutInfoItemHandler.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/info/WorkerMetricsInfoItem.java
  src/main/java/com/google/devtools/build/lib/sandbox/WindowsSandboxedSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/shell/SubprocessBuilder.java
  src/main/java/com/google/devtools/build/lib/skyframe/serialization/strings/UnsafeStringCodec.java
  src/main/java/com/google/devtools/build/lib/unsafe/BUILD
  src/main/java/com/google/devtools/build/lib/unsafe/StringUnsafe.java
  src/main/java/com/google/devtools/build/lib/unsafe/UnsafeProvider.java
  src/main/java/com/google/devtools/build/lib/util/BUILD
  src/main/java/com/google/devtools/build/lib/util/SimpleLogHandler.java
  src/main/java/com/google/devtools/build/lib/util/StringEncoding.java
  src/main/java/com/google/devtools/build/lib/vfs/FileSystem.java
  src/main/java/com/google/devtools/build/lib/vfs/Path.java
  src/main/java/com/google/devtools/build/lib/vfs/PathTransformingDelegateFileSystem.java
  src/main/java/com/google/devtools/build/lib/worker/BUILD
  src/main/java/com/google/devtools/build/lib/worker/WorkerMultiplexer.java
  src/minimize_jdk.sh
  src/test/java/com/google/devtools/build/lib/bazel/repository/CompressedTarFunctionTest.java
  src/test/java/com/google/devtools/build/lib/unsafe/StringUnsafeTest.java
  src/test/java/com/google/devtools/build/lib/util/StringEncodingTest.java
  src/test/java/com/google/devtools/build/lib/vfs/FileSystemTest.java
  src/test/shell/bazel/bazel_determinism_test.sh
  third_party/BUILD
Labels: team-Performance, team-Configurability, team-ExternalDeps, team-Local-Exec, awaiting-review

#25530 [8.2.0] Implement incompatible_disable_autoloads_in_main_repo
  src/main/java/com/google/devtools/build/lib/packages/AutoloadSymbols.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlCompileFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageFunction.java
  src/test/shell/integration/incompatible_autoload_externally_test.sh
Labels: awaiting-review

#25536 [8.2.0] Permit analysis tests to transition on --experimental_* or --incompatible_* options
  src/main/java/com/google/devtools/build/lib/rules/config/ConfigGlobalLibrary.java
  src/test/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleTransitionProviderTest.java
Labels: team-Rules-Java, awaiting-review

#25545 [8.2.0] Refactor build rewinding to a fallback strategy for action rewinding
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/CombinedCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteModule.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutor.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutorFactory.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnRunner.java
  src/main/java/com/google/devtools/build/lib/remote/common/BUILD
  src/main/java/com/google/devtools/build/lib/remote/common/BulkTransferException.java
  src/main/java/com/google/devtools/build/lib/remote/common/CacheNotFoundException.java
  src/main/java/com/google/devtools/build/lib/remote/common/LostInputsEvent.java
  src/main/java/com/google/devtools/build/lib/remote/common/RemotePathResolver.java
  src/main/java/com/google/devtools/build/lib/remote/util/DigestUtil.java
  src/main/java/com/google/devtools/build/lib/skyframe/ActionExecutionFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/SkyframeActionExecutor.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTest.java
  src/test/java/com/google/devtools/build/lib/remote/CombinedCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/GrpcCacheClientTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteRepositoryRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnRunnerWithGrpcRemoteExecutorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/SequencedSkyframeExecutorTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TimestampBuilderTestCase.java
  src/test/java/com/google/devtools/build/lib/skyframe/rewinding/LostImportantOutputHandlerModule.java
  src/test/java/com/google/devtools/build/lib/skyframe/rewinding/RewindingTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/rewinding/RewindingTestsHelper.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-review

#25424 [7.6.0] Emit BAZEL_CURRENT_REPOSITORY when using @rules_cc//cc/runfiles
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/test/py/bazel/bzlmod/bazel_repo_mapping_test.py
Labels: team-ExternalDeps, awaiting-review, potential 7.x cherry-picks

#25425 [8.2.0] Remove an unnecessary large dep from `DigestUtil`
  src/main/java/com/google/devtools/build/lib/remote/util/BUILD
  src/main/java/com/google/devtools/build/lib/remote/util/DigestUtil.java
Labels: team-Remote-Exec, awaiting-review

#25560 [7.6.0] Update error prone to 2.36.0
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  src/java_tools/buildjar/java/com/google/devtools/build/buildjar/BazelScannerSuppliers.java
Labels: team-Rules-Java, awaiting-review

#25548 [7.6.0] Use runfiles path instead of root relative path in `JavaStarlarkCommon.collectNativeLibsDirs`
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
  src/test/shell/bazel/bazel_java_test.sh
Labels: team-Rules-Java, awaiting-review

#25451 [8.2.0] Fix Unicode encoding issues in Bazel's use of Starlark
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/net/starlark/java/eval/Starlark.java
  src/main/java/net/starlark/java/eval/StarlarkSemantics.java
  src/main/java/net/starlark/java/eval/StringModule.java
  src/main/java/net/starlark/java/lib/json/Json.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
  src/test/java/net/starlark/java/eval/BUILD
  src/test/java/net/starlark/java/eval/ScriptTest.java
  src/test/java/net/starlark/java/eval/testdata/json.star
  src/test/java/net/starlark/java/eval/testdata/sorted.star
  src/test/java/net/starlark/java/eval/testdata/string_misc.star
Labels: team-Starlark-Integration, awaiting-review

#25595 [8.2.0] build metrics: Do not set start/end of mnemonics that were only created but not executed.
  src/main/java/com/google/devtools/build/lib/metrics/MetricsCollector.java
Labels: team-Performance, awaiting-review

#25401 [8.2.0] Avoid unnecessary copying in `DirectoryBuilder.build()`
  src/main/java/com/google/devtools/build/lib/remote/UploadManifest.java
Labels: team-Remote-Exec, awaiting-review

#25605 [7.6.0] Remove workspace_resolved_test on 7.x
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/workspace_resolved_test.sh
Labels: awaiting-review

#25603 [8.2.0] Reduce memory footprint of `DirectoryTree.FileNode`
  src/main/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTree.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTreeBuilder.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/MerkleTree.java
  src/test/java/com/google/devtools/build/lib/remote/merkletree/ActionInputDirectoryTreeTest.java
  src/test/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTreeTest.java
Labels: team-Remote-Exec, awaiting-review

#25611 [8.2.0] Permit literal dicts as extra keyword args in `MODULE.bazel`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/CompiledModuleFile.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/packages/DotBazelFileSyntaxChecker.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
Labels: team-ExternalDeps, awaiting-review

#25614 [7.6.0] Permit literal dicts as extra keyword args in `MODULE.bazel`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/CompiledModuleFile.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/packages/DotBazelFileSyntaxChecker.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
Labels: team-ExternalDeps, awaiting-review

#25613 [7.6.0] Actually use 0777 when creating directories.
  src/main/java/com/google/devtools/build/lib/unix/UnixFileSystem.java
Labels: awaiting-review

#25612 [8.2.0] Prevent concurrent use of the same `CharsetEncoder` in `json.decode`
  src/main/java/net/starlark/java/lib/json/Json.java
Labels: awaiting-review

#25624 [7.6.0] Make the llvm coverage tests a little more robust.
  src/test/shell/bazel/bazel_coverage_cc_test_llvm.sh
  src/test/shell/bazel/coverage_helpers.sh
Labels: awaiting-review

#25549 [7.6.0] Update to use coverage_output_generator-v2.8
  tools/test/extensions.bzl
  workspace_deps.bzl
Labels: coverage, team-OSS, awaiting-review

#25632 [7.6.0] Handle large numeric segments in Bazel module versions
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Version.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/VersionTest.java
Labels: team-ExternalDeps, awaiting-review

#25631 [8.2.0] Handle large numeric segments in Bazel module versions
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Version.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/VersionTest.java
Labels: team-ExternalDeps, awaiting-review

#25562 [8.2.0] Fix encoding of Starlark source lines in error messages
  src/main/java/com/google/devtools/build/lib/runtime/BlazeRuntime.java
Labels: team-Core, awaiting-review

#25637 [8.2.0] Don't retain ExecutionProgressReceiver after a build
  src/main/java/com/google/devtools/build/lib/runtime/UiStateTracker.java
Labels: awaiting-review, team-CLI

#25639 [8.2.0] Update java_tools v13.18 / rules_java 8.11.0
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/test/tools/bzlmod/MODULE.bazel.lock
  workspace_deps.bzl
Labels: team-Rules-Java

#25658 [7.6.0] Don't attempt to enable the Security Manager for jdk >= 24
  src/main/starlark/builtins_bzl/bazel/java/bazel_java_binary.bzl
Labels: awaiting-review

#25660 [8.2.0] feat(RepositoryOptions): make downloader config non-experimental
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
Labels: team-ExternalDeps, awaiting-review

#25423 [8.2.0] Fix race condition with multiplex sandboxed workers
  src/main/java/com/google/devtools/build/lib/worker/WorkerFactory.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerMultiplexer.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerMultiplexerManager.java
  src/test/java/com/google/devtools/build/lib/worker/SandboxedWorkerProxyTest.java
Labels: team-Local-Exec, awaiting-review

#25518 [8.2.0] Add `bazel query --output_file` option, which writes query results directly to a file
  scripts/bash_completion_test.sh
  src/main/java/com/google/devtools/build/lib/BUILD
  src/main/java/com/google/devtools/build/lib/buildtool/AqueryProcessor.java
  src/main/java/com/google/devtools/build/lib/buildtool/CqueryProcessor.java
  src/main/java/com/google/devtools/build/lib/buildtool/PostAnalysisQueryProcessor.java
  src/main/java/com/google/devtools/build/lib/query2/common/CommonQueryOptions.java
  src/main/java/com/google/devtools/build/lib/runtime/QueryRuntimeHelper.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/QueryEnvironmentBasedCommand.java
  src/test/shell/integration/bazel_query_test.sh
Labels: team-Performance, team-Core, awaiting-review

#25673 [8.2.0] Update to JDK 24 where possible
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  repositories.bzl
  src/main/cpp/blaze.cc
  src/main/java/com/google/devtools/build/lib/runtime/BlazeRuntime.java
  src/minimize_jdk.sh
Labels: team-Rules-CPP, awaiting-PR-merge

#25675 [8.2.0] Add spelling suggestions to `bazel info` error message
  src/main/java/com/google/devtools/build/lib/runtime/commands/BUILD
  src/main/java/com/google/devtools/build/lib/runtime/commands/InfoCommand.java
Labels: awaiting-review, team-CLI

#25678 [8.2.0] Avoid downloading the empty `Tree` message
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
Labels: team-Remote-Exec, awaiting-review

#25620 [8.2.0] Cache `RuleClass` per repository rule object
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryModule.java
Labels: team-ExternalDeps, awaiting-review

#25674 [8.2.0] Intern Bzlmod fake package metadata
  src/main/java/com/google/devtools/build/lib/packages/Package.java
Labels: team-ExternalDeps

#25606 [8.2.0] Enable some C++ `RewindingTest`s in Bazel
  src/test/java/com/google/devtools/build/lib/packages/BUILD
  src/test/java/com/google/devtools/build/lib/packages/util/BazelMockCcSupport.java
  src/test/java/com/google/devtools/build/lib/packages/util/real/linux/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/rewinding/BUILD
  src/test/java/com/google/devtools/build/lib/skyframe/rewinding/RewindingTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/rewinding/RewindingTestsHelper.java
Labels: team-Rules-CPP, awaiting-review

#25692 [8.2.0] Use ImmutableList.Builders in Parser
  src/main/java/net/starlark/java/syntax/Parser.java
Labels: team-Starlark-Interpreter, awaiting-review

#25619 [8.2.0] Clear `AsyncTaskCache`s after shutdown
  src/main/java/com/google/devtools/build/lib/remote/util/AsyncTaskCache.java
  src/test/java/com/google/devtools/build/lib/remote/util/AsyncTaskCacheTest.java
Labels: team-Remote-Exec, awaiting-review

#25691 [8.2.0] Allow finalizer targets to see targets visible either to BUILD file or to finalizer macro class definition
  site/en/concepts/visibility.md
  site/en/extending/macros.md
  src/main/java/com/google/devtools/build/lib/analysis/CommonPrerequisiteValidator.java
  src/test/java/com/google/devtools/build/lib/analysis/MacroVisibilityTest.java
Labels: team-Documentation, awaiting-review, team-Loading-API

#25538 [8.2.0] Retry build when `RemoteActionFileSystem` encounters a missing digest
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputService.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Performance, team-Rules-Java, team-Remote-Exec, awaiting-review

#25676 [8.2.0] Add `--experimental_java_classpath=bazel_no_fallback` option
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaConfiguration.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaHeaderCompileAction.java
  src/test/shell/bazel/bazel_java_test.sh
Labels: team-Rules-Java, awaiting-review

#25684 [8.2.0] Use ImmutableList in `ListExpression`
  src/main/java/net/starlark/java/syntax/ListExpression.java
Labels: team-Starlark-Interpreter, awaiting-review

#25685 [8.2.0] Add `use_target_platform_constraints` attribute to the `toolchain` rule.
  src/main/java/com/google/devtools/build/lib/analysis/platform/DeclaredToolchainInfo.java
  src/main/java/com/google/devtools/build/lib/rules/platform/Toolchain.java
  src/main/java/com/google/devtools/build/lib/rules/platform/ToolchainRule.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/SingleToolchainResolutionFunction.java
Labels: team-Configurability, awaiting-PR-merge

#25680 [8.2.0] Don't leak in-flight execution in `RemoteSpawnCache`
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
Labels: team-Remote-Exec, awaiting-review

#25661 [8.2.0] Stop deleting the whole worker directory when we destroy a worker proxy.
  src/main/java/com/google/devtools/build/lib/worker/SandboxedWorkerProxy.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerFactory.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerMultiplexer.java
  src/test/java/com/google/devtools/build/lib/worker/WorkerMultiplexerTest.java
Labels: team-Local-Exec, awaiting-review

#25683 [8.2.0] Don't add very short compact spawn log spans to profile
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/profiler/ProfilerTask.java
Labels: team-Performance, awaiting-review

#25688 [7.6.1] Don't leak in-flight execution in `RemoteSpawnCache`
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionService.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteSpawnCache.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteSpawnCacheTest.java
Labels: team-Remote-Exec, awaiting-review

#25719 [8.2.0] Include `DefaultInfo` in `cquery` `providers` dict
  src/main/java/com/google/devtools/build/lib/analysis/configuredtargets/AbstractConfiguredTarget.java
Labels: team-Configurability, awaiting-PR-merge
