Repository bazelbuild/bazel, pull requests merged in 2025-02, with the labels that each got.

#25161 [8.1.0] Implement `debugPrint` for built-in file providers
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/FileProvider.java
  src/main/java/com/google/devtools/build/lib/analysis/FilesToRunProvider.java
  src/main/java/com/google/devtools/build/lib/analysis/Runfiles.java
Labels: team-Configurability, awaiting-review

#25162 [8.1.0] Rollforward of https://github.com/bazelbuild/bazel/commit/7f6e6496726aad4038368979c772e944bc323b7f: Add support for path mapping to `CppArchive`
  src/main/java/com/google/devtools/build/lib/actions/AbstractCommandLine.java
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/actions/CommandLine.java
  src/main/java/com/google/devtools/build/lib/actions/CommandLines.java
  src/main/java/com/google/devtools/build/lib/actions/PathMapper.java
  src/main/java/com/google/devtools/build/lib/actions/PathMapperConstants.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/CustomCommandLine.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/PathMappers.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/SpawnAction.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLine.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcStarlarkInternal.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainFeatures.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppLinkAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppLinkActionBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LinkBuildVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LinkCommandLine.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaCompileAction.java
  src/main/starlark/builtins_bzl/common/cc/link/cpp_link_action.bzl
  src/main/starlark/builtins_bzl/common/cc/link/link_build_variables.bzl
  src/test/java/com/google/devtools/build/lib/analysis/actions/PathMappersTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcToolchainFeaturesTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/LibraryToLinkValueTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/LinkBuildVariablesTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/LinkCommandLineTest.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/path_mapping_test.sh
Labels: team-Performance, team-Configurability, team-Rules-Java, team-Rules-CPP, awaiting-review

#25157 [8.1.0] Check the OS version before we initialize the cgroup factory.
  src/main/java/com/google/devtools/build/lib/worker/BUILD
  src/main/java/com/google/devtools/build/lib/worker/WorkerModule.java
Labels: team-Performance, awaiting-review

#25178 [8.1.0] Add `no_match_error` attribute to `toolchain_type`
  src/main/java/com/google/devtools/build/lib/analysis/platform/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/platform/ToolchainTypeInfo.java
  src/main/java/com/google/devtools/build/lib/rules/ToolchainType.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainResolutionFunction.java
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainResolutionFunctionTest.java
  src/test/shell/bazel/bazel_java_test_defaults.sh
  src/test/shell/integration/toolchain_test.sh
Labels: team-Configurability, awaiting-review

#25182 [8.1.0] Preserve order of exec groups, toolchain types and exec constraints
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/packages/RuleClass.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleClassFunctionsTest.java
Labels: team-Configurability, awaiting-review

#25186 [8.1.0] Bazel's test XML parser now supports scientific e notation for time durations.
  src/main/java/com/google/devtools/build/lib/exec/TestXmlOutputParser.java
Labels: team-Core, awaiting-review

#25202 [8.1.0] Update to use coverage_output_generator-v2.8
  tools/test/extensions.bzl
  workspace_deps.bzl
Labels: awaiting-review

#25211 [8.1.0] Add version selector buttons to repo rule docs
  tools/build_defs/repo/BUILD
  tools/build_defs/repo/index.md.tmpl
  tools/build_defs/repo/preamb.md.tmpl
Labels: team-OSS, awaiting-review

#25213 [8.1.0] Don't suggest updates to private repo rule attributes
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryResolvedEvent.java
Labels: team-ExternalDeps, awaiting-review

#25225 [8.1.0] Use digest function matching the checksum in gRPC remote downloader
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
  src/test/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloaderTest.java
Labels: team-Remote-Exec, awaiting-review

#25242 [8.1.0] Add environment variables to LTO backend actions.
  src/main/java/com/google/devtools/build/lib/rules/cpp/LtoBackendArtifacts.java
  src/test/java/com/google/devtools/build/lib/analysis/mock/cc_toolchain_config.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcBinaryThinLtoTest.java
Labels: team-Rules-CPP, awaiting-review

#25230 [8.1.0] Mark built-in providers as hashable
  src/main/java/com/google/devtools/build/lib/packages/BuiltinProvider.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleImplementationFunctionsTest.java
Labels: team-Remote-Exec, awaiting-review

#25276 [8.2.0] Update MODULE.bazel and other files after creating the new branch, release-8.2.0
  .bazelversion
  MODULE.bazel
  MODULE.bazel.lock
Labels: team-OSS, awaiting-review

#25278 [8.2.0] Set exit_code unconditionally on TestResult in BEP
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
  src/test/java/com/google/devtools/build/lib/exec/StandaloneTestStrategyTest.java
Labels: team-Core, awaiting-review

#25277 [8.2.0] Don't fetch empty digest on failure status in `FetchBlobResponse`
  src/main/java/com/google/devtools/build/lib/remote/downloader/BUILD
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
  src/test/java/com/google/devtools/build/lib/remote/downloader/BUILD
  src/test/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloaderTest.java
Labels: team-Remote-Exec, awaiting-review

#25284 [8.2.0] Add `missing_toolchain_error` to the `platform` rule.
  src/main/java/com/google/devtools/build/lib/analysis/platform/PlatformInfo.java
  src/main/java/com/google/devtools/build/lib/rules/platform/Platform.java
  src/main/java/com/google/devtools/build/lib/rules/platform/PlatformRule.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainResolutionFunction.java
  src/test/java/com/google/devtools/build/lib/analysis/platform/PlatformInfoTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/PlatformLookupUtilTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainResolutionFunctionTest.java
  src/test/shell/integration/toolchain_test.sh
Labels: team-Configurability, awaiting-review

#25288 [8.2.0] Preserve insertion order in maps that are traversed
  src/main/java/com/google/devtools/build/lib/analysis/ConfiguredRuleClassProvider.java
  src/main/java/com/google/devtools/build/lib/analysis/ExecGroupCollection.java
  src/main/java/com/google/devtools/build/lib/analysis/ToolchainCollection.java
  src/main/java/com/google/devtools/build/lib/analysis/config/BuildConfigurationValue.java
  src/main/java/com/google/devtools/build/lib/analysis/config/OptionsDiff.java
  src/main/java/com/google/devtools/build/lib/analysis/platform/PlatformProperties.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Discovery.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpConnectorMultiplexer.java
  src/main/java/com/google/devtools/build/lib/cmdline/RepositoryMapping.java
  src/main/java/com/google/devtools/build/lib/exec/TestPolicy.java
  src/main/java/com/google/devtools/build/lib/metrics/PostGCMemoryUseRecorder.java
  src/main/java/com/google/devtools/build/lib/packages/BazelStarlarkEnvironment.java
  src/main/java/com/google/devtools/build/lib/packages/Package.java
  src/main/java/com/google/devtools/build/lib/runtime/StarlarkOptionsParser.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/PackageFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepositoryMappingValue.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainTypeLookupUtil.java
Labels: team-Performance, team-Configurability, team-ExternalDeps, awaiting-review

#25310 [8.1.1] Fall back to `rctx.name` if `$original_name` is empty
  src/main/java/com/google/devtools/build/lib/bazel/repository/starlark/StarlarkRepositoryContext.java
Labels: team-ExternalDeps, awaiting-review

#25331 [8.1.1] Rollback of Use digest function matching the checksum in gRPC remote downloader
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
  src/test/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloaderTest.java
Labels: team-Remote-Exec, awaiting-review

#25309 [8.2.0] Include output path in Remote Asset API client errors
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
Labels: team-Remote-Exec, awaiting-review

#25344 [8.1.1] Fix building binary launchers on windows with clang-cl
  src/test/py/bazel/launcher_test.py
  src/tools/launcher/java_launcher.cc
Labels: team-OSS, awaiting-review

#25348 [8.1.1] Restore compatibility with any JDK 23 on Windows
  src/main/cpp/blaze.cc
Labels: team-OSS, awaiting-review

#25346 [8.2.0] Fix building binary launchers on windows with clang-cl
  src/test/py/bazel/launcher_test.py
  src/tools/launcher/java_launcher.cc
Labels: team-OSS, awaiting-review

#25349 [8.2.0] Restore compatibility with any JDK 23 on Windows
  src/main/cpp/blaze.cc
Labels: team-OSS, awaiting-review

#25381 [8.2.0] Bzlmod: nodep deps
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModTidyFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Discovery.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/InterimModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Selection.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoRuleFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/StarlarkBuiltinsFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodTestUtil.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
Labels: team-ExternalDeps, awaiting-review

#25335 [8.2.0] Update zstd-jni to 1.5.6-9
  MODULE.bazel
  MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#25410 [8.2.0] Fix bootstrap test by setting C++ standard to `c++17`
  scripts/bootstrap/bootstrap.sh
Labels: team-OSS, awaiting-review

#25397 [8.2.0] Use apple_support toolchain to build Bazel on macOS
  MODULE.bazel
  MODULE.bazel.lock
  src/main/tools/daemonize.cc
Labels: team-Rules-CPP, awaiting-review, team-CLI

#25416 [8.2.0] Also download test outputs for coverage commands when building without the bytes.
  src/main/java/com/google/devtools/build/lib/remote/RemoteOutputChecker.java
  src/test/shell/bazel/remote/build_without_the_bytes_test.sh
Labels: team-Remote-Exec, awaiting-review, potential 7.x cherry-picks
