Repository bazelbuild/bazel, pull requests merged in 2025-05, with the labels that each got.

#25997 [8.3.0] Report cycles in `bazel mod`
  src/main/java/com/google/devtools/build/lib/bazel/commands/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
Labels: team-ExternalDeps, awaiting-review

#26017 [8.3.0] Fix a crash when an execution platform is registered twice
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredExecutionPlatformsFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/RegisteredToolchainsFunction.java
Labels: team-Configurability, awaiting-review

#26021 [8.3.0] Move Python runfiles library out of Bazel
  src/main/java/com/google/devtools/build/lib/skyframe/WorkspaceFileFunction.java
  tools/python/gen_runfiles_constants.bzl
  tools/python/runfiles/BUILD
  tools/python/runfiles/BUILD.tools
  tools/python/runfiles/runfiles.py
  tools/python/runfiles/runfiles_test.py
Labels: team-Rules-Python, awaiting-review

#26023 [8.3.0] Add support for source directories in runfiles with remote execution
  src/main/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTreeBuilder.java
  src/test/shell/bazel/remote/remote_execution_test.sh
Labels: team-Remote-Exec, awaiting-review

#26034 [8.3.0] Print exactly what startup options have changed
  src/main/cpp/blaze.cc
  src/test/shell/integration/startup_options_test.sh
Labels: team-Rules-CPP, awaiting-review

#26031 [8.3.0] macOS: Support dSYM generation for cc_binary
  src/main/starlark/builtins_bzl/common/cc/cc_binary.bzl
Labels: team-Rules-CPP, team-Rules-ObjC, awaiting-review

#26053 [8.3.0] Report progress for fetches occuring during Starlark option parsing
  src/main/java/com/google/devtools/build/lib/runtime/BlazeOptionHandler.java
Labels: awaiting-review, team-CLI

#25977 [8.3.0] Add profiler span for sending the `Execute` request
  src/main/java/com/google/devtools/build/lib/remote/GrpcRemoteExecutor.java
Labels: team-Remote-Exec, awaiting-review

#26071 [8.3.0] Bazel CI: Stop building binaries on CentOS 7
  .bazelci/build_bazel_binaries.yml
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  src/test/shell/bazel/bazel_example_test.sh
  src/test/shell/bazel/bazel_sandboxing_networking_test.sh
Labels: team-OSS, awaiting-review

#26072 [8.3.0] Call `Process#destroyForcibly` in `JavaSubprocess#close`
  src/main/java/com/google/devtools/build/lib/shell/JavaSubprocessFactory.java
Labels: team-Local-Exec, awaiting-review

#26088 [8.3.0] Fix error message when `single_version_override` patches don't exist
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
Labels: team-ExternalDeps, awaiting-review

#26083 [8.3.0] Reporting skipped test cases
  src/main/java/com/google/devtools/build/lib/exec/TestXmlOutputParser.java
  src/main/java/com/google/devtools/build/lib/runtime/TerminalTestResultNotifier.java
  src/main/java/com/google/devtools/build/lib/runtime/TestSummary.java
  src/main/java/com/google/devtools/build/lib/runtime/TestSummaryPrinter.java
  src/main/protobuf/test_status.proto
  src/test/java/com/google/devtools/build/lib/runtime/TerminalTestResultNotifierTest.java
  src/test/java/com/google/devtools/build/lib/runtime/TestSummaryTest.java
Labels: team-OSS, awaiting-review

#26110 [8.3.0] Make `local_repository` watch the target path in case it gets removed
  src/test/shell/bazel/local_repository_test.sh
  tools/build_defs/repo/local.bzl
Labels: team-ExternalDeps, awaiting-review

#26136 [8.3.0] Initial API changes for header compilation direct deps
  src/main/java/com/google/devtools/build/lib/rules/java/JavaInfo.java
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaCommonApi.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/java/JavaInfoApi.java
Labels: team-Rules-Java, awaiting-review

#26137 [8.3.0] Don't strip module-info from regular class jars
  src/main/java/com/google/devtools/build/lib/rules/java/ResourceJarActionBuilder.java
  src/test/shell/integration/java_integration_test.sh
  src/tools/singlejar/options.cc
  src/tools/singlejar/options.h
  src/tools/singlejar/output_jar.cc
Labels: team-Rules-Java, awaiting-review

#26182 [8.3.0] Remove the builtin module `local_config_platform` when `--incompatibl…
  MODULE.bazel
  MODULE.bazel.lock
  src/MODULE.tools
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/repository/RepositoryOptions.java
  src/main/java/com/google/devtools/build/lib/cmdline/TargetPattern.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageLookupFunction.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleResolutionFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodRepoRuleFunctionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/DiscoveryTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorTest.java
  src/test/py/bazel/bzlmod/bazel_fetch_test.py
  src/test/py/bazel/bzlmod/bazel_module_test.py
  src/test/py/bazel/bzlmod/bazel_vendor_test.py
  src/test/py/bazel/bzlmod/external_repo_completion_test.py
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#26192 [8.3.0] Manual merge 324c900 and e1d5e86
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptionConverters.java
  src/main/java/com/google/devtools/build/lib/analysis/config/CoreOptions.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/FunctionTransitionUtil.java
  src/test/java/com/google/devtools/build/lib/analysis/config/BuildConfigurationValueTest.java
Labels: team-Configurability, awaiting-PR-merge
