Repository bazelbuild/bazel, pull requests merged in 2025-01, with the labels that each got.

#24793 [8.0.1] Forward `@bazel_tools//tools/sh:toolchain_type` to `rules_shell`
  scripts/bootstrap/compile.sh
  src/MODULE.tools
  src/test/java/com/google/devtools/build/lib/analysis/mock/BazelAnalysisMock.java
  src/test/java/com/google/devtools/build/lib/skyframe/packages/BazelPackageLoaderTest.java
  tools/sh/BUILD
  tools/sh/BUILD.tools
  tools/sh/sh_configure.bzl
  tools/sh/sh_toolchain.bzl
Labels: team-Configurability, awaiting-review

#24813 [7.5.0] windows launcher: Make the launcher compile under mingw
  src/main/native/windows/file.cc
  src/main/native/windows/process.cc
  src/tools/launcher/java_launcher.cc
  src/tools/launcher/launcher_main.cc
Labels: team-OSS, awaiting-review

#24812 [7.5.0] Fix error in dynamic_mode documentation
  site/en/docs/user-manual.md
Labels: team-Documentation, awaiting-review

#24821 [8.0.1] Detect file reads that are longer than expected
  src/main/java/com/google/devtools/build/lib/vfs/FileSystemUtils.java
  src/test/java/com/google/devtools/build/lib/vfs/FileSystemUtilsTest.java
Labels: team-Core, awaiting-review

#24844 [7.5.0] Set oldest_content_accepted for remote downloader requests wi…
  src/main/java/com/google/devtools/build/lib/remote/downloader/BUILD
  src/main/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloader.java
  src/test/java/com/google/devtools/build/lib/remote/downloader/BUILD
  src/test/java/com/google/devtools/build/lib/remote/downloader/GrpcRemoteDownloaderTest.java
Labels: team-Remote-Exec, awaiting-review

#24852 [8.0.1] Partially fix the bootstrap build
  scripts/bootstrap/bootstrap.sh
  scripts/bootstrap/compile.sh
  src/test/shell/bazel/bazel_bootstrap_distfile_test.sh
Labels: team-OSS, awaiting-review

#24845 [8.0.1] Streamline `ModuleExtensionId#toString()` & Fix edge cases in lockfile handling
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModule.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/InnateRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/LockFileModuleExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionEvalStarlarkThreadContext.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionEvaluationProgress.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionId.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegularRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/GraphvizOutputFormatter.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/JsonOutputFormatter.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/ModExecutor.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/TextOutputFormatter.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlLoadCycleReporter.java
  src/main/java/com/google/devtools/build/lib/skyframe/BzlmodRepoCycleReporter.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileModuleTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/py/bazel/bzlmod/bazel_module_test.py
Labels: team-ExternalDeps, awaiting-review

#24835 [7.5.0] Remove empty coverage environment
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcToolchainProviderTest.java
Labels: team-Rules-CPP

#24846 [7.5.0] Don't show fixup warnings during `bazel mod tidy`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionMetadata.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RootModuleFileFixup.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionFunction.java
  src/test/py/bazel/bzlmod/mod_command_test.py
Labels: team-ExternalDeps, awaiting-review

#24815 [8.0.1] Allow `cc_binary` with `dynamic_deps` to be extended
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/test/shell/bazel/cc_integration_test.sh
Labels: team-Configurability, awaiting-review

#24856 [8.0.1] Remove autoload warnings, improve errors and fix legacy repo name support
  src/main/java/com/google/devtools/build/lib/packages/AutoloadSymbols.java
  src/test/shell/integration/incompatible_autoload_externally_test.sh
Labels: team-Android, team-ExternalDeps, awaiting-review, team-Rules-API

#24847 [7.5.0] Include apparent names of deps in `bazel mod` JSON output
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelModuleInspectorValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/modcommand/JsonOutputFormatter.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/BzlmodTestUtil.java
Labels: team-ExternalDeps, awaiting-review

#24866 [7.5.0] Use long instead of int for thread indices
  src/main/java/com/google/devtools/build/skyframe/InvalidatingNodeVisitor.java
Labels: team-Core, awaiting-review

#24874 [8.0.1] Add and flip `--incompatible_locations_prefers_executable`
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleContext.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/rules/objc/BUILD
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcStarlarkInternal.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkRuleContextApi.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleImplementationFunctionsTest.java
Labels: team-Configurability, team-Rules-ObjC, awaiting-review

#24877 [8.0.1] Mark `--blazerc` as `allows_multiple` in flag docs
  src/main/java/com/google/devtools/build/lib/bazel/BazelStartupOptionsModule.java
  src/test/shell/integration/startup_options_test.sh
Labels: awaiting-review, team-CLI

#24878 [7.5.0] Mark `--blazerc` as `allows_multiple` in flag docs
  src/main/java/com/google/devtools/build/lib/bazel/BazelStartupOptionsModule.java
  src/test/shell/integration/startup_options_test.sh
Labels: awaiting-review, team-CLI

#24895 [8.0.1] Add more Bzlmod-related profiler spans
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelDepGraphFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/commands/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/commands/ModCommand.java
Labels: team-ExternalDeps, awaiting-review

#24881 [7.5.0] Explain why a module hasn't been found in any registry
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Registry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/FakeRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
Labels: team-ExternalDeps, awaiting-review

#24901 [8.0.1] Remove BUILD.bazel before symlinking when creating new_local_repository
  tools/build_defs/repo/local.bzl
Labels: team-ExternalDeps, awaiting-review

#24912 [7.5.0] Remove allocation instrumenter jar and update version in docs
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  site/en/docs/user-manual.md
  site/en/rules/performance.md
  src/main/java/com/google/devtools/build/lib/profiler/memory/AllocationTrackerModule.java
  src/main/java/com/google/devtools/build/lib/profiler/memory/BUILD
  src/test/java/com/google/devtools/build/lib/profiler/memory/BUILD
  src/test/java/com/google/devtools/common/options/OptionDefaultValueConversionTest.java
  src/test/shell/bazel/jdeps_test.sh
  third_party/allocation_instrumenter/BUILD
Labels: team-Performance, team-Documentation, awaiting-review

#24908 [7.5.0] Report options with `BoolOrEnumConverter` as supporting `--no...`
  src/main/java/com/google/devtools/build/lib/runtime/commands/HelpCommand.java
  src/main/java/com/google/devtools/common/options/OptionDefinition.java
Labels: awaiting-review, team-CLI

#24900 [7.5.0] Remove BUILD.bazel before symlinking when creating new_local_repository
  tools/build_defs/repo/local.bzl
Labels: team-ExternalDeps, awaiting-review

#24918 [8.0.1] Also apply --experimental_inprocess_symlink_creation to filesets.
  src/main/java/com/google/devtools/build/lib/exec/RunfilesTreeUpdater.java
  src/main/java/com/google/devtools/build/lib/exec/SymlinkTreeHelper.java
  src/main/java/com/google/devtools/build/lib/exec/SymlinkTreeStrategy.java
  src/test/java/com/google/devtools/build/lib/exec/SymlinkTreeHelperTest.java
Labels: awaiting-review

#24915 [7.5.0] Include invocation ID in compact execution log
  src/main/java/com/google/devtools/build/lib/bazel/SpawnLogModule.java
  src/main/java/com/google/devtools/build/lib/exec/CompactSpawnLogContext.java
  src/main/protobuf/spawn.proto
  src/test/java/com/google/devtools/build/lib/exec/CompactSpawnLogContextTest.java
Labels: team-Remote-Exec, awaiting-review

#24939 Deprecate the `experimental_action_resource_set` flag.
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkActionFactory.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRulesModule.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkActionFactoryApi.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleContextTest.java
Labels: team-Configurability, awaiting-review

#24941 [7.5.0] Do not invalidate remote metadata during action dirtiness check
  src/main/java/com/google/devtools/build/lib/actions/FileArtifactValue.java
  src/main/java/com/google/devtools/build/lib/actions/cache/CompactPersistentActionCache.java
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/skyframe/FilesystemValueChecker.java
  src/test/java/com/google/devtools/build/lib/actions/ActionCacheCheckerTest.java
  src/test/java/com/google/devtools/build/lib/actions/CompletionContextTest.java
  src/test/java/com/google/devtools/build/lib/actions/cache/CompactPersistentActionCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionExecutionValueTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStoreTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/FileArtifactValueTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/FilesystemValueCheckerTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactBuildTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactValueTest.java
Labels: team-Performance, team-Remote-Exec, awaiting-review

#24872 [8.1.0] Raise default `--watchfs` event limit
  src/main/cpp/blaze.cc
  src/test/shell/integration/watchfs_test.sh
Labels: team-Rules-CPP, awaiting-review

#24913 [8.1.0] Remove allocation instrumenter jar and update version in docs
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  site/en/docs/user-manual.md
  site/en/rules/performance.md
  src/main/java/com/google/devtools/build/lib/profiler/memory/AllocationTrackerModule.java
  src/main/java/com/google/devtools/build/lib/profiler/memory/BUILD
  src/test/java/com/google/devtools/build/lib/profiler/memory/BUILD
  src/test/java/com/google/devtools/common/options/OptionDefaultValueConversionTest.java
  src/test/shell/bazel/jdeps_test.sh
  third_party/allocation_instrumenter/BUILD
Labels: team-Performance, team-Documentation, awaiting-review

#24855 [8.1.0] Use shorthand display form in `Label#debugPrint`
  src/main/java/com/google/devtools/build/lib/cmdline/Label.java
  src/test/shell/bazel/workspace_test.sh
Labels: team-Configurability, awaiting-review

#24970 [8.1.0] Don't fall back to `help` command when command is empty
  src/main/cpp/option_processor.cc
  src/test/shell/integration/client_test.sh
Labels: team-Rules-CPP, awaiting-review

#24853 [8.1.0] Explain why a module hasn't been found in any registry
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistry.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/Registry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/FakeRegistry.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/IndexRegistryTest.java
  src/test/py/bazel/bzlmod/bazel_overrides_test.py
Labels: team-ExternalDeps, awaiting-review

#24971 [8.1.0] Document and enforce filename restrictions for module file segments
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunction.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileGlobals.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleFileFunctionTest.java
Labels: team-ExternalDeps, awaiting-review

#24975 [8.1.0] java_launcher: Fix non-portable ofstream usage
  src/tools/launcher/java_launcher.cc
Labels: team-Rules-Java, awaiting-review

#24969 [8.1.0] Also apply --experimental_repository_downloader_retries to a SocketException
  src/main/java/com/google/devtools/build/lib/bazel/repository/downloader/DownloadManager.java
  src/test/java/com/google/devtools/build/lib/bazel/repository/downloader/HttpDownloaderTest.java
Labels: team-ExternalDeps, awaiting-review

#24966 [8.1.0] Deduplicate additional exec constraint logic
  src/main/java/com/google/devtools/build/lib/analysis/producers/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/producers/TargetAndConfigurationProducer.java
  src/main/java/com/google/devtools/build/lib/skyframe/AspectFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/DependencyResolver.java
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/toolchains/ToolchainContextUtil.java
Labels: team-Configurability, awaiting-review

#24967 [8.1.0] Make `RunUnder` a sealed interface
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/BaseRuleClasses.java
  src/main/java/com/google/devtools/build/lib/analysis/RunfilesSupport.java
  src/main/java/com/google/devtools/build/lib/analysis/config/RunUnder.java
  src/main/java/com/google/devtools/build/lib/analysis/config/RunUnderConverter.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestRunnerAction.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestStrategy.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestTargetExecutionSettings.java
  src/main/java/com/google/devtools/build/lib/runtime/commands/RunCommand.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/ConfiguredTargetFunction.java
  src/test/java/com/google/devtools/build/lib/analysis/config/RunUnderConverterTest.java
Labels: team-Configurability, awaiting-review

#24972 [8.1.0] Include file-level baseline coverage in combined report
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/bazel_coverage_starlark_test.sh
  tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator/Main.java
Labels: awaiting-review

#24974 [8.1.0] Make the llvm coverage tests a little more robust.
  src/test/shell/bazel/bazel_coverage_cc_test_llvm.sh
  src/test/shell/bazel/coverage_helpers.sh
Labels: team-Rules-CPP, awaiting-review

#24976 [8.1.0] Remove the unused concept of exec group inheritance
  src/main/java/com/google/devtools/build/lib/analysis/ExecGroupCollection.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkRuleClassFunctions.java
  src/main/java/com/google/devtools/build/lib/packages/ExecGroup.java
  src/main/java/com/google/devtools/build/lib/packages/RuleClass.java
  src/test/java/com/google/devtools/build/lib/analysis/testing/ExecGroupSubject.java
  src/test/java/com/google/devtools/build/lib/packages/RuleClassBuilderTest.java
  src/test/java/com/google/devtools/build/lib/packages/RuleClassTest.java
Labels: team-Configurability, awaiting-review

#24977 [8.1.0] Remove empty coverage environment
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcToolchainProviderTest.java
Labels: team-Rules-CPP, awaiting-review

#25000 [7.5.0] Remove no-op `--block_for_lock` command option
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
Labels: team-OSS, awaiting-PR-merge

#24988 [8.1.0] Improve the documentation for client/server synchronization.
  src/main/cpp/blaze.cc
Labels: team-Rules-CPP, awaiting-review

#24992 [8.1.0] Do not fall back to interpreting a %workspace% placeholder literally if resolution fails, even for try-import.
  src/main/cpp/option_processor.cc
  src/main/cpp/rc_file.cc
  src/main/cpp/workspace_layout.cc
  src/main/cpp/workspace_layout.h
  src/test/cpp/rc_file_test.cc
Labels: team-Rules-CPP, awaiting-review

#24994 [8.1.0] Implement main garbage collection logic for stale install bases.
  src/main/java/com/google/devtools/build/lib/server/BUILD
  src/main/java/com/google/devtools/build/lib/server/InstallBaseGarbageCollector.java
  src/test/java/com/google/devtools/build/lib/server/BUILD
  src/test/java/com/google/devtools/build/lib/server/InstallBaseGarbageCollectorTest.java
Labels: team-Performance, awaiting-review

#24999 [8.1.0] Remove no-op `--block_for_lock` command option
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
Labels: team-OSS

#24989 [8.1.0] Use static functions instead of a singleton class for mtime manipulation.
  src/main/cpp/archive_utils.cc
  src/main/cpp/blaze.cc
  src/main/cpp/util/file_platform.h
  src/main/cpp/util/file_posix.cc
  src/main/cpp/util/file_windows.cc
  src/main/cpp/util/path_posix.cc
  src/test/cpp/blaze_archive_test.cc
  src/test/cpp/util/file_test.cc
  src/test/cpp/util/file_windows_test.cc
Labels: team-Rules-CPP, awaiting-review

#24993 [8.1.0] Remove unnecessary workaround.
  src/main/cpp/blaze.cc
Labels: team-Rules-CPP, awaiting-review

#25009 [8.1.0] Update coverage output generator to coverage_output_generator-v2.7.
  src/test/shell/bazel/bazel_coverage_starlark_test.sh
  tools/test/extensions.bzl
  workspace_deps.bzl
Labels: team-OSS, awaiting-review

#25004 [8.1.0] sh_toolchain: Fix broken alias
  tools/sh/sh_toolchain.bzl
Labels: team-OSS, awaiting-review

#25007 [8.1.0] Fix File.is_symlink doc to correctly say it tells if it's a symlink.
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/FileApi.java
Labels: team-Remote-Exec, awaiting-review

#25014 [8.1.0] Update Bazel's embedded JDK to 23.0.1
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  maven_install.json
  repositories.bzl
  src/main/java/com/google/devtools/build/lib/profiler/BUILD
  src/tools/bzlmod/blazel_utils.bzl
  src/tools/bzlmod/utils.bzl
  third_party/BUILD
  tools/BUILD.tools
Labels: team-Performance

#25017 [8.1.0] Use blaze_util::Path instead of std::string in more places.
  src/main/cpp/archive_utils.cc
  src/main/cpp/archive_utils.h
  src/main/cpp/bazel_startup_options.cc
  src/main/cpp/blaze.cc
  src/main/cpp/blaze_util_platform.h
  src/main/cpp/blaze_util_posix.cc
  src/main/cpp/blaze_util_windows.cc
  src/main/cpp/startup_options.cc
  src/main/cpp/startup_options.h
  src/main/cpp/util/file.cc
  src/main/cpp/util/file.h
  src/main/cpp/util/file_platform.h
  src/main/cpp/util/file_posix.cc
  src/main/cpp/util/file_windows.cc
  src/main/cpp/util/path_platform.h
  src/main/cpp/util/path_posix.cc
  src/main/cpp/util/path_windows.cc
  src/test/cpp/option_processor_test.cc
  src/test/cpp/rc_file_test.cc
  src/test/cpp/startup_options_test.cc
  src/test/cpp/util/BUILD
  src/test/cpp/util/file_posix_test.cc
  src/test/cpp/util/file_test.cc
  src/test/cpp/workspace_layout_test.cc
Labels: team-Rules-CPP, awaiting-review

#25026 [8.1.0] Update relnotes script to follow the patch release format for minor releases with no RELNOTES tags
  scripts/release/relnotes.py
Labels: team-OSS, awaiting-review

#25025 [7.5.0] Update relnotes script to follow the patch release format for minor releases with no RELNOTES tags
  scripts/release/relnotes.py
Labels: team-OSS, awaiting-review

#25023 [8.1.0] Automated rollback of commit 650142fbe290d97e39b702d1dbcdbe126614b927.
  src/main/java/com/google/devtools/build/lib/analysis/BUILD
  src/main/java/com/google/devtools/build/lib/analysis/config/OutputPathMnemonicComputer.java
  src/main/java/com/google/devtools/build/lib/analysis/config/RunUnder.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestConfiguration.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestTrimmingLogic.java
  src/main/java/com/google/devtools/build/lib/analysis/test/TestTrimmingTransitionFactory.java
  src/test/shell/integration/run_test.sh
Labels: team-Configurability, awaiting-review

#25031 [8.1.0] Simplify CanAccessDirectory on Windows.
  src/main/cpp/util/file_windows.cc
Labels: team-Rules-CPP, awaiting-review

#25032 [8.1.0] Print the client pid when --client_debug is set, which is useful for testing.
  src/main/cpp/blaze.cc
Labels: team-Rules-CPP, awaiting-review

#25027 [8.1.0] Ensure that the lock file still exists when AcquireLock returns.
  src/main/cpp/blaze_util_platform.h
  src/main/cpp/blaze_util_posix.cc
  src/main/cpp/blaze_util_windows.cc
Labels: team-Rules-CPP, awaiting-review

#25038 [8.1.0] Rename CreateSecureOutputRoot as CreateSecureDirectory.
  src/main/cpp/blaze.cc
  src/main/cpp/blaze_util_platform.h
  src/main/cpp/blaze_util_posix.cc
  src/main/cpp/blaze_util_windows.cc
Labels: team-Rules-CPP, awaiting-review

#25028 [8.1.0] Add a few more integration tests verifying concurrent use of the install and output bases.
  src/test/shell/integration/BUILD
  src/test/shell/integration/client_test.sh
Labels: team-Remote-Exec, awaiting-review

#25008 [8.1.0] Reduce retention and early materialization of `VirtualActionInput`
  src/main/java/com/google/devtools/build/lib/actions/CommandLines.java
  src/main/java/com/google/devtools/build/lib/actions/cache/VirtualActionInput.java
  src/main/java/com/google/devtools/build/lib/exec/BUILD
  src/main/java/com/google/devtools/build/lib/exec/BinTools.java
  src/main/java/com/google/devtools/build/lib/exec/SpawnLogContext.java
  src/main/java/com/google/devtools/build/lib/remote/BUILD
  src/main/java/com/google/devtools/build/lib/remote/ByteStreamUploader.java
  src/main/java/com/google/devtools/build/lib/remote/Chunker.java
  src/main/java/com/google/devtools/build/lib/remote/GrpcCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteExecutionCache.java
  src/main/java/com/google/devtools/build/lib/remote/common/RemoteCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/disk/BUILD
  src/main/java/com/google/devtools/build/lib/remote/http/BUILD
  src/main/java/com/google/devtools/build/lib/remote/http/HttpCacheClient.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/BUILD
  src/main/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTree.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/DirectoryTreeBuilder.java
  src/main/java/com/google/devtools/build/lib/remote/merkletree/MerkleTree.java
  src/main/java/com/google/devtools/build/lib/remote/util/BUILD
  src/main/java/com/google/devtools/build/lib/remote/util/DigestUtil.java
  src/main/java/com/google/devtools/build/lib/util/StreamWriter.java
  src/test/java/com/google/devtools/build/lib/actions/util/ActionsTestUtil.java
  src/test/java/com/google/devtools/build/lib/remote/BUILD
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamUploaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/ChunkerTest.java
  src/test/java/com/google/devtools/build/lib/remote/CombinedCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteExecutionServiceTest.java
  src/test/java/com/google/devtools/build/lib/remote/disk/BUILD
  src/test/java/com/google/devtools/build/lib/remote/downloader/BUILD
  src/test/java/com/google/devtools/build/lib/remote/http/BUILD
  src/test/java/com/google/devtools/build/lib/remote/logging/BUILD
  src/test/java/com/google/devtools/build/lib/remote/merkletree/ActionInputDirectoryTreeTest.java
  src/test/java/com/google/devtools/build/lib/remote/merkletree/BUILD
  src/test/java/com/google/devtools/build/lib/remote/merkletree/MerkleTreeTest.java
  src/test/java/com/google/devtools/build/lib/remote/util/InMemoryCacheClient.java
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/BUILD
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/ByteStreamServer.java
Labels: team-Performance, team-Remote-Exec, awaiting-review

#25021 [8.1.0] Move C++ runfiles library out of Bazel
  .bazelci/postsubmit.yml
  .bazelci/presubmit.yml
  MODULE.bazel
  MODULE.bazel.lock
  scripts/bootstrap/compile.sh
  src/MODULE.tools
  src/create_embedded_tools.py
  src/main/cpp/util/BUILD
  src/main/starlark/builtins_bzl/common/cc/cc_helper.bzl
  src/test/native/windows/BUILD
  src/test/native/windows/process_test.cc
  src/test/py/bazel/bzlmod/bazel_repo_mapping_test.py
  src/test/shell/bazel/testdata/embedded_tools_srcs_deps
  src/test/tools/bzlmod/MODULE.bazel.lock
  src/tools/launcher/util/BUILD
  src/tools/launcher/util/launcher_util_test.cc
  src/tools/singlejar/BUILD
  src/tools/singlejar/combiners_test.cc
  src/tools/singlejar/input_jar_empty_jar_test.cc
  src/tools/singlejar/input_jar_preambled_test.cc
  src/tools/singlejar/input_jar_scan_jartool_test.cc
  src/tools/singlejar/output_huge_jar_test.cc
  src/tools/singlejar/output_jar_simple_test.cc
  src/tools/singlejar/test_util.h
  tools/cpp/runfiles/BUILD
  tools/cpp/runfiles/BUILD.tools
  tools/cpp/runfiles/runfiles.h
  tools/cpp/runfiles/runfiles_src.cc
  tools/cpp/runfiles/runfiles_src.h
  tools/cpp/runfiles/runfiles_test.cc
  tools/test/BUILD
  tools/test/windows/tw.cc
Labels: team-ExternalDeps, team-Rules-Java, team-Rules-CPP, awaiting-review

#25064 [8.1.0] Remove --spawn_strategy=local from client_test.sh.
  src/test/shell/integration/client_test.sh
Labels: awaiting-review

#25065 [8.1.0] Add an integration test to verify that SIGQUIT works.
  src/test/shell/integration/client_test.sh
Labels: team-Remote-Exec, awaiting-review

#25057 [7.5.0] Distinguish between input and output prefetching in request metadata
  src/main/java/com/google/devtools/build/lib/actions/ActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcherTest.java
Labels: team-Performance, team-Remote-Exec, awaiting-review

#25054 [8.1.0] Use runfiles path instead of root relative path in `JavaStarlarkCommon.collectNativeLibsDirs`
  src/main/java/com/google/devtools/build/lib/rules/java/JavaStarlarkCommon.java
  src/test/shell/bazel/bazel_java_test.sh
Labels: team-Rules-Java, awaiting-review

#25058 [8.1.0] Distinguish between input and output prefetching in request m…
  src/main/java/com/google/devtools/build/lib/actions/ActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcher.java
  src/main/java/com/google/devtools/build/lib/skyframe/CompletionFunction.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionInputFetcherTest.java
Labels: team-Performance, team-Remote-Exec, awaiting-review

#25018 [8.1.0] Fix docs link rewriting for rules_android
  src/main/java/com/google/devtools/build/docgen/bazel_link_map.json
Labels: team-Android, team-OSS, team-Documentation, awaiting-review

#25022 [8.1.0] Add conlyopts / cxxopts to objc_library
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcCompilationHelper.java
  src/main/java/com/google/devtools/build/lib/rules/objc/CompilationAttributes.java
  src/main/java/com/google/devtools/build/lib/rules/objc/ObjcStarlarkInternal.java
  src/main/starlark/builtins_bzl/common/objc/attrs.bzl
  src/main/starlark/builtins_bzl/common/objc/compilation_support.bzl
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcLibraryTest.java
  src/test/java/com/google/devtools/build/lib/rules/objc/ObjcStarlarkTest.java
Labels: team-Rules-CPP, team-Rules-ObjC, awaiting-PR-merge

#25019 [8.1.0] windows launcher: Make the launcher compile under mingw
  src/main/native/windows/file.cc
  src/main/native/windows/process.cc
  src/tools/launcher/java_launcher.cc
  src/tools/launcher/launcher_main.cc
Labels: team-OSS, awaiting-review

#25072 [8.1.0] Improve the encapsulation of StartupOptions.
  src/main/cpp/bazel_startup_options.cc
  src/main/cpp/bazel_startup_options.h
  src/main/cpp/blaze.cc
  src/main/cpp/blaze_util_bsd.cc
  src/main/cpp/blaze_util_darwin.cc
  src/main/cpp/blaze_util_linux.cc
  src/main/cpp/blaze_util_platform.h
  src/main/cpp/blaze_util_windows.cc
  src/main/cpp/main.cc
  src/main/cpp/startup_options.cc
  src/main/cpp/startup_options.h
  src/main/cpp/util/strings.cc
  src/main/cpp/util/strings.h
  src/main/cpp/workspace_layout.cc
  src/main/cpp/workspace_layout.h
  src/test/cpp/bazel_startup_options_test.cc
  src/test/cpp/blaze_archive_test.cc
  src/test/cpp/blaze_util_windows_test.cc
  src/test/cpp/option_processor_test.cc
  src/test/cpp/rc_file_test.cc
  src/test/cpp/startup_options_test.cc
  src/test/cpp/util/path_windows_test.cc
  src/test/shell/integration/bazel_command_log_test.sh
  src/test/shell/integration/client_test.sh
Labels: team-Rules-CPP, awaiting-review

#25053 [8.1.0] Path map tool paths in compilation actions
  src/main/java/com/google/devtools/build/lib/rules/cpp/CompileCommandLine.java
Labels: team-Rules-CPP, awaiting-review

#25020 [8.1.0] Deprecate the `experimental_action_resource_set` flag.
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkActionFactory.java
  src/main/java/com/google/devtools/build/lib/bazel/rules/BazelRulesModule.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/starlarkbuildapi/StarlarkActionFactoryApi.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
  src/test/java/com/google/devtools/build/lib/starlark/StarlarkRuleContextTest.java
Labels: team-Configurability, awaiting-review

#25085 [8.1.0] Roll forward of https://github.com/bazelbuild/bazel/commit/aa7a577ac8dde4b692d76cbd994516cc91987c08: Take a shared lock on the install base from the client side.
  src/main/cpp/bazel_startup_options.cc
  src/main/cpp/blaze.cc
  src/main/cpp/blaze_util.h
  src/main/cpp/startup_options.cc
  src/main/cpp/startup_options.h
  src/test/cpp/bazel_startup_options_test.cc
  src/test/cpp/startup_options_test.cc
  src/test/shell/integration/client_test.sh
Labels: team-Rules-CPP, awaiting-review

#25086 [8.1.0] Take a shared lock on the install base from the server side.
  src/main/cpp/blaze.cc
  src/main/java/com/google/devtools/build/lib/BUILD
  src/main/java/com/google/devtools/build/lib/runtime/BlazeRuntime.java
  src/main/java/com/google/devtools/build/lib/runtime/BlazeServerStartupOptions.java
  src/main/protobuf/failure_details.proto
  src/test/java/com/google/devtools/build/lib/testutil/BUILD
  src/test/java/com/google/devtools/build/lib/testutil/ExternalFileSystemLock.java
  src/test/java/com/google/devtools/build/lib/testutil/ExternalFileSystemLockHelper.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/client_test.sh
Labels: team-Rules-CPP, awaiting-review

#25095 [8.1.0] Fix forward for breakage caused by https://github.com/bazelbuild/bazel/commit/3dcb585fb2f24c75d472df286ccd2891ff7f39b0.
  src/main/cpp/blaze.cc
  src/main/cpp/startup_options.h
  src/main/java/com/google/devtools/build/lib/runtime/BlazeServerStartupOptions.java
Labels: team-Rules-CPP, awaiting-review

#25094 [8.1.0] Actually run the client integration tests.
  src/test/shell/bazel/client_test.sh
Labels: team-Remote-Exec, awaiting-review

#25093 [7.5.0] Backport support for all attribute types in Starlark documentation extraction
  src/main/java/com/google/devtools/build/lib/packages/Attribute.java
  src/main/java/com/google/devtools/build/lib/rules/starlarkdocextract/ModuleInfoExtractor.java
  src/test/java/com/google/devtools/build/lib/rules/starlarkdocextract/ModuleInfoExtractorTest.java
Labels: team-Starlark-Integration, awaiting-review

#25097 [8.1.0] Convert proto output from internal string encoding to Unicode
  src/main/java/com/google/devtools/build/lib/packages/AttributeFormatter.java
  src/main/java/com/google/devtools/build/lib/packages/BUILD
  src/main/java/com/google/devtools/build/lib/query2/query/output/BUILD
  src/main/java/com/google/devtools/build/lib/query2/query/output/ProtoOutputFormatter.java
  src/main/java/com/google/devtools/build/lib/starlarkdocextract/AttributeInfoExtractor.java
  src/main/java/com/google/devtools/build/lib/starlarkdocextract/BUILD
  src/main/java/com/google/devtools/build/lib/starlarkdocextract/ModuleInfoExtractor.java
  src/main/java/com/google/devtools/build/lib/starlarkdocextract/ProviderNameGroupExtractor.java
  src/main/java/com/google/devtools/build/lib/starlarkdocextract/RuleInfoExtractor.java
  src/main/java/com/google/devtools/build/lib/starlarkdocextract/StarlarkFunctionInfoExtractor.java
  src/test/shell/integration/bazel_query_test.sh
Labels: team-Performance, awaiting-review

#25105 [8.1.0] Explain why vendored repositories are considered out-of-date
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/SingleExtensionEvalFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepoRecordedInput.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryDelegatorFunction.java
  src/main/java/com/google/devtools/build/lib/rules/repository/RepositoryFunction.java
  src/test/py/bazel/bzlmod/bazel_vendor_test.py
Labels: team-ExternalDeps, awaiting-review

#25111 [8.1.0] Add set data type to Starlark
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/net/starlark/java/eval/BUILD
  src/main/java/net/starlark/java/eval/Eval.java
  src/main/java/net/starlark/java/eval/EvalUtils.java
  src/main/java/net/starlark/java/eval/MethodLibrary.java
  src/main/java/net/starlark/java/eval/Starlark.java
  src/main/java/net/starlark/java/eval/StarlarkIndexable.java
  src/main/java/net/starlark/java/eval/StarlarkMembershipTestable.java
  src/main/java/net/starlark/java/eval/StarlarkSemantics.java
  src/main/java/net/starlark/java/eval/StarlarkSet.java
  src/test/java/net/starlark/java/eval/testdata/set.star
Labels: team-Starlark-Interpreter, awaiting-review

#25103 [8.1.0] Move Java runfiles library out of Bazel
  scripts/bootstrap/compile.sh
  src/BUILD
  src/test/java/com/google/devtools/build/lib/bazel/rules/sh/BUILD
  src/tools/remote/src/main/java/com/google/devtools/build/remote/worker/BUILD
  tools/BUILD
  tools/java/runfiles/AutoBazelRepository.java
  tools/java/runfiles/AutoBazelRepositoryProcessor.java
  tools/java/runfiles/BUILD
  tools/java/runfiles/BUILD.tools
  tools/java/runfiles/Runfiles.java
  tools/java/runfiles/Util.java
  tools/java/runfiles/testing/BUILD
  tools/java/runfiles/testing/RunfilesTest.java
  tools/java/runfiles/testing/UtilTest.java
  tools/runfiles/BUILD
  tools/runfiles/BUILD.tools
Labels: team-Rules-Java, awaiting-review

#25098 [8.1.0] Factor out boilerplate in BlazeRuntimeTest.
  src/test/java/com/google/devtools/build/lib/runtime/BlazeRuntimeTest.java
Labels: team-OSS, awaiting-review

#25102 [8.1.0] Flip the default value of flag `--experimental_use_new_worker_pool` to true.
  src/main/java/com/google/devtools/build/lib/worker/WorkerOptions.java
Labels: team-Performance, awaiting-review

#25115 [7.5.0] Record repo mapping entries for labels in module extension tags
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegularRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModule.java
  src/main/java/com/google/devtools/build/lib/packages/LabelConverter.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModuleTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#25117 [8.1.0] Implement an idle task to garbage collect stale install bases.
  src/main/java/com/google/devtools/build/lib/BUILD
  src/main/java/com/google/devtools/build/lib/runtime/BlazeRuntime.java
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
  src/main/java/com/google/devtools/build/lib/server/BUILD
  src/main/java/com/google/devtools/build/lib/server/InstallBaseGarbageCollector.java
  src/main/java/com/google/devtools/build/lib/server/InstallBaseGarbageCollectorIdleTask.java
  src/test/java/com/google/devtools/build/lib/runtime/BUILD
  src/test/java/com/google/devtools/build/lib/runtime/BlazeRuntimeTest.java
  src/test/shell/bazel/client_test.sh
Labels: team-Performance, awaiting-review

#25110 [8.1.0] Record repo mapping entries for labels in module extension tags
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BazelLockFileValue.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/RegularRunnableExtension.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModule.java
  src/main/java/com/google/devtools/build/lib/packages/LabelConverter.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/ModuleExtensionResolutionTest.java
  src/test/java/com/google/devtools/build/lib/bazel/bzlmod/StarlarkBazelModuleTest.java
  src/test/py/bazel/bzlmod/bazel_lockfile_test.py
  src/test/tools/bzlmod/MODULE.bazel.lock
Labels: team-ExternalDeps, awaiting-review

#25126 [8.1.0] Do not invalidate remote metadata during action dirtiness check
  src/main/java/com/google/devtools/build/lib/actions/FileArtifactValue.java
  src/main/java/com/google/devtools/build/lib/actions/cache/CompactPersistentActionCache.java
  src/main/java/com/google/devtools/build/lib/remote/AbstractActionInputPrefetcher.java
  src/main/java/com/google/devtools/build/lib/remote/RemoteActionFileSystem.java
  src/main/java/com/google/devtools/build/lib/skyframe/FilesystemValueChecker.java
  src/test/java/com/google/devtools/build/lib/actions/ActionCacheCheckerTest.java
  src/test/java/com/google/devtools/build/lib/actions/CompletionContextTest.java
  src/test/java/com/google/devtools/build/lib/actions/cache/CompactPersistentActionCacheTest.java
  src/test/java/com/google/devtools/build/lib/remote/ActionInputPrefetcherTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/BuildWithoutTheBytesIntegrationTestBase.java
  src/test/java/com/google/devtools/build/lib/remote/ByteStreamBuildEventArtifactUploaderTest.java
  src/test/java/com/google/devtools/build/lib/remote/RemoteActionFileSystemTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionExecutionValueTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/ActionOutputMetadataStoreTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/FileArtifactValueTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/FilesystemValueCheckerTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactBuildTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/TreeArtifactValueTest.java
Labels: team-Performance, team-Remote-Exec, awaiting-review

#25127 [8.1.0] Garbage collect install bases older than 30 days by default.
  src/main/java/com/google/devtools/build/lib/runtime/CommonCommandOptions.java
Labels: team-Remote-Exec, awaiting-review

#25138 [8.1.0] Forward `exec_properties` to main test spawn's execution info
  src/main/java/com/google/devtools/build/lib/exec/StandaloneTestStrategy.java
  src/test/java/com/google/devtools/build/lib/analysis/StarlarkExecGroupTest.java
  src/test/shell/bazel/remote/BUILD
  src/test/shell/bazel/remote/remote_execution_test.sh
Labels: team-Configurability, team-Remote-Exec, awaiting-review

#25137 [8.1.0] Improve incompatible platform skipping + config_setting + label_flag …
  src/main/java/com/google/devtools/build/lib/analysis/constraints/IncompatibleTargetChecker.java
  src/main/java/com/google/devtools/build/lib/analysis/constraints/TopLevelConstraintSemantics.java
  src/main/java/com/google/devtools/build/lib/buildtool/AnalysisPhaseRunner.java
  src/main/java/com/google/devtools/build/lib/buildtool/BuildResultPrinter.java
  src/test/java/com/google/devtools/build/lib/rules/config/ConfigSettingTest.java
  src/test/shell/integration/target_compatible_with_test.sh
Labels: team-Configurability

#25133 [8.1.0] Include --run_env in --script_path
  src/main/java/com/google/devtools/build/lib/runtime/commands/RunCommand.java
  src/test/shell/integration/run_test.sh
Labels: team-OSS, awaiting-review

#25051 [8.1.0] Emit spawn runner with `--subcommands`
  src/main/java/com/google/devtools/build/lib/actions/ActionExecutionContext.java
  src/main/java/com/google/devtools/build/lib/exec/AbstractSpawnStrategy.java
  src/main/java/com/google/devtools/build/lib/includescanning/SpawnIncludeScanner.java
  src/main/java/com/google/devtools/build/lib/query2/aquery/ActionGraphTextOutputFormatterCallback.java
  src/main/java/com/google/devtools/build/lib/sandbox/SymlinkedSandboxedSpawn.java
  src/main/java/com/google/devtools/build/lib/util/CommandFailureUtils.java
  src/main/java/com/google/devtools/build/lib/worker/WorkerKey.java
  src/test/java/com/google/devtools/build/lib/util/CommandFailureUtilsTest.java
Labels: team-Performance, team-Local-Exec, awaiting-review

#25139 [8.1.0] Respect comprehension variable shadowing in Starlark debugger output
  src/main/java/net/starlark/java/eval/StarlarkThread.java
  src/main/java/net/starlark/java/syntax/Resolver.java
  src/test/java/net/starlark/java/eval/StarlarkThreadDebuggingTest.java
Labels: team-Starlark-Interpreter, awaiting-review

#25140 [8.1.0] See and use more than 64 CPUs on Windows
  src/main/cpp/blaze.cc
Labels: team-Rules-CPP, awaiting-review

#25146 [8.1.0] Add support for path mapping to `CppArchive`
  src/main/java/com/google/devtools/build/lib/actions/AbstractCommandLine.java
  src/main/java/com/google/devtools/build/lib/actions/BUILD
  src/main/java/com/google/devtools/build/lib/actions/PathMapper.java
  src/main/java/com/google/devtools/build/lib/actions/PathMapperConstants.java
  src/main/java/com/google/devtools/build/lib/analysis/actions/PathMappers.java
  src/main/java/com/google/devtools/build/lib/analysis/starlark/StarlarkCustomCommandLine.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcStarlarkInternal.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainFeatures.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchainVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppLinkAction.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/CppLinkActionBuilder.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LinkBuildVariables.java
  src/main/java/com/google/devtools/build/lib/rules/cpp/LinkCommandLine.java
  src/main/starlark/builtins_bzl/common/cc/link/cpp_link_action.bzl
  src/main/starlark/builtins_bzl/common/cc/link/link_build_variables.bzl
  src/test/java/com/google/devtools/build/lib/analysis/actions/PathMappersTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/CcToolchainFeaturesTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/LibraryToLinkValueTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/LinkBuildVariablesTest.java
  src/test/java/com/google/devtools/build/lib/rules/cpp/LinkCommandLineTest.java
  src/test/shell/bazel/BUILD
  src/test/shell/bazel/path_mapping_test.sh
Labels: team-Performance, team-Configurability, team-Rules-CPP, awaiting-review

#25152 [8.1.0] Add `--incompatible_enforce_starlark_utf8`
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/BUILD
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/CompiledModuleFile.java
  src/main/java/com/google/devtools/build/lib/bazel/bzlmod/VendorFileFunction.java
  src/main/java/com/google/devtools/build/lib/packages/semantics/BuildLanguageOptions.java
  src/main/java/com/google/devtools/build/lib/rules/BUILD
  src/main/java/com/google/devtools/build/lib/rules/repository/ResolvedFileFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/BUILD
  src/main/java/com/google/devtools/build/lib/skyframe/BzlCompileFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/PackageFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/RepoFileFunction.java
  src/main/java/com/google/devtools/build/lib/skyframe/StarlarkUtil.java
  src/main/java/com/google/devtools/build/lib/skyframe/WorkspaceFileFunction.java
  src/main/java/net/starlark/java/syntax/ParserInput.java
  src/test/java/com/google/devtools/build/lib/packages/semantics/ConsistencyTest.java
  src/test/java/com/google/devtools/build/lib/skyframe/BzlCompileFunctionTest.java
Labels: team-ExternalDeps, awaiting-review
